.THIS .campaign{
    font-weight:bold;
}
.THIS .slds-card {
    margin: 10px;
}
.THIS .slds-card__header.slds-grid, .THIS .slds-card{
    background: #FFFFFF;
}
.THIS hr{
    margin: 0rem;
    border-top: 1px solid #cfd7E6;
}
.THIS .bottomPadding{
    padding-bottom:0px;
}
.THIS .topPadding{
    padding-top:10px;
}
.THIS .camp-title{
    margin-bottom: -9px;
}

.THIS .slds-grid--align-end {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@media (min-width: 48em){
    .THIS .slds-medium-size--1-of-2 .campaignDescriptionHeight{
    	height: 65px;   
	}
}

@media (min-width: 64em){
    .THIS .slds-large-size--1-of-3 .campaignDescriptionHeight{
     	height: 65px;      
    }
}

@media (min-width: 30em){
    .THIS .slds-large-size--1-of-1 .campaignDescriptionHeight{
     	height: auto;      
    }
}