.THIS .slds .slds-text-body--regular space_below{
    margin-top: 40px;
}

.THIS .slds-list__item{
    margin-top:-50px;
}
.THIS .divider {
  height: 1px;
  width: 100%;
  display: block;
  margin-left: 0px;
  overflow: hidden;
  background-color: #e5e5e5;
}
.THIS .list_name  {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 15px;
  margin-top: -20px;
  color: black;
  width: 45%;
  float: left;
  padding-top:18px;
}
.THIS .regular_font {
  font-weight: 100;
  font-size: 1.2rem;
  margin-top: 50px;
  padding-bottom: 20px;
  padding-top:1rem;
 color: #4F6A92;
  margin-left: 15px;
  width: 100%;
  text-transform: uppercase;
}
.THIS .right_arrow_img{
    float: right;
    padding-right: 5%;
    position:relative;
}   
.THIS .Container{
    background:white;
    margin-top:1px;
    }
.THIS   .right_arrow{
    width:10px;
    height:10px;
    margin-left: 300px;
    margin-top: -32px;
    }
.THIS .feed_img {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}
.THIS .feedback{
  width: 15rem;
  height: 2rem;
  background: orange;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  margin-left:1rem;
    padding-right:8px;
     margin-top:20px;
    
}
.THIS div.feedback , .THIS div.invitation{
    float: right;
    padding-right: 0!important;
    margin-top: -4px!important;
    width: 113px!important;
    margin-left: 59%;
    position: absolute;
    display: block;
    padding: 3px 0;
    height: 22px;
}

.THIS .inv_img {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}
.THIS .invitation{
  width: 12rem;
  height: 2rem;
  background:#70dbdb ;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  margin-left:1rem;
    padding-right:8px;
    margin-top:20px;
}