.THIS .threeColmnWidth{
    width:33%;    
}
.THIS .homePageMenuWidth{
    width:100%; 
    padding-top: 10px;
    margin-bottom: -19px;
}

.THIS td.alignCenter {
    text-align:center;
}
.THIS .displayErrorMessage{
    color:red;
    font-weight:bold;
}

.THIS .leftSpaceing{
    padding-left:10px;
}
.THIS .rightSpaceing{
    padding-right:10px;
    text-align: right;
}
.THIS .fullPadding {
    padding:10px;
    padding-top:25px;
}
.THIS .file {
    margin-bottom: 5px;
    display: block;
    background-color: #EEF1F6;
    border-style: hidden;
   padding-right: 33px;
    border-radius: 4px;
}
.THIS .paddingTop{
    padding-top:25px;
}
.THIS .smallIcon{
    height:15px;
}

.THIS .successIcon{
    float:right;    
    width: 20px;
}
.THIS .addIcon{
    width: 20px;
    height: 20px;
    padding-bottom:2px;
}

@media (min-width: 700px){     
    .THIS .fullPadding{
        width:50%;
    }
    
 
}
 @media screen and (min-width:768px) {
      .THIS .file{
        padding-right: 20.5%;
    }
 
}


 @media screen and (min-width:1024px) {
      .THIS .file{
        padding-right: 61.5%;
    }
 
}



 .THIS .clearFileIcon{   
    width: 17px;
    float: right;
   margin-right: 2px;
    margin-top: -24px;
}