.THIS .Para-content {
    padding: 4px;
     line-height: 1.25;
    width: 89%;
    margin-left: 5%;
    margin-bottom: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
       
}
.THIS .Para-content:last-child {
    border-bottom: 0;
}

.THIS .fTitle{
  padding: 4px;
  line-height: 3.25;
  font-weight: bold;
  margin-top: 10px;
}

.THIS .img_profile{
    border-radius: 100px;  
	margin-left:5%;
    
}

.THIS .comment_username{
    line-height: 1.25;
    margin-left: 5% !important;
}
.THIS .comment_date{
    line-height: 1.25;
    letter-spacing: .0625em;
    margin-left: 5% !important;
    margin-top: 1px;
}

.THIS .com_table{
    width:90%;
    margin-left:5%;
        
}
.THIS .com_table_td_list{
    width:75%;
}
.THIS .com_table_td_pic{
    width:16%;
}