.THIS td.center-content{
    background-color: #00CCFF;
   
}

.THIS .share_img{
  
    border-radius: 200px;
    width: 40px;
    margin-left: 40px;
    
}
.THIS .approve_img{
    
   border-radius: 200px;
    width: 40px;
    margin-left: 40px;
    
}
.THIS td.com_table_td_list ul li {
    font-size: 1.4rem;
}
.THIS .imageBorder {
   
    background: white;
}
.THIS .navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 100px;
    border-width: 1px 0 0;
}
.THIS .starfill{
    width:10px;
    height:10px;
    display: inline-block;
}


.THIS .navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 50px;
    border-width: 1px 0 0;
}
.THIS .outer_sec{
    height:100%;
}
.THIS .Para-content {
    padding: 4px;
    line-height: 1.25;
    width: 89%;
    margin-left: 5%;
    margin-bottom: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
       
}
.THIS .Para-content:last-child {
    border-bottom: 0;
}
.THIS .divider {
    height: 1px;
    width:100%;
    display: block;
    margin-left: 0px;
    overflow: hidden;
    background-color: #e5e5e5;
}
.THIS .bottom_img{
    margin-left:30px;
}
.THIS .recent {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: .0625em;
  color: #CFD7E6;
 margin-left: 5px;
}

.THIS .topTip {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.25;
  color: black;
  margin-left: 5px;
  width: 90%;
  margin-left: 5%;
}


 
.THIS .check_image_auto{
  margin-top: -30px;
  float: right;
  width: 20px;
}

.THIS .default-rating {
  position: absolute;
  width: 100%;
  color: #C0C0C0;
  margin-top: 5px;
}


.THIS .fTitle{
  font-size: 18px;
  padding: 4px;
  margin-left: 5%;
  line-height: 3.25;
  font-weight: bold;
  margin-top: 10px;
}
.THIS .cTitle{
  font-size: 14px;
  padding: 4px;
  margin-left: 5px;
  line-height: 1.25;
  font-weight: bold;
  margin-top: -10px;
}
.THIS .img_profile{
  	display: block;
    width: 46px;
    height: 46px;
    border-radius: 100px;  
	margin-left:5%;
    
}
.THIS .subTitle{
    font-size:10px;
    margin-top:-5px;
}
.THIS .comment_username{
    font-size: 1.5rem !important;
    line-height: 1.25;
    margin-left: 5% !important;
}
.THIS .comment_date{
	font-size: 11px !important;
    line-height: 1.25;
    letter-spacing: .0625em;
    margin-left: 5% !important;
    margin-top: 1px;
}
.THIS .prof_pic{
    width: 10rem;
}
.THIS .com_table{
    width:90%;
    margin-left:5%;
        
}
.THIS .com_table_td_list{
    width:75%;
}
.THIS .com_table_td_pic{
    width:16%;
}