.THIS .SubText{
    font-weight:regular;
    font-size:12px;
    color:#8C8C90;
}

.THIS .Title{
    font-size:15px;
    font-weight:bold;
    color:#344A5F;
}

.THIS .Image{
    height:100px;
    width:100%;
}

.THIS .topPadding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.THIS .RightFloat{
    float:right;
}

.THIS table td{
    vertical-align: top;
    padding-left: 10px;
}
.THIS .blogTitle{
    font-size:22px;
    font-weight:bold;
    color:#344A5F;    
}
.THIS .blogSubTitle{
    font-size:18px;
    color:#8C8C90;    
}