.THIS .email 
 {
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  margin-top: 1px;
     font-size: 14px;
  color: black;
   font-weight: bold;
  border: none;
    text-decoration:none;
}
.THIS .chatter
{
  width: 100%;
  height: 40px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
  margin-top: 250px;
   font-weight: bold;
  font-size: 14px;
  line-height: 1.25;
  color: black;
  border: none;
}

.THIS .cancel
 {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  margin-top: 50px;
    font-weight: bold;
  font-size: 14px;
  line-height: 1.25;
  color: black;
  border: none;
}

.THIS .divider {
  height: 1px;
  width: 95%;
  display: block;
  margin-left: 10px;
  overflow: hidden;
  background-color: beige;
  margin-top: -10px;
}

.THIS.anchor{
    text-decoration:none;
}