.THIS .activeFilter{
    font-weight: bold;
    color: #0C8EFF;
   	font-size: 1rem;
    margin: 1rem;
        }
.THIS .tick_img {
	width: 45px;
    height: 17px;
  position: absolute;
  margin-left: 80%;
  margin-top: -21px;
}