/*applying style for the top bar of the page*/ 
.THIS .topBarStyle{
    height: 40px;
    padding-top: 8px;
    background-color:#FFFFFF;
}
/*applying style for the top back aroow bar of the page*/ 
.THIS .topBackBar{ 
    height: 40px;    
    padding-left: 10px;   
    width: 50px;
}
/*applying style for the top back aroow bar Icon of the page*/ 
.THIS .topBackBarIcon{
    height:22px;
    width:22px; 
}
/*applying style for the load more bar*/ 
.THIS .largeButtonBar{
    text-align:center;
    padding-bottom:10px;
    padding-left: 20%;
    padding-right: 20%;
}
/*applying style for the load more bar butoon*/ 
.THIS .largeButton{
    width:100%;
    text-align:center;
    font-weight:normal;
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px; 
    border-radius:8px;
    border:1px solid #D1D1D4;    
    background: #FFFFFF;
    color:#344A5F;
}
.THIS .allPadding{
    padding: 10px;
}
.THIS .smallIcons{
    height:30px; 
}
.THIS .pageTitle { 
    color :#033A69; 
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    
    /*new style instead of bootstrap min*/
    vertical-align: top;
    padding-top: 7px;
}
.THIS .responsiveRichText { 
    /*margin-left: 15px;
    margin-right: 15px;*/
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px; 
    border-radius:10px;  
    background: #FFFFFF;
    font-size: 11pt;
}
.THIS .addressText {
    font-weight: bold;
    color: #4E6990;
}