.THIS td.center-content{
    background-color: #00CCFF;
   
}
.THIS .share_img{
  
    border-radius: 200px;
    width: 40px;
    margin:12px auto;
    
}
.THIS .back_image_icon{
    
    margin-left: 15px;
    width: 77px;
    display: block;
    
}
.THIS .chat_icon ul li{
    width:33%;
}
.THIS .approve_img{
    
   border-radius: 200px;
    width: 40px;
    margin:12px auto;
    
}
.THIS ul.piclist-inline span {
    margin: 8% 13px;
    font-size:1.4rem;
}
.THIS .td_img_icon {
    width: 7%;
}
.THIS .imageBorder {
   
    background: white;
}
.THIS .navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 100px;
    border-width: 1px 0 0;
}
.THIS .starfill{
    width:10px;
    height:10px;
    display: inline-block;
}
.THIS .img_icon_size{
    width:12px;
    height:12px;
}

.THIS .min-sec{
    width: 90%;
    background: #eef1f6;
    margin-top: 30px;
    margin-left: 5%;
    height: 50%;
    padding-bottom: 5px;
}
.THIS .min-table{
  background-color: transparent;
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
}


.THIS .min-table td{
    padding-top:5px;
    padding-top: 5px;
  	text-align: -webkit-auto;
}
.THIS .tdFont{
  color: #4F6A92;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.25;
  width:28%;  
    vertical-align:bottom;
}
.THIS .slds-tabs--default.chat_icon {
    border-top: 1px solid #e9eaea;
    width: 90% !important;
}
.THIS .navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 50px;
    border-width: 1px 0 0;
}
.THIS .outer_sec{
    /*padding-top:2px;*/
    height:100%;
}
.THIS .desc {
  padding: 4px;
  margin-left: 5px;
  line-height: 1.25;
  margin-left: 2.5%;
  width: 95%;
  color: black;
  width: 90%;
  margin-left: 5%;
    font-size:1.4rem;
}

.THIS .desc {
  padding: 4px;
  margin-left: 5px;
  line-height: 1.25;
  margin-left: 2.5%;
  width: 95%;
  color: black;
 
}
.THIS .divider {
    height: 1px;
    width:95%;
    display: block;
    margin-left: 10px;
    overflow: hidden;
    background-color: #e5e5e5;
}
.THIS .bottom_img{
    margin-left:30px;
}
.THIS .recent {
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: .0625em;
  color: #4F6A92;
  margin-left: 12px;
  padding-top: 20px;
}

.THIS .topTip {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.25;
  color: black;
    margin-left:5px;
     width:90%;
  margin-left:5%; 
}
.THIS .topTip_para {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.25;
  color: black;
  margin-left:5px;
  padding-bottom: 10px;
  margin-top: -10px;
  width:90%;
  margin-left:5%;  
}


 
.THIS .check_image_auto{
  margin-top: -30px;
  float: right;
  width: 20px;
}
.THIS .activity-sec {
  background: #00B8E6;
  height: 80px;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 10px;
  margin-top:20px;
}

.THIS .default-rating {
  position: absolute;
  width: 100%;
  color: #C0C0C0;
  margin-top: 5px;
}
.THIS .t-title{
  margin-left: -5px;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.25;
  margin-top: 5px;
}
.THIS .a-title {
  margin-left: -5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;
}
.THIS .back_image{
    width:2rem;
    height:2rem;
    margin-top: 20px;
    cursor:pointer;
}
.THIS .section {
  background: white;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom:10px;  
}