.THIS .ideaListShare{
    left: auto;
    right: 29px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    margin-top: -2px;
}

.THIS hr{
    margin: 0rem;
    border-top: 1px solid #cfd7E6;
    padding: 5px;
    margin-left: -15px;
    margin-right: -15px;
}

.THIS .category{
    margin-top: 10px;
    color: #0C8EFF;
    width:250px;
}

.THIS .titlePadding{
    margin-top: 3px;
    margin-bottom: -9px;  
    margin-left: -16px;
    color: #0C8EFF
}

.THIS .ideaTile{
   margin-top: -16px; 
}

.THIS .ideaTitleMargin{
     margin-left: -17px;
    color: #001b33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 250px;
    

}
.THIS .share-button {
   width: 35px;
    height: 35px;
    padding-bottom: 5px;
    margin-bottom: -14px;
}
.THIS .margin-botton{
    margin-bottom: -6px;
}
.THIS .bodyDescriptionHeight{
   word-break: break-all;
}
.THIS .share{
  margin-top:7px;      
}
@media screen and (min-width:768px)and (max-width:1000px){
	.THIS .ideaListShare{
    right: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(177px);
    }
}