body {
  background-color: #f4f4f5;
  font-family: Rockwell;
  font-size: 13px;
}

.fileRow td {
  padding: 0 5px;
}

.error-frame {
  border: 1px solid red;
}

.multiFileUploadTable{
  word-wrap:break-word; 
  table-layout: fixed;
}

.multiFileUploadTableHeaderStyle{
    font-family: "Rockwell";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #F2F2F2;
    text-align: center;
    line-height: normal;
    background-color: #64625D;
    height: 41px;
}

.fileRow td{
  height: 104px;
  font-size: 14px;
  color: #797979;
  text-align: center;
  line-height: normal;
  font-family: "Rockwell";
}

.fileRow img{
  width: 82px;
  height: 82px;
}

.fileRow a{
  color: #797979;
}

.multiFileUploadTable select{
    width: 100%;
  }

.multiFileUploadTable input{
    width: 100%;
  }

  .error-highlight {
    -webkit-box-shadow:5px 5px 5px black; 
    -moz-box-shadow: 5px 5px 5px black; 
     box-shadow:5px 5px 5px black; 
     -webkit-box-shadow:0 0 15px red; 
     -moz-box-shadow: 0 0 15px red; 
     box-shadow:0 0 15px red; 
   } 

   #ballsWaveG{
    position:relative;
    width:128px;
    height:30px}

    .ballsWaveG{
    position:absolute;
    top:0;
    background-color:#be236d;
    width:16px;
    height:16px;
    -moz-animation-name:ballsWaveG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-border-radius:8px;
    -webkit-animation-name:ballsWaveG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-border-radius:8px;
    -ms-animation-name:ballsWaveG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-border-radius:8px;
    -o-animation-name:ballsWaveG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-border-radius:8px;
    animation-name:ballsWaveG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    border-radius:8px;
    }

    #ballsWaveG_1{
    left:0;
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
    }

    #ballsWaveG_2{
    left:16px;
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
    }

    #ballsWaveG_3{
    left:32px;
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    -o-animation-delay:0.78s;
    animation-delay:0.78s;
    }

    #ballsWaveG_4{
    left:48px;
    -moz-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -o-animation-delay:0.91s;
    animation-delay:0.91s;
    }

    #ballsWaveG_5{
    left:64px;
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -o-animation-delay:1.04s;
    animation-delay:1.04s;
    }

    #ballsWaveG_6{
    left:80px;
    -moz-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    -o-animation-delay:1.17s;
    animation-delay:1.17s;
    }

    #ballsWaveG_7{
    left:96px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    animation-delay:1.3s;
    }

    #ballsWaveG_8{
    left:112px;
    -moz-animation-delay:1.43s;
    -webkit-animation-delay:1.43s;
    -ms-animation-delay:1.43s;
    -o-animation-delay:1.43s;
    animation-delay:1.43s;
    }

    @-moz-keyframes ballsWaveG{
    0%{
    background-color:#be236d;
    }

    100%{
    background-color:#DEC3DE;
    }

    }

    @-webkit-keyframes ballsWaveG{
    0%{
    background-color:#be236d;
    }

    100%{
    background-color:#DEC3DE;
    }

    }

    @-ms-keyframes ballsWaveG{
    0%{
    background-color:#be236d;
    }

    100%{
    background-color:#DEC3DE;
    }

    }

    @-o-keyframes ballsWaveG{
    0%{
    background-color:#be236d;
    }

    100%{
    background-color:#DEC3DE;
    }

    }

    @keyframes ballsWaveG{
    0%{
    background-color:#be236d;
    }

    100%{
    background-color:#DEC3DE;
    }

    }
