       .addExternalMembersBtn{
cursor: pointer;
float: right;
color: #FFF;
background-color: #3C3D3E;
width: 120px;
height: 30px;
text-align: center;
vertical-align: middle;
line-height: 30px;
margin-right: 195px;
margin-top: 10px;
font-family: Rockwell;
        }

        .addExternalMembersField {
            width: 300px;
            height: 30px;
			margin-top: 10px;
        }

.circularSmall{
	width:45px;
	height:auto;
	margin-left: 20px;
	background-position: center;
}

.circular {
	width:80px;
	height:auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-position: center;


}

.collapseExpandItem{
	width:16px;
	height:auto;
	cursor:pointer;
	display: none;
}

#ipmAddMemberModal .modal-header {
	height: 60px;
}
.memberContainer{
	margin-bottom: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: -webkit-center;
	position: relative;
	display: inline-block;
	vertical-align: top;
	display: none;
}
.trashIcon{
	right:0;
	top:0px;
	cursor:pointer;
}

.searchModal{
	display: inline-block;
	vertical-align: top;
	font-family: Rockwell;
	border-radius: 0px;
}

#suggestedMembersContainer{
	display:none;
}

.editCircle{
	position: absolute;
	width:40px;
	height:auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	right:0;
	border: 1px solid cornflowerblue;
	top:0px;
	cursor:pointer;
	background-color: white;
}

.horizontalLine{
	height: 5px;
	background-color:yellow;
}

.userTitle{
	color: #222;
	padding-left: 5px;
}

.collapseExpand{
	color: #027eba;;
	font-weight: bold;
	float:right;cursor:pointer;
}

.addMemeberBtn{
	cursor:pointer;
	 width:80px;
	height:auto;
}

.addMembersBtn{
cursor: pointer;
float: left;
color: #FFF;
background-color: #BE236D;
width: 120px;
height: 30px;
text-align: center;
vertical-align: middle;
line-height: 30px;
margin-left: 15px;
margin-top: 40px;
margin-bottom: 20px;
font-family: Rockwell;
}

.skipMembersBtn{
cursor: pointer;
float: left;
color: #FFF;
background-color: #BE236D;
width: 120px;
height: 30px;
text-align: center;
vertical-align: middle;
line-height: 30px;
margin-left: 15px;
margin-top: 40px;
margin-bottom: 20px;
font-family: Rockwell;
}

.leadBlock{
	font-weight: bold;
	background-color:yellow;
	color:black;
	margin-top:10px;
	border-radius: 15%;
	-webkit-border-radius: 15%;
	-moz-border-radius: 15%;
}

.suggestedMembersInfo{
	margin:top:20px;
	font-style: italic;
}

.scroll {
   width: auto; 
   max-height: 200px;
   overflow: scroll;
   overflow-X: hidden;
}

.searchMemberItem{
	margin: 10px;
	margin-left: 10px;
	vertical-align: top;
}

.suggestMemberHeader {
	font-family: Rockwell;
	font-size: 28px;
	font-weight: 500;
	color: rgb(121, 43, 125);
	padding-left: 40px;
}

.suggestMemberSubHeader {
	font-family: Rockwell;
	font-size: 16px;
	font-weight: 500;
	padding-left: 40px;
}

.suggestMemberHeaderLine{
	background-color: #E6007E;
	height: 3px;
	border: none;
	margin-top: 5px;
}

.sMframeTable {
	border: 2px solid #BE236D;
	width: 50%;
	background-color: #F4F4F4;
}

.toolkitOwner {
	font-family: Rockwell;
font-size: 16px;
font-weight: 600;
padding-top: 15px;
padding-left: 15px;
}

.innerLine {
	margin-top: 5px;
}

.betOwner{
	padding-left: 15px;
}

.note{
	padding-left: 15px;
	font-family: "Rockwell";
	font-weight: 600;
	font-style: normal;
}

.betOwnerName{
	padding-left: 10px;
	font-family: Rockwell;
	font-weight: 500;
}

.externalMemberAdd{
	padding-left: 15px;
}

.smtooltip{
	font-family: Rockwell;
	font-size: 16px;
	font-weight: 600;
}

.addInternalMemberClass{
	cursor: pointer;
	float: left;
	color: #FFF;
	background-color: #BE236D;
	width: 180px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	height: 30px;
	top: 370px;
	left: 330px;
	font-family: Rockwell;
}

.memberAdd{
	padding-bottom: 20px;
	padding-top: 10px;
	margin-left: 15px;
}

.modal-header-bet{
	font-family: Rockwell;
	background-color: rgb(102, 106, 107);
	color: rgb(255, 255, 255);
}

.lookupSearchIcon {
	padding: 6px 4px;
	width: 35px;
	height: 34px;
	position: absolute;
	margin-left: -5px;
	background-image: url("data:image/gif;base64,R0lGODlhKAAoANUAAAAAAP////v7/PT09e3t7tfY2bu8vbW3uK6wsaWnqKCio56goZeZmnp9foyPkIqNjoWIiYOGh4GEhZOWl4+Sk2tvcGhsbWZqa3Z6e3R4eWpubnh8fH+Dg5WYmKOmpqGkpJyfn5qdncfJycXHx77AwLCysqmrq/Lz8+vs7Onq6uTl5eLj4+Dh4d3e3tna2tbX19TV1dLT083Ozv39/fj4+Pb29vHx8e/v7////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAADgALAAAAAAoACgAAAa4wItwSCwaj8ikcslsOp/QqHRKrVqv2Kx2y016XrWAyoDpChuugHpd83QltLVcTdpqUusWwjMSrCdaH2slRBwoaipaMGoxRhRrHFkDagtHN2ohWWsORytqblgnaglGFpMBDFkxaisWRQprG1khayQVQw6nLVoWLGspBggycgdbDTZzczOZWhkFyXICHVsWEyIrNy4mD8hqAhRmRBKiagThRBFhASfnRBAoNCDt8/T19vf4+fr7/P1mQQA7");
	background-position: center center;
	padding-bottom: 0px !important;
	border-radius: 0px;
}

.modal-title-bet {
    margin: 0px;
    line-height: 1.42857;
    color: #fff;
}
.modal-footer-bet {
	padding: 20px;
	text-align: right;
	border-top: 1px solid #E5E5E5;
	background-color: #fff;
}

.searchResultItem{
	padding-left: 20px;
	font-family: Rockwell;
	font-size: 15px;
}

.searchModal input{
	border-radius: 0px;
}

body button:hover, body .btn:hover, body .btnCancel:hover, body .menuButton .menuButtonButton:hover {
	background-position: center;
}

.memberseparator{
	
}

.searchCancel {
	border-radius: 0px;
	background-color: rgb(102, 106, 107);
	color: rgb(255, 255, 255);
	width: 80px;
	height: 30px;
	border-color: rgb(255, 255, 255);
	font-family: Rockwell;
	background: rgb(102, 106, 107);
	font-weight: 500;
}

.searchAdd{
	border-radius: 0px;
	background-color: #E6007E;
	color: rgb(255, 255, 255);
	width: 180px;
	height: 30px;
	border-color: rgb(255, 255, 255);
	font-family: Rockwell;
	background: #E6007E;
	font-weight: 500;
}
.close-bet{
	font-weight: 400;
	text-shadow: none;
	border: medium none;
	padding: -20px;
	font-size: 16px;
	width: 26px;
	border-radius: 50%;
	margin-top: 2px;
	opacity: 1;
	background: #FFF none repeat scroll 0px 0px;
	color: #666A6B;
	float: right;
	height: 26px;
}

.toolkitEAU {
	font-family: Rockwell;
	font-size: 16px;
	font-weight: 600;
	padding-top: 55px;
	padding-left: 15px;
}