.THIS .themeHeight {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 3.25;
    margin-left: 10px;
    padding-left: 6px;
}

.THIS .shareTop{
    top: -38px;
    right: -14px;
}
.THIS .slds-button{
    float: right;
}

.THIS .sort{
   right: 0px;
}

.THIS .slds-dropdown--right {
	top: 84px;
    position: absolute;
    right: 12px;
    width: 140px;
}
.THIS .dorpdown-right {
	top: 41px;
    position: absolute;
    right: 12px;
    width: 140px;
}
.THIS .sort {
    right: 15px;
}
.THIS .filter{
    right: 16px;
    width:160px;
    top: 68px;
    margin-top: -3px;
}
.THIS .chatter{
   right: 35px;
    top: 169px;
}

.THIS .campaign, .THIS.campaign{
    font-weight:bold;
}


.THIS.slds-card, .THIS .slds-card {
    margin: 15px;
}
.THIS .slds-card__header.slds-grid, .THIS.slds-card, .THIS .slds-card{
    background: #FFFFFF;
}

.THIS .bottomPadding{
    padding-bottom:10px;
}
.THIS .topPadding{
    padding-top:10px;
} 

.THIS .centre{
    	     bottom: 25px;
    /* position: absolute; */
    float: initial;
    margin: 14px 0 4px 0px;
}

.THIS .fontStyle{
    color:#A7B8D1;
}
.THIS .campaign{
    font-weight:bold;
}
.THIS .campaignType{
        right: 55px;
        width: 160px !important;
}

.THIS .menuItem_width{
    width:200px !important;
}
.THIS .hideMenu{
    display:none;
}
.THIS .filter {
    right: 0px;
    width: 93px;
    top: 9px;
}

.THIS .noData{
margin-top: 16px;
}

.THIS .slds-grid--align-end {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@media (min-width: 48em){
    .THIS .slds-medium-size--1-of-2 .campaignDescriptionHeight{
    	height: 65px;   
	}
}

@media (min-width: 64em){
    .THIS .slds-large-size--1-of-3 .campaignDescriptionHeight{
     	height: 65px;      
    }
}

@media (min-width: 30em){
    .THIS .slds-large-size--1-of-1 .campaignDescriptionHeight{
     	height: auto;      
    }
}