.slds {
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
margin: 0; }
.slds article,
.slds aside,
.slds details,
.slds figcaption,
.slds figure,
.slds footer,
.slds header,
.slds hgroup,
.slds main,
.slds menu,
.slds nav,
.slds section,
.slds summary {
display: block; }
.slds audio,
.slds canvas,
.slds progress,
.slds video {
display: inline-block;
vertical-align: baseline; }
.slds audio:not([controls]) {
display: none;
height: 0; }
.slds [hidden],
.slds template {
display: none; }
.slds a {
background-color: transparent; }
.slds a:active,
.slds a:hover {
outline: 0; }
.slds abbr[title] {
border-bottom: 1px dotted; }
.slds b,
.slds strong {
font-weight: bold; }
.slds dfn {
font-style: italic; }
.slds mark {
background: #ff0;
color: #000; }
.slds small {
font-size: 80%; }
.slds sub,
.slds sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline; }
.slds sup {
top: -0.5em; }
.slds sub {
bottom: -0.25em; }
.slds img {
border: 0; }
.slds svg:not(:root) {
overflow: hidden; }
.slds figure {
margin: 1em 40px; }
.slds hr {
box-sizing: content-box;
height: 0; }
.slds pre {
overflow: auto; }
.slds code,
.slds kbd,
.slds pre,
.slds samp {
font-family: monospace, monospace;
font-size: 1em; }
.slds button,
.slds input,
.slds optgroup,
.slds select,
.slds textarea {
color: inherit;
font: inherit;
margin: 0; }
.slds button {
overflow: visible; }
.slds button,
.slds select {
text-transform: none; }
.slds button,
.slds input[type="button"], .slds input[type="reset"],
.slds input[type="submit"] {
-webkit-appearance: button;
cursor: pointer; }
.slds button[disabled],
.slds input[disabled] {
cursor: default; }
.slds button::-moz-focus-inner,
.slds input::-moz-focus-inner {
border: 0;
padding: 0; }
.slds input {
line-height: normal; }
.slds input[type="checkbox"],
.slds input[type="radio"] {
box-sizing: border-box;
padding: 0; }
.slds input[type="number"]::-webkit-inner-spin-button,
.slds input[type="number"]::-webkit-outer-spin-button {
height: auto; }
.slds input[type="search"] {
-webkit-appearance: textfield;
box-sizing: content-box; }
.slds input[type="search"]::-webkit-search-cancel-button,
.slds input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none; }
.slds fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em; }
.slds legend {
border: 0;
padding: 0; }
.slds textarea {
overflow: auto; }
.slds optgroup {
font-weight: bold; }
.slds table {
border-collapse: collapse;
border-spacing: 0; }
.slds td,
.slds th {
padding: 0; }
.slds *,
.slds *:before,
.slds *:after {
box-sizing: border-box; }
.slds *::-webkit-input-placeholder {
color: #54698d;
font-weight: 400;
font-size: 14px; }
.slds *:-moz-placeholder {
color: #54698d;
font-weight: 400;
font-size: 14px; }
.slds *::-moz-placeholder {
color: #54698d;
font-weight: 400;
font-size: 14px; }
.slds *:-ms-input-placeholder {
color: #54698d;
font-weight: 400;
font-size: 14px; }
.slds {
font: 100%/1.5 "Salesforce Sans", Arial, sans-serif;
background: white;
color: #16325c;
-webkit-tap-highlight-color: transparent; }
.slds:not(html), .slds body {
font-size: 14px;
background: transparent; }
.slds ::-moz-selection {
background: #faffbd;
text-shadow: none; }
.slds ::selection {
background: #faffbd;
text-shadow: none; }
.slds h1,
.slds h2,
.slds h3,
.slds h4,
.slds h5,
.slds h6,
.slds p,
.slds ol,
.slds ul,
.slds dl,
.slds fieldset {
margin: 0;
padding: 0; }
.slds dd,
.slds figure {
margin: 0; }
.slds abbr[title],
.slds fieldset,
.slds hr {
border: 0; }
.slds hr {
padding: 0; }
.slds h1,
.slds h2,
.slds h3,
.slds h4,
.slds h5,
.slds h6 {
font-weight: inherit;
font-size: 1em; }
.slds ol,
.slds ul {
list-style: none; }
.slds a {
color: #0070d2;
text-decoration: none;
-webkit-transition: color 0.1s linear;
transition: color 0.1s linear; }
.slds a:hover,
.slds a:focus {
text-decoration: underline;
color: #005fb2; }
.slds a:focus {
outline: thin dotted;
outline: 5px auto #1589ee;
outline-offset: -2px; }
.slds a:active {
color: #00396b; }
.slds b,
.slds strong,
.slds dfn {
font-weight: 700; }
.slds mark {
background-color: #faffbd; }
.slds abbr[title] {
cursor: help; }
.slds input[type=search] {
box-sizing: border-box; }
.slds table {
width: 100%; }
.slds caption,
.slds th,
.slds td {
text-align: left; }
.slds hr {
display: block;
margin: 32px 0;
border-top: 1px solid #d8dde6;
height: 1px;
clear: both; }
.slds audio,
.slds canvas,
.slds iframe,
.slds img,
.slds svg,
.slds video {
vertical-align: middle; }
.slds img {
max-width: 100%;
height: auto; }
.slds body {
padding: 0;
margin: 0; }
.slds h1,
.slds h2,
.slds h3,
.slds h4,
.slds h5,
.slds h6,
.slds th,
.slds td {
font-family: "Salesforce Sans", Arial, sans-serif; }
.slds h1,
.slds h2,
.slds h3,
.slds h4,
.slds h5,
.slds h6 {
display: inherit; }
.slds li {
margin-left: 0; }

.slds .slds-button {
position: relative;
display: inline-block;
padding: 0;
background: transparent;
background-clip: padding-box;
border: none;
border-radius: 4px;
color: #0070d2;
font-size: inherit;
line-height: 34px;
text-decoration: none;
-webkit-appearance: none;
white-space: normal;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-transition: color 0.05s linear, background-color 0.05s linear;
transition: color 0.05s linear, background-color 0.05s linear; }
.slds .slds-button:hover,
.slds .slds-button:focus,
.slds .slds-button:active,
.slds .slds-button:visited {
text-decoration: none; }
.slds .slds-button:hover,
.slds .slds-button:focus {
color: #005fb2; }
.slds .slds-button:focus {
outline: 0;
box-shadow: 0 0 3px #0070D2; }
.slds .slds-button:active {
color: #00396b; }
.slds .slds-button[disabled] {
color: #d8dde6; }

.slds .slds-button--icon-inverse {
color: white; }
.slds .slds-button--icon-inverse:hover,
.slds .slds-button--icon-inverse:focus {
color: rgba(255, 255, 255, 0.75); }
.slds .slds-button--icon-inverse:active {
color: rgba(255, 255, 255, 0.5); }
.slds .slds-button--icon-inverse[disabled] {
color: rgba(255, 255, 255, 0.15); }

.slds .slds-notify__close {
float: right;
margin-left: 4px;
line-height: 1; }

.slds .slds-notify {
color: white;
position: relative;
background: #54698d;
font-weight: 300; }

.slds .slds-notify--alert {
padding: 8px;
text-align: center; }

.slds .slds-theme--warning {
background-color: #ffb75d;
color: #16325c; }

.slds .slds-theme--alert-texture {
background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.035) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.035) 50%, rgba(0, 0, 0, 0.035) 75%, transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.035) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.035) 50%, rgba(0, 0, 0, 0.035) 75%, transparent 75%, transparent);
background-size: 64px 64px; }

.slds .slds-button--neutral {
padding-left: 16px;
padding-right: 16px;
text-align: center;
vertical-align: middle;
border: 1px solid #d8dde6;
background-color: white; }
.slds .slds-button--neutral:hover,
.slds .slds-button--neutral:focus {
background-color: #f4f6f9; }
.slds .slds-button--neutral:active {
background-color: #eef1f6; }
.slds .slds-button--neutral[disabled] {
background-color: white;
cursor: default; }

@media (max-width: 30em) {
.slds .slds-form--inline .slds-form-element {
margin-bottom: 12px; } }
@media (min-width: 30em) {
.slds .slds-form--inline .slds-form-element {
margin-right: 16px; }
.slds .slds-form--inline .slds-form-element,
.slds .slds-form--inline .slds-form-element__control {
display: inline-block;
vertical-align: middle; } }

.slds .slds-button--brand {
padding-left: 16px;
padding-right: 16px;
text-align: center;
vertical-align: middle;
background-color: #0070d2;
border: 1px solid #0070d2;
color: white; }
.slds .slds-button--brand:link,
.slds .slds-button--brand:visited,
.slds .slds-button--brand:active {
color: white; }
.slds .slds-button--brand:hover,
.slds .slds-button--brand:focus {
background-color: #005fb2;
color: white; }
.slds .slds-button--brand:active {
background-color: #00396b; }
.slds .slds-button--brand[disabled] {
background: #e0e5ee;
border-color: transparent;
color: white; }

.slds .slds-notify-container {
position: fixed;
width: 100%;
left: 0;
top: 0;
z-index: 10000;
text-align: center; }

.slds .slds-theme--success {
color: white;
background-color: #04844b; }

.slds .slds-button__icon {
width: 16px;
height: 16px;
fill: currentColor; }

.slds .slds-assistive-text {
position: absolute !important;
margin: -1px !important;
border: 0 !important;
padding: 0 !important;
width: 1px !important;
height: 1px !important;
overflow: hidden !important;
clip: rect(0 0 0 0) !important; }

.slds .slds-theme--info {
color: white;
background-color: #54698d; }