<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>Unilever Ratings and Reviews</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/servlet_jpg.jpg</loginLogo>
        <primaryColor>#022072</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#C3DFFC</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#022072</secondaryColor>
        <tertiaryColor>#1882ED</tertiaryColor>
        <tertiaryComplementColor>#FFFFFF</tertiaryComplementColor>
        <zeronaryColor>#FFFFFF</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Used for R&amp;R</description>
    <emailSenderAddress>mike.colley@unilever.com</emailSenderAddress>
    <emailSenderName>Agencies</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <permissionSet>Oblix_SWOP_AG_1_Agency</permissionSet>
        <profile>AR - Agency Portal User</profile>
        <profile>Admin</profile>
        <profile>Community Profile</profile>
    </networkMemberGroups>
    <picassoSite>Agencies1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Agencies</site>
    <status>Live</status>
    <tabs>
        <customTab>SWOP</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Product2</standardTab>
    </tabs>
    <urlPathPrefix>agency</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
