<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/BFM_UnileverLogo1_jpg2.jpg</loginLogo>
        <pageHeader>Communities_Shared_Document_Folder/UnileverNew.jpg</pageHeader>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#7BB8F5</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#7BB8F5</secondaryColor>
        <tertiaryColor>#C3DFFC</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#7BB8F5</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>leena.nandimandalam@capgemini.com</emailSenderAddress>
    <emailSenderName>Brazil Freight Collaboration Tool</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <logoutUrl>https://capgbf-unilever.cs45.force.com/BrazilFreightCollaborationTool/login</logoutUrl>
    <networkMemberGroups>
        <permissionSet>BFM_Carriers_Administrative</permissionSet>
        <permissionSet>BFM_Carrier_Operational_User</permissionSet>
        <profile>admin</profile>
        <profile>partner community login user</profile>
        <profile>bfm partner community user</profile>
    </networkMemberGroups>
    <picassoSite>Brazil_Freight_Collaboration_Tool1</picassoSite>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Brazil_Freight_Collaboration_Tool</site>
    <status>Live</status>
    <tabs>
        <customTab>BFM_Search_Shipment</customTab>
        <customTab>BFM_Search_Occurrence</customTab>
        <customTab>BFM_CC_e__c</customTab>
        <customTab>BFM_CT_e__c</customTab>
        <customTab>BFM_MDF_e__c</customTab>
        <customTab>BFM_POD__c</customTab>
        <customTab>BFM_Stage__c</customTab>
        <customTab>BFM_SES__c</customTab>
        <customTab>BFM_NF_e__c</customTab>
        <customTab>BFM_Bank_Information__c</customTab>
        <customTab>BFM_Debit_Note__c</customTab>
        <customTab>BFM_Delivery__c</customTab>
        <customTab>BFM_Email_Information__c</customTab>
        <customTab>BFM_Error_Log__c</customTab>
        <customTab>BFM_File__c</customTab>
        <customTab>BFM_MIRO_Header__c</customTab>
        <customTab>BFM_MIRO_Item__c</customTab>
        <customTab>BFM_NF_e_DF__c</customTab>
        <customTab>BFM_NFS__c</customTab>
        <customTab>BFM_OCR_Template__c</customTab>
        <customTab>BFM_Occurrence__c</customTab>
        <customTab>BFM_Withhold_Tax__c</customTab>
        <customTab>BFM_MIRO_Item_Tax__c</customTab>
        <customTab>BFM_Payment_Method__c</customTab>
        <defaultTab>01r8A0000000I05</defaultTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
    </tabs>
    <urlPathPrefix>BrazilFreightCollaborationTool</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
