<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/kibon_logo_125_png.png</loginLogo>
        <pageHeader>Communities_Shared_Document_Folder/Kibon_Logo_55.png</pageHeader>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#EFEFEF</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#E62B27</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>ronaldo.c.garcia@accenture.com</emailSenderAddress>
    <emailSenderName>Mobile Channel</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>ICB_Mobile_Channel_Operator_OLD</permissionSet>
        <permissionSet>ICB_Mobile_Channel_Salesman</permissionSet>
        <permissionSet>ICB_Mobile_Channel_Backoffice</permissionSet>
        <permissionSet>ICB_Mobile_Channel_Salesmen_PCL</permissionSet>
        <permissionSet>ICB_Mobile_Channel_Operator_PCL</permissionSet>
        <permissionSet>ICB_Mobile_Channel_Salesman_Partner_Community</permissionSet>
        <permissionSet>ICB_Mobile_Channel_Backoffice_Salesforce</permissionSet>
        <profile>admin</profile>
        <profile>mobile channel partner community</profile>
        <profile>partner community login</profile>
        <profile>partner community</profile>
        <profile>partner community login basic</profile>
    </networkMemberGroups>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Mobile_Channel</site>
    <status>Live</status>
    <tabs>
        <customTab>Cockpit</customTab>
        <customTab>Closed_Opportunity</customTab>
        <customTab>Inventory</customTab>
        <customTab>Lista_de_Pre_os</customTab>
        <customTab>ICB_Sales_Locale__c</customTab>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Asset</standardTab>
        <standardTab>Contact</standardTab>
    </tabs>
    <urlPathPrefix>mobilechannel</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
