.THIS .activity-sec_f {
    background: #2E91CF;
    height: 80px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 20px;
    width: 100%;
    color:white;
}
.THIS .section_f {
	background: white;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 95%;
    MARGIN: 0 AUTO;
    margin-top: -50px;
}
.THIS .box{
    width: 90%;
    margin: 0 auto;   
}
.THIS .feedback-rate-text{
    clear: both;
    margin-top: 40px;
    margin-bottom: 6px;
    margin-left: 15px;
    padding-top: 30px;
    font-weight: bold;
}
.THIS .feedback-rate-star{
    margin-bottom: 20px;
}
.THIS .comment-text{
    margin-left: 5%;
    font-weight: bold;
    line-height: 2.3;
}
.THIS .feedback-rate-star img{
    float:left;
    width: 27px;
    margin-right: 5px;
}
.THIS body{
    padding:0px !important;
    background-color: rgba(128, 128, 128, 0.62);
}

.THIS .slds-textarea {
    height: 8rem;
    margin-bottom: 1rem;
}

.THIS form .stars {
    margin: 0px !important;
    margin-left: 11px !important;
}

.THIS .submit, .THIS .submit:hover, .THIS .accept:focus{
    width: 90%;
    margin-left: 18px;
    border-radius: 5px;
    height: 40px;
}
.THIS .cancel {
    width: 90%;
    margin: 7px 18px;
    height: 2.5rem;
    border-radius: 5px;
    background-color: rgb(244, 246, 249);
    font-weight: bold;
    margin-bottom:20px;
}
.THIS .activity-sec {
        height: 90px !important;    
}