.THIS .pageSection{
    padding-top: 20px;
}
.THIS .threeColmnWidth{
    width:33%;
    
}
/*.THIS.fixedNavbar {
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 60px;
}*/
.THIS .paddingBottom{
    padding-bottom:50px;
}
.THIS table.homePageMenuWidth, .THIS .homePageMenuWidth{
    width:100%;
    
}
.THIS td.alignCenter {
    text-align:center;
}
.THIS .activeMenu{   
    /*font-weight: bold;  */  
    font-size: 15px;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    border-bottom: 2px solid #2A94D6;
    color: #2A94D6 !important;
    background: #FFFFFF; 
}
.THIS .inactiveMenu{   
    font-size: 15px;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    border-bottom: 2px solid #344A5F;
    color: #FFFFFF !important; 
    background: #344A5F;
}