@font-face {
  font-family: 'Glyphicons Halflings';src: url('/assets/glyphicons-halflings-regular.eot');src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),url'/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.header{
 background-color:#0099FF;
 height:60px;
}
body{
 background-color:#F0F5F5;
}
.tab{
 border:2px solid #0099FF;
 width:50%;
 float:left;
 height:35px;
 text-align:center;
 padding-top:8px;
 background-color:#fff;
}
.themes{
 line-height:50px;
 font-size:14px;
 font-weight:bold;
 padding-left:10%;
}
a:hover{
text-decoration:none;
}
.tab-content{
 border:1px solid #E0EBEB;
 border-radius:10px;
 min-height:400px;
 width:90%;
 display:block;
 background-color:#fff;
 margin-bottom:15px;
}
.main-menu{
 color:#fff;
 padding:20px;
 }
.alert-box{
  color:#fff;
  float:right;
  padding:20px;
}
.center-content{
  background-color:#00CCFF;
  width:100%;
  min-height:100px;
   position:relative;
  color:#fff;
}
.default-rating{
  position:absolute;
  width:100%;
  color:#C0C0C0;
}
.dynamic-rating{
  position:absolute;
  width:50%;
  color:#fff;
}
.untag{
 float:right;
}
.para-content{
 font-size:12px;
 padding:4px;
}
.themes-content{
 margin-top:100px;
}
.bottom-content{
 background-color:#fff;
 border-top:2px solid #DDDDDD;
 height:50px;
 text-align:center;
}
.bottom-component{
   margin: 7px 16px;
   background: #B3F0FF;
   padding: 8px;
   border-radius: 21px;
}
 .nav-pills>li>a {
    border-radius: 4px;
    width: 158px;
}
.activity-sec {
    background: #00B8E6;
    height: 100px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	padding-top: 10px;
}
.section{
background: white;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	
}
.a-title{
margin-left:5px;
color:white;
}
.t-title{
margin-left:5px;
color:white;
}
.rating{
margin-left:5px;
}
.theme-name{
font-size:20px;
}
.min-sec {
    background: #E4E4E4;
    height: 40px;
	width:100%
    margin-left: 5px;
    width: 95%;
    /* margin-top: 10px; */
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    padding-top: 10px;
    margin-top: 10px;
}
.piclist-inline {
    padding-left: 10px;
    margin-left: -5px;
    list-style: none;
    margin-top: 10px;
	display: inline-flex;
}
.profilePic{
width:30px;
height:30px;

}
.recent{
color:#AEAEAE;
}
.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}