<div class="container needMarginBottom">
<div class="row">
	<form id="theForm" name ="report.myForm" enctype="multipart/form-data" ng-model="unileverForm" novalidate>
		<!-- CANCEL BUTTON -->
		
			<div class="col-xs-12 cancelButton">
			<button class="btn btn-default"  type="button" ng-click="Cancel()">Cancel</button>
			</div>
		<!-- INSERT IMAGE & GRAPH -->
			<div class="col-xs-12 needMargin">
				<p class="titleLabel">Insert image or file </p>
						<ul class="imageInfo col-xs-12">
						<li class="col-xs-4 col-xl-12 activeImage">
						<div id="cameraDivBtn" ng-click="callJQueryBtn('file','previewLoadingCamera')">
							<span  class="cameraImg center-block"> &nbsp; 
								<input id="file" type="file" accept="image/*;capture=camera" capture="camera" onchange="upload('file','previewLoadingCamera')" resize-max-height="300" resize-max-width="250" resize-quality="0.7" style="z-index:2;display:none;"></input>
							</span>
							 <div class="loading_image_preview loadingOff" id="previewLoadingCamera"></div>
							 </div>
						</li>						
						<li class="col-sm-6">
						<div id="ImageDivBtn" ng-click="callJQueryBtn('file1','previewLoadingImage')">
						<span href="#" class="center-block imageIcon cameraImg" >
							<div ng-if="!safariBroser">
							<input id="file1" type="file" accept="image/*" capture="camera" onchange="upload('file1','previewLoadingImage')" resize-max-height="300" resize-max-width="250" resize-quality="0.7" style="z-index:2;display:none;"></input>
							</div>
							<div ng-if="safariBroser">
							<input id="file1" type="file" accept="image/*" capture="camera" onchange="upload('file1','previewLoadingImage')" resize-max-height="300" resize-max-width="250" resize-quality="0.7" style="z-index:2"></input>
							</div>
						</span>
						<div class="loading_image_preview loadingOff" id="previewLoadingImage"></div>
							</div>
						</li>
						
						<li class="col-sm-6">
						<div id="attachmentDivBtn" ng-click="callJQueryBtn('file2','previewLoadingAttach')">
                        <span href="#" class="center-block imageIcon attachImage activeImage" >
						<div ng-if="!safariBroser">
						<input id="file2" type="file"  onchange="upload('file2','previewLoadingAttach')" style="z-index:2;display:none;"></input>
							</div>
							<div ng-if="safariBroser">
						<input id="file2" type="file"  onchange="upload('file2','previewLoadingAttach')"></input>
							</div>
                        </span>
						<div class="loading_image_preview loadingOff" id="previewLoadingAttach"></div>
						</div>
                        </li>

					</ul>
					
						<div class="productImage" id="previewFile" style="display:none;">
						<img  class="img-responsive pull-left prodImage" id="preview" alt=" " height="100" width="100"/>
						<i class="fa fa-times pull-right" onclick="closePrev('#previewFile')"></i>
					</div>
					
			</div>
			
           <!-- Freeze the map -->
 
				<div growl="growl"></div>
	<!-- USE MY LOCATION -->
				<div class="col-xs-12">
					<p class="pull-left titleLabel"><i class="fa fa-map-marker"></i> Use my location</p>
					<p class="pull-right"><button class="img-responsive"  ng-class="{ mapOff : mapHidden ,mapOn : !mapHidden}" ng-click="showMap()"></button></p>
					
				</div>				
					<div class="col-xs-12 mapSpace"> 
							<div  id="map" ng-if="!mapHidden">
							</div>
					</div>
			
	
	<!-- form element-->
	<div class="col-xs-12 formElements needbottom">
		<div id="adressblock">
		<p>
	
			<label class="titleLabel">Cluster </label>
			<select class="form-control"  ng-class="{invalidbox : invalidClusterMsg}" name="cluster" ng-model="selectedCluster"  id="clusterlist" ng-options="cluster as cluster.Name for cluster in clusterList"  ng-change="selectedCountryList()">
			</select>
			<span style="color:red;" ng-if="invalidClusterMsg">This field is required. Select either cluster or country.</span>
		</p>	
		<p>
				<label class="titleLabel">Country </label>
				<select class="form-control" ng-class="{invalidbox : invalidMsg}" name="country" ng-model="selectedcountry" ng-disabled="isClusterIdNull" id="countrylist" ng-options="country as country.Name disabled when(isClusterIdNull == true) for country in Country "  ng-change='getSelectCountry()'>
				</select>
				<span style="color:red;" ng-if="invalidMsg">This field is required. Select either cluster or country.</span>
		</p>
	
		<p>
				<label class="titleLabel">Town</i></label>
				<input type='text' class="form-control" name="town" id="townList" ng-model="report.town" placeholder="Town" ng-disabled="isGlobalCountry || isClusterIdNull"/>
			

		</p>
		</div>
				
				<p class="clear-defualt">
					<label class="titleLabel">Report title <i class="fa fa-star"></i> </label>
					<input type="text" class="form-control" ng-class="{invalidbox : invalidMsg1}" name="reptitle" ng-model="report.reportTitle" placeholder="Add brand, location and activity in the report title" aria-describedby="basic-addon1" required maxLength ="80">
					<span style="color:red;" ng-if="invalidMsg1">This field is required.</span>
					
				
				</p>
					<p>
					<label class="titleLabel">Report Description</label>
					<textarea  class="form-control" ng-model="report.reportDesc" rows="3" maxRows="3" maxLength="131072"></textarea>
				</p>
				<p>
					<label class="titleLabel">Add Notify Users</label><!--p style="margin-top: -14px;" class="subText">Type # with a topic name or @ with a user’s or group’s name and press ENTER to add them…</p-->
					<typeahead   ng-model="reportTitleModel" attr-placeholder="Type @ with a user’s name and press ENTER to add them…" on-type="reportTitleAtMention" sel-data="selectedtagdata" data="autoCompleteUserListData" > </typeahead>
				
					<div class="tags">
					
					<div ng-if="usersTag.length > 0">
					Users:
					<div ng-repeat="(idx, obj) in usersTag">
						<div class="tag label label-success">{{obj.Name}} <a class="close" href ng-click="removeUserTag(idx)">×</a></div>
					</div>
					</div>
					<!--div ng-if="topicsTag.length > 0" class="clear-defualt">
					Topics:
					<div ng-repeat="(idxT, objT) in topicsTag">
						<div class="tag label label-success">{{objT.Name}} <a class="close" href ng-click="removeTopicsTag(idxT)">×</a></div>
					</div>
					</div-->
					</div>

				</p>
				<p class="clear-defualt">
					<label class="titleLabel">Unilever Brand</label>
				<autocomplete   ng-model="uniliverdata" attr-placeholder="Type to search Unilever Brand" click-activation="true" data="agentUniliverBrand" on-type="uniliverBrand" on-select="doSomethingElse" sel-data="selecteddata" brand-flag="'true'" error-msg="errMsg"></autocomplete>
				<span ng-if="matchWord" style="color:red;">Please select appropriate values from the list for  Unilever brand</span>
				</p>
				<p>
			<label class="titleLabel">Retailer</label>
			<autocomplete    ng-model="Retailer" attr-placeholder="Type to search Retailers" click-activation="true" data="uniliverRetailerData" on-type="uniliverRetailer" on-select="doSomethingElse" ret-data="retailerdata" ret-msg="reterrMsg" ></autocomplete>
			<span ng-if="matchRetword" style="color:red;">Please select appropriate values from the list for Retailer</span>
				</p>
	<p>
				<label class="titleLabel">Reporting on</label>
				<select class="form-control" name="reporting" ng-model="reportlist"  ng-options="reporting for reporting in reportList">
				
				</select>
    </p>
	

	
	
				<p>
				<div class="loading_image loadingOff" id="previewLoading"></div>
								<div id="backgroundPopup"></div>
			
				</p>
	</div>

	</form>
			<!--<div class="fixSubmitBtn col-lg-9 col-md-9 col-sm-9">
		<button class="btn btn-primary col-xs-12 marginTen btn-block" id="submitButton" ng-disabled="afterSubmitForm" ng-click="submitForm()">
					<b>Submit this Report</b>
		</button>
		</div>-->
		<div class="col-xs-1" ></div>
<div class="col-xs-9 navbar navbar-fixed-bottom" style="margin-left: 12.5%;">
		<button class="btn btn-primary col-xs-12" id="submitButton" style="margin-top: 1em;" ng-click="submitForm()">
					<b>Submit this Report</b>
		</button>
</div>
<div class="col-xs-1"></div>
		</div>

</div>
 