
<div class="container">
	<div class="col-xs-6">
				<button type="button" class="btn btn-default" ng-click="Cancel()">Cancel</button>
	</div>
	<div class="row col-xs-12">
		<div class="fliterReports">
				<div class="titleOne"><span class="pull-left">All reports</span>  <div class="pull-left down_arrow"></div></div>
		</div>
	</div>
	<div class="row col-xs-12">
		<ul class="reportTypes">
			<li	 ng-class="{active : allActiveClass}" ng-click="defaultReport()">All reports</li>
			<li	 ng-class="{active : filterActiveClass}" ng-click="filterReports()">Filtered reports</li>
			<li ng-class="{active : myActiveClass}" ng-click="myReports()">My reports</li>
		</ul>
	</div>	
</div>