<div class="container">
	<form id="theForm" name ="myForm" enctype="multipart/form-data" ng-model="unileverForm">
		<!-- CANCEL BUTTON -->
		<div class="row" id="mainform">
			<div class="col-xs-12 cancelButton">
				<a class="btn btn-default" href="#">Cancel</a>
			</div>
		
	
	<!-- form element-->
	<div class="col-xs-12 needMargin formElements">
	<p>
						<label class="titleLabel">Report type</label>
			<select class="form-control" name="report" ng-model="reportTypeModel"  id="reporttype" ng-options="report as report.Name for report in ReportType"  ng-change="onReportChange()">
			</select>
			</p>
		<p>
			<label class="titleLabel">Cluster</label>
			<select class="form-control" name="country" ng-model="selectedCluster"  id="clusterlist" ng-options="cluster as cluster.Name for cluster in clusterList" ng-change="selectedCountryList()">
			
			</select>
			</p>
	<p>
			<label class="titleLabel">Country</label>
			<select class="form-control" name="country" ng-model="selectedcountry" ng-disabled="isSelectedClusterGlobal" id="countrylist" ng-options="country as country.Name for country in Country">
			
			</select>
    </p>	
				
			<div id="uniliverReportType">
					
				<p>
					<label class="titleLabel">Unilever brand</label>
			<autocomplete   ng-model="uniliverdata" attr-placeholder="E.g.Dove" click-activation="true" data="agentUniliverBrand" on-type="uniliverBrand" on-select="doSomethingElse" sel-data="selecteddata" brand-flag="'true'" error-msg="errMsg"></autocomplete>
				<span ng-if="matchWord" style="color:red;">Please select appropriate values from the list for  Unilever brand</span>
				</p>
				<p>
			<label class="titleLabel">Retailer</label>
						<autocomplete    ng-model="Retailer" attr-placeholder="E.g.Marks & Spencers" click-activation="true" data="uniliverRetailerData" on-type="uniliverRetailer" on-select="doSomethingElse" ret-data="retailerdata" ret-msg="reterrMsg" ></autocomplete>
			<span ng-if="matchRetword" style="color:red;">Please select appropriate values from the list for Retailer</span>
				</p>
				<p>
				<label class="titleLabel">Reporting on</label>
				<select class="form-control" name="reporting" ng-model="reportlist"  ng-options="reporting for reporting in reportList"  ng-change=''>
				
				</select>
    </p>
		</div>
		<div id="showCompetiotBrand">
		<p>
					<label class="titleLabel">Competitor Brand</label>
				<autocomplete   ng-model="competatorBrandModel" attr-placeholder="E.g.Tide" click-activation="true" data="competatorBrandData" on-type="competatorBrand"  sel-data="selecteddata" brand-flag="'true'" error-msg="errMsg"></autocomplete>
				<span ng-if="matchWord" style="color:red;">Please select appropriate values from the list for Competitor Brand. </span>
				</p>
				<p>
			<label class="titleLabel">Competitor Name</label>
			<select class="form-control" name="compititorVal" ng-model="competitorNameSelected"  id="competitorName" ng-options="competitor as competitor.Name for competitor in competatorNameData">
			</select>
			</p>
				<p>
			<label class="titleLabel">Category</label>
			<select class="form-control" name="category" ng-model="categorylist"  id="category" ng-options="category as category.Name for category in categoryList">
			</select>
			</p>
			<p>
				<label class="titleLabel">Topic</label>
				<select class="form-control" name="topicval" ng-model="topiclist"  ng-options="topic as topic.Name for topic in topicList"  ng-change='getSubTopicList()'>
				
				</select>
			</p>
			</div>
				
	</div>
	
		
	</div>

	</form>
	<div class="bottomButtons">
			<div class="fixedButtons row">
			<div class="col-xs-12">
				<div class="col-xs-6"><button type="button" class="btn btn-default btn-block text-uppercase" ng-click="deleteappliedFilter()">Clear</button></div>
				<div class="col-xs-6"><button type="button" class="btn btn-default btn-block text-uppercase" ng-click="applyFilterSubmit()">Apply</button></div>
			</div>
			</div>
		</div>
</div>

 