<div class="container">
	<form id="theForm" name ="myForm" enctype="multipart/form-data" ng-model="unileverForm">
		<!-- CANCEL BUTTON -->
		<div class="row">
	<div class="col-xs-12 formElements">
		
				
				<p>
					<label class="titleLabel">Unilever Brand</label>
				<autocomplete   ng-model="uniliverdata" attr-placeholder="Type to search Unilever Brand" click-activation="true" data="agentUniliverBrand" on-type="uniliverBrand" on-select="doSomethingElse" sel-Data="selecteddata"></autocomplete>
				</p>
				<p>
			<label class="titleLabel">Retailer</label>
			<autocomplete    ng-model="Retailer" attr-placeholder="Type to search Retailers" click-activation="true" data="uniliverRetailerData" on-type="uniliverRetailer" on-select="doSomethingElse" sel-Data="selecteddata"></autocomplete>
				</p>
	
	
	
				
	</div>
	</form>
		<p class="submitReport">
		<button class="btn btn-primary col-xs-12" ng-click="submitForm()">
					Submit this report
		</button>
		</p>
</div>
</div>
 