<div class="container">
<div class="row">
			<div class="col-xs-12 topSection">
				<div class="reportInfo">
					<!--<p>I want to report something related to...</p>-->
					<p class="headerImage">
						<!-- Pravesha<img src="{{brandImage}}" class="img-responsive"> -->
								<p class="headerImageBanner center-block img-responsive" style="margin-top: -1em;">
							<span class="headerImageBannerBackButton img-responsive" ng-click="backButton()"></span>
									<span>Agent</span>
								</p>
					</p>
					<!--<div class="col-xs-6">
						<button class="btn btn-block buttonOne" ng-click="unileverLink()">Unilever <span class="link_white"></span></button>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-block buttonTwo" ng-click="competatorLink()">A Competitor <span class="link_white"></span></button>
					</div>-->
					
<!-- 					<div class="col-xs-12">
						<div class="bgOne">
								<span>Report something about</span>
					</div>
					<div class="bgTwo">
									<div class="roundedCorner">
													<button class="buttonFirst buttonOne" ng-click="unileverLink()"> <span class="link_white"></span> Unilever </button>
													<button class="buttonSecond buttonOne" ng-click="competatorLink()">  <span class="link_white"></span> A Competitor </button>
									</div>
					</div>
				</div> -->
				<div class="col-xs-12">
				<div class="btn-group btn-group-justified menu-button">
								<a class="btn btn-primary bgButton2"  ng-click="competatorLink()">Competitior Report<img src="{{rootPath.image_button_arrow}}" class="link_white" /></a>
								<a class="btn btn-primary bgButton3"  ng-click="unileverLink()">Unilever Report<img src="{{rootPath.image_button_arrow}}" class="link_white" /></a>
				</div>
				</div>

				</div>
			</div>		
</div>
<div class="row">
			<div class="col-xs-12 fliterReports">
				<div class="col-xs-6">
					<div class="titleOne" ng-click="allReports()"><span class="pull-left">{{label.lblReportNameFilter}}</span> <div class="pull-left filter_down"></div></div>
				
					
				</div>
				<div class="col-xs-6 text-right">
					<span class="filter_filter" ng-click="applyFilter()"></span> &nbsp;
					<span class="filter_sort" ng-click="sortReportList()"></span>
				</div>
			</div>
</div>
<div class="row">
<div growl></div>
</div>
<div class="row">
	<div id="" class="col-xs-12 col-md-12 col-lg-12 col-sm-12 noGutter">
			<div class="item col-xs-6 col-sm-4 col-lg-3" ng-repeat ="report in reportData">
			  <div class="productInfo">
			  <div ng-click="navigateToReport(report.agentReportID)" style="cursor:pointer">
				  <div class="baseImage">
				  
				  <img ng-src="{{report.DocumentUrl}}" style="width:100% !important;max-height: 198px;min-height:198px;" />
				 <img  ng-if="report.recordType == 'UL'" src="{{rootPath.image_Unilever_logo}}" class="logo" />
				 <img  ng-if="report.recordType == 'CI'" src="{{rootPath.image_competitor_logo}}" class="logo" />
				 
				  </div>
				  <div class="caption">
					<h3 title="{{report.reportFullTitl}}">{{report.reportTitl}}</h3>
					<p><span ng-if="report.clusterName != null">{{report.clusterName}}</span><span ng-if="report.country != null">, {{report.country}}</span> </p>
				  </div>
				  <div class="userInfo col-xs-12">
					<div class="col-xs-3 noGutter">
					<img src="{{report.userImgUrl}}" class="profileImageSet"/>
					</div>
					<div class="col-xs-9">
						<p class="name">{{report.CreatedBy}}</p>
						<p class="subText">{{report.timeToDisplay}}</p>
					</div>
				  </div>
				  </div>
				
				<div class="likesComments">
                        <div class="col-xs-6 noGutter">                        
                            <button class="likebtn" ng-if="report.UserLike!='true'" ng-init="true" ng-disabled="report.disabledbutton" ng-click="updateLike(report.agentReportID);report.disabledbutton = true;">
                                <div class="like_img" ></div><span style="color:#D1D1D4">&nbsp; {{report.LikeCount}} Like</span>
                            </button>
                            <button class="likebtn" ng-if="report.UserLike=='true'" ng-init="true"  ng-click="updateUnLike(report.agentReportID);report.disabledbutton = false;">
                                <div class="likeBlue_img"></div>
                              <span style="color:black">&nbsp; {{report.LikeCount}} Like</span>
                            </button>
                        </div>
						
                        <div class="col-xs-6 noGutter">
                            <p class="subText text-right" style="color:#D1D1D4">{{report.TotalCommentCount}} Comment</p>
                        </div>
                                                                         <div class="col-xs-6 noGutter" ng-if="moreComments">
                            <p class="subText text-right" style="color:black">{{report.TotalCommentCount}} Comment</p>
                        </div>
                    </div>

				</div>				  
			  </div>
			  	
	</div>	  
	</div>
	<div class="row">
	<button class="btn btn-block buttonTwo" ng-if="more" ng-disabled="disableBtn" ng-click="show_more()"><i class="icon-plus icon-white"></i>{{btnLbl}}</button> 
	</div>
</div>
