.THIS.notificationBackground{
    text-align:center;
    padding-bottom:10px;
    padding-left: 20%;
    padding-right: 20%;
}
.THIS .notificationDisplay{    
	width:100%;
    text-align:center;
    font-weight:normal;
    margin-top:40%;
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px; 
    border-radius:8px;
    border:1px solid #D1D1D4;    
    background: green;
    color:#FFFFFF;
}
/*applying style for the top bar of the page*/ 
.THIS .topBarStyle{
    height: 40px;
    padding-left: 10px;
    padding-top: 8px;
    background-color:#FFFFFF;
}

/*applying style for the top back aroow bar of the page*/ 
.THIS .topBackBar{ 
    height: 40px;    
    padding-left: 10px;   
    width: 50px;
}

/*applying style for the top back aroow bar Icon of the page*/ 
.THIS .topBackBarIcon{
    height:22px;
    width:22px; 
}


/*Chatter share form text style*/
.THIS .sectionText{
    background: #FFFFFF; 
    border:1px solid #D1D1D4;
    border-radius:5px;
    max-width: 400px;
    width: 100%;
}
/*Chatter share form spacing*/
.THIS .sectionStyle{
    padding-top:20px;
}
/*Auto complete text box text style*/
.THIS .autoCompleteText{
    background: #FFFFFF; 
    border:1px solid #D1D1D4;
    border-radius:5px;
    width: 80%;
    margin-right: 5px;
}
/*Auto complete section display style*/
.THIS .autoCompleteDivDisplay{
    max-width: 400px;
    width: 100%;
    display: block;
}
/*Auto complete section hide style*/
.THIS .autoCompleteDivHide{
    display: none;
}
/*Chatter share form section style*/
.THIS .chatterSection{
    padding:20px;
}
/*Chatter share form apply button style*/
.THIS .applyButton{
    padding: 5px 20px;
    background: #2A94D6;
    color:#FFFFFF;
    border-radius: 5px;
}
.THIS .successIcon{
    float:right;    
    width: 20px;
}
.THIS .addIcon{
    width: 20px;
    height: 20px;
    padding-bottom:2px;
}
.THIS .errorMessageColor{
    color:red;
}
.THIS .centerText{
    text-align:center;
}
.THIS .groupNameList {
    height: 30px;
    padding-top: 8px;
}
.THIS .postTextarea{
    height:100px;
}