.THIS .pageInfo{
    font-size: 12px;
    padding-top:5px;
    padding-bottom:10px;
    width: 100%;
}
.THIS .bodyPadding {
    padding-top:20px;
    padding-left:15px;
}
.THIS .chartPannel td {  
    vertical-align: middle;
    padding-bottom: 15px;
    font-weight: bold;
}
.THIS .responsiveRichText td {  
    vertical-align: middle;
    padding-bottom: 8px;
    font-weight: bold;
}
.THIS .firstColumn {
    text-align: right;
    padding-right: 10px;  
}
.THIS .firstTable {
    height: 50px;
    border-bottom:2px solid #F5F6F7; 
}
.THIS .firstTable td {
    padding-bottom: 5px;
    padding-top: 10px;
}
.THIS .topPadding { 
    padding-top: 15px;
}
.THIS .smallTopPadding{
    padding-top: 12px;
}
.THIS .targetChartBar{
    height:30px;
    display: inline-block;      
    vertical-align: middle;  
    margin-right: 5px;
}
.THIS .chartBar{
    height:20px;
    display: inline-block;      
    vertical-align: middle;  
    margin-right: 5px;
}
.THIS .secondColumn{
    width:75%;  
}
.THIS .chartPannel { 
    border-radius:10px;  
    background: #FFFFFF;
}