.THIS .spin{
    position:absolute;
    left:50%;
    top:50%;    
}
.THIS .padding-pending{
    padding: 13px;    
    padding-top: 0px;
}
.THIS .homePageApprovalsListdiv{
    border-bottom: 1px solid #EEF1F6;
}
.THIS .local-div{
    padding: 10px 0;    
    width: 100%;
    float: left;
    cursor: pointer;
}
.THIS .name{
    color:#0070D2;
    width: 100%;
    font-size: 14px;
}
.THIS .names{
    float: right;
}

.THIS .queryWithVendorIndicatorText{
    border: none;
    height: 19px;
    
    font-weight: Normal;
    font-size: 18px;
    background: #4AB471;
    color: #FFFFFF;
    
    border-radius: 5px;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;    
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .queryWithVendorTextWidth {
    width: 162px !important;
    margin-top: -22px;
}
.THIS .cls {
    color: #314658;
}
.THIS .homePageHeaderText {
    color: #FFFFFF;
    line-height: 0;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: -2px;
}

.THIS li.inactive_class.slds-text-heading--small {
    color: #314658;
    background-color: #FFFFFF;
}

.THIS .defaultLeftSpace {
    HEIGHT: 74PX;
}
.THIS ul.nav.nav-pills.nav-pills-custom {
    MARGIN-TOP: -12PX;
}	
.THIS li.active_class.slds-text-heading--small {
    margin-top: -18px;
}
.THIS li.inactive_class.slds-text-heading--small {
    margin-top: -16px;
}
.THIS a#tab-default-3__item, .THIS a#tab-default-2__item {
    background-color: #FFFFFF;
    line-height: 2.5;
    letter-spacing: 0em;
    height: 45px;
    font-size: 17px;
    letter-spacing: 2px;
}
.THIS a#tab-default-2__item{
    border-bottom:2px solid #0C8EFF;
}
.THIS .pending{
    width: 50%;
    text-align: center;
}
.THIS .closed{
    width: 50%;
    text-align: center;
    color:grey;
}
.THIS .icon{
    background: #EEF1F6;
}
.THIS .icon img{
    width: 33px !important;
    padding: 23px;
    margin-top: 10px;
    margin-right: 6px;
    background:url('/resource/ApprovalsLightning/images/filters_icon-04.svg') no-repeat;
    cursor: pointer;
    
}
.THIS .icon-currentState img{
    width: 33px !important;
    padding: 23px;
    margin-top: 10px;
    margin-right: 6px;
    background:url('/resource/ApprovalsLightning/images/filters_icon-05.svg') no-repeat;
    cursor: pointer;
}
.THIS .icon-LockedState img{
    width: 33px !important;
    padding: 23px;
    margin-top: 10px;
    margin-right: 6px;
    background:url('/resource/ApprovalsLightning/images/filters_icon-06.svg') no-repeat;
    cursor: pointer;
}
.THIS .sort-box{
    float: right;
    margin-right: 231px;
    margin-top: -6%;
}
.THIS .requestedBy{
    clear: left;
}
.THIS .message{
    font-weight: bold;
}
.THIS .right-class{
    float:right;
}
.THIS .showmore{
    margin-top: 10px;
    margin-bottom:-4px;
}
.THIS .loading{
    position: absolute;
    top: 49%;
    left: 60%;
    font-size: 1rem;
    color: #00396B;
    font-weight: bold;
}
.THIS .filterSelected{
    font-weight:bold;
}