.THIS .font{
    font-size: 15px !important;
    margin: 20px 10px 0;
}
.THIS .Designation{
    font-size: 11px !important;    
    margin: 0 10px 20px;
}
.THIS .Description{
    margin: 0 10px 20px;
    font-size: 10px;
}
.THIS.profile-div{
   border: 1px solid #d2d2d2;
    margin: 10px;
    background: white;
}
.THIS .line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
    overflow:hidden;
    padding: 0px 13px;
    clear:both;
}
.THIS .badge{
    padding: 5px 13px;
}
.THIS .button1{
        width: 94%;
    margin: 3%;
    border-radius: 5px;
}
.THIS.slds-tabs--default__link:focus {
    border-bottom-width: 0px !important;
    /* border-color: #0070d2; */

}
.THIS .icon-font1 {
    color: grey;
}
.THIS .events-cards {
    margin: -14px 10px 0 !important;

}
.THIS .tabUi{
    background: white;
}
.THIS .tabUi li{
    width: 46%;
    margin: 0 auto;
    text-align: center;
}
.THIS .tabUi li a{
 font-size:12px;
}
.THIS .body-content{
    padding: 20px;
    background: white;
}

.THIS .event-banner{
    height:200px;
    margin-bottom: 8px;
}
.THIS .profile-parent{
        border: 1px solid white;
    background: white;
    margin-top: -17px;
}