/*Filter option page header bar left align the content*/
.THIS .leftAlign {
    padding: 10px;    
}

.THIS .formHeader{
    background: #FFFFFF;
    width:100%;
    height:50px;
    border-bottom: 1px solid #D1D1D4;
}

.THIS.containerq{
    padding-bottom: 10px;
    max-width: 1200px;
    margin: 0 auto;
    height: 95%;     
	overflow-y : auto;  
}

.THIS .unilever-frm-content{
    position: relative;
    padding: 15px 15px 20px 15px;
    border-top: 2px solid #cfd7e6;
}

.THIS .unilever-submit-btn{
    text-align: center;
    padding: 15px;
}

.THIS .unilever-submit-btn .slds-button {
    width: 100%;
    line-height: 2.5rem;
    font-size: 16px;
}

.THIS .slds-form-element {
    margin-bottom: .75rem;
}
.THIS .red-color{
    color: red;
    font-size:1rem;
}
.THIS .mandatory{
    font-size:0.7rem;
}
.THIS .hide-form{
    display: none;
}
.THIS .success-msg-div{
    top: -60% !important;
}
.THIS .green-color{
    color: green;
    padding-top: 12px;
    margin-bottom: -12px;
}
.THIS .text-align{
    text-align: center;
}

.THIS .slds-modal__header{
    border-bottom: none;
    padding: 0.5rem 1rem;
}

.THIS .slds-p-around--medium {
    padding: 0.5rem;
}

.THIS .success-msg-div{

}
.THIS .red-color{
    color: rgb(194, 57, 52);
    font-weight: 900;
    font-size: 14px;
}
.THIS .red-color-star{
font-size:21px;
}