.THIS .alignRight {
    float:right;
    padding-right: 10px;
}
.THIS .recentNewsActive{   
    height: 35px;
    width: 35px;
    padding: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #d1d1d4;
    background-color: #f5f6f7;
    content: url('/resource/NewsCenterIcons/Recent_active.svg');
    background-repeat: no-repeat;
}
.THIS .recentNewsInActive{   
    height: 35px;
    width: 35px;
    padding: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #d1d1d4;
    background-color: #FFFFFF; 
    content: url('/resource/NewsCenterIcons/Recent_inactive.svg');
}
.THIS .viewsActive{   
    height: 35px;
    width: 35px;
    padding: 6px;
    border-top: 1px solid #d1d1d4;
    border-bottom: 1px solid #d1d1d4;
    border-right: 1px solid #d1d1d4;
    background-color: #f5f6f7;
    content: url('/resource/NewsCenterIcons/Views_active.svg');
}
.THIS .viewsInActive{   
    height: 35px;
    width: 35px;
    padding: 6px;
    border-top: 1px solid #d1d1d4;
    border-bottom: 1px solid #d1d1d4;
    border-right: 1px solid #d1d1d4;
    background-color: #FFFFFF; 
    content: url('/resource/NewsCenterIcons/Views_inactive.svg');
}
.THIS .likeActive{   
    height: 35px;
    width: 35px;
    padding: 6px;
    border-top: 1px solid #d1d1d4;
    border-bottom: 1px solid #d1d1d4;
    background-color: #f5f6f7;
    content: url('/resource/NewsCenterIcons/Like_active.svg');
}
.THIS .likeInActive{   
    height: 35px;
    width: 35px;
    padding: 6px;
    border-top: 1px solid #d1d1d4;
    border-bottom: 1px solid #d1d1d4;
    background-color: #FFFFFF; 
    content: url('/resource/NewsCenterIcons/Like_inactive.svg');
}
.THIS .commentActive{   
    height: 35px;
    width: 35px;
    padding: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #d1d1d4;
    background-color: #f5f6f7;
    content: url('/resource/NewsCenterIcons/Comment_active.svg');
    background-repeat: no-repeat;
}
.THIS .commentInActive{   
    height: 35px;
    width: 35px;
    padding: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #d1d1d4;
    background-color: #FFFFFF; 
    content: url('/resource/NewsCenterIcons/Comment_inactive.svg');
}