.THIS.itemPanel {
    padding: 10px;
    border: 1px #D1D1D4 solid;
    border-radius:10px;
    background: #FFFFFF;
}

.THIS .groupIcon{
    height: 55px;
    width: 55px;
    border-radius: 50px;
}
.THIS .title {
    vertical-align:middle;
    padding-left:10px;
    font-size:15px;
    color: #4E6990;
}