<header class="search">
  <div class="container">
      <div class="row">
          <div class="col-xs-6">
            <div class="first-box">
                <h1 ng-click="go('home')">Brand Experience Toolkits</h1>
            </div>
          </div>
          <div class="col-xs-6">
            <form class="form-inline form-search" role="form">
                <div class="form-group">
                    <input ng-model="keyword" class="form-control" type="text" name="search" placeholder="Search a BET, brand, project or person">
                    <button ng-click="search(keyword)" type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"></span></button>
                    <div class="clearfix"></div>
                </div>
            </form>
              <div id="menu-brand">
                  <a name="menu">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <nav class="main-nav">
                      <ul>
                          <li>
                              <a href="#/home">
                                  <span class="icon icon-home"></span>
                                  <span>Home</span>
                              </a>
                          </li>
                          <li>
                              <a href="/apex/BET_NewBet?retURL=/apex/BET">
                                  <span class="icon icon-add"></span>
                                  <span>Create New Toolkit</span>
                              </a>
                          </li>
                          <li>
                              <a href="#/search">
                                  <span class="icon icon-search"></span>
                                  <span>Browse All Toolkits</span>
                              </a>
                          </li>
                          <li>
                              <a href="{{sfConfig.helpLink}}" target="_blank">
                                  <span class="icon icon-information"></span>
                                  <span>Help &amp; Guidance</span>
                              </a>
                          </li>                                  
                      </ul>
                  </nav>
              </div>
            <div id="logo">
                <img src="{{sfConfig.resourceBasePath}}images/logo.png" alt="Crafting Brands For Life">
            </div>                      
          </div>
      </div>
  </div>
</header>

<div class="container-fluid main-content search">
<!-- BEGIN my bets -->
  <div class="row">
      <div class="col-xs-12">
          <h2 class="section-title">{{searchResultTitle}}</h2>
          <!-- filters -->
          <div class="filters-container">
              <div class="filter-holder filter-active" ng-class="{'filter-collapsed' : !showCategory}" ng-click="showCategory = !showCategory" ng-mouseleave="showCategory=false">
                <div class="filter-bar">
                    <a name="subcategory" class="filter-title">{{subCategoryTitle}} <span class="filters-arrow"></span></a>
                </div>
                <div class="filters">
                    <form role="form">
                        <div class="form-group" ng-repeat="filter in filters.Categories.filterValues">
                            <input id="all_categories{{$index}}" type="radio" name="category" ng-checked="filter.value == selectedCategory.value">
                            <label for="all_categories{{$index}}" ng-click="selectCategory(filter)">{{filter.label}}</label>
                        </div>
                    </form>
                </div>
              </div>
              <div class="filter-holder" ng-class="{'filter-collapsed' : !showBrand, 'filter-inactive':selectedCategory.value=='','filter-active':selectedCategory.value!=''}" ng-click="showBrand = selectedCategory.value!='' && !showBrand" ng-mouseleave="showBrand=false">
                <div class="filter-bar">
                    <a name="brand" class="filter-title">{{brandTitle}} <span class="filters-arrow"></span></a>
                </div>
                <div class="filters">
                    <form role="form">
                        <div class="form-group" ng-repeat="filter in filters.Brands.filterValues">
                            <input id="all_brands{{$index}}" type="radio" name="brand" ng-checked="filter.value == selectedBrand.value">
                            <label for="all_brands{{$index}}" ng-click="selectBrand(filter)">{{filter.label}}</label>
                        </div>
                    </form>
                </div>
              </div>                      
              <div class="clearfix"></div>
          </div>
          <!-- table header -->
		  <div class="switchers" style="padding-top:40px;">
              <div class="switchers-right">
                <a href ng-click="setSearchActive(true)" class="btn btn-primary" ng-class="{'selected':searchState.activeSelected}">Active</a>
                <a href ng-click="setSearchActive(false)" class="btn btn-primary" ng-class="{'selected':!searchState.activeSelected}">Archived</a>                          
              </div>
              <div class="clearfix"></div>
          </div>
          <div class="table-bet">
              <div class="row head">
                <div class="col-xs-3" ng-click="changeSort('betName')" ng-class="{'sort':state.field=='betName','sort-desc':state.reverse,'sort-asc':!state.reverse}"><span>Name</span></div>
                <div class="col-xs-1-25" ng-click="changeSort('betBrandName')" ng-class="{'sort':state.field=='betBrandName','sort-desc':state.reverse,'sort-asc':!state.reverse}"><span>Brand</span></div>
                <div class="col-xs-2" ng-click="changeSort('betOwnerName')" ng-class="{'sort':state.field=='betOwnerName','sort-desc':state.reverse,'sort-asc':!state.reverse}"><span>Owner</span></div>
                <div class="col-xs-2" ng-click="changeSort('betProjectName')" ng-class="{'sort':state.field=='betProjectName','sort-desc':state.reverse,'sort-asc':!state.reverse}"><span>Project</span></div>
                <div class="col-xs-1" ng-click="changeSort('betStatus')" ng-class="{'sort':state.field=='betStatus','sort-desc':state.reverse,'sort-asc':!state.reverse}"><span>Status</span></div>
                <div class="col-xs-1 dl" ng-click="changeSort('betLastUpdated')" ng-class="{'sort':state.field=='betLastUpdated','sort-desc':state.reverse,'sort-asc':!state.reverse}"><span>Last <br />Updated</span></div>
                <div class="col-xs-1-75">&nbsp;</div>
              </div>
              <div class="row" ng-if="bets.length == 0">
                <div class="col-xs-12">No data</div>
              </div>                      
                <!-- table data -->
              <div class="elements" infinite-scroll='nextPage()' infinite-scroll-disabled='scrollDisabled == true'>
                  <div class="row" ng-repeat="bet in bets" ng-if="bets.length > 0">
                    <div class="col-xs-3">
    <!-- TODO: Display icon if there is any set for BET-->
                        <span class="image-holder" uw-brand-icon="{{bet.betIconLocation}}"></span>
                        <span uw-tooltip class="bet-name">{{bet.betName}}</span>
                        <span class="question-icon" ng-if="bet.betDescription" data-tooltip="{{bet.betDescription}}"></span>
                    </div>
                    <div uw-tooltip class="col-xs-1-25">{{bet.betBrandName}}</div>
                    <div uw-tooltip class="col-xs-2">{{bet.betOwnerName | uwUserName}}</div>
                    <div uw-tooltip class="col-xs-2">{{bet.betProjectName}}</div>
                    <div uw-tooltip class="col-xs-1">{{bet.betStatus}}</div>
                    <div class="col-xs-1">{{bet.betLastUpdated | date: sfConfig.date.list}}</div>
                    <div class="col-xs-1-75 text-right" ng-if="bet.betIsPublic || bet.betHasAccess || sfConfig.readAll || sfConfig.modifyAll">
                        <a href="#/detail/{{bet.betId}}" class="btn btn-primary">
                            <span>Access toolkit</span>
                            <span class="right-arrow"></span>
                        </a>
                    </div>
                    <div class="col-xs-1-75 text-right" ng-if="!bet.betIsPublic && !bet.betHasAccess && !bet.betHasAccessPending && !sfConfig.readAll && !sfConfig.modifyAll">
                        <a name="requestaccess{{$index}}" class="btn btn-primary" ng-click="requestAccess(bet.betId, $index)">
                            <span>Request access</span>
                        </a>
                    </div>
                    <div class="col-xs-1-75 text-right" ng-if="bet.betHasAccessPending && !bet.betIsPublic && !sfConfig.readAll && !sfConfig.modifyAll">
                        <a href="#" class="btn btn-disabled disabled">
                          <span>Access Requested</span>
                        </a>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div> 

  <div class="modal modal-bet fade" id="dialogInfo">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="icon icon-close"></span></button>
          <h4 class="modal-title"><span class="icon"></span>Message</h4>
        </div>
        <div class="modal-body">
          {{message}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gray" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- END my bets -->
