 @import url(font-awesome.min.css);
 
 /**** Header and container CSS ****/   
        .darkGreen{color: #44883E  ;}
        .mainGreen{color: #6BA539;}
        h2{ font-size: 130%;}
        h3{font-size: 14px;}

        .Oblix_Container{
            background-image : url("{!URLFOR($Resource.assetUI,'bg_pattern_2.png')}");
            background-repeat: no-repeat;
            position:relative;
            top: -11px;
        }
        .Oblix_header_logo{
        position:relative;
        left:-15px;
        top:-55px;
        }
        
        .Oblix_header_title{
            font-family: DIN, Arial;
            font-size: 30px;
            margin: 4px;   
           /* padding-top: 7px; */  
            position:relative;
            top:-50px;              
        }

        
           .Oblix_header_arrowTitle{
            font-family: DIN, Arial;
            font-size: 18px;
            margin: 4px;   
           /* padding-top: 7px; */  
            position:relative;
            text-align: center;
            top:30px;              
        }
        
        .Oblix_header_activeArrow{ 
        background-color: transparent;      
            background-image : url("{!URLFOR($Resource.assetUI,'currentlevel_arrow_down.png')}");
            background-repeat: no-repeat;
             font-family: DIN, Arial;
            color:white;
            padding-left: 10px;
            width:160px;
           height: 90px;
            text-align: center;
            position: relative;
           

        }
          .Oblix_header_Arrow_none{ 
          background-color: transparent;      
            background: initial;
            background-repeat: no-repeat;
            font-family: DIN, Arial;
            color:white;
            padding-left: 10px;
            width:160px;
            height: 90px;
            text-align: center;
            position: relative;
        }
          .Oblix_header_Arrow{ 
          background-color: transparent;      
            background-image : url("{!URLFOR($Resource.assetUI,'currentlevel_arrow.png')}");
            background-repeat: no-repeat;
            font-family: DIN, Arial;
            color:white;
            padding-left: 10px;
            width:160px;
            height: 90px;
            text-align: center;
            position: relative;
          


        }
          .Oblix_header_Arrow:active, .Oblix_header_Arrow:hover {
          background-color: transparent;
            background-image : url("{!URLFOR($Resource.assetUI,'arrow_hover.png')}");
            background-repeat: no-repeat;

          }
           .Oblix_header_previousArrow{ 
            background-color: transparent;      
            background-image : url("{!URLFOR($Resource.assetUI,'previouslevel_arrow.png')}");
            background-repeat: no-repeat;
            font-family: DIN, Arial;
            color:white;
            padding-left: 10px;
            width:160px;
             height: 90px;
            text-align: center;
            position: relative;
         

        }
       .Oblix_header_previousArrow:active, .Oblix_header_previousArrow:hover {
            background-image : url("{!URLFOR($Resource.assetUI,'arrow_hover.png')}");
            background-repeat: no-repeat;

          }

        .header_pos_2 {
            top:-5px;
            left:-18px;
            }
        .header_pos_3 {
            top: -100px;
            left:138px;
           }
        .Oblix_header{
            background-image : url("{!URLFOR($Resource.assetUI,'header_panel.png')}");
            background-size: 100% 100%;
            background-position: center bottom;
            background-repeat: no-repeat;
            height: 90px;
            position: relative;
            /* line-height: 65%; */
            width:95%;
            letter-spacing: 1px;         
        }
        .Oblix_header_desc{
             text-align:center;
            /* line-height: 140%; */
            position:relative;
            font-size: 10px;
            top:-65px;

        }
        .Oblix_header td{
             font-family: DIN, Arial;
        }
        .Oblix_projects_container h2 {
            font-size: 13px;
            color: white;
            float: right;
        }
        .Oblix_sowDetail{
            display: block;
            padding: 9.5px;
            margin: 0 58px 23px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: rgb(202, 212, 190);
            border: 1px solid #969696;
            border-radius: 4px;
            font-size:15px;
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        }
      .Oblix_large_btn{
            border-style:none;
            width: 220px !important;
            height: 30px;
            background-position: 0 0;
            border : 1px solid rgb(158, 145, 145);
        }
        
        .Oblix_large_btn:hover{
           border-style:none;
            border : 1px solid rgb(223, 213, 213);
            background-position: 0 0;
        }
        .Oblix_large_btn:active{
            border-style:none;
            border : 1px solid rgb(223, 213, 213);
            background-position: 0 0;
        }
         .Oblix_btn{
            border-style:none;
            width: 125px;
            height: 30px;
            background-position: 0 0;
            border : 1px solid rgb(158, 145, 145);
        }
        
        .Oblix_btn:hover{
            border-style:none;
            border : 1px solid rgb(223, 213, 213);
            background-position: 0 0;
        }
        .Oblix_btn:active{
            border-style:none;
            border : 1px solid rgb(223, 213, 213);
            background-position: 0 0;
        }
        .Oblix_notes{
            PADDING-right: 41px;
        }
        .Oblix_tableDetails tr h1{
            font-size:16px;
        }
        table tr td {       
            font-size : 12px;
        }
        .picklist_init{
            transition: all .2s linear;
            background: #fff;
            padding: 5px 9px;
            margin: 0;
            width: 68%;
            font-size: 13px;
        }
        .input_init{
            transition: all .2s linear;
            background: #fff;
            padding: 5px 9px;
            margin: 0;
            font-size: 13px;
        }
        .textArea_init{
            transition: all .2s linear;
            background: #fff;
            padding: 5px 9px;
            margin: 0;
            width: 93%;
            min-height:80px;
            font-size: 13px;
            height: 32px;
            word-wrap: break-word;
            word-break: normal;
            white-space: normal;
        }
        .Oblix_input{
            transition: all .2s linear;
            background: #fff;
            padding: 5px 9px;
            margin: 0;
            font-size: 13px;
        }

        .dataTables_length label select,.dataTables_filter input{
            margin: 11px !important;
        }
        .dataTables_length label,.dataTables_filter label{
            font-size:14px;
        }
        .Oblix_attachment{
            width:90%;
        }
       .Oblix_filter_btn{
           color: #333;
            background: #fff !important;
            border: 1px solid #b5b5b5 !important;
            display: inline-block;
            padding: 4px 12px !important;
            width:100px;
            margin-bottom: 0;
            font-size: 14px !important;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
        }
        .Oblix_projects_btn{
            border: 1px solid #b5b5b5 !important;
            display: inline-block;
            padding: 4px 12px !important;
            width: 144px;
            margin-bottom: 0;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
         }    
         <!-- green buttons -->
        input.btn,.Oblix_large_btn, .Oblix_btn  {
            background: #6BA539;
            background-image: none;
            color: #fff;
            padding: 4px 10px 3px 10px  !important;
            height: 30px;
        }
         input.btn:hover, button:hover, .Oblix_large_btn:hover, .Oblix_btn:hover {
             background: #44883E;
             color: #fff;
        }
        
         .disabled, .Oblix_projects_btn:disabled, input.btn:disabled, input.btn:disabled, button:disabled, .Oblix_large_btn:disabled, .Oblix_btn:disabled {
             background: #6BA539;
             opacity: 0.5;
             color: #fff;

        }

         
          .Oblix_popup_btn{
            color: #333;
            background: #B0CC8F !important;
            display: inline-block;
            padding: 4px 12px !important;
            brder-radius:0px!important;
            border:1px solid #FBEFEF !important;
            width:100%;
            margin-bottom: 0;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
         }
        .Oblix_addAsset_btn{
            padding: 7px !important;
            width:40%;
        }
         
       .Oblix_filter_btn:hover, .Oblix_filter_btn:active{
           background: #eaeaea !important;
           border: 1px solid #b5b5b5 !important;
       }     
       .ui-tooltip, .arrow:after {
        background: black;
        border: 2px solid white;
      }
      .ui-tooltip {
        padding: 10px;
        color: white;
        width:150px;
        border-radius: 2px;
        border-color:black;
        font-size:12px;
        box-shadow: 0 0 2px black;
        text-align:center;
      }
      .arrow {
        width: 70px;
        height: 16px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        border-color:black;
        margin-left: -35px;
        bottom: -16px;
      }
      .arrow.top {
        top: -16px;
        bottom: auto;
      }
      .arrow.left {
        left: 20%;
      }
      .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        border-color:black;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .arrow.top:after {
        bottom: -20px;
        top: auto;
      }

    .column1,.column2 {
        width: 49%; 
        float: left;
    }

    .column3{
        width: 100%; 
        float: left;
    }

    .column5{
        width: 50%; 
        float: left;
    }
    .column4{
        width: 40%; 
        float: left;
    }
    .PrColumn4 h2 {
        font-size: 14px;
        text-align:center;
    }
    .PrColumn1 {
        width: 50%; 
        float: left;
    }
    .PrColumn2{
        width: 50%;
        float: left;
    }

    .PrColumn3{
        width: 100%; 
        float: left;
    }

    .PrColumn5{
        width: 40%; 
        float: left;
    }
    .PrColumn4{
        width: 57%; 
        float: left;
    }
    
  
     .Oblix_table{
        display:block;
        padding: 9.5px;
        margin: 0 58px 23px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
   
    /* for 900px or less */
    @media screen and (max-width: 1200px) {
     
        .column1,.column2,.column3,.column4,.column5,.PrColumn1,.PrColumn2,.PrColumn3,.PrColumn4{
            width: 100%;
        }
    }
    
    .Oblix_heading th{
       background-color: rgba(29, 130, 40, 0.86);
        padding: 10px;
        color: white;
        font-size: 14px;
     }
   
    .data table{
        background-color: #fff;
        padding:10px;
    }
    .Oblix_assets{
        padding:10px;
        background-color: #DFE4E0;
    }
    .Oblix_projects_container h1{
        font-size: 14px;
        color: white;
        letter-spacing: 1px;
    }

    .Oblix_projects_header{
        padding: 20px;
        background-color: rgb(0, 87, 63);
    }
    
    .padding_remove{
        padding:0px!important;
    }
    .Oblix_recordType i.fa.fa-2x.fa-sort-desc{
        display:none;
    }
    
    .Oblix_recordType i.fa.fa-2x.fa-sort-up{
        display:block;
    }
     .show i.fa.fa-2x.fa-sort-desc{
        display:block;
    }
    .show i.fa.fa-2x.fa-sort-up{
        display:none;
    }
    .Oblix_icon {
        cursor:pointer;
    }
    .Oblix_recordType{
        float:left;
        width:70%;
    }
    .Oblix_card{
        float: right;
        width: 25%;
        font-weight: bold;
        min-height: 218px;
       
        margin-right: 14px;
    }
    .Oblix_card_content{
        background: #BDCEBF;
        HEIGHT: 100%;
        padding :10px;
        max-height:520px;
        overflow-y:scroll;
        word-wrap: break-word;
        word-break: normal;
        white-space: normal;
    }
    .Oblix_icon_right{
        float:right;
        width: 3%;
    }
    .Oblix_div_left{
        float:left;
     }
     
     .data Oblix_subCat{
          word-break: break-all;
          word-wrap: break-word;
     }
     .Oblix_subCat{
         padding-left : 10px;
     }
     .Oblix_recordTypeth th,.Oblix_recordTypeth_title th{
        background-color: #BDCEBF;
        padding: 10px;
     }
     .data td{
         background-color:white;
     }
     .Oblix_heading tr{
         color:white;
     }
     
    .topAlign tr{
        vertical-align: top;
    }

     .ui-widget-header {
        border: 0px;
        background: #E8E8E8;
    }
    
    .ui-widget-content {
        border: 0px;
    }
   
    .ui-tabs .ui-tabs-panel {
        display: block;
        border-width: 0;
        padding: 1em 1.4em;
        cursor: pointer;
    }
    .ui-tabs {
       padding:0em;
    } 
    .ui-tabs .ui-tabs-nav li {
        border-bottom-width: 1px;
    }  
    
    
    .tabs-min { 
        background: transparent; 
        border: none; 
    } 
    .tabs-min .ui-widget-header { 
        background: transparent; 
        border: none; 
        border-bottom: 1px solid #c0c0c0; 
        -moz-border-radius: 0px; 
        -webkit-border-radius: 0px; 
        border-radius: 0px; 
    } 
    .tabs-min .ui-tabs-nav .ui-state-default { 
        background: transparent; 
        border: none; 
    } 
    .tabs-min .ui-tabs-nav .ui-state-active { 
        background: transparent url("{!URLFOR($Resource.Oblix_uiTabsArrow)}") no-repeat bottom center; 
        border: none; 
    } 
    .tabs-min .ui-tabs-nav .ui-state-default a { 
        color: #c0c0c0; 
    } 
    .tabs-min .ui-tabs-nav .ui-state-active a { 
        color: #459e00; 
    }
    .tabs-sub .ui-widget-header {
        background: transparent;
    }
    .ui-tabs.ui-tabs-vertical {
        padding: 0;
        width: 100%;
    }
    .ui-tabs.ui-tabs-vertical .ui-widget-header {
        border: none;
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
        float: left;
        width: 60%;
        border-radius: 4px 0 0 4px;
        border-right: 1px solid gray;
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
        clear: left;
        width: 100%;
        border: 1px solid gray;
        border-width: 1px 0 1px 1px;
        border-radius: 4px 0 0 4px;
        overflow: visible;
        word-wrap: break-word;
        word-break: normal;
        white-space: normal;
        position: relative;
        right: -2px;
        z-index: 2;
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
        display: block;
        padding: 0.6em 1em;      
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
        cursor: pointer;
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
        margin-bottom: 0.2em;
        padding-bottom: 0;
        border-right: 1px solid white;
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
        margin-bottom: 10px;
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-panel {
        float: left;
        border: 1px solid gray;
        border-radius: 0;
        position: relative;
        left: -1px;
        width: 33%;
    }
    .dateFormat {
        position: relative;
        top: 5px;
    }
    .Oblix_card_title{
        font-size: 14px;
        PADDING-bottom: 27px;
        background: #BDCEBF;
        margin-bottom: 3px;
        padding-top: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .Oblix_card_elmt{
        font-size:13px;
        margin-top:20px;
        border-bottom:1px solid black;
    }
    /* Override the Standard Salesforce CSS */
    .dateOnlyInput input {
        width: 7em;
    }
    
    .ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; z-index: 2000 !important;}
    .datePicker{
        position:absolute;  
        z-index:1000;
     }
     .removeBreak{
         word-wrap: break-word;word-break: normal;white-space: normal;
      }   