.THIS .f_tab{
    width:50%;
    float:left;
    text-align:center;
    font-size: 0.8rem;
}
.THIS .s_tab{
    width:50%;
    float:left;
    text-align:center;
    font-size: 0.8rem;
}
.THIS .f_tab_a:focus{
    border:0px;
    box-shadow:none;
}