.THIS .share_img{
    width: 23px;
    margin: 12px auto;
}
.THIS .chat_icon ul li {
    width: 33%;
    text-align:center;
}
.THIS .see_more{
    padding-left:12px;
    color: #007ec1;
    font-weight:400;
}
.THIS .chat_icon {
    border-top: 1px solid #e9eaea;
    width: 100%;
    margin-top:30px;
}
.THIS .img_icon_size{
    width:12px;
    height:12px;
}

.THIS .min-sec{
    width: 96%;
    background: #eef1f6;
    padding-bottom: 0.3rem;
    margin: -18px auto;
    margin-bottom: 7px;
    border-radius: 19px;
    
}
.THIS .min-table{
    background-color: transparent;
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
}

.THIS .min-table td{
    padding-top:5px;
    vertical-align: bottom;
}
.THIS .tdFont{
    color: #4F6A92;
    font-weight: 300;
    line-height: 1.25;
}

.THIS .outer_sec{
    /*padding-top:2px;*/
    height:100%;
    display:none;
    
}
.THIS .desc {
    padding: 4px;
    line-height: 1.25;
    margin-left: 1.5%;
    width: 100%;
    min-height: 3rem;
    height: auto;
}

.THIS .recent {
    line-height: 1.25;
    letter-spacing: .0625em;
    color: #4F6A92;
    margin-left: 12px;
    padding-top: 8px;
    
    font-size: 13px !important;
    
}

.THIS .td_img_icon{
    width:6%;
}
.THIS .section {
    background: white;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom:10px;
    padding-top: 1px;
}