.THIS {
}

.THIS .spinner-location{
    width: 10%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.THIS .spinner-img{
        content: url("/resource/Lightning_designing_style/assets/images/spinners/slds_spinner.gif");
    }

/*.THIS.container{
       font-family: "Salesforce Sans",Arial,sans-serif;
}*/