.THIS {
}

.THIS .spinner-location{
    width: 10%;
    position: fixed;
    top:45%;
    left: 45%;
    z-index: 10000;
}

.THIS .spinner-img{
        content: url("/resource/Lightning_designing_style/assets/images/spinners/slds_spinner.gif");
    }

/*.THIS.container{
       font-family: "Salesforce Sans",Arial,sans-serif;
}*/