.THIS.slds-card {
    margin: 10px;
}
.THIS .slds-card__header.slds-grid, .THIS.slds-card{
    background: #FFFFFF;
}
.THIS hr{
    margin: 0rem;
    border-top: 1px solid #cfd7E6;
}
.THIS .bottomPadding{
}
.THIS .topPadding{
    padding-top:10px;
}
.THIS .mediumFont{
    font-size:14px;
}
.THIS.slds-card {
    margin: 15px;
}

.THIS .camp-heading{
   font-weight: bold !important;
    font-size: 1.01rem;
}
.THIS .share-button{
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
}