.THIS.slds-card {
    margin: 10px;
}
.THIS .slds-card__header.slds-grid, .THIS.slds-card{
    background: #FFFFFF;
}
.THIS hr{
    margin: 0rem;
    border-top: 1px solid #cfd7E6;
}

.THIS .topPadding{
    padding-top:10px;
    padding-bottom:10px;
}
.THIS .mediumFont{
    font-size:14px;
}
.THIS.slds-card {
    margin: 15px;
}

.THIS .camp-heading{
   font-weight: bold !important;
    font-size: 1.01rem;
}
.THIS .share-button{
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    margin-right: -10px;
    margin-left: 12px;
}
.THIS .slds-dropdown--right {
    transform: translateX(-30px) !important;
}
@media screen and (min-width:768px){
    .THIS .slds-dropdown--right {
    transform: translateX(-62px)!important;
    right: auto !important;
}
}