.THIS .img-banner{
	max-width: 100%;
    max-height: 100%;
    min-height: 67px;
    margin: 0px 0px 8px 0px;
    text-align: left;
    position: relative;
    padding-left: 10px;
    font-weight: bold;
    background: url('../resource/AA_Agent_LightningAppStatic/images/AgentApp_BannerImage.svg') no-repeat;
    padding-top: 16px;
    font-size: 1.3rem;
    padding-left: 20px !important;
}

.THIS .show-more-rslt-btn{
    width: 100%;
    margin-top: 15px;
    font-size: 4.2vw;
    height: 2.5rem;
}

.THIS .show-more-btn-div{
    margin: 10px;
}

.THIS .all-report-filter img{
    width: 30px;
}
.THIS .all-report-filter-other{
    text-align: right;
}
.THIS .all-report-filter-other > img{
    padding-left: 10px;
}
.THIS .report-detail{
	background-color: #fff;
    border: 5px solid #f0f0f0;
    margin: 0 10px;
    border: 1px solid #d8dde6;
    margin-bottom: 9px;
    padding: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px #9c9b9b;
}
.THIS .user-image{
    background:white;
}
.THIS .report-type-image{
    position: relative;
    width: 25px;
    top: 25px;
}
.THIS .place{
    /*font-size:1.2rem !important;*/
    color: #D1D1D4;
    background:white;
    padding:0 8px 8px 8px;
    /*border-bottom:1px solid #f0f0f0;*/
}
.THIS .caption{
    background:white;
    padding:8px;
}
.THIS .comment-num{
    text-align:right;
}
.THIS .profile-detail{
    margin-top: 2px;
}
.THIS .logo { position:absolute; left:0; top:0;width: 40px;}

/*toggleCss.css*/
.THIS .toggle {
    display: none;
}

.THIS .all-report-filter{
    left: 67px;
}

.THIS .sort-filter-filters{
    display: flex;
}

.THIS .sort-filter-cust .slds-dropdown{
    top: 24px;
}

.THIS .sort-bold{
    font-weight:bold;
}
.THIS .rest-body{
    margin-bottom: -7px;
}
.THIS #loading{display:none;text-align:center;width:3rem;margin:0 auto;}
 
.THIS .NoMore{
    margin: 0 auto;
    background: #fff;
    border: 1px solid #d8dde6;
    width: 94%;
    text-align: center;
    line-height:2rem;
}