.THIS  .slds-timeline__comment_li ::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgb(216, 221, 230);
    border-image: none;
    border-style: solid;
    border-width: 0 0 0 1px;
    bottom: 5px;
    content: "";
    display: block;
    left: 15px;
    position: absolute;
    top: 39px;
}