.THIS .inactiveFilterOption {
    font-weight: normal;  
    height: 45px;
    padding: 10px;
    border-bottom: 1px solid #D1D1D4;
    border-right: 1px solid #D1D1D4;
    border-left: 1px solid #D1D1D4;
}
.THIS .activeFilterOption {
    font-weight: bold;    
    height: 45px;
    padding: 10px;
    border-bottom: 1px solid #D1D1D4;
    border-right: 1px solid #D1D1D4;
    border-left: 1px solid #D1D1D4;
    background: url(/resource/NewsCenterIcons/Sort_Tick.svg) no-repeat;
    background-size: 15px;
    background-position: 96% 50%;
}
.THIS .filtePannel{ 
    font-size: 15px;
    color: #344A5F !important;
    background: #F5F6F7;     
}
.THIS .filterHeader{
    font-weight: normal; 
    font-size: 15px; 
    background: #0099FF;
    width:100%;
    height:50px;
    border-bottom: 1px solid #D1D1D4;
    color:white;
}
.THIS .leftAlign {
    padding-top: 10px;   
    padding-left: 10px; 
}
.THIS .rightAlign{
    float:right;
	padding-right:10px;    
    padding-top: 10px;
}
.THIS td.centerAlign{
    text-align:center;
    font-weight: bold; 
    font-size: 18px; 
    padding-top: 10px;
}
.THIS .applyButton{
    padding: 5px 20px;
    background: #2A94D6;
    color:#FFFFFF;
    border-radius: 5px;
}
.THIS .cancelButton{
    padding: 5px 20px;
    background: #2A94D6;
    color:#FFFFFF;
    border-radius: 5px;
}

.THIS .selectedSortAlign {  
    float: right;
    margin-right: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 2px 8px 4px 8px;
}
.THIS .selected_li {
    
}
.THIS.filter{
    height:100px;
}
.THIS.hide{
    display:none;
}