.THIS.bigBanner{
    padding: 10px;
}
.THIS .bigBannerSection{
    background-color: white;
    border: #D1D1D4 solid 1px; 
    width: 100%;
    padding:10px;
    
}
.THIS .topicStyle{
    margin-top: 10px;
    background: #008FCB;
    height: 20px;
    width: 60px;
    padding: 5px;
    font-size: xx-small;
    text-align:center;
    color:#FFFFFF;
}
.THIS .textSectionPadding{
    padding-bottom:8px;
    width: 100%;
}
.THIS .textSectionSmallPadding{
    padding-bottom:5px;
    width: 100%;
}
.THIS .BigImage{
    height:300px;
    min-width:100%;
    min-height:300px;
}
.THIS .button{
    padding: 0.2rem 0.5rem !important;
    font-size: 10px !important;
        height: 20px;
    line-height: 10px;
}