.filter-category {
    height: 200px;
}

.product-filter {
    justify-content: space-between;

    .slds-col--filter {

        & + .slds-col--filter {
            margin-left: 1%;
        }

        @media @to-desktop {
            min-width: 25%;
        }
    }
}

.tactic-tile,
.kpi-tile {
    max-height: 318px;
}

.tactic-tile .title {
    margin-bottom: @medium-space;
}

.kpi-tile .title {
    margin-bottom: 1em;
}

.tactic-tile .subtile {
    padding: 1em 1.5em 2em 1em;
    flex: 1 1;
}

.tactic-tile .subtile.funds {
    border-right: 2px solid #fff;
    padding-left: 0.5em;
}

.tactic-tile .subtile.payments {
    border-left: 2px solid #fff;
}

.funds-props {
    display: flex;
    justify-content: space-between;
    padding-bottom: @small-space;
    border-bottom: 1px solid @border-color;
}

.tactic-item {
    display: inline;
    line-height: 15px;
    width: 15%;
    margin-top: @small-space;

    & + .tactic-item {
        margin-left: 12px;
    }

    &.tactic-checkbox {
        width: auto;
        min-width: inherit;
        align-self: center;
        margin-top: @medium-space;
    }

    @media @to-desktop {
        min-width: 25%;
        & + .tactic-item {
            margin-left: 3%;
        }
    }

    label {
        font-size: 12px;
        color: @kashmir-blue;
        width: 100%;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        line-height: 14px;

    }

    span {
        font-size: 12px;
        color: @biscay;
    }
}

.funds-grid {
    max-height: 232px;
}

.funds-link {
    margin-left: 15px;
    font-size: 13px;
}

.kpi-tile {
    padding: 1em;
    flex-direction: column;
}

.kpi-tile table {
    width: 100%;
}

.kpi-tile thead tr {
    background: transparent !important;
}

.kpi-tile thead tr.header > td {
    font-weight: bold;
    text-align: right;
}

.kpi-tile tr:nth-child(odd) {
    background: @white;
}

.kpi-tile tbody td.mainTitle {
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.kpi-tile tbody td {
    text-align: end;
    padding-right: 0.5em;
    font-size: 0.7em;
}

.table-wrapper {
    position: relative;
}

.table--fixed-header {
    height: 390px;
    overflow: hidden;
    position: relative;
    padding-top: 35px;
    width: 100%;

    .slds-table--bordered {
        border-top: none;
    }

    section {
        height: 355px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar:window-inactive {
            opacity: 0;
        }
        &::-webkit-scrollbar-thumb {
            background: #e0e5ee;
            border-radius: 0.5rem;
            box-shadow: #a8b7c7 0 0 0 1px inset;
        }
        &::-webkit-scrollbar-track {
            background: #a8b7c7;
        }
    }

    table {
        border-spacing: 0;

        tr > th:first-child, tr > td:first-child {
            padding-left: 8px;
        }

        td, th {
            padding: 8px;
        }

        td {
            height: 50px;
            vertical-align: middle !important;
        }

        td.slds-is-selected,
        td.slds-is-selected:hover,
        th.slds-is-selected,
        th.slds-is-selected:hover {
            box-shadow: @science-blue 0 0 0 1px inset;
        }

        thead {

            tr:first-child {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                th {
                    height: 0;
                    line-height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    color: transparent;
                    border: none;
                    white-space: nowrap;

                    > div {
                        font-weight: 400;
                        position: absolute;
                        background: transparent;
                        color: @biscay;
                        padding: 9px 25px;
                        top: 0;
                        margin-left: -25px;
                        line-height: normal;
                        vertical-align: middle;
                    }
                }
            }
        }

        &:not(.slds-no-row-hover) tbody tr:hover > td,
        &:not(.slds-no-row-hover) tbody tr:hover > th {
            background-color: @main-background-color;
        }

        tbody tr.slds-is-selected > td,
        tbody tr.slds-is-selected > th,
        &:not(.slds-no-row-hover) tr.slds-is-selected:hover > td,
        &:not(.slds-no-row-hover) tr.slds-is-selected:hover > th {
            background-color: @state-active;
        }

        tbody tr:first-child td {
            border-top: 2px solid @border-color;
        }
    }
}
