.ui-uploadPopup {

    .ui-uploadPopup__attachmentInfo {
        background-color: @catskill-white;
        padding: 14px 20px;

        .ui-uploadPopup__attachmentIcon {
            padding-right: 12px;

            .slds-icon {
                height: 30px;
                width: 30px;
            }
        }

        .ui-uploadPopup__attachmentName {
            width: 100%;
        }
    }

    .ui-progressBar {
        background-color: @botticelli;

        .ui-progressMeter {
            background-color: @science-blue;
            display: block;
            height: 3px;
            width: 0;
            transition: width 300ms;
        }
    }
}
