@main-background-color: #f4f6f9;
@border-color: #d8dde6;

//White Color
@white: #FFF;

//Black Color
@black: #000;

//Neutral First Color (Catskill White)
@catskill-white: #eef1f6;

//Neutral Second Color (Botticelli)
@botticelli: #cfd7e6;

//Neutral Third Color (Casper)
@casper: #a7b8d1;

//Neutral Fourth Color (Kashmir Blue)
@kashmir-blue: #4f6a92;

@kashmir-blue-light: #889ebf;

//Primary First Color (Azure Radiance)
@azure-radiance: #0c8eff;

//Primary Second Color (Science Blue)
@science-blue: #0070d2;

//Primary Third Color (Endeavour)
@endeavour: #005fb2;

//Primary Fourth Color (Midnight Blue)
@midnight-blue: #00396b;

//Primary Fifth Color (Biscay)
@biscay: #16325c;

//Secondary First Color (Mauvelous)
@mauvelous: #ef7ead;

//Secondary Second Color (Emerald)
@emerald: #4bc076;

//Secondary Third Color (Chetwode Blue)
@chetwode-blue: #7f8de1;

//Secondary Fourth Color (Tan Hide)
@tan-hide: #f88962;

@up-color: #4bc076;
@down-color: #c0554b;

@slds-red-color: #c23934;

// color for active state background color
@state-active: #f0f8fc;

// color grey show in text
@text-color-grey: #737373;

// color label
@label-color: #54698d;

/* Spacing between components (according to application guidestyle)
    Large - 24px
    Medium - 12px
    Small - 6px
*/
@small-space: 6px;
@medium-space: 12px;
@large-space: 24px;

/* breakpoints */
@tablet:      	~"only screen and (max-width: 1023px)";
@desktop:       ~"only screen and (min-width: 1024px) and (max-width: 1279px)";
@from-desktop:  ~"only screen and (min-width: 1024px)";
@to-desktop:    ~"only screen and (max-width: 1279px)";
@desktop-xl:    ~"only screen and (min-width: 1280px)";
