.THIS .slds .slds-text-body--regular space_below{
    margin-top: 60px;
  font-size: 14px;
  line-height: 1.25;
  margin-left: 15px;
  font-weight: bold;
}
.THIS .act_space{
    margin-top:4rem;
}
.THIS .actionTitle {
    line-height: 1.25;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 1.4rem;
    padding-bottom: 20px;
}
.THIS .dashTitle {
    margin-left: 20px;
    font-weight: bold;
    margin-top: 67px;
    padding-top: 50px;
    text-transform: capitalize;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.THIS .dashboard{
    background:#EEF1F6;
    margin-top:-50px;
    }
.THIS .right_arrow{
    width:10px;
    height:10px;
    margin-left:180px;
    }

.THIS .badges_name :nth-child(1) {
    margin: -7px;
}
.THIS .badges_name :nth-child(2) {
    padding: 6px;
}
.THIS .badges_name :nth-child(4) {
    padding: 15px;
}

   


.THIS .badges_name{
    position: absolute;
    margin-top: 65px;
    margin-left: 5px;
    

}
 
.THIS .bigcirlce3.active {
    border-radius: 60%;
    background: green;
    width: 70px;
    height: 70px;
    position: absolute;
    margin-top: 35px;

}
        
.THIS img.user_badge {
 display: block;
 padding-left:20%;
}

.THIS  .main_badge_image_newbee_img_pos {
    margin-left:9%;   
    margin-bottom: -15px;
}
.THIS  .main_badge_image_bronze_img_pos {
    margin-left:27%; 
    margin-bottom: -15px;
}
.THIS  .main_badge_image_silver_img_pos {
    margin-left:45%; 
    margin-bottom: -15px;
}
.THIS  .main_badge_image_gold_img_pos {
    margin-left:66%; 
    margin-bottom: -15px;
}
.THIS  .main_badge_image{
    width: 85px;
    text-align: center;
        
 }
.THIS .progress_bar{
    text-align: center;
}
.THIS  img.user_badge-New {
    border-radius: 34px;
        width: 75%;
}    
.THIS .prg_image{
    width:90%;
   margin: 0 auto;
} 
.THIS .main_image_content{
    width: 100%;
  margin-right: 5%;
    
}       
.THIS ul li{list-style:none;}