.THIS .act_space{
    margin-top:4rem;
}
.THIS .actionTitle {
    line-height: 1.25;
    margin-left: 1rem;
    padding-top: 1rem;
    font-size: 20px;
    font-weight: 400;
}
.THIS .dashTitle {
    margin-left: 1.1rem;
    font-size: 15px;
    font-weight: 600;
    margin-top: 3.1rem;
    margin-bottom: -1rem;
    line-height: 5rem;
}

.THIS .dashboard{
    margin-top:-50px;
}
.THIS .progressbar{
    display: block;
    height: 16px;
    background: green;
    border-radius: 15px 0px 0px 15px;
    clear: both;
    width: 0%;
    margin-top:3px;
    max-width: 100%;
    position:absolute;
}
.THIS .currentpoints{
    position: absolute;
    right: 10px;
    top: 3px;
    color: white;
    text-align: center;
    font-size:11px;
}
.THIS .home_user_img{
    border-radius: 50px;
}
.THIS .point-1,.THIS .point-2,.THIS .point-3, .THIS .points-icon-1, .THIS .points-icon-2, .THIS .points-icon-3{
    float:left;   
}
.THIS .point-4{
    position: absolute;
    right: 0px;
}
.THIS .points-icon-4{
    float: right;
    margin-top: -68px;
    margin-right: -19px;    
}
.THIS .points-icon img{
    width:43px;
}
.THIS .points-icon{
    margin-left: -18px;
}
.THIS .Defaultprogressbar{
    background: #cec9c9;
    width: 100%;
    height: 16px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top:3px;
    Position:absolute;
}
.THIS .home_user_img{
    position: relative;
    min-width: 40px;    
}
.THIS .points{
    position: relative;
    top: -11%;
}
.THIS .new{
    width: 100%;
    position: relative; 
    text-align: right;
}
.THIS .new img{
    width:41px;
    min-width:41px;
}
.THIS .Profile_Pic_Pints{
    text-align: right;    
}
.THIS .box-dashboard{
    height: 193px;
    width: 101%;
    margin: 0 auto;
    padding: 4.5% 10%;
    background: white;
    width: 94%;
    margin-bottom: 20px;
}
.THIS .Main_Progress{
    position:Relative;
    width:100%;
}
.THIS .position{
    margin-left: -19px !important;
    min-height: 50px;
    min-width: 50px;
    padding-right: 4px;
    margin-left: 6%;
}