	.marginTop{margin-top:20px;}
	.inputField{margin-bottom:15px;}
	.inputField input, .inputField select{width:100%;height:30px;border-radius: 3px; border: 1px #a8a8a8 solid;}
	.input-group-addon{padding: 0;margin-top: -3px;width: 1px;background:none; border:none;color: #007dbb;font-size: 1.3em;}
	.fa-calendar:before{margin-left: -41px;}
	.middlePanel{background:#f9f9f9; border-top:1px #d7e1e0 solid; border-bottom:1px #d7e1e0 solid;margin-bottom: 10px;padding-top: 5px;}
	.fieldFont{font-size:1em; color:#555;}
	.fieldLabel{padding-top:5px; padding-bottom:5px; font-weight:bold;}
	.modal-backdrop.in {opacity: 0.7;}
	.date input{height:30px;border-radius: 4px;border: 1px #ddd solid;width:100%;}
	.input-group.date{width:100%;}
	.input-group .input-group-addon {position: absolute;top: 283px;right: 25px;} 
	.pull-right{float:right;}  
/*ipmButton Styles */
	.ipmButton.green{background:#81bf42 ;}
	.ipmButton.green:hover{background:#56843b ;}
	.addTask .ipmButtonGroup{margin-bottom: 8%;} 

/* lookup search icon*/
	.lookupInput a{margin-left: -9%;}
	 
	.phaseModal,.gatedocModal{width:48%;float:left;}
	.gatedocModal{margin-right:10px;}
	.messageTable td ul{padding-left:0 ;margin-top: -25px ;}
	.message .messageTable .messageCell{margin-top:-6px ;float:left;}
	.errorMsg{padding: 10px;background: #ffebec;border-radius: 3px;margin-top: 15px;}
	.error{border:1px solid #e03729 ;}
	.errorMsg:before{top: 73px;}
	.custErr:before{top: 78px;}
	.errorMsg:before,.custErr:before{left: 10%;position: absolute;width: 15px;-ms-transform: rotate(-45deg);transform: rotate(-45deg);border-top: 1px #ffebec solid;border-right: 1px #ffebec solid;background: #ffebec;content: " ";height: 15px;}
	.dateInput .dateInputBox{width:40%;}
	.input-group-addon{padding: 0;margin-top: -3px;width: 1px;background:none; border:none;color: #007dbb;font-size: 1.3em; left:66%; top:283px; position:absolute;}
	body{height:100%;}
	.EditTask .ipmButtonGroup{height:10%;margin-bottom:10px;}
	.EditTask{float:left;height:100%;overflow:auto;}
	.datePicker{margin-top: -170px;}
	.buttonmarRight{margin-right:15px;}
	.dateFormat {display:none;}
	
	.errSecMassage{
 color: #d74c3b;
  width: 100%;
  display: block;
  padding: 10px;
  background: #ffebec;
  border-radius: 3px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.errSecMassage:before {
  left: 10%;
  top: 154px;
  position: absolute;
  border-top: 1px #ffebec solid;
  border-right: 1px #ffebec solid;
  background: #ffebec;
  content: " ";
  height: 15px;
  width: 15px;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.todoName{height: 110px;width: 100%;resize: none;border-radius: 4px;}
.addTaskwzContainer{height: 450px;overflow: auto;}
a.icoButton.question{margin-top:2px;}

.errorM6, .errorM4, .errorM3, .errorM2, .errorS1 {
    background-color: #FFEBEC;
    border: 1px solid #E9C3BA;
}
.infoM3 .msgIcon, .infoMedium,.errorM3 .msgIcon, .errorMedium{display:none;}
.errorM3 .messageTable .messageText h4,.errorM3 .messageTable .messageText{color:#C73E36 ;font-weight:normal ;}
.errorM3 .messageText::before{content:url('../images/red_i_icon.png');position:absolute; left: 10px;}
.errorM3 .messageTable .messageText{margin-left:35px ;} 
.infoM3 .messageText::before{content:url('../images/success_icon.png');position:absolute; left: 10px;top: 5px;}
.infoM3 .messageTable .messageText{margin-left:35px ;} 
.infoM3 .messageTable .messageText h4{display:none;}
.message .errorM3{background-color: #FFEBEC ;}
.errorM6, .errorM4, .errorM3, .errorM2, .errorS1{background-color: #FFEBEC ;border:1px solid #E9C3BA ;}
.message{position: relative;  }
.messageTable ul li{color: #C73E36;}
.EditTask .message{margin:10px 0 ;width: 83%;}