.secUsersComments {color:#636363;}
.secUsersComments .listComments .row {margin-left: -5px;margin-right: -5px; margin-top:10px;}
.secUsersComments .listComments .rowList {border-bottom:1px solid #ddd; margin-bottom:10px; padding-bottom:10px;} 
.secUsersComments .listComments .cTime {font-size:0.9em;text-align:right;}
..secUsersComments .right,.secUsersComments .SecButtonSet,.secUsersComments .listComments .delete,.secUsersComments .listComments .cTime,.secUsersComments .secButtonSet  {text-align:right;}
.secUsersComments .listComments .secName {font-weight:bold;}
.secUsersComments .listComments .panel-group {margin-bottom:0;}
.secUsersComments .panel{-webkit-box-shadow:none; box-shadow: none;word-wrap:break-word;}
.secUsersComments textarea {width:100%; border: 1px solid #929292; padding:5px; margin:15px 0 10px; height:100px;}
.secUsersComments .btn {padding:.8em;}
.secUsersComments .SecButtonSet,.secUsersComments .SecButtonSet .icoButton  {display:inline-block;}
.secUsersComments .SecButtonSet {margin-top:7px; float:right;}
.secUsersComments .SecButtonSet .icoButton {width:30px; margin: 0 5px; height:30px;border:1px solid #1568b6;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.secUsersComments .col-xs-11{padding:0 0 0 5px;}
.secUsersComments .col-xs-1 {padding:0 5px 0 10px;}
.secUsersComments .col-xs-1 img {border: 1px solid #1568b6;}
.secUsersComments .secButtonSet {text-align:right;float: right;}
