.approverSearch{  width: 100%;  border: 1px solid #333;  border-radius: 4px;  height: 30px;  padding-left: 5px;padding-right:48px;}
.apprsearchContainer{margin:20px 0;}
.rounded {  border-radius: 50%;  width: 40px; height: 40px;}
.apprName{  color: #3B506F;  display: block;  font-weight: bold;  float: left;}
.appremail{  color: #015FB7;}
.table{background: #fff;  border: 1px solid #7fa19e ;  border-radius: 3px;  }
.srchImage {  cursor: pointer;  width: 18px;  position: relative;  right: 23px;  top: 6px;  height: 18px;}
.apprTableContainer{  margin: 10px;}
.buttonmarRight{  margin-right: 15px;}
.apprTableContainer label{margin-right:0 ;}
.apprTableContainer{overflow: auto;  width: 97% ;  height: 320px;}
.apprDisable{background:#F0F0F0;color:#AAA;padding:0.625em;margin-right:15px;font-weight:bold;font-size:16px;cursor:pointer;border-radius:5px;border:1px solid #CDCDCD;display: inline-block;  line-height: 1em;  position: relative;}
.apprButtonsContainer{margin-bottom:20px;}
.ipmButton.primary{  padding: 0.625em ;font-size:1em;  margin-right: 15px;}
.clear_input_div{float:left;width:40%;}
.apprSeperator{display: block;    margin-left: 10px;    float: left;}
.apprImgContainer{width:32px;height:32px;}
.srchRslt{color:#333333;font-weight:bold;margin-left:15px;}
.noApprList{margin-left:15px;}
.nozoomappr{width:40px ;height:40px ;}
input[type=text]::-ms-clear {display: none; width:0; height:0;}