.uniformbtnwidthbottom{width:60px;}
.uniformbtnwidthtop{width:130px;}
.searchinputclass{text-align:center;}
.srchImage{height:16px; cursor: pointer; padding-left: 5px; padding-right: 10px;}
.statusPadding{padding-left: 10px;}
.blockheightclass{height:240px;}
.statusplaceholderclass{width:11px;visibility: hidden;}
.ythreeiTOStyle{float: left; font-weight: bolder; font-size: 130%; color: green;}