.projectRiskLbl
 {
	background: #f2f8fc;
	color: #3b516d;
	font-size: 1em;
	font-weight: bold;
	padding:8px 0;
 }
 .width30P
 {
	width:30%;
 }
 .width15P
 {
	width:15%;
 }
 .width55P
 {
	width:55%;
 }
 table.tabletxtcenter>thead>tr>th>div.risktabhead>span
 {
	float:none;
 }
 table.tabletxtcenter>thead>tr>th>div.risktabhead
 {
	text-align:center;
 }
 
 table.tabletxtcenter>thead>tr
 {
	border-bottom: #9ab4b1 solid 1px;
 }
 .bgwhite
 {
	background: #FFF;
 }
 .bggray
 {
	background: #f2f8fc;
 }
 .risktabhead .noBold {
	 display:block;
 }
