.slide-bar label{font-weight:normal;font-family:Arial; position:relative;display:inline-block; color:#666; margin:20px 5px;text-align:center;vertical-align:top;cursor: pointer;}
.slide-bar label.active{font-weight:bold;color:#333;}
.slideBar2 label{width:18%;}
.labelWidth23{width:22% ;}
.slideBar3 label{width:20%;}
.panel-heading label {font-size: 0.8em;font-weight: normal;color: #00B389;}
.slideIcon{position: absolute;display: block;margin-top: -0.9%;font-size: 1em;color: #00B389;-webkit-transform: translate3d(0,0,0);border: 3px #ddd solid;border-radius: 50%;padding: 2px;}
@media screen and (min-width: 1300px) {slideIcon{margin-top:-0.6%;}}
.slide-bar{background-color: #EcEcEc;border-radius: 15px;height: 7px;margin: 0 auto;padding: 0;}
.item{background:white;}
.mainMenu .circle{height: 30px;line-height: 30px;width: 30px;background: #a9a9a9;border-radius: 50% ;color: #FFF;font-size: 14px;font-weight: 700;text-align: center;text-shadow: 1px 1px rgba(0, 0, 0, 0.2);z-index: 999;display:inline-block;}
.description{background-color:#F5F5F5;padding:10px;/*overflow-y:auto;*/height:35%;padding-left: 45px;}
.helpTextDiv{height:100%;}
.mainMenu, .subMenu{text-align: center;padding:10px;}
.mainMenu.active, .subMenu{background-color:#E5E5E5;}
.mainMenu.active .circle {background-color: #EE8A00;}
.mainMenu label, .subMenu label{text-transform: uppercase;font-weight:normal; font-size:11px;color:#a6a6a6;}
.mainMenu label{padding-top:15px;}
.mainMenu.active label, .subMenu .selected label{color:#333;font-weight: bold;} 
.carousel-control .fa-chevron-right{margin-right:0; color:#00B389; font-size:2em;}
.carousel-control .fa-chevron-left{margin-left:0; color:#00B389;font-size:2em;}
div.subMenu div:first-child {margin-left: 2%;}
.description img{width:70px ; height:70px ;min-width:0 ;}
.left {display: none;}
.mainMenuDiv{background-color:#F5F5F5;padding-bottom: 0 ;}
.subMenu label{padding-top: 5px; color:#666;padding-bottom: 2px;margin-bottom: 0;}
.egText{margin-bottom: 1%;background-color:#F5F5F5;padding:0;color:#a6a6a6;font-weight:bold;}
.mainMenuDiv, .subMenu{/*margin-left: -10px;margin-right: -10px;*/}
.row.coreParamContent{padding-top:0; margin-left:0; margin-right:0;}
.mainMenu.active{border-top:5px #00B389 solid;}
.mainMenuDiv .closeBtn{padding: 0 ;background:url(../images/ipmCoreParamClose.png) no-repeat;width: 3.2%;height: 45px;text-align: center;font-size:3.5em;color:#003229;cursor:pointer;line-height: 1;}
.carousel-control{position:fixed ; top:40% ; width:auto ;background:none ;height:40px ;text-shadow: none ;filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) ;}
.strategicIntentTable.table-bordered>tbody>tr>th {border: none;white-space: initial;padding: 7px;text-align: right;}
.strategicIntentTable.table-bordered>thead>tr>th {border: none;width: 10%;white-space: initial;padding: 4px;text-align:center;}
.strategicIntentTable.table-bordered{border: none;}
.strategicIntentTable.table-bordered>tbody>tr>td{text-align:center;}
.projectSpan select{width: 100%;height:30px;font-size: 1em;border: 1px solid rgba(0, 0, 0, 0.15);outline: none;color: rgba(0, 0, 0)}
.panel-heading.question{margin-top:1%;padding:0 ; padding-left: 0.2%;border-bottom:none ;}
.fieldLabel{width:100%;}
.panel-label{padding-top:5px;padding-bottom:5px;}
.panel-label label{margin-bottom: 0;font-weight: normal;color:#333;}
.panel-field-value{background-color: #f5f5f5;margin-bottom: 15px;padding: 5px;min-height: 35px;border: 1px #ddd solid;color:#666;}
.strategicIntentTable.table-bordered>thead>tr>th, .strategicIntentTable.table-bordered>tbody>tr>th{font-weight: normal;color: #666;font-size: 0.7em;}
.projectSpan .actionBtns{padding-right:0;}
.projectSpan .panel-heading.question{padding-left:0;}
.helpDesc{margin-bottom:15px;padding-left: 0;line-height: 1.5;color: #666;z-index: 15;}
.tableIndicator{margin-top:15px;}
.tableIndicator .box{height: 20px;width: 20px; float:left;}
.orange.box{background-color: #ed8c23;}
.yellow.box{background-color: #ffdc42;}
.red.box{background-color: #722257;}
.blue.box{background-color: #72c4e9;}
.Newblue.box{background-color: #004e94;}
.tableIndicator label{text-transform:uppercase; margin:2px 5px;font-weight:normal; color:#666;}
.tableTitle{font-weight:normal;color:#00B389;}
.original{color:#004e94;}
.operational{color:#722257;}
.GOperational{text-align:center;font-size:14px;position:relative;bottom:43px;}
.StrategicFont{font-weight:bold;text-align:left;}
.LegendIndicator{margin-top:10px;}
.LegendIndicator .box{height: 15px;width: 15px; float:left;}
.checkCircle{background: transparent;color: white;font-size: 1.5em;}
html, body, div.coreParamContent, .coreParamContent form{height:100%;}
div.coreParamContent .myCarousel{min-height:65%;}
.description .ipmFromAction{margin-bottom: 20px;margin-top: 20px;}
.successMsg{border: 1px #d6e9c6 solid;background-color: #dff0d8;color: #468847;padding: 7px 8px 4px 8px;display: inline-block;}
.modalBottom{margin-top:10px;bottom:5px;}
.modalBottom .successMsgDiv{margin-left:63%;} 
.successMsgDiv1{margin-left:45.5%;} 
.ipmTableDiv .taskListTable th:last-child { text-align: right;}
.sliderTrack input[type=radio]{display:none;}

.strategicIntentTable .red1 {background-color:#ed8c23;}
.strategicIntentTable .red2 {background-color:#ee9635;}
.strategicIntentTable .red3 {background-color:#ef9f48;}
.strategicIntentTable .red4 {background-color:#f1a859;}
.strategicIntentTable .green1 {background-color:#ffdc42;}
.strategicIntentTable .green2 {background-color:#fed82d;}
.strategicIntentTable .green3 {background-color:#fed51b;}
.strategicIntentTable .green4 {background-color:#ffd207;}
.strategicIntentTable .blue {background-color:#72c4e9;}
.strategicIntentTable.table-bordered .blgHeader{padding: 0 5px 0 0 ;}
.cpTextContainer{display: block;float: left;height: 100px;overflow: auto;margin: -10px 10px;z-index: 100;width: 100%;padding-top: 10px;}
.htSpace{z-index:1;}
.greyOut span,.greyOut::before{opacity:0.5;}

.SecButtonSet .icoButton.small-Info.info
     {
    height:16px;
    width: 16px;
    top: -14px;
	left: 0;
	position:absolute;
     }