.projectContainer{margin-top: 10px;float: left;  width: 100%;}
.leftSideBar ul.docFilter {padding:0; margin:0;clear:both; list-style:none;}
.leftSideBar ul.docFilter li > input[type=checkbox]{position:relative; margin-right:5px; top:2px;}
.leftSideBar .filterTitle{display: block;background: #F0F7DF;color: #3b516d;margin-bottom: 0;border-top: 1px solid #c0d3bf;border-bottom: 1px solid #c0d3bf;padding: 10px 7px;font-weight: bold;font-size: 1.087em;}

.expandTool span {display:inline-block;text-decoration:none; color:#0f81bb; cursor:pointer;text-align:right;}
.expandTool .expandAll{padding: 1px 10px 2px 0;border-right: 2px #ddd solid;}
.expandTool .collapseAll{margin-left:10px;}
.expandTool{margin-bottom: 10px;text-align:right;}
.leftSideBar .ipmButtonGroup{margin-bottom: 10px;border-top: 1px #ddd solid;padding: 10px 0 0;}

.docFilter .ipmCheckboxDiv{margin-left:0 ; margin-right:0 ;}
.docFilter .checkboxLabel, .docFilter .ipmCheckbox{float:left;}
.docFilter .ipmCheckbox {width:16px; height:16px; padding:0 ;}
.docFilter .ipmCheckbox label{top:0;}
.docFilter .ipmCheckboxDiv .checkboxLabel{padding:0 0 0 10px ;margin-top:-2px;color: #3b516d;font-size:1.003em;}

.projectContainer .pHead span.expico {display: inline-block; cursor:pointer; font-family: FontAwesome;width: 18px;height: 18px;text-align: center;font-weight: normal;line-height: 19px;background: #81bd42;position: relative;margin-right: 5px;font-size: 0.67em;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;color: #fff;}
.projectContainer .pHead {display:block;}
.projectContainer > .ipmAcrdnExpand {display:block;}        
.projectContainer > .pHead {color: #1797C0;font-weight: bold;display: block;}
.expico-square{display: inline-block; cursor:pointer; font-family: FontAwesome;width: 16px;height: 16px;text-align: center;font-weight: normal;line-height: 13px;background: #1797C0;position: relative;margin-right: 2px;font-size: 0.8em;color: #fff;border: 2px #007dbb solid;float:left;}
.leftSideBar .accordionFilters ul.docFilter.accordionFilters{padding-left:0 ;}

 /* Geography Filter styles */
         .checkboxLabeltree .fClusterCname{}
         .gfirstLevel .accrHead{border-bottom:0 ;min-height: 30px; }
         .gfirstLevel .ipmCheckboxDiv{float: left;  width: 85%;}
         .gfirstLevel .checkboxLabeltree{float: left;  width: 72%;  margin-left: 10px;}
         .geographyFilters li{float:left;width:100%;}
		 .gsecondLevel .ipmCheckboxDiv{float: left;  width: 75%;}
		 .gsecondLevel .checkboxLabeltree{float: left;  width: 63%;  margin-left: 10px;}
		 .gfirstLevel .accordionFilters{border-top:1px solid #c0d3bf;}
		 .gsecondLevel .accordionFilters{margin-left:7px ;}
		 .gthirdLevel .checkboxLabeltree{float: left;  width: 45%;  margin-left: 10px;}