	.htmlDetailElementTable img {width: 100%;max-width: 100%;max-height: 76px; border-radius: 50% ;} 
	.uploadImg img {border-radius: 50% ;}
	.ipmProjectDetails {border-top:1px solid #4a5b8f; border-bottom:1px solid #34416b;}
	.ipmProjectDetails .panel {background:transparent;}
	.ipmProjectDetails .uploadImg {height:77px;overflow:hidden;}
	.ipmProjectDetails .panel-body {padding:10px 15px;}
	.ipmProjectDetails .panel-body .col-sm-3 {padding-left:3px;margin-top: 18px;}
	.pageHeadToolbar { border-bottom:1px solid #ddd; margin:0 15px; }       
	.pageHeadToolbar h2.pageTitle {margin:20px 7px 20px 0;display:inline-block; font-size:1.7em;color:#253b78; font-weight:bold;padding-right: 10px;border-right: 1px solid #929292;}
	.pageHeadToolbar .SecFillProgress {display:inline-block; }
	.pageHeadToolbar .SecFillProgress .fillProgress {display:inline-block;color:#e98824;font-size:22px; font-weight:normal;}
	.pageHeadToolbar .SecFillProgress .fillProgress span {font-size:12px;}
	.pageHeadToolbar .SecFillProgress .fillProgressTxt {color:#364354;display:inline-block; font-size:12px;}
	.pageHeadToolbar .SecStatusUpdate {display:inline-block;margin:15px 0; padding-right:15px;border-right: 1px solid #929292;}        
	.pageHeadToolbar .SecCurrentStatus {display:inline-block; color:#364354; margin: 15px;text-align:right;}
	.pageHeadToolbar .status {color:#e98824;display:block;font-weight:bold;}
	.icoButton {cursor:pointer;}
	
	.leftSideBar {margin-top:10px;}
	.leftSideBar h4 {color:#253b78; font-size:1.1em; font-weight:bold;}
	.leftSideBar ul.docFilter {padding:0; margin:20px 0 0; list-style:none;}
	.leftSideBar ul.docFilter li {margin-left:0; display:block; background:#edeef0; color:#253b78; border-bottom:1px solid #d7e0e0; padding:7px;}
	.leftSideBar ul.docFilter li > input[type=checkbox]{position:relative; margin-right:5px; top:2px;}
	.leftSideBar ul.docFilter h4 {display:block; background:#edeef0; color:#253b78; margin-bottom:0; border-bottom:1px solid #d7e0e0; border-top:1px solid #d7e0e0; padding:10px 7px;}
	.tempWrapper .expandTool {text-align:right;margin-top:10px;}
	.tempWrapper .expandTool span {display:inline-block; margin:5px; font-weight:bold; color:#0f81bb; cursor:pointer; }
	.contenWrapper { margin-top:10px;padding:0 15px 0 15px;}
	/* Generic Accordian Styles */
	.ipmAccordian {display:block;}
	.ipmAccordian .aHead {display:block;}
	.ipmAccordian > .ipmAcrdnExpand {border:1px solid #dce3e2; display:block; border-top:none; margin-bottom:10px;width:100%;float:left;}        
	.ipmAccordian > .aHead {color:#253b78; font-size:1.5em; font-weight:bold; display:block;background:#f7f7f7;border:1px solid #dce3e2; margin:0; padding:13px 10px 14px;width:100%;float:left;}
	.ipmAccordian > .ipmAcrdnExpand .aHead {color:#555555; font-size:1.2em; font-style:normal; font-weight:normal; display:block; margin:0 5px; padding:12px 0;}
	 .ipmAccordian > .ipmAcrdnExpand > .ipmAcrdnExpand .aHead {font-size:1em;font-style:normal;font-weight:normal;color:#0f7fb8; display:block; padding: 12px 0 15px; margin:0 0 0 5px;}
	.ipmAccordian > .ipmAcrdnExpand > .subSecDiv{border-bottom:1px solid #eee;margin: 0 10px;padding: 0;width:97%;}
	.ipmAccordian .ipmAcrdnExpand .ipmAcrdnExpand {padding:20px;display:block;}
	.ipmAccordian .ipmAcrdnExpand .ipmAcrdnExpand .col-sm-3 {padding-right:0; position:relative; right:-5px;}
	.ipmAccordian .ipmAcrdnExpand .ipmAcrdnExpand .ipmAcrdnExpand {padding:20px;display:block;}
	.ipmAccordian .ipmAcrdnExpand {color:#797979;display:block;}
	.ipmAccordian > .aHead span.expico {display: inline-block; cursor:pointer; font-family: FontAwesome;width: 21px;height: 21px;text-align: center;font-weight: normal;line-height: 23px;background: #81bd42;position: relative;margin-right: 5px;
	font-size: 0.8em;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;color: #fff;}
	.ipmAccordian span.wrpHead {display: inline-block;padding: 5px 10px 5px 0;border-right: 1px solid #797979;}
	.ipmAccordian span.filledIn {display: inline-block;padding: 5px 10px; color:#e68627; font-weight:normal; }
	.ipmAccordian span.Excluded {display: inline-block;padding: 5px 10px; margin-left:5px; color:#797979; background:#ebebeb; font-size:0.9em; font-weight:normal; }
	.ipmAccordian span.lastupdate {display:block; margin: 6px 0 0 0; color:#d4d4d4; font-weight:normal; }        
	.ipmAccordian .acHead {padding-top:4px;}
	
	.ipmAccordian .SecButtonSet {display:inline-block; text-align:right; margin-top:7px;}
	.ipmAccordian .SecButtonSet .icoButton {display:inline-block;width:30px; margin: 0 5px; height:30px;border:1px solid #1568b6;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
	.ipmAccordian .checkBox{margin: 15px 0;padding: 0;width: 3%;}
	 
	.ipmProjectDetails .SecButtonSet {display:inline-block; text-align:right; position:relative; top:7px;}
	.ipmProjectDetails .SecButtonSet .icoButton {display:inline-block;width:30px; margin: 0 5px; height:30px;border:1px solid #fff;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
   
	.ipmProjectDetails {  
		background: rgb(119,148,212); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3OTRkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYlIiBzdG9wLWNvbG9yPSIjNTA2OGE2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjMjczZTdkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3M2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(left,  rgba(119,148,212,1) 0%, rgba(80,104,166,1) 6%, rgba(39,62,125,1) 12%, rgba(39,62,125,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(119,148,212,1)), color-stop(6%,rgba(80,104,166,1)), color-stop(12%,rgba(39,62,125,1)), color-stop(100%,rgba(39,62,125,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(119,148,212,1) 0%,rgba(80,104,166,1) 6%,rgba(39,62,125,1) 12%,rgba(39,62,125,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(119,148,212,1) 0%,rgba(80,104,166,1) 6%,rgba(39,62,125,1) 12%,rgba(39,62,125,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(119,148,212,1) 0%,rgba(80,104,166,1) 6%,rgba(39,62,125,1) 12%,rgba(39,62,125,1) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(119,148,212,1) 0%,rgba(80,104,166,1) 6%,rgba(39,62,125,1) 12%,rgba(39,62,125,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7794d4', endColorstr='#273e7d',GradientType=1 ); /* IE6-8 */        
	}
	.marginTop.ipmButtonGroup {margin:15px 0; text-align:right;}
	
/* ipmModal Styles */
	.ipmModal .modal-header{background:#eaeaea ;padding:17.5px 10px 17.5px 17.5px; border-bottom:1px #d7d7d7 solid;border-radius:3px;-webkit-border-radius:3px;}
	.ipmModal .modal-title{color:#253b78;font-weight:bold;font-size:1em;}
	.ipmModal .modal-header button.close{border: 1px #007dbb solid;border-radius: 50%;padding: 3px 5px;color: #007dbb;width: 30px; background: #fff; margin-top:-8px;opacity: 1;}
	.ipmModal .modal-content{border-radius:3px;height:100%;}
	.ipmModal .modal-body{height:90%;}
	.ipmModal .modal-dialog{margin:15px auto;}
	.ipmModal .tempWrapper > .row{ margin-left:0; margin-right:0;}
	
	.ipmAcrdnExpand .subSecDiv:last-child{border-bottom:0;}
	.panel{border:0;}
	.SecButtonSet .icoButton.marginT5{margin-top:5px;}