	.addMilestoneList>tbody>tr.selected{background:#E5F2F8;}
	.addMilestoneList>tbody>tr.selected td {border-bottom: 1px #007DBB solid;}
	.marginTop{margin-top:20px;}
	.ipmButtonGroup{margin-bottom:20px;}
	.inputField{margin-bottom:15px;}
	.inputField input, .inputField select,input[type=text]{height:30px;-webkit-border-radius: 3px;border-radius: 3px;border: 1px #a8a8a8 solid;}
	.middlePanel{background:#f9f9f9; border-top:1px #d7e1e0 solid; border-bottom:1px #d7e1e0 solid;margin-bottom: 10px;padding-top: 5px;}
	.fieldFont{font-size:1em; color:#555;}
	.fieldLabel{padding-top:5px; padding-bottom:5px; font-weight:bold;}
	.modal-backdrop.in {opacity: 0.7;}
	.date input{height:30px;border-radius: 4px;border: 1px #ddd solid;}
	.date input,.input-group.date,.inputField input, .inputField select,.ipmAddMilestoneTab .ipmTabContent,input[type=text]{width:100%;}            
/*ipmButton Styles */
	.ipmButton.green{background:#81bf42 ;}
	.ipmButton.green:hover{background:#56843b ;}
	.addTask .ipmButtonGroup{margin-bottom: 8%;} 
	.addMilestoneList>thead>tr>th:first-child >div{height:34px;}
	 .pull-right{float:right;}
/* lookup search icon*/
	.lookupInput a{margin-left: -9%;}
	[id$=mlktp], .date .dateInput .dateFormat{display:none;}
	.input-group-addon{padding: 0;margin-top: -3px;width: 1px;background:none; border:none;color: #007dbb;font-size: 1.3em; left:66%; position:absolute;}
	 
	.messageTable td ul li{margin-left:0 ;}
	.messageTable td ul{padding-left:0 ;margin-top: -25px ;}
	.message .messageTable .messageCell{margin-top:-6px ;float:left;}
	.errorMsg{padding: 10px;background: #ffebec;border-radius: 3px;margin-top: 15px;}
	.error{border:1px solid #e03729 ;}
	.errorMsg:before{left: 5%;top: 73px;position: absolute;border-top: 1px #ffebec solid;border-right: 1px #ffebec solid;background: #ffebec;content: " ";height: 15px;width: 15px;-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
       
/* tab nav styles*/      
	.ipmAddMilestoneTab{margin-top:20px;}
	.ipmAddMilestoneTab .ipmMilestoneTabs li {top: 8px;width: 180px;position: relative;padding: 14px;background-repeat: no-repeat ;text-align: center;margin-right: 0.5%;display: inline-block;color: #fff;margin-left: 0 ;font-weight: bold;cursor: pointer;}
	.tabEven{background-position: -188px -247px ;}
	.tabEven:hover{background-position: -188px -298px ;}
	.tabOdd{  background-position: -5px -247px ;}
	.tabOdd:hover{  background-position: -5px -298px ;}
	.tabOdd.active:hover{background: url('../images/tab_white_right.svg') ;  height: 40px;  background-size: 100% ;}
	.tabEven.active:hover{background: url('../images/tab_white_left.svg') ;  height: 40px;  background-size: 100% ;}
	.ipmAddMilestoneTab .ipmMilestoneTabs {padding: 0 0 0 20px;border-bottom:1px solid #7ea19d;margin-bottom:20px;}
	.ipmAddMilestoneTab .ipmMilestoneTabs li.active {color: #343434;position: relative;cursor: pointer;top:9px;}
	.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{padding:10px 5px;}
	.addMilestoneList .input-group-addon{left: 97%;margin-top:6px;}
	.addMilestoneDueDate .input-group-addon{top:43px;}
    .dateInputBox.dateInputBoxAdd{background-position-x: 99%;width: 40%;}
	
	.errorM3 .messageTable .messageText h4,.errorM3 .messageTable .messageText{color:#E13726 ;font-weight:normal ;}
	.errorM3 .messageText::before{content:url('../images/red_i_icon.png');position:absolute; left: 30px;}
	.errorM3 .messageTable .messageText{margin-left:35px ;}
	.errorM3{background:#FFEBEC ;border:1px solid #F3BEB6 ;  margin-bottom: 20px;}
	.errorM3 .msgIcon, .errorMedium{display:none;}
	.errorM3 ul li{color:#E13726 ;font-weight:normal ;}
	.errorM3 ul{margin-left: 25px ;}
	.buttonMarginRight{margin-right:15px;}
	.dateFormat {display:none;}
	.datePicker{margin-left:-75px;}
	select.fieldFont {width: 40%;}
	.datePicker.customDatepicker{margin-left:0;}