/************** CSS HEADER INFORMATION******************************************************
	- File Name     : IPM_CreateBet
	- Description   : This file is used in the Create BET modal window 
	- Client        : Unilever
	- Last Modified : 21-12-15
	- Author        : Cognizant Technology Solutions  
*******************************************************************************************/

	td.noSidebarCell .createNewBrandExp > div {
		padding: 15px;
	}

	td.noSidebarCell .createNewBrandExp div.form-item {
		padding-top: 20px;
	}

	td.noSidebarCell .createNewBrandExp div.form-item:first-child {
		padding-top: 0;
	}

	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(1) div:nth-child(2) input[type=text],
	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(2) div:nth-child(2) select,
	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(2) div:nth-child(2) span input[type=text],
	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(7) div:nth-child(2) select,
	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(9) div:nth-child(2) textarea {
		border: 1px #a8a8a8 solid;
		border-radius: 3px;
	}

	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(1) div:nth-child(2) input[type=text] {
		width: 300px;
		padding: 4px;
	}

	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(2) div:nth-child(2) select {
		width: 80px;
		padding: 5px;
	}

	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(2) div:nth-child(2) span input[type=text] {
		width: 216px;
		margin-left: 5px;
		padding: 4px;
	}

	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(7) div:nth-child(2) select {
		width: 300px;
		padding: 4px;
	}

	td.noSidebarCell .createNewBrandExp div.form-item:nth-child(9) div:nth-child(2) textarea {
		width: 100%;
		padding: 4px;
	}

	td.noSidebarCell .createNewBrandExp div.betActionButtons {
		float: right;
	}

	td.noSidebarCell .createNewBrandExp .btn-cancel,
	td.noSidebarCell .createNewBrandExp .btn-create-bet {
		cursor: pointer;
		display: inline-block;
		min-height: 1em;
		outline: none;
		background: #fff;
		border: 1px solid #8ab3da;
		color: #0f81bb;
		font-size: 16px;
		line-height: 1;
		font-family: Arial;
		font-weight: 700;
		font-style: normal;
		text-align: center;
		vertical-align: middle;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		padding: .625em .625em .55em;
	}

	td.noSidebarCell .createNewBrandExp .btn-cancel:hover {
		background: #dbefff;
	}

	td.noSidebarCell .createNewBrandExp .btn-create-bet {
		background: #81bf42;
		color: #fff;
		border: 1px solid #406b14;
		font-size: 16px;
		margin-left: 10px;
	}

	td.noSidebarCell .createNewBrandExp .btn-create-bet:hover {
		background: #56843b;
		color: #fff;
		border: 1px solid #406b14;
	}

	td.noSidebarCell .createNewBrandExp .ipmStartedTabs {
		border-bottom: #ccc solid 1px;
	}

	td.noSidebarCell .createNewBrandExp .ipmGetStartedTab .ipmStartedTabs li.active {
		top: 3px;
	}

	td.noSidebarCell .createNewBrandExp .ipmGetStartedTab .ipmStartedTabs li {
		top: 2px;
	}
	.hideOwner select{
        visibility: hidden ;
        display: block ;
        height: 0;
    }
	
