	.ipmTimeLine {border:1px solid #ddd; margin-top:20px; position:relative;}	
	.ipmTimeLine .statusProgress {position: absolute;top: 245px;right: 30px;}
	.ipmTimeLine  .statusProgress span {display:inline-block;}
	.ipmTimeLine  .statusProgress .sImg {height: 9px; width: 20px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 0 5px 0 7px;}
	.ipmTimeLine  .statusProgress .sImg.completed {background:#81bd42;}
	.ipmTimeLine  .statusProgress .sImg.open {background:#f0973e;}
	.ipmTimeLine  .statusProgress .sImg.upcoming {border:1px solid #1568b6;}
	
	.ipmTimeLine .next {position: absolute;font-size: 4em;right: 12px; top: 37.5%; cursor:pointer;}
	.ipmTimeLine .pre {position: absolute;font-size: 4em; top: 37.5%; left: 12px; cursor:pointer;}
	.ipmTimeLine .cInner {position: relative;margin: 20px 50px;overflow: hidden; height: 230px;}	
    .ipmTimeLine .taskProgress {height:5px; border-bottom:1px solid #1568b6; border-top:1px solid #1568b6; padding: 0; position:absolute; margin-top:100px;}
    .ipmTimeLine .taskProgress li {display:block; float:left; width:250px; height:95px; position:relative; margin-left: 0; border-right:1px solid #1568b6;}
    .ipmTimeLine .taskProgress li:nth-child(even){ top: 4px;}
    .ipmTimeLine .taskProgress li:nth-child(odd){ top: -96px;}
    .ipmTimeLine .taskProgress li .leftPanel {padding-right:30px; text-align:right;}
    .ipmTimeLine .taskProgress li .rightPanel {position:absolute; width:40px; height:40px; background:#fff; top:0; right:-20px; border:3px solid #fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
    .ipmTimeLine .taskProgress li .leftPanel .phase {margin-bottom:3px; font-size:1em;}
    .ipmTimeLine .taskProgress li .leftPanel .milestones {margin-bottom:5px; font-size:15px; font-weight:bold; }
    .ipmTimeLine .taskProgress li .leftPanel .dueDate, .ipmTimeLine .taskProgress li .leftPanel .comDate {font-size:1em;color:#ababab; }
    
    .ipmTimeLine .taskProgress li:nth-child(even) .leftPanel {padding-top:15px;}
    /*.ipmTimeLine .taskProgress li.upcoming:nth-child(even) .leftPanel {padding-top:35px;}*/
    .ipmTimeLine .taskProgress li:nth-child(even) .rightPanel {top:65px;}
    .ipmTimeLine .taskProgress li:nth-child(odd).completedTasks:before {content:""; display:blcok; position:absolute; top:95px; height:5px; background:#81bd42; width:250px;}
    .ipmTimeLine .taskProgress li:nth-child(even).completedTasks:before {content:""; display:blcok; position:absolute; top:-5px; height:5px; background:#81bd42; width:250px;}
    .ipmTimeLine .taskProgress li:nth-child(odd).openTasks:before {content:""; display:blcok; position:absolute; top:95px; height:5px; background:#f0973e; width:250px;}
    .ipmTimeLine .taskProgress li:nth-child(even).openTasks:before {content:""; display:blcok; position:absolute; top:-5px; height:5px; background:#f0973e; width:250px;}
    .ipmTimeLine .taskProgress li.completedTasks .rightPanel { background-color:#81bd42;}
    .ipmTimeLine .taskProgress li.openTasks .rightPanel { background-color:#f0973e;}
    .ipmTimeLine .taskProgress li.upcoming:nth-child(even) .rightPanel { background-color:#fff; border:1px solid #1568b6; width:39px; height:39px; box-shadow:2px -3px #fff; -moz-box-shadow:2px -3px #fff; -webkit-box-shadow:2px -3px #fff;}
    .ipmTimeLine .taskProgress li.upcoming:nth-child(odd) .rightPanel { background-color:#fff; border:1px solid #1568b6; width:39px; height:39px; box-shadow:2px 3px #fff; -moz-box-shadow:2px 3px #fff; -webkit-box-shadow:2px 3px #fff;}
    
    .ipmTimeLine .taskProgress .Ideas .rightPanel {background:url('../images/ico-idea-t.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .upcoming.Ideas .rightPanel {background:url('../images/ico-idea-tw.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .Feasibility .rightPanel {background:url('../images/ico-feasibility-t.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .upcoming.Feasibility .rightPanel {background:url('../images/ico-feasibility-tw.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .Capability .rightPanel {background:url('../images/ico-capability-t.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .upcoming.Capability .rightPanel {background:url('../images/ico-capability-tw.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .Ready .rightPanel {background:url('../images/ico-market-ready-t.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .upcoming.Ready .rightPanel {background:url('../images/ico-market-ready-tw.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .Deployment .rightPanel {background:url('../images/ico-market-deployment-t.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .upcoming.Deployment .rightPanel {background:url('../images/ico-market-deployment-tw.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .ple .rightPanel {background:url('../images/icon_PLE.svg') no-repeat 50% 50%;}
    .ipmTimeLine .taskProgress .upcoming.ple .rightPanel {background:url('../images/icon_PLE.svg') no-repeat 50% 50%;}
	.showInfo{display:block;}
	.hideInfo{display:none;}