.ipmContent{margin-top:10px;}
.ipmRadioButton input[type=radio]{visibility: hidden;width: 0;height: 0;}
.ipmRadioButton label{position: relative;margin-right:66px;text-indent:30px;font-weight:normal;color:#555;float:left;cursor:pointer;width:22px;height:22px;border:1px solid #ccc;border-radius:20px;overflow:visible; white-space: nowrap;}
.ipmRadioButton label:after{opacity: 0;content: '';position: absolute;width: 6px;height: 6px;background: #007DBD;top: 50%;left: 50%; margin-top:-3px; margin-left:-3px; border: 1px solid #007DBD;border-radius: 40px;}
.ipmRadioButton input[type=radio]:checked + label:after{opacity:1;}
.ipmRadioButton input[type=radio]:checked + label{border:2px solid #007DBD;}
.ipmRadioButton label.selected{border:2px solid #007dbb;}
.ipmRadioButton {width: 20%;margin-right:20px;margin-top: 0;float: left;margin-bottom: 20px;}
/* Page level Message Styles (Error, Alert, info)*/
.pagemessageBox {color: #0f81bb;background: #dbefff;margin-top: -20px;border: 1px solid #007DBB;position: relative;border-radius: 3px;padding: 8px;}
.pagemessageBoxDiv .SecButtonSet {text-align: left ;}
.smallinfo {width: 20px ;height: 20px ;float: left;margin: 5px 5px ;border: 2px solid #1568b6 ;}
.listmsgTxt {line-height: 30px;color: #3b516d;font-weight: normal;}
.alertBox {margin-top: 0; margin-bottom: 15px;margin-left: 0;margin-right: 0;position: relative;background: #ffef47;border-radius: 4px;}
.alertsIcon {width: 4.5%;}
.alertimg {width: 30px;position: relative;}

/*select{padding: 5px 25px 5px 5px ;line-height: 1; background:url(../images/dropdown_arrow.svg) no-repeat 97%; -webkit-appearance: none;}*/
input[type=text]::-ms-clear {display: none; width:0; height:0;} 
.ipmRadioButton label:hover{background:#e5f8ff;}
.ipmCheckbox label:hover{background:#e5f8ff;}