/* header new styles */
    .ipmFunnelPanel {bottom: 4px;}
    .noPadright{padding-right:0 ;} 
    .navbar-nav li:last-child > a > span{margin-top:0 ;}   
    .ipmHeading{padding:0 0 5px ;}
    .teamHeading{border-bottom:1px solid #7EA19D;padding-bottom:10px;}
    .pageTitlefont{font-size:1.7em;}
    .modal-content {overflow: auto;}
    .panel{box-shadow:none;}
   .table-bordered .graphNoborder{border-left:0 solid #fff ;border-bottom:0 solid #fff ;background:#fff;}
   .helpIco  {margin:10px 10px 0 0;}
/* Bosscard Content styles */     
    .bosscardMtop{margin-top:20px;}
    .bsFieldLabel{color:#565656;font-weight:bold;}
    .mandatorycolor{color:#CF1721;}
    .inputField{margin-bottom:10px;}
    .descTop{margin-top:10px;}
    .inputField input,.inputField select{width: 100%;height: 30px;border-radius: 3px;border: 1px #a8a8a8 solid;color:#565656;}
    .inputField textarea{width: 100%;height: 70px;border-radius: 3px;border: 1px #a8a8a8 solid;color:#565656;}    
    .fieldnote{margin-bottom: 20px;color:#555;padding-top:10px;font-style:italic;font-size: 0.85em;display:block;}
    .bosscardmright{margin-right:10px;}
    .expandTool span {display:inline-block; font-weight:bold; color:#0f81bb; cursor:pointer; }
    .bcInstruction{font-weight:bold;color:#3B4F6A;}
    .txtAlignright,.expandTool {text-align:right;}
    .periodDetails{display:block;font-weight:bold;color:#344454;float:right;position: relative;bottom: 32px;left: 20px;}
    .characterlimit{display: block;text-align: right;}
     
/* Error message styles */
    .ErrMsg{color:#d74c3b;width:55%;display:block;padding: 10px;background: #ffebec;border-radius: 3px;margin-top: 15px;}
    .ErrMsg:before{left: 3%;top: 63px;position: absolute;border-top: 1px #ffebec solid;border-right: 1px #ffebec solid;background: #ffebec;content: " ";height: 15px;width: 15px;-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
    .TldErrMsg{color:#d74c3b;width:100%;display:block;padding: 10px;background: #ffebec;border-radius: 3px;margin-top: 15px;}
    .TldErrMsg:before{left: 12%;top: 70%;position: absolute;border-top: 1px #ffebec solid;border-right: 1px #ffebec solid;background: #ffebec;content: " ";height: 15px;width: 15px;-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
    .projDescErrMsg{color:#d74c3b;width:55%;display:block;padding: 10px;background: #ffebec;border-radius: 3px;margin-top: 15px;}
    .projDescErrMsg:before{left: 3%;top: 47%;position: absolute;border-top: 1px #ffebec solid;border-right: 1px #ffebec solid;background: #ffebec;content: " ";height: 15px;width: 15px;-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
          
/* Radio button styles */
    .selectradioButton input[type=radio]{visibility: hidden;width: 0;height: 0;}
	.selectradioButton label{position: absolute;margin-right:66px;text-indent:30px;font-weight:normal;color:#555;float:left;cursor:pointer;width:22px;height:22px;border:1px solid #ccc;border-radius:20px;overflow:visible; white-space: nowrap;}
	.selectradioButton label:after{opacity: 0;content: '';position: absolute;width: 6px;height: 6px;background: #007DBD;top: 50%;left: 50%; margin-top:-3px; margin-left:-3px; border: 1px solid #007DBD;border-radius: 40px;}
	.selectradioButton input[type=radio]:checked + label:after{opacity:1;}
	.selectradioButton input[type=radio]:checked + label{border:2px solid #007DBD;}
	.selectradioButton label.selected{border:2px solid #007dbb;}
	.selectradioButton{width: 10%;margin-right:20px;margin-top: 0;float: left;}
	.raLabel{padding-left:30px;color: #565656;}
	.incWidth{width:25%;}
	.radioButton{margin-bottom:10px;}
	
/* checkbox styles */
	.ipmCheckbox{width:100%;}
	.ipmCheckbox label{top:1px ;left:10px;}
	.yellowBox{margin-top: 10px;background: #fff15a;padding: 8px;border-radius: 3px;}
        
/* Core Parameters styles */
	.coreParam{font-style:italic;display: block;}
	.questionNavigation{margin:20px 0 0;height:70px;padding:5px 0;border-top:1px solid #c3cad4;border-bottom:1px solid #c3cad4;}
	.questNumber{width:6%;border-right:1px solid #929292;text-align: center;}
	.singleNumber{display: block;text-align: center;font-size: 2em;color: #027eba;}
	.coreTitle{display: block;line-height: 60px;font-weight:bold;color: #027eba;font-size: 1.2em;}
	.noBoxshadow .panel{box-shadow:none ;margin-bottom: 0 ;}
	.legendContainer{float:right;width:293px;}
	.additionalParamTop .radioButton{margin-bottom:0 ;}
            
/*legend styles */
        
	.legendDesc{ text-align: right;	display: block;	color: #656565;	font-size: 1em;	margin-top: 5px;}
	.greenBg,.blueBg{height: 6px;width: 22px;float: left;border-radius: 10px;}
	.greenBg{background: #81bf42;}
	.blueBg{background: #005EB8;}
	.legText{display: block;float: left;margin-left: 10px;margin-top: -5px;}
	.graphLegend {float: left;}
	.tableIndicator .box.cust-Inputs {border-radius: 6px;width: 32px ;height: 8px ;margin-top: 8px;}
	.skipButtoncontainer{margin:15px -13px;display:block;}
	.buttonmarRight{margin-right:15px;}
	
/*slider styles */
	.carousel-inner .slide-bar{background-color: #C5C5C5 ;}
	.slideBar1 label:nth-child(2),.slideBar1 label:nth-child(6),.slideBar1 label:nth-child(10),.slideBar1 label:nth-child(14),.slideBar1 label:nth-child(18),.slideBar1 label:nth-child(22),.slideBar1 label:nth-child(26){}
	.slideBar1 label:nth-child(2):before, .slideBar1 label:nth-child(6):before,.slideBar1 label:nth-child(10):before ,.slideBar1 label:nth-child(14):before,.slideBar1 label:nth-child(18):before,.slideBar1 label:nth-child(22):before , .slideBar1 label:nth-child(26):before {}
	.slideBar1 label:before{background:#81BF42;border-radius:20px;position: absolute ;display: block;content: "";top: -35px;left: 50%;margin-left: -2px;width: 6px;height: 16px;border: 1px solid black;z-index: 100;}
	.slideBar1 label.active{color:#555 ;font-weight:bold;}
	.oprtnSliderbar label{ width: 17.142857%;}
	.slide-bar.slideBar1 label{font-size:11px;color:#555 ;font-weight:normal; width:10.142857142857143%;position:relative;padding:0;margin:20px 5px;}
	.slide-bar.slideBar1 label span {position:absolute;top:0; left:0; width:100%;word-break:break-word;}
	.slide-bar.slideBar1 label.lstchild span{left: 0;}
	.slide-bar.slideBar1 .col-xs-12 span label:nth-child(2){margin-top:-50px;}
	.sliderTrack {padding:0;font-size:0;display:-ms-flexbox;display:flex;}	
	.sliderTrack > span{display:-ms-flexbox;display:flex;}
      
/* grey color slider */
      
    .slide-bar.slideBar2 label {font-size:11px;margin:0;top:20px;word-break:break-word;}
    .slide-bar.slideBar2 label.lstchild {right:0;}
    .slide-bar.slideBar2 label:before{background:#EDEDED;}      
    .slide-bar.slideBar3 label {font-size:11px;margin:0;top:20px;word-break:break-word;}
    .slide-bar.slideBar3 label:before{background:#EDEDED;}
    .slide-bar.slideBar3 label.lstchild {right:0;}
      
    .carousel-inner .slide-bar {margin:47px auto;}
    .slide-bar label:before{background:#81BF42;border-radius:20px;position: absolute ;display: block;content: "";top: -25px;left: 50%;margin-left: -2px;width: 6px;height: 16px;border: 1px solid black;z-index: 100;}
    .slide-bar label.lstchild:before {left:94%;}
    .slide-bar label.active{color:#555 ;font-weight:bold;}
    .slide-bar label{font-size:0.8em;color:#555 ;font-weight:normal;}
    .slide-bar .col-xs-12 span label:nth-child(2){margin-top:-50px;}
           
    .panel-body .panel-heading label{color:#666 ;font-size:1em ; }
    .slide-bar .slideIcon{z-index:101;color:#EDEDED ; min-width:28px; font-size: 1.7em ;padding: 0 ;background: #EDEDED;border:2px solid #909090 ;/*margin-top: -1.3% ;*/}
    .coreParamContent .description{background: none ;padding: 0 15px ;}
    .helpContent{height:100px ;background: #FAFAFA;padding: 10px 10px;margin-bottom: 15px;border: 1px #c9c9c9 solid;overflow:hidden;}
    .helpContent .hlPointer {top: -8px; left: 0; position: absolute; border-top: 1px #c9c9c9 solid;border-right: 1px #c9c9c9 solid;background: #fafafa;height: 15px;width: 15px;transform: rotate(-45deg);-moz-transform: rotate(-45deg);-webkit--transform: rotate(-45deg);-ms-transform: rotate(-45deg);}
    .buttonmarRight:first-child{margin-left:55px;}
	.buttonmarRight.graphLegend:first-child{margin-left:0;}
    .active .panel-body, .projectSpan select{padding:0 ;}
    .tableTitle,.StrategicFont{color:#666 ;display:block;float:left;margin-top:20px ;}     
    div.message.infoM3{margin-top:-4% ;}      
    .successMsgDiv1{margin-left: 0 ;margin-right: 45px;margin-bottom: 18px;}
     
    .bluePointer:before{background:#005EB8 ;}
    .originalCont{width: 31%;margin-left: 78px;float: left;}
    .operationalCont{width: 34%;margin-left: 20px;float:right;}
    .originalCont,.operationalCont{color:#676767 ;margin-top: 10px;font-size:0.9em;}
/* core parameters project span radio buttons styles */
        
	.projectspanRadioButton input[type=radio]{visibility: hidden;width: 0;height: 0;}
	.projectspanRadioButton label{position: relative;margin-right:160px;text-indent:30px;font-weight:normal;color:#555;float:left;cursor:pointer;width:22px;height:22px;border:1px solid #ccc;border-radius:20px;overflow:visible; white-space: nowrap;}
	.projectspanRadioButton label:after{opacity: 0;content: '';position: absolute;width: 6px;height: 6px;background: #007DBD;top: 50%;left: 50%; margin-top:-3px; margin-left:-3px; border: 1px solid #007DBD;border-radius: 40px;}
	.projectspanRadioButton input[type=radio]:checked + label:after{opacity:1;}
	.projectspanRadioButton input[type=radio]:checked + label{border:2px solid #007DBD;}
	.projectspanRadioButton label.selected{border:2px solid #007dbb;}
	.projectspanRadioButton {width: 10%;margin-right:20px;margin-top: 0;float: left;}
	.projectspanraLabel{padding-left:10px;color: #565656;position: relative;bottom: 3px;}
	.projectSpan .panel-heading.question{margin-bottom:0 ;}
              
/* Graph box styles */
    .coreGreenbox{border:1px solid #759B5E;border-radius:2px;background:#F6FFEC;padding:10px;float:left;color:#53803B;width: 100%;margin: 20px 0;}
    .wizardCorecategory{display:block;color:#3C516C;font-weight:bold;font-size: 1.2em;}
    .wizardCoreContent{color:#666;margin-top: 20px;display: block;} 
    .tableIndicator label{text-transform:capitalize;}
    .toolkitContainer select{width: 100%;height: 30px;border-radius: 3px;border: 1px #a8a8a8 solid;color:#565656;}
    .toolkitContainer .ipmSelect{width:20% ;background: #fff;margin-left: 10px;}
    .toolkitNote{display: block;padding: 10px;color: #555;}
        
/* select styles */
    .ipmSelect,.ipmSelect.tlp{font-weight:normal;position:relative;z-index:1;}
    .ipmSelect{width:100%;}
    .ipmSelect.tlp{width:50%;}
    .ipmSelect select{-webkit-appearance: none;-ms-appearance: none;appearance: none;background: transparent;}
    .ipmSelect:after{display: block;font-family: FontAwesome;content: "\f107";font-size: 1.4em;position: absolute;top: 3px;right: 4px;z-index: -1;width: 20px;height: 20px;text-align: center;background: #fff;color: #000;}
    .ipmContainer div.container-fluid{padding-top:0 ;}
    .modal-dialog {margin-left:auto;margin-right:auto;}
	  
	.editprorevamp{width:95%;height:90%;margin-top:2%;z-index:999;} 
	.editcorerevamp{width:95%;height:90%;margin-top:2%;z-index:999;}
	.editAdditionalRevamp{width:95%;height:90%;margin-top:2%;z-index:999;}

	.fastTrackContainer,.whiteSpaceContainer{float: left;  border-right: 1px solid #545655;  padding-right: 18px;}
    .additionalParam label{margin-right:160px ;}
    .betCoreLabel{display:block;margin-top: 10px;}  
    .siLabel{font-weight: bold;margin-left: 5px;}
    .table-bordered .oprtnNobgrnd{background:none ;border-left:0;border-right:0 ;border-top:0;}
    .oprtnGreenTable{background:#A2C24B;}
    .cust-overlay {
    background: #fff url(../images/ajax-loader.gif) no-repeat center;
    width: 100%;
    height: 100%;
    padding: 0;
    color: #000;
    text-align: center;
    position: absolute;
    z-index: 102;
    display: block;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=100);
}
.proInit {
    text-align: center;
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 5px;
    width: 99%;
	opacity: 1;
    height: 157%;
    background:#fff url('../images/ajax-loader.gif') no-repeat center 14%;
}
.additionalParamContainer{min-height:280px;}

/* threshold container */

	.thresholdContainer{width:100%;}
	.thresholdBox{background:#fff15a;border-radius: 3px;padding: 5px 10px 10px 10px;margin-top: 20px;}
	.thresholdBox input{margin-right: 10px; position: relative;float:left;} 
	.thresholdMsg{color:#7A9D62;position: absolute;background:#F6FFEC;border:1px solid #55823D;padding:5px;border-radius:4px;width:135px;margin:0 auto;float:left;left: 47%;}
