	.inlineEdit{margin:10px 10px 0 10px;}
	.inlineEdit > div{padding-left:5px; padding-right:5px;}
	.inlineEdit > div:first-child{padding-left:0;}
	.inlineEdit .ipmButtonGroup{padding-right: 0;width:18%;}
	.inputField{margin-bottom:15px;}
	.inputField input, .inputField select{width:100%;height:30px;border-radius: 3px; border: 1px #a8a8a8 solid;}
	.fa-calendar:before{margin-left: -41px;}
	.middlePanel{background:#f9f9f9; border-top:1px #d7e1e0 solid; border-bottom:1px #d7e1e0 solid;margin-bottom: 10px;padding-top: 5px;}
	.fieldFont{font-size:1em; color:#555;}
	.fieldLabel{padding-top:5px; padding-bottom:5px; font-weight:bold;}
	.modal-backdrop.in {opacity: 0.7;}
	.date input{height:30px;border-radius: 4px;border: 1px #ddd solid;width:100%;}
	.input-group.date{width:100%;}
	.ipmButtonGroup .ipmButton:first-child{margin-right: 0;}
	.pull-right{float:right;}
	.SecButtonSet .icoButton.question{margin-top:10px ;}
	.message{margin: 4px 50px 0 15px;}
/* lookup search icon*/
	.lookupInput a{margin-left: -9%;}
	input[disabled], select:disabled{background: #f7f7f7; border:1px #cdcdcd solid;}
	.input-group-addon{padding: 0;margin-top: -23px;width: 1px;background:none; border:none;color: #007dbb;font-size: 1.3em; left:100%; position:absolute;}
	
	.messageTable td ul li{margin-left:0 ;}
	.messageTable td ul{padding-left:0 ;margin-top: -25px ;}
	.message .messageTable .messageCell{margin-top:-6px ;float:left;}
	.errorMsg{padding: 10px;background: #ffebec;border-radius: 3px;margin-top: 8px;}
	.error{border:1px solid #e03729 ;}
	.popupContent .ipmButton{width:6%;}
	.popupContent{margin-top:10px;}
	.mPhaseEditDiv{margin-left:14%;}
	.dateDropDown{width:12.8%;}
	.noPadding {	padding:0;}
	
	.errorM3 .messageTable .messageText h4,.errorM3 .messageTable .messageText{color:#E13726 ;font-weight:normal ;}
	.errorM3 .messageText::before{content:url('../images/red_i_icon.png');position:absolute; left: 30px;}
	.errorM3 .messageTable .messageText{margin-left:35px ;}
	.errorM3{background:#FFEBEC ;border:1px solid #F3BEB6 ;  margin-bottom: 20px;}
	.errorM3 .msgIcon, .errorMedium{display:none;}
	.errorM3 ul li{color:#E13726 ;font-weight:normal ;}
	.errorM3 ul{margin-left: 25px ;}
	.ipmButtonGroup .ipmButton.buttonmarRight{margin-right:15px;}
	.dateFormat {display:none;}
	.buttonMarginRight{margin-right:15px;}
	.marginL100P {margin-left:100%;} 
	.dateInputBox.calendar{width:40%;}
       
@media only screen and (min-device-width:768px) and (max-device-width:1024px) { 
   .marginL100P { 
		margin-left:72%; 
    } 
}
	