/* other styles */
input[type=text]::-ms-clear {display: none; width:0; height:0;}
.uploadImages{width: 525px;height: 220px;margin-top: 10% ;z-index:999;}

.mstoneWizardcss{width:60%;height:80%;margin-top:2% ;}

.mtaskwizardcss{width:38%;height:560px;margin-top:2% ;}

.editMstonecss{width:92.3%;height:200px;margin-left:3%;margin-right:8%;}

.mstoneTab th:last-child,.mstoneTab>tbody>tr>td:last-child{
  text-align:right ;
}
.hiddenBrand{display:none;}
.mstoneInfotext{display:block;margin-left:20px;}
.table-bordered .graphNoborder {
    border-left: 1px solid #fff ;
    border-bottom: 1px solid #fff ;
}
.getStartedbutton {
    padding: 0.625em ;
}
.getStartedbuttonCont {
    margin-bottom: 40px;
    margin-top: 20px;
}
.negateMarginTop {
    margin-top: -30px;
}
.additionalParamTop .radioButton{margin-bottom:0 ;}
.wizardContainer {
    height: 450px;
    overflow-y: scroll;
}
.custMarginTop {
    margin-top: 20px;
}
.ipmAddMemberModal .modal-body {
    height: 88% ;
}
.charCountRemaining {
    font-weight: bold;
}
.sfdc_richtext img {
    max-width: 100%;
}
.legendContainer {
    float: right;
    width: 293px;
}
.custPosition {
    position: static ;
    width: 190px;
    float: left;
}
.SecButtonSet {
    position: relative;
}
.allNumbers {
    color: #666666;
}
.panel {
    box-shadow: none;
}
.ipmButton:link {
    text-decoration: none;
}
.proSetupButton {
    margin-right: 15px;
}

.skipButtoncontainer1 {
    margin: 15px 0;
}
.mstoneCountText {
    font-size: 1.338em;
}
.additionalParamTop {
    margin-top: 10px;
}
.tMembers {
    color: #A6A6A6;
    font-weight: normal;
}
/* Header Styles */

.gradientbg {
    height: 130px;
}
.prosetupTop {
    margin-top: 20px;
}
.progress-bar {
    margin-top: 15px;
}
.noBorderright {
    border-right: 0 ;
}
/* overlay styles */

.cust-overlay {
    background: #fff url(../images/ajax-loader.gif) no-repeat center;
    width: 100%;
    height: 100%;
    padding: 0;
    color: #000;
    text-align: center;
    position: absolute;
    z-index: 100;
    display: block;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=100);
}
/* IPM Table Styles */

.ipmTable.table {
    border-left: none;
    border-right: none;
}
.ipmTable.table>thead>tr>th {
    background: #f2f8fc;
    color: #3b516d;
    font-size: 1em;
    font-weight: bold;
}
.ipmTable>thead>tr>th,
.ipmTable>tbody>tr>th,
.ipmTable>tfoot>tr>th,
.ipmTable>thead>tr>td,
.ipmTable>tbody>tr>td,
.ipmTable>tfoot>tr>td {
    border-left: none;
    border-right: none;
    border-top: 1px #7fa19e solid;
    border-bottom: none;
}
.ipmTable.table-bordered {
    border-top: 1px solid #7fa19e;
}
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
    word-wrap: break-word;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th {
    padding: 9px 5px;
    vertical-align: middle;
}
.table>thead>tr>th>div {
    padding: 7px 10px 7px 0;
    border-right: 1px #ddd solid;
}
.table>thead>tr>th:last-child>div {
    border-right: none;
}
.table>tbody>tr:nth-child(even) {
    background: #f8f8f8;
}
.table>tbody>tr>td.selected {
    background: #e1f9dd;
    border-top: 1px #007DBB solid;
}
.table>tbody>tr.selected {
    background: #e1f9dd;
}
.table>tbody>tr.selected td {
    border-top: 1px #007DBB solid;
}
.table>thead>tr>th .btn-group,
.ipmTable>thead>tr>th span.sortIcon,
.ipmTable>thead>tr>th span.sortIcon1 {
    float: right;
}
/* page title bar styles */

ul.progress-bar li.bosscard {
    background-color: #A4C34B ;
    background-position: 12px 9px ;
}
.ipmGetStartedContent .uploadImage img {
    max-width: 100%;
    width: 100%;
    border-radius: 1px;
}
.H30 {
    height: 30px;
}
.pageHeadToolbar {
    border-bottom: 1px solid #ddd;
    margin: 0 15px;
}
.pageHeadToolbar span.pageTitle {
    margin: 13px 7px 13px 0;
    display: inline-block;
    font-size: 1.7em;
	font-weight:normal;
    color: #253b78;
    padding-right: 10px;
}
.pageHeadToolbar .SecFillProgress {
    display: inline-block;
    border-right: 1px solid #929292;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.pageHeadToolbar .SecFillProgress .fillProgress {
    display: inline-block;
    color: #e98824;
    font-size: 22px;
    font-weight: normal;
}
.pageHeadToolbar .SecFillProgress .fillProgress span {
    font-size: 12px;
}
.pageHeadToolbar .SecFillProgress .fillProgressTxt {
    color: #364354;
    display: inline-block;
    font-size: 12px;
}
.pageHeadToolbar .SecStatusUpdate {
    display: inline-block;
    margin: 15px 0;
    padding-right: 15px;
    border-right: 1px solid #929292;
}
.pageHeadToolbar .SecCurrentStatus {
    display: inline-block;
    color: #364354;
    margin: 12px 15px 10px 15px;
    text-align: right;
}
.custMarginbottom {
    margin-bottom: 20px;
}
.uploadImage {
    cursor: pointer;
}
/* content styles */

.custPageMarginbottom {
    margin-bottom: 40px;
}
.projectSetupicon {
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
}
.projectSetupicon img {
    width: 40px;
    height: 40px;
}
.projectSetupdesc {
    text-align: center;
}
.descHead {
    display: block;
    color: #3C516C;
    font-weight: bold;
    margin-top: 10px;
}
.descCaption {
    display: block;
    margin-top: 10px;
    color: #565656;
}
.getStarted {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90px;
    margin: 0 auto;
}
/* new modal styles */

.ipmModalGetStarted .modal-dialog {
    width: 95%;
    height: 95%;
}
.ipmModalGetStarted .modal-content {
    overflow: auto;
}
.ipmModalGetStarted .modal-header button.close {
    margin-top: 0 ;
    position: relative;
    bottom: 40px;
    right: 10px;
}
.ipmModalGetStarted .modal-header {
    height: 80px;
    padding: 10px 0 0;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.ipmGetStartedTab .ipmTabContent {
    width: 100%;
}
.ipmGetStartedTab .panel {
    background: transparent;
}
.ipmGetStartedTab .ipmStartedTabs {
    padding: 0 0 0 10px;
    margin-top: 29px;
    margin-bottom: 15px;
}
.ipmGetStartedTab .ipmStartedTabs li {
    width: 180px;
    position: relative;
    padding: 11px;
    background-repeat: no-repeat ;
    text-align: center;
    display: inline-block;
    color: #fff;
    margin-left: 0 ;
    font-weight: bold;
    cursor: pointer;
}

.ipmGetStartedTab .ipmStartedTabs li.active {
    color: #343434;
    position: relative;
    cursor: pointer;
	top: 1px;
}
.ipmModalGetStarted .modal-header .ipmModalGetStartedClose.close {
    bottom: 82px;
}
/*modal content styles*/

.newProjinfo {
    font-style: italic;
    display: block;
    margin-bottom: 10px;
    color: #555555;
}
/* Bosscard Content styles */

.bosscardMtop {
    margin-top: 20px;
}
.bsFieldLabel {
    color: #565656;
    font-weight: bold;
}
.bsFieldLabel label {
    color: #565656;
    font-weight: bold;
}
.mandatorycolor {
    color: #CF1721;
}
.inputField {
	clear:both;
}
.descTop {
    margin-top: 20px;
}
.charCountRemainingText {
	display:inline-block;
	margin-bottom:20px;
}
.contractContainer{margin-top:20px;}
.proMarginbottom{margin-bottom:20px;}
.inputField input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px #a8a8a8 solid;
    color: #565656;
}
.inputField textarea {
    width: 100%;
    height: 70px;
    border-radius: 3px;
    border: 1px #a8a8a8 solid;
    color: #565656;
}
.inputField select {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px #a8a8a8 solid;
    color: #565656;
}
.fieldnote {
    margin-bottom: 20px;
    color: #555555;
    padding-top: 10px;
    font-style: italic;
    font-size: 0.85em;
    display: block;
}
.bosscardmright {
    margin-right: 10px;
}
.expandTool {
    text-align: right;
}
.expandTool span {
    display: inline-block;
    font-weight: bold;
    color: #0f81bb;
    cursor: pointer;
}
.bcInstruction {
    font-weight: bold;
    color: #3B4F6A;
}
.txtAlignright {
    text-align: right;
}
.periodDetails {
    display: block;
    font-weight: bold;
    color: #344454;
    float: right;
    position: relative;
    bottom: 32px;
    left: 20px;
}
.characterlimit {
    display: block;
    text-align: right;
}
/* Error message styles */

.ErrMsg {
    color: #d74c3b;
    width: 55%;
    display: block;
    padding: 10px;
    background: #ffebec;
    border-radius: 3px;
    margin-top: 15px;
	position:relative;
}
.ErrMsg:before {
    left: 33px;
    bottom: 33px;
    position: absolute;
    border-top: 1px #ffebec solid;
    border-right: 1px #ffebec solid;
    background: #ffebec;
    content: " ";
    height: 15px;
    width: 15px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.TldErrMsg {
    color: #d74c3b;
    width: 100%;
    display: block;
    padding: 10px;
    background: #ffebec;
    border-radius: 3px;
    margin-top: 15px;
	position:relative;
}
.TldErrMsg:before {
    left: 10%;
    top: -8px;
    position: absolute;
    border-top: 1px #ffebec solid;
    border-right: 1px #ffebec solid;
    background: #ffebec;
    content: " ";
    height: 15px;
    width: 15px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.categoryErrMsg {
    color: #d74c3b;
    width: 100%;
    display: block;
    padding: 10px;
    background: #ffebec;
    border-radius: 3px;
    margin-top: 15px;
	position:relative;
}
.categoryErrMsg:before {
    left: 33px;
    bottom: 33px;
    position: absolute;
    border-top: 1px #ffebec solid;
    border-right: 1px #ffebec solid;
    background: #ffebec;
    content: " ";
    height: 15px;
    width: 15px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.brandErrMsg {
    color: #d74c3b;
    width: 100%;
    display: block;
    padding: 10px;
    background: #ffebec;
    border-radius: 3px;
    margin-top: 15px;
	position:relative;
}
.brandErrMsg:before {
    left: 33px;
   bottom:33px;
    position: absolute;
    border-top: 1px #ffebec solid;
    border-right: 1px #ffebec solid;
    background: #ffebec;
    content: " ";
    height: 15px;
    width: 15px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.projDescErrMsg {
    color: #d74c3b;
    width: 55%;
    display: block;
    padding: 10px;
    background: #ffebec;
    border-radius: 3px;
    margin-top: 15px;
	position:relative;
}
.projDescErrMsg:before {
   left: 10%;
    top: -8px;
    position: absolute;
    border-top: 1px #ffebec solid;
    border-right: 1px #ffebec solid;
    background: #ffebec;
    content: " ";
    height: 15px;
    width: 15px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* Radio button styles */

.raLabel {
    color: #565656;
    line-height: 25px;
}
.raLabelTodo {
    color: #565656;
    margin-left: 40px;
}
.incWidth {
    width: 25%;
}
.radioButton {
    margin-bottom: 10px;
}
/* Project details radio buttons */

.projectraLabel {
    padding-left: 0;
    color: #565656;
    position: relative;
    bottom: 3px;
}
/* checkbox styles */

.ipmCheckbox {
    width: 100%;
}
.ipmCheckbox input[type=checkbox]:checked label:after {
    color: #0f81bb;
}
.ipmCheckbox input[type=checkbox]:checked label {
    border: 1px solid #0f81bb;
}
.ipmCheckbox label {
    top: 1px ;
    left: 10px;
}
.yellowBox {
    margin-top: 10px;background: #FFF582;padding: 8px;border-radius: 3px;
}
.fastTrackcheck {
    margin-left: 5px ;
    width: 30px;
    height: 17px;
}

.fastTrackBox,.whiteSpaceBox{
	display: block;
	float: left;
	margin-right: 20px;
}

.whiteSpaceBox{
  border-left: 1px solid #AAA56D;
}
/* Core Parameters styles */

.coreParam {
    font-style: italic;
    color: #555;
}
.questionNavigation {
    margin: 20px 0 0;
    height: 70px;
    padding: 5px 0;
    border-top: 1px solid #c3cad4;
    border-bottom: 1px solid #c3cad4;
}
.questNumber {
    width: 6%;
    border-right: 1px solid #929292;
    text-align: center;
}
.singleNumber {
    display: block;
    text-align: center;
    font-size: 2em;
    color: #027eba;
}
.coreTitle {
    display: block;
    line-height: 60px;
    font-weight: bold;
    color: #037eba;
    font-size: 1em;
}
.noBoxshadow .panel {
    box-shadow: none ;
    margin-bottom: 0 ;
}
/*legend styles */

.legendDesc {
    text-align: right;
    display: block;
    color: #656565;
    font-size: 1em;
    margin-top: 5px;
}
.greenBg {
    height: 6px;
    width: 22px;
    background: #A3C24B;
    float: left;
    border-radius: 10px;
}
.blueBg {
    height: 6px;
    width: 22px;
    background: #005EB8;
    float: left;
    border-radius: 10px;
}
.legText {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: -5px;
}
.buttonmarRight {
    margin-right: 15px;
}
/*slider styles*/

.slideBar1 label:before {
    background: #A3C24B;
    border-radius: 20px;
    position: absolute ;
    display: block;
    content: "";
    top: -35px;
    left: 50%;
    margin-left: -2px;
    width: 6px;
    height: 16px;
    border: 1px solid black;
    z-index: 100;
}

.slideBar1 label.active {
    color: #555555 ;
    font-weight: bold;
}
.slide-bar.slideBar1 label {
    font-size: 11px;
    color: #555555 ;
    font-weight: normal;
    top: 30px;
    width: 10.142857142857143% ;
    position: relative;
    padding: 0;
    margin: 0;
}
.slideBar1 label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	word-break:break-word;
}

.slideBar1 .col-xs-12 span label:nth-child(2) {
    margin-top: -50px;
}
.sliderTrack {
    padding: 0;
    font-size: 0;	
	display:-ms-flexbox;
	display:flex;	
}
.sliderTrack > span {
   display:-ms-flexbox;
	display:flex;
}
/* grey color slider */

.slide-bar {
    background-color: #C5C5C5 ;
}
.slide-bar.slideBar2 label {
    font-size: 11px;
    margin: 0;
    top: 20px;
	word-break:break-word;
}

.slideBar2 label:before {
    background: #EDEDED;
	    bottom: 25px;
}
.slide-bar.slideBar3 label {
    font-size: 11px;
    margin: 0;
    top: 20px;
	word-break:break-word;
}
.slideBar3 label:before {
    background: #EDEDED;
	    bottom: 25px;
}

.slideBar2 label.fstchild:before,
.slideBar3 label.fstchild:before {
    background: #fff;
}
.slide-bar {
    margin: 47px auto;
}
.slide-bar label:before {
    background: #A3C24B;
    border-radius: 20px;
    position: absolute ;
    display: block;
    content: "";
    left: 50%;
    margin-left: -2px;
    width: 6px;
    height: 16px;
    border: 1px solid black;
    z-index: 100;
}
.slide-bar label.fstchild {
    text-align: center;
}

.slide-bar label.active {
    color: #555555 ;
    font-weight: bold;
}
.slide-bar label {
    font-size: 0.8em;
    color: #555555 ;
    font-weight: normal;
}
.slide-bar .col-xs-12 span label:nth-child(2) {
    margin-top: -50px;
}
.panel-heading label {
    color: #666666 ;
    font-size: 1em ;
}
.slideIcon {
    z-index: 101;
    color: #EDEDED ;
    min-width: 28px;
    font-size: 1.7em ;
    padding: 0 ;
    background: #EDEDED;
    border: 2px solid #909090 ;
}
.description {
    background: none ;
    padding: 0 15px ;
}
.helpContent {
    background: #FAFAFA;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px #c9c9c9 solid;
	overflow:hidden;
	height:100px;
}
.helpContent .hlPointer {
    top: -7px;
    left: 0;
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fafafa;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit--transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.buttonmarRight:first-child {

}
.active .panel-body {
    padding: 0 ;
}
.tableTitle {
    color: #666666 ;
    display: block;
    float: left;
    margin-top: 20px ;
}
.StrategicFont {
    color: #666666 ;
    display: block;
    float: left;
    margin-top: 20px ;
}

.projectSpan select {
    padding: 0 ;
}
.successMsgDiv1 {
    margin-left: 0 ;
    margin-right: 45px;
    margin-bottom: 18px;
}
.bluePointer:before {
    background: #005EB8 ;
}
.originalCont {
    width: 31%;
    float: left;
    color: #676767 ;
    margin-left: 78px;
    margin-top: 10px;
    font-size: 0.9em;
}
.operationalCont {
    width: 34%;
    float: right;
    color: #676767 ;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 0.9em;
}
/* core parameters project span radio buttons styles */

.additionalParam label {
    margin-right: 160px;
}
.projectspanraLabel {
    padding-left: 10px;
    color: #565656;
    position: relative;
    bottom: 3px;
}
.projectSpan .panel-heading.question {
    margin-bottom: 0 ;
}
/* Graph box styles */

.coreGreenbox {
    border: 1px solid #759B5E;
    border-radius: 2px;
    background: #F6FFEC;
    padding: 10px;
    float: left;
    color: #53803B;
    width: 100%;
    margin: 20px 0;
}
.coreGreenbox span {
	margin-left: 4px;
}
.wizardCorecategory {
    display: block;
    color: #3C516C;
    font-weight: bold;
    font-size: 1.2em;
}
.wizardCoreContent {
    color: #666666;
    margin-top: 20px;
    display: block;
}
.tableIndicator label {
    text-transform: capitalize;
}
.toolkitContainer{
margin-bottom:15px;
}

.toolkitContainer select {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px #a8a8a8 solid;
    color: #565656;
}
.toolkitContainer .ipmSelect {
    width: 20% ;
    background: #fff;
    margin-left: 10px;
}
.toolkitNote {
    display: block;
    padding: 10px;
    color: #555;
}
.tableIndicator .cust-Inputs{
    border-radius: 6px;
    width: 32px ;
    height: 8px ;
    margin-top: 8px;
}
.graphLegend {
    float: left;
}
/* Team members styles */

.custImagewidth {
    width: 50%;
}
.custImagewidth1 {
    width: 35%;
}
.editTeam {
    margin: 20px 0;
    height: 56px;
    padding: 10px 0;
    border-top: 1px solid #c3cad4;
    border-bottom: 1px solid #c3cad4;
}
.editButton {
    position: relative;
    left: 50px;
}
.teamNavdesc {
    display: block;
    line-height: 32px;
    color: #555555;
}
.circular.ipmImage {
    border-radius: 500rem ;
}
.memContainer {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.txtAligncenter {
    text-align: center;
}
.teamMembername {
    display: block;
    color: #027eba;
    margin-top: 10px;
    font-weight: bold;
	width: 182px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.memContainer .SecButtonSet .icoButton ,.proNameContainer .SecButtonSet .icoButton{
    top: 3px;
    width: 16px;
    height: 16px;
}
.teamContainer .SecButtonSet .icoButton {
    top: 3px;
    width: 16px;
    height: 16px;
}
.teamSpacing {
    margin: 20px 0;
}
.highlightLeader {
    background: #EBE694;
    padding: 4px;
    border-radius: 4px;
    color: #555555;
}
img[data-leader='true'] {
    border: 4px solid #E2DB67;
}
/* Quit Modal styles */

.skipDesc {
    display: block;
    padding: 15px 0;
}
.skipButtoncontainer {
    margin: 10px -13px 10px 0;
}
.fleft {
    float: left;
}
.noPadleft {
    padding-left: 0 ;
}
.noPadright {
    padding-right: 0 ;
}
.quitWizard .modal-dialog {
    margin-top: 15%;
}
/* Team Radio button styles */

.leaderRadioButton {
    margin-top: 10px;
    margin-left: 40px;
    width: 100%;
}
.leaderRadioButton label {
    margin-right: 5px ;
}
.leaderLabel {
    margin-left: 10px;
    float: left;
}
.memContainer .teamMemberButton .icoButton {
    position: absolute ;
    top: -45px ;
    left: 39px;
    width: 30px ;
    height: 30px ;
}
/* Accordion styles */

.teamHead {
    color: #334255;
    font-weight: bold;
    border-right: 1px solid #A7A7A7;
    padding: 0 10px;
    margin-right: 10px;
}
.ipmAccordion .teamContainer .pHead > span.expico {
    display: inline-block;
    cursor: pointer;
    font-family: FontAwesome;
    width: 21px;
    height: 21px;
    text-align: center;
    font-weight: normal;
    line-height: 23px;
    background: #81bd42;
    position: relative;
    margin-right: 5px;
    font-size: 0.8em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #fff;
}
.ipmAccordion .teamContainer .pHead {
    display: block;
}
.ipmAccordion .teamContainer > .ipmAcrdnExpand {
    display: block;
    padding-right: 10px;
    margin-left: 0;
    margin-bottom: 10px;
}
.ipmAccordion .teamContainer > .pHead {
    border-bottom: 2px solid #e6e532;
    color: #1797C0;
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
    padding: 15px 10px 15px;
}
.teamCount {
    color: #a7a7a7;
}
/* Milestone styles */

.mStonequest {
    padding-left: 20px;
    color: #565455;
    display: block;
}
.mstonebWidth {
    width: 100px;
    margin-left: 25px;
    margin-top: 10px;
    float: left;
    margin-right: 0 ;
    margin-bottom: 10px;
}
.mstonebWidth label {
    background: #fff;
    margin-right: 0;
}
.table>thead>tr>th:first-child {
    padding-left: 4px ;
}
.table>thead>tr>th span {
    float: none ;
}
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 10px 5px ;
}
.table>tbody>tr>td:first-child {
    text-align: left ;
}
.noteimg .icoButton {
    display: inline-block;
    width: 15px;
    cursor: text;
    margin: -9px 6px -9px 0;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.noteimg {
    display: inline-block;
}
.tableMstonBbottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.mileTabrow {
    float: left;
    width: 100%;
    margin-top: 20px ;
}
.tabTitlewidth {
    width: 113px;
}
.txtRight {
    text-align: right;
}
.mstoneDesc {
    font-style: italic;
    color: #555555;
}
.addLinkText,
.fa-plus {
    color: #007DBB;
    cursor: pointer;
    font-weight: bold;
}
.milestoneDescContainer {
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
}
.addMstoneContainer {
    margin-top: 30px;
}
/* to do styles */

.toDopaddingleft {
    padding-left: 17px;
}
.todoTitle {
    font-weight: bold;
    display: block;
    font-size: 1.4em;
    color: #273b76;
    margin-top: 20px;
}
.todoBox {
    margin-bottom: 20px;
}
.ipmTaskRowTodo {
    padding-left: 0 ;
    margin: 10px 0 0 ;
}
.toDomandatory {
    float: left;
    padding-right: 4px;
}
.ipmTableDiv .SecButtonSet {
    display: inline-block;
    text-align: right;
    margin-top: 7px;
}
.tableAssigneeName {
    padding-left: 4px;
}
.txtRight {
    text-align: right;
}
.mstone {
    font-style: italic;
    color: #666;
}
.tabTaskButton {
    margin-bottom: 10px;
}
/* select styles */

.ipmSelect {
    font-weight: normal;
    width: 100%;
    position: relative;
    z-index: 1;
	margin-bottom:0;
}
.ipmSelect.tlp {
    font-weight: normal;
    width: 50%;
    position: relative;
    z-index: 1;
}
/* Image Border */

.imageBorder {
    padding: 0 ;
    border-radius: 4px;
}
/* Bootstrap Tooltip Styles */

.tooltip > .tooltip-inner {
    width: 500px;
    -webkit-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    font-weight: normal;
    background-color: #01B1A6 ;
    border-radius: 2px;
    text-align: left;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #00b1a5;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #00b1a5;
}
.memContainer select {
    width: 100%;
}
.topFourContainer {
    margin-bottom: 10px;
}
.expandMarginTop {
    margin-top: 20px;
}
.infoMarTop {
    margin-top: 6px;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00b1a5;
    margin-left: 0 ;
}
/* custom tooltip styles */

.radioTooltip1,
.radioTooltip2,
.radioTooltip3,
.radioTooltipipmFull,
.radioTooltipipmLite {
    display: none;
}
.toolTipMsg {
    clear: both;
    padding: 20px;
    background: #fafafa;
    border: 1px #c9c9c9 solid;
    border-radius: 2px;
    color: #364354;
    font-size: 0.82em;
    position: relative;
}
.radioTooltip1::before {
    top: -8px;
    left: 0;
    content: " ";
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fafafa;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit--transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.radioTooltip2::before {
    top: -8px;
    left: 6px;
    content: " ";
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fafafa;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit--transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.radioTooltip3::before {
    top: -8px;
    left: 90px;
    content: " ";
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fafafa;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit--transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.proInit {
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 70px;
    left: 5px;
    width: 99%;
    height: 100%;
    background:#fff url('../images/ajax-loader.gif') no-repeat top center;
}
.infoMsg {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}
.radioTooltipipmFull::before {
    top: -8px;
    left: 133px;
    content: " ";
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fafafa;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit--transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.radioTooltipipmLite::before {
    top: -8px;
    left: 8px;
    content: " ";
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fafafa;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit--transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.radioTooltipipmFull,
.radioTooltipipmLite {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 15px;
}

.boxPadTop {
    padding-top: 15px;
}
/*------Custom Loading------*/

.renderBtnset {
    position: relative;
}
.renderBtnset .proInit {
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 0;
    left: -4px;
    width: 103%;
    height: 103%;
    background:#fff url('../images/ajax-loader.gif') no-repeat 0 0;
}
.datePicker {
    z-index:1999 ;
    /*top:240px;*/
	position: fixed;
}
.ipmSelect .proInit {
    text-align: center;
    position:absolute;
    z-index:100;
    top:0;
    left:-4px;
    width:103%;
    height:103%;
    background:#fff url('../images/ajax-loader.gif') no-repeat 0 0;	
}
.container-fluid {
    position:relative;
}
.container-fluid .proInit {
    text-align: center;
    position:absolute;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height:157%;
    background:#fff url(../images/ajax-loader.gif) no-repeat 50% 20%;
	opacity:1;
}

.memContainer .proInit {
    top:-19px ;
}
.dateInput .dateFormat {
    visibility:hidden;
    display:none;
}
.inputField .tldBox {
    width:42% ;
	padding-right:30px;
}
.tldQ {
    margin-left:10px;
}
.clear {
    clear:both;
}
@-moz-document url-prefix() {
    .ipmGetStartedTab .ipmStartedTabs li {
        width:172px;
    }
    .ipmGetStartedTab .ipmStartedTabs {
        margin-top:28px;
    }
}
.proxyTLP {
	display:none;
}
.modal-dialog {
    margin-left:auto;
    margin-right:auto;
}

.helpContent .sfdc_richtext span,.helpContent .sfdc_richtext,.helpContent .helpDesc span{
color:#384454 ;
font-size:1em ;
font-family: Arial;
float:left;
margin-right:1px;
}

.deleteButtoncontainer{  margin: 0 15px;}
.buttonMarginRight {  margin-right: 15px;}
.ipmModalDelete .modal-header{height:32%;}
.mstonePagination{color:#333;display:block;margin:0 10px;}
    .mstoneArrows{margin:0 10px;font-weight: bold;text-decoration:none;}
    .mstoneArrows:hover{text-decoration:none;}
	.btn.mstoneActive,.btn.mstoneActive:hover{color:#333 ;background:none ;border:0 ;}
	.btnDisabled.mstoneNotActive,.btnDisabled.mstoneNotActive:hover{color:#AEAEAE ;background:none ;border:0 ;}
	.mstoneInfo{width: 100%;margin-bottom:15px;float: left;margin-top:15px;padding:20px;color:#007EBB;border-radius:4px;background:url("../images/info_icon.png") no-repeat 1% 45% #E5F8FF;}
	.mstoneInfoTxt{display:block;margin-left:20px;}
	
	/* Operational CSS */
	.radioTltip1,.radioTltip3{display:none;}
	.radioTltip1::before,.radioTltip2::before,.radioTltip3::before {
	  content: " ";
	  position: absolute;
	  border-top: 1px #c9c9c9 solid;
	  border-right: 1px #c9c9c9 solid;
	  background: #fafafa;
	  height: 15px;
	  width: 15px;
	  transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -webkit--transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	}
	.radioTltip1::before{	top: -8px;left: 5px;}
	.radioTltip3::before{	top: -8px;left: 124px;}
	
	.oprtnTopAlertContainer{background:url("../images/alert_1a.png")no-repeat 10px 10px #FFF582;background-size: 22px; margin-bottom: 10px;padding: 10px 0;border-radius: 3px;}
	.oprtnTopAlertLabel{    margin-left: 45px;}
	.oprtnRadiobtn label{margin-right:110px;}
	.oprtnRadiobtn table td:first-child label {margin-right:175px ;}
	.radioTooltip1.oprtnToolTipMsg::before{left:4px;}
	.radioTooltip2.oprtnToolTipMsg::before{left:200px;}
	.radioTooltip3.oprtnToolTipMsg::before{left:332px;}
	.radioTooltip1.gateKModel::before{left:4px;}
	.radioTooltip2.gateKModel::before{left:90px;}
	.radioTooltip1.charterTipMsg::before {left:3px;}
	.radioTooltip2.charterTipMsg::before {left:90px;}
	
	.ipmDropDownSelect { padding: 5px 5px;background: #fff;border: 1px solid #ddd;}
	.ipmDropDownSelect:after {
    display: block;
    font-family: FontAwesome;
    content: "\f107";
    font-size: 14px;
    position: absolute;
    top: 6px;
    right: 0;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #fff;
    color: #000;
}
.brandposListContainer{margin-bottom:15px;}
.ipmDropDown .dropdown-menu {
    border: 1px solid #252525;
    z-index: 1000;
    min-width: 190px;
    border-radius: 4px 0 4px 4px;
    background: #f9f9f9;
    margin-top: 0;
    margin-right: -3px;
}
.ipmDropDown .brandposList ul {
    padding: 0;
    list-style: none;
    z-index: 1000;
    min-width: 190px;
    border-radius: 4px 0 4px 4px;
    background: #fff;
	margin-bottom:0 ;
}
.ipmDropDown .brandposList ul>li {
    padding: 10px 0 36px 10px ;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.brandPosLabel {
    display: block;
    float: left;
    margin-left: 7px;
}
.filterActionscc {
    border-top: 1px solid #ddd;
}
.ipmButtonGroup .ipmDropbuttonscc, .ipmButtonGroup .ipmDropcompletebuttons {
    border-right: 1px solid #252525;
}
.ipmButtonGroup .ipmDropbuttonscc, .ipmButtonGroup .ipmDropresetcc {
    text-align: center;
    padding: 5px 21px;
    width: 100%;
    display: inline-block;
    margin: 5px 0;
}
.brandposList a {
    color: #007dbb;
    font-weight: bold;
    cursor: pointer;
}
.ipmDropDownList:before {
    left: 8%;
    top: -8px;
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fff;
    content: " ";
    height: 15px;
    width: 15px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ipmDropDown .ipmDropDownList {
    border: 1px solid #c9c9c9 ;
    background: #fff ;
    left: 1px ;
    top: 41px ;
}
.brandposList .ipmCheckbox{width:35px ;}

.cccmiList{height: 250px;overflow: auto;}
.brandposList{margin-bottom:20px;}
.oprtnRadiobtn{width:100%;float:left;}
.cmiR1{ width: 190px;}
.cmiR3{ width: 200px;}
.toDoInfo {
    border: 1px solid #B0D2E6;
    padding: 10px;
    color: #007DBB;
    border-radius: 4px;
    text-indent: 30px;
    background: url(../images/info_icon.png) no-repeat 12px 10px #E5F8FF;
}

.ui-tooltip {
	-webkit-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    font-weight: normal;
    background-color: #01B1A6 ;
    border-radius: 2px;
    border: none;
    text-align: left;
	color:#fff;
	padding:3px 7px;
	opacity:0.9;
	width:200px;
}
.ui-tooltip-content {
    position: relative;
    padding: 0;    
	font-size:12px;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -10px;
    left: 44%;
    border-color: #01B1A6 transparent;
    border-width: 0 10px 10px;
}
.col-sm-12.yellowBox.noPadleft {
    margin-top: 20px;
}
.oprtnToolTipMsg{margin-bottom:20px;}
	.contractGkm{float:none ;width:100% ;}
	.disable input[type=radio] + label{border:1px solid #cdcdcd;background:#f7f7f7;}
	.disable input[type=radio]:checked + label{border:1px solid #cdcdcd ;background:#f7f7f7;}
	.disable input[type=radio]:checked + label:after{background:#b1b1b1 ;border:1px solid #b1b1b1 }
	.betCoreLabel{display:block;margin-top: 20px;}
	.proSuccessMsg{display: block;width: 100%;margin-bottom: 10px;clear: both;}
	.proDescLabel{display: block;}
	.proSuccessMsg h4{margin:0 ;position: relative;top: 2px;}
	.siLabel{margin-left:5px;font-weight:bold;}
	.brandSelValues{display: block;word-break: break-all; padding-right: 18px;}
	.oprtnGreenTable{background:#A2C24B;}
	.table-bordered .oprtnNobgrnd{background:none ;border-left:0;border-right:0 ;border-top:0;}
	.additionalParamContainer{min-height:280px;}
	.mstoneTab{border-bottom: 1px solid #7EA19D;}
	.taskListTable{border-bottom: 1px solid #7EA19D;}
	.proSuccessMsg .errorM3 .messageText::before{content:url('../images/red_i_icon.png');position:absolute; left: 28px;}
	.proSuccessMsg .errorM3 .messageTable .messageText{margin-left:40px ;}	
	.mstoneTabshow{display:block;}
	.mstoneTabhide{display:none;}
	.setupBlock{display:block;}
	
/* Upload Image Hover */
	.imgHoverContainer{position: absolute;  width: 100%;  height: 84%;  bottom: 22px;display:none;}
   .imgHbuttonContainer{position: absolute;text-align: center;background:#fff;opacity:0.8;height: 30px;bottom:0;width:98%;border-top:1px solid #E7E7E7;border-bottom:1px solid #A8A8A8;border-right:1px solid #A8A8A8;border-left:1px solid #A8A8A8;}
   .imgUpdateButton{border-right:1px solid #827C80;padding-right: 15px;  margin-right: 0 ;}
   .imgDelButton{padding-left: 15px;  margin-left: 0 ;cursor:pointer;}
   .imgDelButton:hover{text-decoration:underline;}
   .imgUpdateButton,.imgDelButton{color:#017DBB;margin:0;font-weight:bold;position: relative;  top: 5px;width: 29%;}
   .upImageContainer{border:1px solid #A8A8A8;border-radius:4px;}	
   .removeApprText {display: block;margin: 15px;}
   
/* threshold container */

	.thresholdContainer{width:100%;}
	.thresholdBox{background:#FFF582;border-radius: 3px;padding: 5px 10px 10px 10px;}
	.thresholdBox input{margin-right: 10px; position: relative; float:left;}
	.bcAuto{display:block;color:#555;}
	.autoContainer{border:1px solid #ccc;border-radius:4px;height:150px;overflow:auto;}
	.marginT20{margin-top:20px}
.radioTooltip10::before {
    left: 4px;
}
.radioTooltip10::before
{
  top: -8px;
    left: 10px;
    content: " ";
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fafafa;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    }
    
.radioTooltip11::before
{
  top: -8px;
    left: 237px;
    content: " ";
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fafafa;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    }
	
	.icoButton.smalllinfo{
		height: 16px ;
		width: 16px ;
		top: 0;
		left: 5px;
}
.mtaskwizardcss .modal-body,.edittaskModal .modal-body{height: 90%;}