.ipmSidebar{
    width: 100px;
    height: 100% ;
    background: #3C3C3C;
    color: #FFF;
    float: left;
    position: absolute;
    overflow: auto;
}

.ipmSidebar li{
    margin: 0 ;
    text-align: center;
    color: #F1F2F7;
}

.ipmSidebar li.active:after {
    right: 0;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #F5F5F5;
    border-width: 10px;
    margin-top: -10px;
}

.ipmSidebar li span{
    display: inline-block;
    font-size: 1.2em ;
}

.ipmSidebar a{
    height: 100px;
    vertical-align: middle;
}

.ipmSidebar a, 
.ipmSidebar a.active,
.ipmSidebar a:hover{
    color: #FFFFFF ;
}

.ipmSidebar a.blue {
    background-color: #209DDA ;
}

.ipmSidebar a.blue.active, .ipmSidebar a.blue:hover{
    background-color: #1D8DC4 ;
}

.ipmSidebar a.green {
    background-color: #80B726 ;
}

.ipmSidebar a.green.active, .ipmSidebar a.green:hover{
    background-color: #71A222 ;
}

.ipmSidebar a.maroon {
    background-color: #AC0D60 ;
}

.ipmSidebar a.maroon.active, .ipmSidebar a.maroon:hover{
    background-color: #940B53 ;
}

.ipmSidebar a.orange {
    background-color: #FF982F ;
}

.ipmSidebar a.orange.active, .ipmSidebar a.orange:hover{
    background-color: #FF8B16 ;
}

.ipmSidebar a.pink {
    background-color: #DF1995 ;
}

.ipmSidebar a.pink.active, .ipmSidebar a.pink:hover{
    background-color: #C81686 ;
}

.ipmSidebar a.purple {
    background-color: #9641B4 ;
}

.ipmSidebar a.purple.active, .ipmSidebar a.purple:hover{
    background-color: #863AA1 ;
}

.ipmSidebar a.red {
    background-color: #FF2514 ;
}

.ipmSidebar a.red.active, .ipmSidebar a.red:hover{
    background-color: #FA1200 ;
}

.ipmSidebar a.teal {
    background-color: #00B389 ;
}

.ipmSidebar a.teal.active, .ipmSidebar a.teal:hover{
    background-color: #009A75 ;
}

.ipmSidebar a.yellow {
    background-color: #F7CD2F ;
}

.ipmSidebar a.yellow.active, .ipmSidebar a.yellow:hover{
    background-color: #F6C716 ;
}

.ipmSidebar a.home {
    background-color: #00a9e0 ;
	color:#a1e8ff;
}

.ipmSidebar a.home.active , .ipmSidebar a.home:hover{
    background-color: #009ED1 ;
	color:#fff ;
}

.ipmSidebar a.projects {
    background-color: #00b389 ;
	color:#b5ffee;
}

.ipmSidebar a.projects.active , .ipmSidebar a.projects:hover{
    background-color: #02A37D ;
	color:#fff ;
}

.ipmSidebar a.tasks {
    background-color: #dc6b2f ;
	color:#ffdcc9;
}

.ipmSidebar a.tasks.active , .ipmSidebar a.tasks:hover{
    background-color: #CC642D ;
	color:#fff ;
}

.ipmSidebar a.reports {
    background-color: #ac4fc6;
	color:#df97f2;
}

.ipmSidebar a.reports.active , .ipmSidebar a.reports:hover{
    background-color: #9D48B5 ;
	color:#fff ;
}