ul.progress-bar { 
  text-align:left;
  z-index:1;
}
ul.progress-bar li {
  color: black;
  display: block;  
  font-weight: 300;
  padding: 5px;
  position: relative;
  list-style: none;
  margin-left: 0;  
}
ul.progress-bar li.active {
  font-weight: bold;
}
ul.progress-bar li.active:before {
  background: #F8D347;
  z-index: 99999;
}
ul.progress-bar li.visited {
  background-color: #e98824;
}
ul.progress-bar li.completed {
  background-color: #A3C24B;
}

ul.progress-bar li.visited:nth-child(1) {
background: #e98824 url(../images/img_pb_1a.png) 12px 8px no-repeat;
background-size: 56%;
}

ul.progress-bar li.completed:nth-child(1) {
background: #A3C24B url(../images/img_pb_1a.png) 12px 8px no-repeat;
background-size: 56%;
}

ul.progress-bar li:nth-child(2) {
background: #fff url(../images/img_pb_1b.png) 5px -35px no-repeat;
background-size: 71%;
}
ul.progress-bar li:nth-child(3) {
background: #fff url(../images/img_pb_1c.png) 5px -18px no-repeat;
background-size: 77%;}

ul.progress-bar li:nth-child(4) {
background: #fff url(../images/img_pb_1d.png) 5px -16px no-repeat;
background-size: 84%;
}
ul.progress-bar li:nth-child(5) {
background: #fff url(../images/img_pb_1e.png) 5px -40px no-repeat;
background-size: 71%;
}
ul.progress-bar li:nth-child(6) {
background: #fff url(../images/img_pb_1f.png) 5px -28px no-repeat;
background-size: 78%;
}
ul.progress-bar li:nth-child(7) {
background: #fff url(../images/img_pb_1g.png)8px -32px no-repeat;
background-size: 68%;
}

ul.pleProgress li.plePhase:nth-child(6){
background: #fff url(../images/img_pb_1g.png)8px -32px no-repeat;
background-size: 68%;
}

ul.pleProgress li.plePhase.visited:nth-child(6){
background: url(../images/img_pb_1g.png)7px 7px no-repeat;
background-size: 65%;
}
ul.pleProgress li.plePhase.completed:nth-child(6){
background: url(../images/img_pb_1g.png)7px 7px no-repeat; 
background-size: 65%;
}

ul.progress-bar li.visited:nth-child(2) {
background: #e98824 url(../images/img_pb_1b.png) 6px 7px no-repeat;
background-size: 71%;
}

ul.progress-bar li.completed:nth-child(2) {
background: #A3C24B url(../images/img_pb_1b.png) 6px 7px no-repeat;
background-size: 71%;
}

ul.progress-bar li.visited:nth-child(7) {
background: #e98824 url(../images/img_pb_1g.png)7px 7px no-repeat;
background-size: 65%;
}
ul.progress-bar li.completed:nth-child(7) {
background: #A3C24B url(../images/img_pb_1g.png)7px 7px no-repeat;
background-size: 65%;
}

ul.progress-bar li.visited:nth-child(6) {
background: #e98824 url(../images/img_pb_1f.png) 5px 9px no-repeat;
background-size: 76%;
}

ul.progress-bar li.completed:nth-child(6) {
background: #A3C24B url(../images/img_pb_1f.png) 5px 9px no-repeat;
background-size: 76%;
}

ul.progress-bar li.visited.visited:nth-child(5) {
background: #e98824 url(../images/img_pb_1e.png) 7px 4px no-repeat;
background-size: 66%;
}

ul.progress-bar li.completed:nth-child(5) {
background: #A3C24B url(../images/img_pb_1e.png) 7px 4px no-repeat;
background-size: 66%;
}

ul.progress-bar li.visited:nth-child(3) {
background: #e98824 url(../images/img_pb_1c.png) 4px 8px no-repeat;
background-size: 81%;
}
ul.progress-bar li.completed:nth-child(3) {
background: #A3C24B url(../images/img_pb_1c.png) 4px 8px no-repeat;
background-size: 81%;
}
ul.progress-bar li.visited:nth-child(4) {
background: #e98824 url(../images/img_pb_1d.png) 4px 12px no-repeat;
background-size: 86%;
}

ul.progress-bar li.completed:nth-child(4) {
background: #A3C24B url(../images/img_pb_1d.png) 4px 12px no-repeat;
background-size: 86%;
}

ul.progress-bar li:nth-child(1) {
background: #fff url(../images/img_pb_1a.png) 12px -30px no-repeat;
background-size: 56%;
}

ul.progress-bar li.completed:nth-child(1) {
background: #A3C24B url(../images/img_pb_1a.png) 12px 8px no-repeat;
background-size: 56%;
}

.ipmFunnelPanel ul.progress-bar {background-color:#dedede;}
ul.progress-bar a {
  color: #00A8B3;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.progress-bar li.active:after {
    background-size: 35px 35px;
    background-color: #F8D347;
    -webkit-box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

.progress-wrap {
    margin: 20px 15px 20px 7px; 
}

ul.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-size: 35px 35px;
    background-color: #45588c;
    border-radius: 15px;
    height: 1px;    
    padding: 0;
    position: relative;
    width: 100%;
}
 
  ul.progress-bar li {  
  display: block; 
  position:absolute;
  font-weight: 300;
  list-style: none;
  height: 40px; 
  width: 40px;
  z-index: 98;
  background: #273E7D; 
  border-radius: 50%;
  top:-21px;
  -webkit-border-radius: 50%;
}
.progress-bar{font-size: 14px;line-height: 10px;}

ul.progress-bar li span {
position: absolute;
display: block;
top: 45px;
left: -16px;
width: 187%;
font-size: 13.333333333px;
text-align: center;
color: #555;
line-height:13px;
}

ul.progress-bar li i {
position: absolute;
display: block;
top: 51px;
left: -89px;
width: 300%;

font-size: 12px;
font-style: normal;
text-align: center;
}

ul.progress-bar li:nth-child(2) {left: 16%;}
ul.progress-bar li:nth-child(3) {left: 32%;}
ul.progress-bar li:nth-child(4) {left: 48%;}
ul.progress-bar li:nth-child(5) {left: 64%;}
ul.progress-bar li:nth-child(6) {left: 80%;}
ul.progress-bar li:nth-child(7) {left: 96%;}

ul.pleProgress li:nth-child(2) {left: 19%;}
ul.pleProgress li:nth-child(3) {left: 39%;}
ul.pleProgress li:nth-child(4) {left: 59%;}
ul.pleProgress li:nth-child(5) {left: 79%;}
ul.pleProgress li:nth-child(6) {left: 97%;}

ul.progress-bar li.visited:before {
color: #12cb9f;
}
ul.progress-bar li:before {
display: block;
position: absolute;
top: 5px;
left: 5px;
}
ul.progress-bar li:first-child:before {
left: 7px;
}
li.visited.next:after {
background-size: 35px 35px;
content: "";
height: 5px;
left: -84px;
top: 65px;
position: absolute;
z-index: 100;
width: 279.5%;  
}


ul.progress-bar.pleProgress li.plePhase.visited{
  background-color: #e98824;
}
ul.progress-bar.pleProgress li.plePhase.completed {
  background-color: #A3C24B;
}

.funnelBlock{width:525px;float:right;margin-right:15px;}