/************** CSS HEADER INFORMATION******************************************************
	- File Name     : IPM_Buttons
	- Description   : This file is used for the buttons styles 
	- Client        : Unilever
	- Last Modified : 29-10-15
	- Author        : Cognizant Technology Solutions  
*******************************************************************************************/
/* ===GLOBAL STYLES=== */
.ipmButton {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    background-color: #fff;
	border:1px solid #8ab3da;
	color:#0f81bb;
    padding: 0.625em;
	padding-bottom:0.55em\9;
    font-size: 16px ;	    
    line-height: 1;
	font-family:'Arial';
    font-weight: bold;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.btn.ipmButton { 
    padding: 0.650em ; 
}

.ipmButton:hover {
    background: #dbefff;
}

.ipmButton, .ipmButton:hover, .ipmButton i , .ipmButton span {
    text-decoration: none;
}

.ipmButton i{
    float: left;
}

.ipmButton span{
    margin-left: 1em;
}

.ipmButtonGroup .ipmButton{
}

.ipmButtonGroup .ipmButton:first-child{
    margin-left: 0;
}

.ipmButtonGroup .ipmButton:last-child{
    margin-right: 0;
}


.ipmButton.small{
    padding: 0.75em 1em;
    font-size: 0.875rem;
}

.ipmButton.large{
    padding: 1.375em;
    font-size: 1.125rem;
}

/* Colors */
input.ipmButton.primary {
	background:#81bf42;
	color:#fff;
	border:1px solid #406b14;
	font-size:16px ;
}
.ipmButton.primary {
	background:#81bf42;
	color:#fff;
	border:1px solid #406b14;
	font-size:16px ;
}
input.ipmButton.primary:hover {
	background:#56843b;
	color:#fff;
	border:1px solid #406b14;
}
.ipmButton.primary:hover {
	background:#56843b;
	color:#fff;
	border:1px solid #406b14;
}
.ipmButton.blue {
    background: #209DDA ;
}
.ipmButton.blue:hover {
    background: #1D8DC4 ;
}

.ipmButton.green {
    background: #81BF42 ;
	color:#fff ;
	border-color:#406b14 ;
}
.ipmButton.green:hover {
    background: #71A222 ;
}

.ipmButton.maroon {
    background: #AC0D60 ;
}
.ipmButton.maroon:hover {
    background: #940B53 ;
}

.ipmButton.orange {
    background: #FF982F ;
}
.ipmButton.orange:hover {
    background: #FF8B16 ;
}

.ipmButton.pink {
    background: #DF1995 ;
}
.ipmButton.pink:hover {
    background: #C81686 ;
}

.ipmButton.purple {
    background: #9641B4 ;
}
.ipmButton.purple:hover {
    background: #863AA1 ;
}

.ipmButton.red {
    background: #FF2514 ;
}
.ipmButton.red:hover {
    background: #FA1200 ;
}

.ipmButton.teal {
    background: #00B389 ;
}
.ipmButton.teal:hover {
    background: #009A75 ;
}

.ipmButton.yellow {
    background: #F7CD2F ;
}
.ipmButton.yellow:hover {
    background: #F6C716 ;
}
.ipmButton.white{color:white;}
.ipmButtonGroup ul li, .ipmButton ol li{
	margin-left:0;	
}

.ipmButtonGroup.ipmActionButtons  .ipmButton {
	font-size:1.28em;
	padding: 0.5em 0.8em;
	margin:0 2px;
}

.ipmButtonGroup.ipmFromAction  .ipmButton {
	min-width:80px;
	margin-right: 10px;
}

.ipmButtonGroup.ipmFromAction.pull-right {
	text-align:right;
}

.ipmButtonGroup .dropdown .ipmButton {
	font-size:1em;
	margin-right:35px;
}

.ipmButtonGroup ul li a, .ipmButton ol li a{	
	padding: 10px 8px;
	font-size: 0.9em;
	border-bottom: 1px solid #ddd;
}

.ipmButtonGroup .dropdown-menu{
	padding: 0;
	margin-top:0;
	left: -18px;
	width: 175px;	
}
.ipmDropdown .ipmButton {padding-bottom:0.8em\9;}
.ipmDropdown .dropdown-menu {margin-left: 18px;max-width: 156px;min-width: 156px;}

.ipmPanelHeading  .ipmBackBtn {color:#00B389;}
.ipmButton.gray{background: #818181 ;}

/*****************************************************
******************* IPM NG Revamp ********************
*****************************************************/

.pageHeadToolbar .SecButtonSet {display:inline-block;margin: 17px 0 10px 10px;}
.pageHeadToolbar .SecButtonSet .icoButton {display:inline-block;width:30px; margin: 0 5px; height:30px;border:1px solid #1568b6;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}

a.icoButton.comments {position:relative; background:url(../images/ico-comments.svg) no-repeat 50% 50%;}
a.icoButton.comments .count {position: absolute;-webkit-border-radius: 50%;-moz-border-radius: 50%; border-radius: 50%;background: #e98824;text-align: center;width: 17px;height: 17px;font-size: 10px;color: #fff;line-height: 17px;right: -10px;top: -4px;}
a.icoButton.history {position:relative; background:url(../images/ico-history.svg) no-repeat 50% 50%;}
a.icoButton.paper-clip {position:relative; background:url(../images/ico-paper-clip.svg) no-repeat 50% 50%;}
a.icoButton.redBell {position:relative; background:url(../images/ico-bell.svg) no-repeat 50% 50%;}
a.icoButton.download {position:relative; background:url(../images/dnld-new.svg) no-repeat 50% 50%;}
a.icoButton.download-gate{position:relative; background:url(../images/ico-download-2.svg) no-repeat 50% 50%;}
a.icoButton.print {position:relative; background:url(../images/ico-print.svg) no-repeat 50% 50%;}
a.icoButton.share {position:relative; background:url(../images/ico-share.svg) no-repeat 50% 50%;}
a.icoButton.details {position:relative; background:url(../images/ico-arrowright.svg) no-repeat 50% 50%;}
a.icoButton.edit {position:relative; background:url(../images/ico-edit.svg) no-repeat 50% 50%;}
a.icoButton.delete {position:relative; background:url(../images/icon-delete.svg) no-repeat 50% 50%;background-color:#fff;}
a.icoButton.edit1 {position:relative; background:url(../images/icon-edit.svg) no-repeat 50% 50%;background-color:#fff;}
a.icoButton.document {position:relative; background:url(../images/icon-document.svg) no-repeat 50% 50%;}
a.icoButton.info {position:relative; background:url(../images/icon-info.svg) no-repeat 50% 50%;}
a.icoButton.red-info {position:relative; background:url(../images/red_i_icon.png) no-repeat 50% 50%;}
a.icoButton.arrow-left {position:relative; background:url(../images/icon-arrow-left.svg) no-repeat 50% 50%;}
a.icoButton.question {position:relative; text-align:center;font-size:20px;}
a.icoButton.question:hover{text-decoration:none;color:#428bca;}
a.icoButton.list {position:relative; background:url(../images/icon-list.svg) no-repeat 50% 50%;}
a.icoButton.list-selected {position:relative; background:url(../images/icon-list-selected.svg) no-repeat 50% 50%;}
a.icoButton.timeline {position:relative; background:url(../images/icon-timeline.svg) no-repeat 50% 50%;}
a.icoButton.timeline-selected {position:relative; background:url(../images/icon-timeline-selected.svg) no-repeat 50% 50%;}
a.icoButton.filter {position:relative; background:url(../images/icon-filter.svg) no-repeat 50% 50%;}
a.icoButton.filter-selected {position:relative; background:url(../images/icon-filter-selected.svg) no-repeat 50% 50%;}
a.icoButton.document-grey {position:relative; background:url(../images/icon-document-grey.svg) no-repeat 50% 50%;}
a.icoButton.file {position:relative; background:url(../images/icon-file.svg) no-repeat 50% 50%;}
a.icoexcel {position:relative; background:url(../images/icon_excel1a.png) no-repeat 50% 50%;}
a.icoclose {position:relative; background:url(../images/icon_1e.svg) no-repeat 50% 50%; background-size:100%;}
a.icodownload {position:relative; background:url(../images/icon_1a.svg) no-repeat 50% 50%;}
a.icoupload {position:relative; background:url(../images/icon_1d.svg) no-repeat 50% 50%;}
a.icorollout {position:relative; background:url(../images/icon_1b.svg) no-repeat 50% 50%;}
a.icoopen {position:relative; background:url(../images/icon_1c.svg) no-repeat 50% 50%;}

.box1{position:relative; background:url(../images/tabsprite.png) no-repeat right;background-position:-117px -1px;}
.box1:hover{position:relative; background:url(../images/tabsprite.png) no-repeat right;background-position:-117px -122px;}

.box2{position:relative; background:url(../images/tabsprite.png) no-repeat;background-position:3px 1px;}
.box2:hover{position:relative; background:url(../images/tabsprite.png) no-repeat;background-position:3px -120px;}

.box3{position:relative; background:url(../images/tabsprite.png) no-repeat;background-position:-352px 6px;}
.box3:hover{position:relative; background:url(../images/tabsprite.png) no-repeat;background-position:-352px -115px;}

.box4{position:relative; background:url(../images/tabsprite.png) no-repeat;background-position:-231px 0;}
.box4:hover{position:relative; background:url(../images/tabsprite.png) no-repeat;background-position:-231px -121px;}

a.icoButton.view {position:relative; background:url(../images/icon_viewprojects.png) no-repeat 50% 50%;}
a.icoButton.newproject {position:relative; background:url(../images/icon_newproject.png) no-repeat 50% 50%;}
a.icoButton.askipm {position:relative; background:url(../images/icon_askipm.png) no-repeat 50% 50%;}
a.icoButton.ipmportal {position:relative; background:url(../images/icon_ipmportal.png) no-repeat 50% 50%;}
.infocontainer{background: #E5F8FF;border: 1px solid #1568B6;padding: 5px;border-radius: 6px;margin-bottom:10px;}
a.icoButton.laundry-icon {position:relative; background:url(../images/Icon-category.svg) no-repeat 50% 50%;}
.bosscardbutton-grey{position:relative; background:url(../images/sprite_bosscard_1b.png) no-repeat 50% 50%;background-position:0 0;}
.bosscardbutton-blue{position:relative; background:url(../images/sprite_bosscard_1b.png) no-repeat 50% 50%;background-position: 0 -79px;}
.projectbutton-grey{position:relative; background:url(../images/sprite_bosscard_2b.png) no-repeat 50% 50%;background-position:0 0;}
.projectbutton-blue{position:relative; background:url(../images/sprite_bosscard_2b.png) no-repeat 50% 50%;background-position: 0 -79px;}
.dArrow{position:relative;background:url(../images/arrow_down-02.svg) no-repeat 50% 50%;}
.upArrow{position:relative;background:url(../images/arrow_up-02.svg) no-repeat 50% 50%;}
a.laundry-icon {position:relative; background:url(../images/Icons-03.svg) no-repeat 50% 50%;}
.calendar{position:relative; cursor:pointer;background:url(../images/icon_calendar.svg) no-repeat 98% 50%;background-color:#fff;}
.popup_head{background:url(../images/pop_header.png) repeat-x;}
a.edit02{position:relative; background:url(../images/edit-02.svg) no-repeat 50% 50%;background-size: 35px 35px;background-color: #fff;}
a.delete02{position:relative; background:url(../images/delete-02.svg) no-repeat 50% 50%;background-size: 40px 40px;background-color: #fff;}

.clusterbg{background:url('../images/pebble_1_retina.png') no-repeat;}
.mcobg{background:url('../images/pebble_2_retina.png') no-repeat;}
.mco-bg{background:url('../images/pebble_5_retina.png') no-repeat;}
.countrybg{background:url('../images/pebble_3_retina.png') no-repeat;}
.country-bg{background:url('../images/pebble_4_retina.png') no-repeat;}
.redAlerticon{background: url('../images/alert_1b.png') no-repeat;background-color: #FFEF47;background-position: 12px 10px;}
.redAlerticonother{background: url('../images/alert_1b.png') no-repeat;width: 20px;height: 20px;}

.progressIcon {position:relative; background:url(../images/Inprogress.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.approvedIcon {position:relative; background:url(../images/approve.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.notapprovedIcon {position:relative; background:url(../images/notapproved.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.discardIcon {position:relative; background:url(../images/discard-red.svg) no-repeat 50% 50%;width:28px;display:block;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.Approved.with.Edits {position:relative; background:url(../images/approvewithedits.svg) no-repeat 50% 50%;width:45px;display:block;height: 38px;background-size: 45px;margin: 0 auto;margin-bottom: 10px;}
.In.Progress {position:relative; background:url(../images/Inprogress.svg) no-repeat 50% 50%;width:28px;display:block;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.Postponed {position:relative; background:url(../images/postpone.svg) no-repeat 50% 50%;width:28px;display:block;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.Proposed{position:relative; background:url(../images/propose.svg) no-repeat 50% 50%;width:28px;display:block;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.Stopped {position:relative; background:url(../images/stop.svg) no-repeat 50% 50%;width:28px;display:block;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}

.Approved{position:relative; background:url(../images/approve.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.active .Approved{position:relative; background:url(../images/approve-active.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}

.active .progressIcon {position:relative; background:url(../images/Inprogress-active.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.active .approvedIcon {position:relative; background:url(../images/approve-active.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.active .notapprovedIcon {position:relative; background:url(../images/notapproved-active.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.active .discardIcon {position:relative; background:url(../images/discard-red.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.active .Approved.with.Edits {position:relative; background:url(../images/approvewithedits-active.svg) no-repeat 50% 50%;display:block;width:45px;height: 38px;background-size: 45px;margin: 0 auto;margin-bottom: 10px;}
.active .In.Progress {position:relative; background:url(../images/Inprogress-active.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.active .Postponed{position:relative; background:url(../images/postpone-active.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.active .Proposed{position:relative; background:url(../images/propose-active.svg) no-repeat 50% 50%;display:block;width:28px;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.active .Stopped {position:relative; background:url(../images/stop.svg) no-repeat 50% 50%;width:28px;display:block;height: 38px;background-size: 28px;margin: 0 auto;margin-bottom: 10px;}
.ipmButton.statusButtonOrange {
    background: #F79C3E;
    border: 1px solid #AD6B27;
    color: #fff;
}
.stop_btn
{
width:80%;
}
.Btnhold
{
padding:0px 20px;
}