.marginTop{margin-top:5%;}
.infoMsgDiv{padding:0 ;margin-bottom:20px;}
.infoM3{background:#F6FFEC ;border:1px solid #759B5E ;  margin-bottom: 20px;}
.infoM3 .messageText{color:#52813D;}
.infoM3 .msgIcon, .infoMedium,.errorM3 .msgIcon, .errorMedium{display:none;}
.message{margin:4px 0 ;}
.errorM3 .messageTable .messageText h4,.errorM3 .messageTable .messageText{color:#E13726 ;font-weight:normal ;}
	.errorM3 .messageText::before{content:url('../images/red_i_icon.png');position:absolute; left: 10px;}
	.errorM3 .messageTable .messageText{margin-left:35px ;}
	.infoM3 .messageText::before{content:url('../images/success_icon.png');position:absolute; left: 10px;}
	.infoM3 .messageTable .messageText{margin-left:35px ;} 
	.errorM6, .errorM4, .errorM3, .errorM2, .errorS1{background-color: #FFEBEC ;border:1px solid #E9C3BA ;}