	.marginTop{margin-top:5px;}
	.inputField{margin-bottom:15px;}
	.inputField input, .inputField select{width:100%;height:30px;border-radius: 3px; border: 1px #a8a8a8 solid;}
	.fa-calendar:before{margin-left: -41px;}
	.middlePanel{background:#f9f9f9; border-top:1px #d7e1e0 solid; border-bottom:1px #d7e1e0 solid;margin-bottom: 10px;padding-top: 5px;}
	.fieldFont{font-size:1em; color:#555;}
	.fieldLabel{padding-top:5px; padding-bottom:5px; font-weight:bold;}
	.modal-backdrop.in {opacity: 0.7;}
	.date input{height:30px;border-radius: 4px;border: 1px #ddd solid;width:100%;}
	.input-group.date{width:100%;}
	.addTask .ipmButtonGroup{margin-bottom: 8%;} 
	.pull-right{float:right;}
/* lookup search icon*/
	.lookupInput a{margin-left: -14%;}
	.input-group-addon{padding: 0;margin-top: -3px;width: 1px;background:none; border:none;color: #007dbb;font-size: 1.3em; position:relative;}
	.messageTable td ul li{margin-left:0 ;}
	.messageTable td ul{padding-left:0 ;margin-top: -25px ;}
	.message .messageTable .messageCell{margin-top:-6px ;float:left;}
	.errorMsg{padding: 10px;background: #ffebec;border-radius: 3px;margin-top: 8px;}
	.error{border:1px solid #e03729 ;}
	body{overflow:hidden;height:100%;}
	html, .container-fluid, .EditTask, .EditTask form{overflow:auto;}
	.phaseModal{width: 48%;float: left;margin-right: 12px;}
	.gatedocModal{width: 48%;float: left;}
	.message{margin: 4px 50px 0 0;}
		
	.EditTask .ipmButtonGroup{height:10%;margin-bottom:15px;}
	.inlineEdit{margin:10px 10px 0 10px;}
	.inlineEdit > div, .inlineEdit .optionalPart > div{padding-left:5px; padding-right:5px;}
	.inlineEdit > div:first-child{padding-left:0;}
	.inlineEdit .ipmButtonGroup{padding-right: 0;}
	.inputField{margin-bottom:15px;}
	.inputField input, .inputField select{width:100%;height:30px;border-radius: 3px; border: 1px #a8a8a8 solid;}
	.fa-calendar:before{margin-left: -41px;}
	.tPhaseEditDiv{margin-left: 7%;}
	.width10{width:11%;}
	.tUserEditDiv .lookupInput a{margin-left:-23%;}
	.dateInputBox{padding:5px;}
	.tUserEditDiv .inputField{word-break: break-all;}
	.buttonMarginRight{margin-right:15px;}
	.ipmButtonGroup .ipmButton:first-child{margin-right:15px;}
	.infoM3 .msgIcon, .infoMedium,.errorM3 .msgIcon, .errorMedium{display:none;}
	.errorM3 .messageTable .messageText h4,.errorM3 .messageTable .messageText{color:#C73E36 ;font-weight:normal ;}
	.errorM3 .messageText::before{content:url('../images/red_i_icon.png');position:absolute; left: 10px;}
	.errorM3 .messageTable .messageText{margin-left:35px ;} 
	.infoM3 .messageText::before{content:url('../images/success_icon.png');position:absolute; left: 10px;top: 5px;}
	.infoM3 .messageTable .messageText{margin-left:35px ;} 
	.infoM3 .messageTable .messageText h4{display:none;}
	.message .errorM3{background-color: #FFEBEC ;}
	.errorM6, .errorM4, .errorM3, .errorM2, .errorS1{background-color: #FFEBEC ;border:1px solid #E9C3BA ;}
	.message{position: relative;  }
	.dateFormat {display:none;}
	.todoName{height: 110px;width: 100%;resize: none;border-radius: 4px;}
	.panelScroll{height: 438px;overflow: auto;}
	.dateInputBox.calendar{width:40%;}
	.datePicker{margin-top: -170px;}