.secUsersHistory {color:#636363; margin:20px 0;}
.secUsersHistory .col-xs-2 {width:66px;margin-top:12px;}
.secUsersHistory .tlCircle {width: 10px;height: 10px;background: #0079b5;border-radius: 50%;margin-left: 13px;}
.secUsersHistory .ipmImage {border:1px solid #007ab8;}
.secUsersHistory .panel-group {padding:20px 0;}
.secUsersHistory .listHistory .username {color:#8299ad;}
.secUsersHistory .listHistory .date {color:#3a506b;font-weight:bold;font-size:1.2em;}
.secUsersHistory .listHistory .action {color:#424242;font-size:1.2em;}

.secUsersHistory .listHistory {background:#cfebfc; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;margin-bottom:10px; padding:10px;}
.secUsersHistory .listHistory:before {left: 0;top: 40px; border: solid transparent;content: "";height: 0;width: 0;position: absolute;pointer-events: none;border-right-color: #cfebfc;border-width: 10px;margin-top: -21px;margin-left: -20px;}
.secUsersHistory .listHistory .rowList {border-bottom:1px solid #ddd;  padding-bottom:10px;} 
.secUsersHistory .listHistory .cTime {text-align:right;font-size:0.9em;}
.secUsersHistory .listHistory .delete {text-align:right;}
.secUsersHistory .listHistory .secName {font-weight:bold;}
.secUsersHistory .panel{-webkit-box-shadow:none; box-shadow: none;}
.secUsersHistory textarea {width:100%; border: 1px solid #929292; padding:5px; margin:15px 0 10px; height:100px;}
.secUsersHistory .secButtonSet {text-align:right;}
.secUsersHistory .btn {padding:.8em;}
.secUsersHistory .SecButtonSet {display:inline-block; text-align:right; margin-top:7px;}
.secUsersHistory .SecButtonSet .icoButton {display:inline-block;width:30px; margin: 0 5px; height:30px;border:1px solid #1568b6;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
a.icoButton.question{margin-top:5px ;}
.ipmSecHistoryTab .ipmTabContent { width:100%; }
.ipmSecHistoryTab .panel {background:transparent;}
.ipmSecHistoryTab .ipmTabs {padding:0 0 0 20px; margin-top:20px; background:#fff; border-bottom:1px solid #d1d1d1;}
.ipmSecHistoryTab .ipmTabs li {  top: 5px;  width: 180px;  position: relative;  padding: 14px;  background-repeat: no-repeat ;  text-align: center;  margin-right: 0.5%;  display: inline-block;  color: #fff;  margin-left: 0 ;  font-weight: bold;  cursor: pointer; }
.ipmSecHistoryTab .ipmTabs li.active{color: #343434;  position: relative;  cursor: pointer;z-index:100; top:6px;}
.tabEven{background: url('../images/tabsprite.png');background-position: -188px -247px ;}
.tabEven:hover{background: url('../images/tabsprite.png');background-position: -188px -298px ;}
.tabOdd{ background: url('../images/tabsprite.png'); background-position: -5px -247px ;}
.tabOdd:hover{background: url('../images/tabsprite.png');  background-position: -5px -298px ;}
.tabOdd.active:hover{background: url('../images/tab_white_right.svg') ;  height: 40px;  background-size: 100% ;}
.tabEven.active:hover{background: url('../images/tab_white_left.svg') ;  height: 40px;  background-size: 100% ;}
.tabEven.active {  background: url('../images/tab_white_left.svg') ;  height: 40px;background-size: 100% ;}
.tabOdd.active {  background: url('../images/tab_white_right.svg') ;  height: 40px;background-size: 100% ;}

@media screen and (min-width: 654px) {
    .secUsersHistory .col-xs-2 {width:66px;margin-top:12px;}
    .secUsersHistory .listHistory .action {color:#424242;font-size:1.1em;}
}

.ipmSecHistoryTab .ipmTabs{padding: 0 0 0 20px;  border-bottom: 1px solid #7ea19d;  margin-bottom: 20px;}
