/************** CSS HEADER INFORMATION******************************************************
	- File Name     : IPM_FinancialCopyPasteGrid
	- Description   : This file is used in the Financial Copy Paste Grid page 
	- Client        : Unilever
	- Last Modified : 18-11-15
	- Author        : Cognizant Technology Solutions  
*******************************************************************************************/
/* ===GLOBAL STYLES=== */
.panel,table{border:0 ;}
.headerlogo table.htmlDetailElementTable{margin-bottom:0 ;display:none;}
.headerSearchLeftRoundedCorner .phSearchInput{top:2px ;}
.ipmProjectDetails .panel{padding:0 ;margin-top: 10px;border: 0;}
label{cursor:auto ;}
.grentxt{margin-top: 4px;}
ul, ol, dl{font-size:1em ;}
.pageHeadToolbar{border-bottom:0 ;}
.noPadleft{padding-left:0 ;}
.noPadright{padding-right:0 ;}
.icoButton.question{line-height:29px ;}
.gridBtnContainer{margin-top:10px;}
.gridMcoLabel{color:#555;margin-top: 6px;font-weight:bold;margin-right:10px;cursor:auto ;}
.drpfield{border-color: #ccc ;width:35% ;background-size:40px;}
button.ipmButton.green{height:34px ;}
.gridInfo {margin-bottom:20px;border: 1px solid #B0D2E6;padding: 10px;border-radius: 4px;text-indent: 30px;background: url(../images/info_icon.png) no-repeat 12px 10px #E5F8FF;}
.gridInfo label{color: #007DBB ;}
.navbar .navbar-nav>li a{font-size:14px;}
.btn.ipmButton.green,.btnDisabled.ipmButton.green{height:32px;font-size:16px;}