	.noborder{border-left:0 ;}
	.table>thead>tr>th>div {padding-left:10px ;border-left:1px solid #ddd;float:left;margin-bottom: 6px;}
	.innertext{font-size:0.8em ;}
	.projectContainer .pHead {padding-bottom: 15px;border-bottom: 4px solid #E6E534 ;padding-top: 15px;}
	.ipmAccordion .projectContainer .pHead > span.expico {display: inline-block;cursor: pointer;font-family: FontAwesome;width: 21px;
	height: 21px;text-align: center;font-weight: normal;line-height: 23px;background: #81bd42;position: relative;margin-right: 5px;
	font-size: 0.8em;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;color: #fff;}
	.todoSubhead {color: #1797C0;font-weight: bold;border-right: 0 solid #A7A7A7;padding: 0 10px;margin-right: 10px;}
	.table>tbody>tr>td:first-child {text-align: left ;}
	.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{padding:16px 5px ;}
	.whitebg{background:#fff;}
	.inputField-text {width: 11%;height: 30px;border-radius: 3px;border: 1px #a8a8a8 solid;color: #565656;}
	.h48{height:48px;}
	.regpos{position: relative;bottom: 10px;}
	.pl10{padding-left:10px;}
	.projectRadioButton input[type=radio] {visibility: hidden;width: 0;height: 0;}
	.projectRadioButton label {background:#fff;position: relative;margin-right: 66px;text-indent: 30px;font-weight: normal;color: #555;float: left;cursor: pointer;width: 22px;
	height: 22px;border: 1px solid #ccc;border-radius: 20px;overflow: visible;white-space: nowrap;}
	.projectRadioButton input[type=radio]:checked + label {border: 2px solid #007DBD;}
	.projectRadioButton label:after {opacity: 0;content: '';position: absolute;width: 6px;height: 6px;background: #007DBD;top: 50%;left: 50%;margin-top: -3px;
	margin-left: -3px;border: 1px solid #007DBD;border-radius: 40px;}
	.projectRadioButton input[type=radio]:checked + label:after {opacity: 1;}
	.infotext{font-size: 0.85em;color: #666;}
	.noChangeCheckboxDiv{margin:0 0 10px 0;}
	.tblOverflow {overflow-x:scroll;}
	.showLabel{float:left;margin-right:20px;}