.countryassociation .lightblue{width:56.5%;margin-right: 1px;height:100px;overflow:auto;float:left; text-align:left; background-color:#f2f8fc; padding:10px; border:2px solid #ddd;font-size:12px;}
.countryassociation .darkblue{width:34.5%;height:100px;color:#222;float:left; text-align:left;background-color:#dceefa; padding:10px;font-size:12px; border:2px solid #ddd}
.border_bottom{border-bottom:1px solid #ddd;padding:5px 0px; margin-bottom:6px;}
.darkblue .border_bottom{border-bottom:1px solid #ddd;}
.countryassociation{margin-bottom:40px;margin-top:10px;}
.productsourcegrey{table-layout:fixed;}
.fa.greenicn {
    color: #81bf42;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 0px;
    padding: 4px 3px;
    font-weight: lighter;
    line-height: 10px;
}
.fa.addicn{
    cursor:pointer;
    color: #fff;
    background-color: #81bf42;
    border-radius: 50%;
    margin-right: 0px;
    margin-left: 5px;
    padding: 4px 3px;
    font-weight: lighter;
    line-height: 10px;
    margin-top: 2px;
}
.hiddenGoldCheck{display:none;}
.mrgnBottom{margin-bottom:20px;}
.ipmbutton.addblankrow
{
 padding:6px 16px;
 color:#555;
 border:2px solid #555;
 display:inline-block;
 border-radius:4px;
 margin-bottom:20px;
}
.totalrow {
    font-weight: bold;
    display: inline-block;
    color: #555;
    margin-left: 20px;
    margin-top: 10px;
}
.ipmButton .greenicn{margin-left:0px;margin-right:10px;}
.line.dark
{
height:0;
border:1px solid #ccc;
position:relative;
}
.line
{
height:0;
border:1px solid #ccc;
position:relative;
}
.line.dark span{
background-color: #dceefa;
color:#222;
}
.line span {
    position: absolute;
    text-align: center;
    top: -8px;
    left: 0;
    right: 0;
    width: 193px;
    margin: 0 auto;
    background-color: #f2f8fc;
    font-size: 12px;
}
.tobe
{
margin-bottom:40px;
}
div.padzero
{
padding:0;
}
table.table.table-bordered.productsource.darkoverlay th{
 background-color: #dceefa;
    border: 2px solid #ddd;
    padding:0px;
}
table.table.table-bordered.productsource {
    position: relative;
    border: 2px solid #ddd;
    margin-right: -18px;
}
table.table.table-bordered.productsource th {
    padding-top: 29px;
    background-color: #f2f8fc;
    border: 2px solid #ddd;
    text-align: center;
    font-size: 12px;
}
table.table.table-bordered.productsource th span {
display:block;
text-align:center;
width:100%;
}
.tobe {
    margin-bottom: 40px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 2px;
    background-color: #f2f8fc;
    width: 97%;
    height: 0;
    padding: 8px 0px;
}
.tobesup {
    margin-bottom: 40px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 2px;
    background-color: #dceefa;
    width: 97%;
    height: 0;
    padding: 8px 0px;
}
.fa.fa-sort-asc{line-height:0;}
.fa.fa-sort-desc{line-height:0;}
.productsourcegrey input {
    font-size: 12px;
    width: 100%;
}
table.table.table-bordered.productsourcegrey tr td {
    border: none;
    font-size:12px;
    text-align:center;
}
table.table.table-bordered.productsourcegrey tr {
    background-color: #efefef;
}
.crud a
{
dispaly:inline-block;
}
table.table.table-bordered.productsource tr td span{
text-align:center;
}
table.table.table-bordered.productsource tr {
    height: 74px;
}
.table>thead>tr>th>div.capcon {
    width: 75px;
    margin: 0 auto;
    background-color: #ececec;
    color: #555;
    vertical-align: middle;
    padding: 23px 0 10px;
    height: auto;
    border: 1px solid #ddd;
}
table.table.table-bordered.productsourcegrey td select {
    width: 100%;
}
.darkoverlay span
{
    padding-top: 25px;
}
.goldenbg
{
background-color:#ccc;
}
a.save {
    background: #81bf42;
    color: #fff;
    border: 1px solid #406b14;   
    text-decoration: none;
    padding: 5px 2px;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 2px;
    margin-left: 5px;
    border-radius: 4px;
    cursor:pointer;
}
a.save:hover{text-decoration:none; background: #56843b;
    color: #fff;
    border: 1px solid #406b14;}
    
.teamHeading {
    border-bottom: 1px solid #7EA19D;
    padding-bottom: 10px;
    color: #253A79;
}
.pageTitlefont {
    font-size: 2em;
}

/* Country dropdown styles */

    .ipmDropDownSelect { padding: 5px 5px;background: #fff;border: 1px solid #ddd;cursor:pointer;}
    .ipmDropDownSelect:after {
    display: block;
    font-family: FontAwesome;
    content: "\f107";
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 0;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #fff;
    color: #000;
}
.ipmDropDown .dropdown-menu {
    border: 1px solid #252525;
    z-index: 1000;
    min-width: 190px;
    border-radius: 4px 0 4px 4px;
    background: #f9f9f9;
    margin-top: 0;
    margin-right: -3px;
}
.ipmDropDown .cntrymainlist ul,.ipmDropDown .srcedcntrymainlist ul{
    padding: 0;
    list-style: none;
    z-index: 1000;
    min-width: 188px;
    border-radius: 4px 0 4px 4px;
    background: #fff;
    margin-bottom:0 ;
}
.ipmDropDown .cntrymainlist ul>li,.ipmDropDown .srcedcntrymainlist ul>li{
    padding: 10px 0 36px 10px ;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.cntrymlabels,.srcedcntrymlabels{
    display: block;
    float: left;
    margin-left: 7px;
}
.filterActionscc,.srcedfilterActionscc {
    border-top: 1px solid #ddd;
}
.ipmButtonGroup .ipmDropbuttonscc{
    border-right: 1px solid #252525;
}
.ipmButtonGroup .ipmDropbuttonscc,.ipmButtonGroup .ipmDropresetcc{
    text-align: center;
    padding: 5px 21px;
    width: 100%;
    display: inline-block;
    margin: 5px 0;
}
.cntrymainlist a,.srcedcntrymainlist a{
    color: #007dbb;
    font-weight: bold;
    cursor: pointer;
}
.ipmDropDownList:before {
    left: 8%;
    top: -8px;
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fff;
    content: " ";
    height: 15px;
    width: 15px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.hiddencntry,.srcedhiddencntry{display:none;}
.ipmDropDown .ipmDropDownList {
    border: 1px solid #c9c9c9 ;
    background: #fff ;
    left: 1px ;
    top: 41px ;
}
.cntrymainlist .ipmCheckbox,.srcedcntrymainlist .ipmCheckbox{width:35px;}
.procntrylist,.srcedcntrylist{height: 140px;overflow: auto;}
.cntrymainlist,.srcedcntrymainlist{margin-bottom:20px;}
.cntryValues,.srcedcntryValues{display: block;word-break: break-word; padding-right: 18px;text-align: left;}
.table-bordered.noTabborder{border:0;margin-bottom:0;}
.table>tbody>tr>td.noPadd{padding:0;}
.productsourcegrey input.srcUnitBox{float: left;width: 90%;}
input.numberBox{width:47%;}
input.sizeNumberbox{width:47%;float:left;}
table.table.table-bordered.productsourcegrey td .sizeSelect{width:50%;height: 23px;}
.ipmDropDown .srcedcntrymainlist .noindent>li{border-bottom: 0;padding: 0;}
/* Sourcing Styles */
.srcList{display: none;border: #999 solid 1px;margin-top: 20px;max-height: 200px;overflow-x: auto;background: #fff;position: absolute;z-index: 1;min-width: 166px;text-align: left;padding-left: 2px;}
.srcList div div:hover{background: #ccc;border: #999 solid 1px;zoom: 1;}

.goldenCheck{visibility: hidden;width: 0;height: 0;display: none;}
.goldenCheckcontainer label.goldbox{width:90%;background:#FBBE2E;color:#000;border:1px solid #E28A3C;padding:5px;font-size: 11px;margin: 0;cursor: pointer;}
.goldenCheckcontainer label{width:90%;background:#999;padding:5px;height: 29px;margin: 0;cursor: pointer;}
.greenBoxCheck,.srcingGreyCheck{visibility: hidden;width: 0;height: 0;display: none;}
.approvalCheckcontainer label.greenBox{width:90%;background:#A3C24B;color:#fff;padding:5px;font-size: 11px;margin: 0;cursor: pointer;}
.approvalCheckcontainer label{width:90%;background:red;padding:5px;height: 29px;margin: 0;cursor: pointer;color:#fff;}
.hdnCheckboxDiv label{background: red;padding: 8px;height: 33px; margin: 0;cursor: pointer;color: #fff;font-size: 12px;position: relative;bottom: 2px;width: 40%;text-align: center;}
.noPointer label,.noPointer label.goldbox,.approvalCheckcontainer.noPointer label.greenBox{cursor:auto;}
.hdnCheckboxDiv label.greenBox{background:#A3C24B;padding: 8px;height: 33px; margin: 0;cursor: pointer;color: #fff;font-size: 12px;position: relative;bottom: 2px;width: 40%;text-align: center;}
.srcPlanBtnContainer{width:120px;float:left;}
.srcPlanBtnContainer .icoButton{margin:0 2px;}
.duplicateRow{border: 2px solid red;}
.duplicateText{padding:20px;}
.buttonMarginRight{margin-right:20px;}
table.table.table-bordered.productsourcegrey tr .alignAddicn{text-align:left;}
.leftHeadWidthResp{width:56%;float:left;position:relative;}
.rightHeadWidthResp{width:34%;float:left;position:relative;}
.custWidthResp1,.greyBoxContainer{width:90%;}
.hdnCheckboxDiv .primary{margin-left: 7px;}
.proInitLoader {
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 5px;
    width: 99%;
    height: 100%;
    background:#fff url(../images/ajax-loader.gif) no-repeat center 40%;
}
div.custMarginTop{margin-top:6px;}
.srcErrBox {width: 60%;clear: both;}
.custSizeWidth span.ui-spinner.ui-state-default{width:42%;}
input.btn.ipmButton.primary{padding: 6px;font-size: 12px;}
.ui-spinner.ui-state-default{background:#fff;border-radius: 0;height: 23px;}
a.ui-state-default .ui-icon{position: relative;}
a.icoButton.delete{margin-left: 0;}
span.ui-spinner .ui-icon{margin-top:-2px;font-size: 10px;}
span.ui-icon{text-indent:0;}
a.ui-button-text-only .ui-button-text{padding:0;}
input.icoButton.edit1 {position:relative; background:url(../images/icon-edit.svg) no-repeat 50% 50%;background-color:#fff;text-indent: -9999px;margin-right: 0px;}
input.icoButton.clone{position:relative; background:url(../images/ico-clone.svg) no-repeat 50% 50%;text-indent: -9999px;}
.mngSrcContainer input.btn.ipmButton.primary{padding: 10px;font-size: 16px;margin-top: 5px;}
.SecButtonSet.confirmInfo .info{width:16px;height:15px;}
.confirmGreyBg{padding:10px;background:#ccc;float: left;width: 405px;}
.confirmCapabilityTitle{font-size: 12px;text-decoration: underline;}
.drpDownContainer{width: 185px;float: left;margin-top: 5px;}
.srcingTitle{font-size: 12px;margin-right: 5px;}
.hdnCheckboxDiv{display:none;float: left;margin-top: 5px;width: 190px;margin-left: 10px;}
.scrollcontainer .col-sm-6{width:56%;}
.drpDownContainer select.srcingSlectlist{height: 35px;width: 100%;}
.fa.deleteRow{cursor:pointer;margin-left: 0;margin-top: 0;position: absolute; cursor: pointer; width:17px; height:17px; text-align:center; font-size: 1em; border-radius: 50%; background-color: #81bd42; color: #fff; line-height: 16px;}
.fa-sort-up:before,.fa-sort-desc:before {content: "\f0de";position: relative;top: 5px;}
/* Tooltip Styles */
.ui-tooltip.apprUnitTip{
	-webkit-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    font-weight: normal;
    background-color: #01B1A6 ;
    border-radius: 2px;
    border: none;
    text-align: left;
	color:#fff;
	padding:3px 7px;
	opacity:0.9;
	width:200px;
}
.apprUnitTip .ui-tooltip-content {
    position: relative;
    padding: 0;    
	font-size:12px;
}
.apprUnitTip .ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    bottom: -10px;
    left: 44%;
    border-color: #01B1A6 transparent;
    border-width: 0 10px 10px;
	-webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
}
.ui-tooltip.apprUnitTip{background:#01B1A6;color:#fff;}

.ui-tooltip.mainsrcHoverTip{
	-webkit-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    font-weight: normal;
    background-color: #01B1A6 ;
    border-radius: 2px;
    border: none;
    text-align: left;
	color:#fff;
	padding:3px 7px;
	opacity:0.9;
	width:200px;
}
.mainsrcHoverTip .ui-tooltip-content {
    position: relative;
    padding: 0;    
	font-size:12px;
}
.mainsrcHoverTip .ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
	bottom: 20px;
    right: -20px;
    border-color: #01B1A6 transparent;
    border-width: 0 10px 10px;
	-webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
}
.ui-tooltip.mainsrcHoverTip{background:#01B1A6;color:#fff;}

.ui-tooltip.srcunitTip{
	-webkit-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    font-weight: normal;
    background-color: #01B1A6 ;
    border-radius: 2px;
    border: none;
    text-align: left;
	color:#fff;
	padding:3px 7px;
	opacity:0.9;
	width:200px;
}
.srcunitTip .ui-tooltip-content {
    position: relative;
    padding: 0;    
	font-size:12px;
}
.srcunitTip .ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -10px;
    left: 44%;
    border-color: #01B1A6 transparent;
    border-width: 0 10px 10px;
}
.ui-tooltip.srcunitTip{background:#01B1A6;color:#fff;}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
	 a.ui-spinner-button,a.ui-state-hover,a.ui-state-active{right:0;}
}
@media (min-width: 1024px) and (max-width: 1129px) {
   .darkoverlay th{height:91px;}
   .goldenCheckcontainer label.goldbox{width:100%;font-size:9px;}
   .custSizeWidth span.ui-spinner.ui-state-default{width:76%;}
   table.table.table-bordered.productsourcegrey td .sizeSelect{width:75%;}
}
@media (min-width: 1024px) and (max-width: 1300px) {
  .custWidthResp1,.greyBoxContainer{width:87%;}
  .leftHeadWidthResp{width:57%;float:left;position:relative;}
  .rightHeadWidthResp{width:30%;float:left;position:relative;}
  .countryassociation .lightblue{width:58%;}
  .countryassociation .darkblue{width:30.5%;}
  .formCustWidth{width:7%;}
  .custLeftTdwidth{width:66%;}
  .custLstCntryWidth{width:11%;}
  .custSizeWidth{width:9%;}
  .custNameWidth{width:5%;}
  .custSrcWidth{width:11%;}
  .scrollcontainer .col-sm-6{width:57%;}
  .confirmGreyBg{width: 385px;}
  .hdnCheckboxDiv{width: 166px;}
}
@media (min-width: 1024px) and (max-width: 1300px) {

}
.greyCapabilityConfirm {
    width: 90%;
    background: #999;
    padding: 5px;
    height: 29px;
    margin: 0;
	color:#fff;
}
.table>thead>tr>th>div.approvalTip{padding: 23px 10px 7px 7px;}