/* Header styles */
    .ipmpanel-heading {font-weight: bold;font-size: 1.4em;color: #007dbb;word-wrap: break-word;padding-right: 10px;border-right: 1px #ddd solid;}
    .ipmFunnelPanel {position: relative;bottom: 0;}
    .navbar-nav li:last-child > a > span {margin-top: 2px ;}
/* page title bar styles */
    .H30{height:30px;}
	.pageHeadToolbar span.pageTitle,.ipmAccordion .bcsinglecontainer .pHead > span.expico,.expandTool span,.skipButton,.pageHeadToolbar .SecFillProgress,.pageHeadToolbar .SecCurrentStatus,.pageHeadToolbar .SecStatusUpdate,.pageHeadToolbar .SecFillProgress .fillProgress,.pageHeadToolbar .SecFillProgress .fillProgressTxt {display:inline-block;}
    .pageHeadToolbar { border-bottom:1px solid #ddd;margin:0; }
    .pageHeadToolbar span.pageTitle {margin:10px 0 10px 0 ;font-size:1.4em;color:#253b78; padding-right: 10px;}
    .pageHeadToolbar .SecFillProgress {border-right: 1px solid #929292;border-left: 1px solid #929292;padding-left: 10px;padding-right: 10px;padding-top: 0;padding-bottom: 0;position:relative;bottom:20px;}
    .pageHeadToolbar .SecFillProgress .fillProgress {color:#e98824;font-size:1.8em ; font-weight:normal;}
    .pageHeadToolbar .SecFillProgress .fillProgressTxt {color:#364354;font-size:12px;}
    .pageHeadToolbar .SecStatusUpdate {margin:15px 0; padding-right:15px;border-right: 1px solid #929292;}        
    .pageHeadToolbar .SecCurrentStatus {color:#364354; margin: 12px 15px 10px 15px;text-align:right;}
    .pageHeadToolbar .status {color:#e98824;display:block;font-weight:bold;}
    .icoButton {cursor:pointer;}
    .skipButton{margin-left:4px;position:relative;bottom:4px;}
    .mandatorycolor{color:#CF1721;}
     
/* content styles */
    .pageHeadToolbar .SecButtonSet{margin: 17px 10px 10px 10px;}
    .ipmButton.orangebg{border:1px solid #ae6b27 ;color:#fff;background:#f79c3f;}
	.ipmButton.orangebg:hover{background:#e38a2d;color:#fff;}
    .bcctitleContainer{padding-left:15px;}
    .bccStatusContainer{width:52%;}
    .bosscardMtop{margin-top:10px;}
    .bsFieldLabel{color:#565656;font-weight:bold;}
    .bcFielddesc{color:#354252;display:block;margin-bottom:10px;font-size: 0.9em;}
    .subSectionLabel{display:block;color:#565656;margin:10px 0;}
    .inputField{margin-bottom:10px;}
    .inputField input,.inputField select{width: 100%;height: 30px;border-radius: 3px;border: 1px #a8a8a8 solid;color:#565656;}
    .fieldnote{margin-bottom: 20px;color:#555;padding-top:10px;font-style:italic;font-size: 0.85em;display:block;}
    .bosscardmright{margin-right:10px;}
    .expandTool span {font-weight:bold; color:#0f81bb; cursor:pointer; }
    .bcInstruction{font-weight:bold;color:#3B4F6A;}
    .txtAlignright,.expandTool{text-align:right;}
    .uploadImage img{max-width:100%;}
    .buttonMarginRight{margin-right:15px;}
    .outer td.oRight{padding:5px 10px 0 10px ;}
    .container-fluid{padding-left: 10px;padding-right: 10px;}
    .bccTextarea{width:100%;height:200px;}
     
/* Modal Styles */
    .ipmModalConfirmBcc .modal-dialog{margin-top:10%;}
    .skipDesc{display: block;padding: 15px 0;}
    .skipButtoncontainer{margin:15px 10px;}
     
/* accordion styles */
    .bcsinglecontainer{margin-bottom: 5px;}
    .ipmAccordion{margin:10px 0;padding: 0 0;}
    .ipmAccordion .bcsinglecontainer .pHead > span.expico {cursor:pointer; font-family: FontAwesome;width: 21px;height: 21px;text-align: center;font-weight: normal;line-height: 23px;background: #81bd42;position: relative;margin-right: 5px;font-size: 0.8em;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;color: #fff;}
    .ipmAccordion .bcsinglecontainer > .ipmAcrdnExpand {display:block;padding: 10px 15px;margin-bottom:10px;}        
    .bcsinglecontainer > .pHead{color: #253b78;font-size: 1.5em;font-weight: bold;display: block;background: #f7f7f7;border: 1px solid #dce3e2;padding: 13px 10px 14px;}
    .bcsinglecontainer > .ipmAcrdnExpand{border: 1px solid #dce3e2;display: block;border-top: none;margin-bottom: 10px;}
     
/* confirmation styles */
    div.message.infoM3{background-color:#F6FFEC ;position:absolute;border-radius: 4px;z-index: 10;width:220px;top:4.5%;left:38%;padding:0 ;border:solid 1px #55823D ;}
    .message .messageText{color:#558038 ;position:relative;bottom:4px;}
    .infoM3 .msgIcon, .infoMedium{display:none;}
    .charCountbbc{color:#555;}
    .txtRight{text-align:right;}
	.updateBox a{color:#fff ;}
	.updateBox a:hover{background:#e38a2d ;}
	
	.SecButtonSet .icoButton.smalllinfo
	{
	   height:16px ;
	   width:16px ;
	   top:1px;
	}
	
	
	.tooltip > .tooltip-inner {-webkit-box-shadow: 1px 4px 5px 2px rgba(0,0,0,0.15);-moz-box-shadow: 1px 4px 5px 2px rgba(0,0,0,0.15);box-shadow: 1px 4px 5px 2px rgba(0,0,0,0.15);margin-left:100px;font-weight:normal;background-color: #00b1a5;border-radius:2px;text-align:left;width:500px;}
    .tooltip > .tooltip-arrow {border-top-color:#00b1a5;}
    .tooltip.bottom .tooltip-arrow {border-bottom-color:#00b1a5;}
    .ui-tooltip.ui-widget.ui-corner-all.ui-widget-content {
    -webkit-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15);
    font-weight: normal;
    background-color: #01B1A6 ;
    border-radius: 2px;
    border: none;
    text-align: left;
    color:#fff;
    padding:3px 7px;
    opacity:0.9;
    width:200px;
}
.ui-tooltip-content {
    position: relative;
    padding: 0;    
    font-size:12px;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -10px;
    left: 44%;
    border-color: #01B1A6 transparent;
    border-width: 0 10px 10px;
}
.ui-lefttip .ui-tooltip-content::after{left: 20px ;}
.ui-lefttip{left: 10px ;}