/* Radio button styles */
	.statusButtons input[type=radio]{visibility: hidden;width: 0;height: 0;}
	.statusButtons label{margin-left: 30%;position: relative;font-weight:normal;color:#555555;float:left;cursor:pointer;width:22px;height:22px;border:1px solid #ccc;border-radius:20px;overflow:visible; white-space: nowrap;}
	.statusButtons label:after{opacity: 0;content: '';position: absolute;width: 6px;height: 6px;background: #007DBD;top: 50%;left: 50%; margin-top:-4px; margin-left:-4px; border: 1px solid #007DBD;border-radius: 40px;}
	.statusButtons input[type=radio]:checked + label:after{opacity:1;}
	.statusButtons input[type=radio]:checked + label{border:2px solid #007DBD;}
	a {color: #428bca;text-decoration: none;}
	a:active, a:hover {outline: 0;}
	.icoButton.question{line-height:30px;}
   
/* Tab styles */     
    .ipmUpdateStatusTab .ipmTabContent { width:100%; }
    .ipmUpdateStatusTab .panel {background:transparent;}
    .ipmUpdateStatusTab .ipmStatusTabs {padding:0 0 0 40px; margin:0; border-bottom:2px solid #6C9A40}
    .ipmUpdateStatusTab .ipmStatusTabs li {margin-left:10px ;display:inline-block;color:#666666;padding:20px 40px; font-weight:bold;cursor:pointer;}
    .ipmUpdateStatusTab .ipmStatusTabs li.active{background:#F3FCEB;border:2px solid #96B87B; color:#496E0F; position:relative; top:4px; border-bottom:2px solid #F3FCEB; cursor:pointer; border-top-left-radius:3px; border-top-right-radius:3px;-moz-border-top-left-radius:3px; -moz-border-top-right-radius:3px;-webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px;}
    .sContainer{background:#F3FCEB;padding:10px;}
    .StatusContent{margin-top:20px;}
    .StatusLabel{display:block;text-align:center;margin-bottom: 20px;}
    .statusButtonContainer .ipmButton{margin-right:15px;}
    .statusButtonContainer{margin-top: 20px;margin-bottom: 20px;height: 50px;}
	.ipmUpdateStatusTab .ipmStatusTabs li.highlightRed{background:#FDE7E9 ;border-bottom: #FDE7E9 ;color:#E50100 ;}
	.highlightBgred{background:#FDE7E9 ;}
	
/* custom tooltip styles */
    .toolTipMsg{background:#fafafa;border:1px #c9c9c9 solid; border-radius:2px;color:#364354;font-size:0.82em;position:relative;}          
    .toolTipMsg::before { top: -8px; position: absolute; border-top: 1px #c9c9c9 solid;border-right: 1px #c9c9c9 solid;background: #fafafa;content: " ";height: 15px;width: 15px;transform: rotate(-45deg);-moz-transform: rotate(-45deg);-webkit--transform: rotate(-45deg);-ms-transform: rotate(-45deg); }
    .toolTipMsg label {font-weight:normal;}
    .statusToolTip{padding: 20px;display: block;color: #384454;font-size: 1.2em;}
    .proPointer::before{left:105px;}
    .approvePointer::before{left:260px;}
    .notapprovePointer::before{left:418px;}
    .discardPointer::before{left:580px;}
    .ml5{margin-left:5px;}
    .proInit {text-align: center; position:absolute; z-index:100; right:0; width:25%; height:20%; background:#fff url(../images/ajax-loader.gif) no-repeat 0 0;}
    
/* comment area styles */
	.textareaContainer{background:#F9F9F9;padding: 10px;}
	.textareaContainer textarea{width:99%;height: 90px;}
	.commentHeader{color:#364353;display:block;margin-bottom:10px;font-weight:bold;font-size: 1.4em;}
	.commentDesc{display:block;text-align:right;margin-top:5px;color: #384454;}
	
	.srchImage {cursor: pointer;width: 18px;position: relative;right: 23px;top: 8px;height: 18px;}
    .nominateContainer .placeholder {border: 1px solid #333;border-radius: 4px;height: 30px;padding-left: 5px;padding-right: 30px;margin-bottom:15px;}
    .nominateContainer{padding: 10px;  background-color: #F3FCEB;}
    .leaderTable{border-spacing: 0;border-collapse: collapse;background: #fff; border-radius: 3px;overflow:hidden;  width: 100%;  table-layout: fixed;}
    .rounded{border-radius: 50%;width:40px;padding: 10px;}
    .leaderTable td{border-top:0 ;}
    .leaderTable td:first-child{text-align:center;width:10%;}
    .leaderName {color: #3B506F;  display: block;  font-weight: bold;  float: left;font-size: 14px;margin-right: 5px;}
    .leaderMail{color: #015FB7 ;font-size: 14px;}
    .leadersList{ height: 214px;  overflow: auto;margin-top: 10px;}
    .leaderbox{width:80%}
    .disableButton{background:#F0F0F0;color:#AAA;padding:0.625em;margin-right:15px;font-weight:bold;font-size:14px;cursor:pointer;border-radius:5px;border:1px solid #CDCDCD;display: inline-block;  line-height: 1em;  top: 2px;  position: relative;}
    .apprDesc{display: block; margin-bottom: 20px;}
	.nominateContainer .clear_input_div{float: left;}
	.clearfix{clear:both;}
	.highlightRed.active{top:2px ;}
	input[type=text]::-ms-clear {display: none; width:0; height:0;}