.progress-wrap {
  max-width: 886px;
  position: relative;
  text-align:left;
}

ul.progress-bar {
  /*margin: 0 15px;*/
  text-align:left;
}

ul.progress-bar li {
  color: black;
  display: block;
  /*font-size: 17px;*/
  font-weight: 300;
  padding: 5px;
  position: relative;
  list-style: none;
  margin-left: 0;
  border-radius: 3px!important;
}
/*ul.progress-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;*/
  /* border-radius: 50%; */
 /* color: #FFF;
  font-size: 14px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}*/
ul.progress-bar li.active {
  font-weight: bold;
}
ul.progress-bar li.active:before {
  background: #F8D347;
  z-index: 99999;
}
ul.progress-bar li.visited {
  /*background: #ECECEC;*/
  color: black;
  z-index: 999;
}
ul.progress-bar li.visited:before {
  /*background: #6BA338;*/
  /* z-index: 99999; */
}
ul.progress-bar li:nth-child(1):before {
  content: url(../images/ico-initiation.svg); 
}
ul.progress-bar li:nth-child(2):before {
  content: url(../images/ico-idea.svg);
}
ul.progress-bar li:nth-child(3):before {
  content: url(../images/ico-feasibility.svg);
}
ul.progress-bar li:nth-child(4):before {
  content: url(../images/ico-capibility.svg);
}
ul.progress-bar li:nth-child(5):before {
  content: url(../images/ico-market-ready.svg);
}
ul.progress-bar li:nth-child(6):before {
  content: url(../images/ico-market-deployment.svg);
}
ul.progress-bar li:nth-child(7):before {
  content: url(../images/ico-ple.svg);  
}
ul.progress-bar a {
  color: #00A8B3;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .progress-bar li.active:after {
    background-size: 35px 35px;
    background-color: #F8D347;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .progress-wrap {
    margin: 20px 0 20px 7px;
  
    -width: 960px;
}

  ul.progress-bar {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background-size: 35px 35px;
    background-color: #a6adb3;
    border-radius: 15px;
    height: 3px;    
    padding: 0;
    position: absolute;
    width: 93%;  
    padding: 0!important;
}
 /* ul.progress-bar:before {*/
    /* background-size: 35px 35px; */
    /* background-color: #6BA338; */
    /* -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2); */
    /* box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2); */
    /* border-radius: 15px; */
    /* content: " "; */
   /* height: 5px;
    left: 0;
    position: absolute;
    width: 12.5%;
  }*/
  ul.progress-bar li {
  color: black;
  display: inline-block;  
  /* float: left; */
  font-weight: 300;
  /* padding: 5px; */
  border: 2px solid #a6adb3;
  /* position: relative; */
  list-style: none;
  /* margin-left: 0; */
  height: 40px;
  /* left: 0; */   
  top: -18px;
  width: 40px;
  z-index: 200!important;
  background: #fff;
  z-index: 1000!important;
}
 /* ul.progress-bar li:before {
    height: 45px;
    left: 44px;
    line-height: 45px;
    position: absolute;
    top: -60px;
    width: 45px;
    z-index: 99;
  
    transform: rotate(45deg);
}*/
ul.progress-bar li.first, ul.progress-bar li.last {
  border-radius: 50%!important;
  -webkit-border-radius: 50%!important;
}
  ul.progress-bar li.visited {
    border-color: #12cb9f;
  }
  /*ul.progress-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #ddd;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 5px;
    left: 50%;
    position: absolute;
    top: -40px;
    width: 87%;
    z-index: 99;
  }*/

.progress-bar{font-size: 14px;line-height: 10px;}

ul.progress-bar li span {
position: absolute;
display: block;
top: 42px;
left: -8px;
width: 300%;
font-size: 12px;
text-align: center;
}

ul.progress-bar li i {
position: absolute;
display: block;
top: 51px;
left: -89px;
width: 300%;

font-size: 12px;
font-style: normal;
text-align: center;
}

ul.progress-bar li:nth-child(2) {left: 11%;}
ul.progress-bar li:nth-child(3) {left: 22%;}
ul.progress-bar li:nth-child(4) {left: 33%;}
ul.progress-bar li:nth-child(5) {left: 44%;}
ul.progress-bar li:nth-child(6) {left: 55%; background:transparent; border:transparent;}
ul.progress-bar li:nth-child(7) {left: 66%;}

ul.progress-bar li.visited:before {
color: #12cb9f;
}
ul.progress-bar li:before {
display: block;
position: absolute;
top: 9px;
left: 11px;
}
li.visited.next:after {
background-size: 35px 35px;
background-color: #6BA338;
/* -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2); */
/* box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2); */
/* border-radius: 15px; */
content: " ";
height: 5px;
left: -84px;
top: 65px;
position: absolute;
z-index: 100;
width: 279.5%;  
}