/*.THIS.pageSection{
    padding-top: 20px;
    max-width: 1200px;
}*/
.THIS .threeColmnWidth{
    width:33%;    
}
.THIS.fixedNavbar{
    background: #FFFFFF; 
}
.THIS .paddingBottom{
    margin-top: -13px;
    padding-bottom:50px !important;
        margin-bottom: 75px;
}
.THIS table.homePageMenuWidth, .THIS .homePageMenuWidth, .THIS .listHeaderWidth, .THIS .campaignsListItemStyle{
    width:100%;    
}
.THIS td.alignCenter {
    text-align:center;
}
.THIS .activeMenu{   
    /*font-weight: bold;  */  
    font-size: 15px;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    border-bottom: 2px solid #2A94D6;
    color: #2A94D6 !important;
    background: #FFFFFF; 
}
.THIS .inactiveMenu{   
    font-size: 15px;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    border-bottom: 2px solid #FFFFFF;
    color: #344A5F !important; 
    background: #FFFFFF;
}
/*applying style for the load more bar*/ 
.THIS .loadMoreBar{
   text-align:center;
    padding-bottom:10px;
    padding-left: 20%;
    padding-right: 20%;
}
/*applying style for the load more bar butoon*/ 
.THIS .loadMoreButton{
    width:100%;
    text-align:center;
    font-weight:normal;
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px; 
    border-radius:8px;
    border:1px solid #D1D1D4;    
    background: #FFFFFF;
    color:#344A5F;
}
@media (min-width: 820px){ 
    .THIS table.homePageMenuWidth, .THIS .homePageMenuWidth{
        width:400px;   
    }   
    /*.THIS .campaignsListItemStyle{
        display:inline-block;
        float:left;
        width:400px !important;
    }*/
    .THIS .loadMoreBar{
        width: 800px; 
    }
    .THIS .bodyDescriptionHeight{
        height: 60px;
    }
    /*.THIS .campaignDescriptionHeight{
        height: 65px;
    } */   
}
@media (min-width: 1200px){     
    /* .THIS .listHeaderWidth, .THIS .loadMoreBar{
        width: 1200px; 
    }*/
}