.THIS {
}

.THIS .notified-users .slds-pill_container{
    display: inline-block;
}

.THIS .notified-users .slds-form-element__label{
    display: block;
}

.THIS .cust-input{
    line-height: 2.125rem;
    min-height: calc(2.125rem + 2px);
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    width: 100%;
    padding: 0 1rem 0 .75rem;
}
.THIS .sub_Bold
{
    font-weight:bold;
}