@font-face {
    font-family:UnileverDINOffcPro;
    src: url(../Fonts/UnileverDINOffcPro.ttf);
}
/*-----Common Styles---------*/
h1{font:bold 14px/16px UnileverDINOffcPro;}
h3{font:normal 16px/16px UnileverDINOffcPro;}
	  a{cursor:pointer}
	  .align-left{float:left;}
	  .align-right{float:right;}
	  .Main_Content{width:960px;margin:0 auto;}
	  label{display:block;}
	  .Primary_CTA{background-color:#81bf42;height:30px;min-width:80px;border:1px solid #406b84;border-radius:3px;}
	  .Primary_CTA[disabled],.Primary_CTA[disabled]:hover {
    background: #d4d4d4;
    border: 1px solid #fff;
}
	  .Primary_CTA>a{text-decoration:none;color:#fff;font:normal 12px/16px UnileverDINOffcPro;}
	  .Primary_CTA:hover{background-color:#56843b;border:1px solid #406b14;}
	  .hide{visibility:hidden;}
      .show{display:inline;}
	  input[type="radio"] {
    width: 16px;
    -webkit-appearance: none;
    line-height: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #00a9e0;
    -webkit-border-radius: 8px;
    position: relative;
    top: 3px;
    margin: 0 10px 0 0;
}
input[type="radio"]:before {
    content: '';
    display: block;
    width: 55%;
    height: 55%;
    margin: 20% auto;
    border-radius: 50%;
}
input[type="radio"]:checked:before {
    background: #00a9e0;
}
	  .Title_Card{
	  font:normal 14px/20px UnileverDINOffcPro;
	  position:absolute;
	  left:10%;
	  }
	  .Content_Header{border-bottom:2px solid #d4d4d4;min-height:30px}

	  .Action_Text {
		position: absolute;
		right: 20%;
		font: normal 14px/20px Arial;
		color: #007dbb;
	}
	.Action_Text>a {
		text-decoration: none;
	}
	.Acc_ActionItems{color:#00a9e0;font:normal 14px/16px UnileverDINOffcPro}
	
	.Tabs_Menu{margin:0 20%;}
ul.nav_tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#fff;
	font-family:UnileverDINOffcPro;
	background: url(../image/gradient.png);
	
}

.nav_tabs li {
    float: left;
    background-image: url(../image/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(360deg);
    margin: 0 7px 0 0;
}
ul.nav_tabs li:nth-child(1)>a{padding:7px 48px;}
ul.nav_tabs li:nth-child(2)>a{padding:7px 32px;}
ul.nav_tabs li:nth-child(3)>a{padding:7px 62px;}
ul.nav_tabs li:nth-child(4)>a{padding:7px 47px;}
ul.nav_tabs li:nth-child(even) {
background-image: url(../image/lgreen.png);}

ul.nav_tabs li:nth-child(odd)>a:hover {
    background-image: url(../image/tab-white.png);
    background-repeat: no-repeat;
    color: #000;
}
ul.nav_tabs li:nth-child(even)>a:hover {
    background-image: url(../image/tab--white2.png);
    background-repeat: no-repeat;
    color: #000;
}
ul.nav_tabs li a {
    display: block;
    color: #ddd;
    text-align: center;
    padding: 7px 50px;
    text-decoration: none;
}
ul.nav_tabs li a:hover {
    background-color: #fff;
    color: #111;
}
/*-----Common Styles---------*/	

/*----Slide5 Styles-----*/	
	  .Circular{border-radius:50%;}
	  table,th,td{border-collapse:collapse;}
	  th{padding:10px;font:bold 12px/16px UnileverDINOffcPro;background-color:#f2f8fc;color:#3b516d;text-align:left;width:15%;}
	  td{padding:10px;font:normal 12px/16px UnileverDINOffcPro;color:#555555;}
      tr{height:45px;border-bottom:1px solid #dddddd}
	  tr:nth-child(even){background-color:#f8f8f8;}	   
	  .Dashboard tr td .Primary_CTA{width:100%}
	  .Notes_Section{color: #00a9e0;font:normal 14px/16px Arial;float:left;margin:15px 0;}
	  .Status{color: #000;font:normal 14px/16px Arial;display:inline;}
	  .Done{background-color: #00a9e0;}
	  .Badge {
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 3px;
    padding: 2px 6px;
	margin:0 5px;
}
.Open{background-color:#FF8C00;}
#accordion-overview .ui-accordion-header {
    color: #555;
}
/*----Slide5 Styles-----*/	

/*----Slide6 Styles-----*/	
    .Ans {
    width: 15px;
    height: 15px;
	content:url(../image/Tick-icon.png);
    float: right;
    position: relative;
    right: 3%;
   }
label.options{margin:3px 0;}
.Btn_Confirm{margin:0 10px;}
.Help_Container {width: 85%;float:left;}
.helptext{color:#ccc;}
.User_Del{background-image:url(../image/user.png);
    float: right;
    position: relative;
    right: 3%;display:inline-block;
    width: 21px;
    height:21px;}
#accordion-quest,#accordion-overview{float:left;clear:both;width:100%;margin:10px 0;}
#accordion-quest .ui-accordion-header {
	  background-color: #fff;
	  color: #d4d4d4;
	  font:bold 14px/16px UnileverDINOffcPro;
	  padding:5px 0 7px 10px;
	  font-weight:500;
	  margin:0;
	  border-top:1px solid #d4d4d4;
	  clear:both;
	}
#accordion-quest .ui-accordion-header:last-of-type,
#accordion-overview .ui-accordion-header:last-of-type{
		border-bottom:1px solid #d4d4d4;
	}
#accordion-quest .ui-accordion-content,#accordion-overview .ui-accordion-content {
	  background-color: #fff;
	  color: #555;
	  font:bold 14px/16px UnileverDINOffcPro;
	  padding:10px 0;
	  font-weight:500;	  
	  border:none;
	}
#accordion-quest .ui-accordion-content .content{margin:0 10%;float:left;width:80%}	
#accordion-quest .ui-accordion-content .Help_Icon {
    content: url(C:/Users/M1029821/Desktop/Unilever/images/help-icon.png);
    display: inline-block;
    float: left;
    margin: 0 4% 0 1%;
    width: 40px;
    height: 40px;
}
.ui-icon.iconOpen {
    background:url(../images/Expand.png);
    background-size:15px;
    width:15px;
    height:15px;
	background-repeat:no-repeat;
	margin:0 4% 0 0;
	display:inline-block;
}
.ui-icon.iconClosed {
    background:url(../images/close.png);
    background-size:15px;
    width:15px;
    height:15px;
	background-repeat:no-repeat;
	margin: 0 4% 0 0;
	display:inline-block;
}
#accordion-quest .ui-accordion-header-active.ui-accordion-header,#accordion-overview .ui-accordion-header-active {
    color: #555;
}
#accordion-quest .ui-accordion-content .content{margin:0 10%;float:left;width:80%}	
#accordion-quest .ui-accordion-content .Help_Icon {
    content: url(../image/help-icon.png);
    display: inline-block;
    float: left;
    margin: 0 4% 0 1%;
    width: 40px;
    height: 40px;
}
.ui-icon.iconOpen {
    background:url(../image/Expand.png);
    background-size:15px;
    width:15px;
    height:15px;
	background-repeat:no-repeat;
	margin:0 4% 0 0;
	display:inline-block;
}
.ui-icon.iconClosed {
    background:url(../image/close.png);
    background-size:15px;
    width:15px;
    height:15px;
	background-repeat:no-repeat;
	margin: 0 4% 0 0;
	display:inline-block;
}
.accordion .ui-accordion-header-active.ui-accordion-header {
    color: #555;
}
.ui-dialog.ui-widget{width:400px!important;top:110px;left:575px}
.ui-dialog.ui-widget .ui-dialog-titlebar{padding:0.2em 0.4em}
.ui-dialog .ui-dialog-title {
    height: 10px;
    font: bold 12px/10px UnileverDINOffcPro;
}
.ui-dialog.ui-widget.ui-corner-all{    border-bottom-right-radius: 0px;}
.ui-dialog .ui-dialog-content label{display:inline;font:bold 14px/16px UnileverDINOffcPro;color#555;opacity:0.7;margin:0 22px;padding:3px 0;clear:both;float:left;}
.ui-dialog.ui-widget .ui-dialog-content input{width:220px;margin:0 0 10px 0;border: 1px solid #ccc;height: 20px;}
.ui-dialog .ui-dialog-content label:nth-child(2) {margin: 0 24px;}
.ui-dialog .ui-dialog-content label:nth-child(1)+input[type="textbox"] {
    background-image: url(../image/search.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ui-dialog .ui-dialog-content .Dialog_Content{float:left;margin:30px 0 0 0;}
.ui-dialog .ui-dialog-content .ui-dialog-buttonpane .ui-dialog-buttonset {width: 65%;}
.dialog{display:none;}
/*----Slide6 Styles-----*/	

.Solution_Table th{padding:10px;font:bold 12px/16px UnileverDINOffcPro;background-color:#f2f8fc;color:#555;text-align:left;width:4%;}