<div class="carousel-wrapper">
    <div class="carousel-brand clearfix">
        <div class="carousel-brand-img">
            <img src="{{carousel.logoUrl}}" alt="" class="img-responsive" />
        </div>
    </div>
    <!-- Carousel -->
    <div class="carousel" data-jcarousel="true">
        <ul>
            <li ng-repeat="item in carousel.filesRelated" ps-carousel>
                <div class="carousel-item">
                    <div class="item-text">
                        <p class="item-text-title">{{item.fileName}}</p>  
                    </div>
                    <div class="item-download">
                        <a href="{{item.downloadUrl}}" class="download-link">Download</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Prev/next controls -->
    <a href="#" class="carousel-controls carousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
    <a href="#" class="carousel-controls carousel-control-next" data-jcarouselcontrol="true">›</a>

</div>