<div class="carousel-wrapper">
    <div class="carousel" data-jcarousel="true">
        <ul>
            <li ng-repeat="asset in detailItems" class="carouselAssetItem carousel-item-{{$index}}" ng-click="clickCarouselItem($index, $event, asset.assetId, asset.assetPrimaryFileId);" init-detail-carousel>
                <div class="carousel-item-square" ng-class="$first ? 'active' : ''">
                    <img ng-src="{{ (asset.primaryImageUrl == undefined || asset.primaryImageUrl === null || asset.primaryImageUrl === '') ? resourceBasePath + 'images/emptydetail.png' : (asset.primaryImageUrl | psParseUrl) }}" alt="" ps-parse-url/>
                </div>
            </li>         
        </ul>
    </div>

    <a href="#" class="carousel-controls carousel-control-prev inactive" data-jcarouselcontrol="true" ng-if="detailItems.length > 9">‹</a>
    <a href="#" class="carousel-controls carousel-control-next" data-jcarouselcontrol="true" ng-if="detailItems.length > 9">›</a>
</div>