<div class="unilever-downloadpopup">
    <div class="unilever-downloadpopup-container">
        <div class="buttons-area">
            <div class="cancel-download"><a ng-click="closeMyDialog()">CLOSE</a></div>
        </div>
        <div class="unilever-downloadpopup-text">
            <h4>DOWNLOAD FILE SIZE EXCEEDED</h4>
            <div>
            <p class="unilever-downloadpopup-text-top">The size of the collected PDF document is too large. A limited PDF has been created with the first results.</p>
            <div class="clearfix"></div>
            <button class="btn download" type="button" ng-click="downloadPdf(searchResultPdf)">Download limited PDF</button> 
            <p class="unilever-downloadpopup-text-bottom">Alternatively, try narrowing your search parameters using additional keywords and the filters available to reduce search results and retry download.</p>
            </div>
        </div>
    </div>
</div> 