<div class="relatedFilter" ng-if="filterItem.isRelatedFilterRight == true">&nbsp;</div> <span ng-class="filterItem.isRelatedFilterLeft == true ? 'filter-link related-link' : 'filter-link'">{{filterItem.filterName}}</span>
<div class="filter-content">
    <span class="filter-background">
        <span class="shadow-fixer-small"></span>
    </span>
    <span class="shadow-fixer"></span>
    <div ng-if="filterItem.filterValues.length > 10">
        <input type="text" class="form-control mySearch" ng-keyup="searchFor(filterItem.filterName)"/>
    </div>
    <form class="filter-{{filterItem.filterName}}">
        <div class="filters-holder" ps-filter-scroll item="filterItem" ng-if="filterItem.isMultiselect == false">
            <div ng-repeat="item in filterItem.filterValues" class="filter-checkbox">
                <input type="radio" name="filter[{{renderFilterId(filterItem.filterName)}}]" id="filter_{{renderFilterId(item.value !== '' ? item.value : filterItem.filterName)}}" ng-checked="{{item.isSelected}}" value="{{item.value}}" ng-click="selectFilter(filterItem, item.value)"/>
                <label for="filter_{{renderFilterId(item.value !== '' ? item.value : filterItem.filterName)}}" ng-bind-html="renderLabel(item)" class="no-border"></label>
            </div>
        </div>
        <div class="filters-holder" ps-filter-scroll item="filterItem" ng-if="filterItem.isMultiselect != false">
            <div ng-repeat="item in filterItem.filterValues" class="filter-checkbox">
                <input type="checkbox" name="filter[{{renderFilterId(item.value)}}]" id="filter_{{renderFilterId(item.value !== '' ? item.value : filterItem.filterName)}}" ng-checked="{{item.isSelected}}" value="{{item.value}}" ng-click="selectFilter(filterItem, item.value)"/>
                <label for="filter_{{renderFilterId(item.value !== '' ? item.value : filterItem.filterName)}}" ng-bind-html="renderLabel(item)" ng-class="filterItem.isMultiselect != false ? '' : 'no-border'"></label>
            </div>
        </div>        
        <div class="filter-button" ng-if="filterItem.isMultiselect != false">
            <input type="submit" class="btn btn-unilever btn-blue" value="Apply" ng-click="applyMultiFilter(filterItem.filterName)"/>
        </div>        
    </form>
</div>