<style>
.home-carousel .home-slick .video-overlay {
    width: 160px;
    height: 165px;
    top: 35px;
    position: fixed;
    z-index: 999;
}
.home-carousel .home-slick.slick-center .video-overlay {
    width: 370px;
    height: 200px;
    top: 0;
}
</style>
<div class="home-carousel-wrapper">
    <div class="home-carousel">
        <div ng-repeat="item in carouselItems" class="home-slick" init-home-carousel>
            <div class="slide">
                <!-- take img from {{item.relatedFiles}} -->
                <!-- 
                <div class="slide-image" style="background-image: url('https://c1.staticflickr.com/9/8006/7569644902_970c12be8a_z.jpg');"></div> 
                -->
                <div class="slide-image" parse-url="item.relatedFiles[0]">
                    <a href="#/detail/{{item.assetId}}">&nbsp;</a>
                    <div ng-if="item.videoUrl" class="video-overlay" style="background: url({{resourceBasePath + 'images/play_overlay.png'}}) no-repeat; background-size: contain; background-position: center;"><a ng-href="{{item.videoUrl}}" target="_blank">&nbsp;</a></div>
                </div>
                
                <div class="slide-content">
                    <div class="slide-caption">
                        <h3 class="first-caption">{{item.assetType}}</h3>
                        <a href="#/detail/{{item.assetId}}"><h3 class="second-caption">{{item.assetName}}</h3></a>
                    </div>
                    <div class="slide-info">
                        <div class="info-row">
                            <span class="carousel-icon like-icon"></span>
                            <span>{{item.likeCount}}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="info-row">
                            <span class="carousel-icon comment-icon"></span>
                            <span>{{item.commentCount}}</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="slide-text-holder">
                        <p class="slide-text"  ps-html="item.assetDescription"></p>                     
                    </div>
                    <div class="topics-row">
                        <span class="topics-title">Topics:</span>
                        <span ng-repeat="topic in item.topics" class="topic">{{topic}}</span>
                    </div>
                    <div class="links-row">
                        <!--
                        <a href="#">Comment</a>
                        <span class="pointer">•</span>
                        <a href="#">Like</a>
                        <span class="pointer">•</span>
                        <a href="#">Share</a>
                        <span class="pointer">•</span>
                        -->
                        <span class="date">{{item.modifyDate}}</span>
                    </div>                    
                </div>
                <div class="slide-bottom"></div>
            </div>
        </div>
    </div>
</div> 