<div class="carousel-wrapper" ng-if="carousel.filesRelated">
    <div class="carousel-brand">
        <div class="carousel-brand-img">
            <img src="{{carousel.logoUrl}}" alt="" class="img-responsive" />
        </div>
    </div>
    <!-- Carousel -->
    <div class="carousel" data-jcarousel="true">
        <ul>
            <li ng-repeat="item in carousel.filesRelated" ps-carousel>
                <div class="carousel-item">
                    <div class="item-text"> 
                        <p class="item-text-title">{{item.fileName|psParseUrl}}</p>  
                    </div>
                    <div class="item-download">
                        <a ng-click="downloadAsset(item.feedId, item.fileId, item.downloadUrl)" href="javascript:void(0)" class="download-link">Download</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Prev/next controls -->
    <a href="#" class="carousel-controls carousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
    <a href="#" class="carousel-controls carousel-control-next" data-jcarouselcontrol="true">›</a>

</div>
