<div class="unilever-searchsettings">
    <div class="unilever-searchsettings-container">
        <form>
            <div class="categories-area">
                <div class="toolbar">Categories</div>
                <div class="column-list">
                    <div ng-repeat="menuItem in menu" ng-if="menuItem.items">
                        <div ng-repeat="item in menuItem.items" class="{{ menuItem.name == 'Categories' ? '' : 'hidden'}}">
                            <div class="item-content">
                                <input type="checkbox" name="checkbox-{{item.name}}" />
                                <label for="checkbox-{{item.name}}">
                                    <div class="main-label">{{item.name}}</div>
                                    <div class="sub-label">{{item.name}}</div>
                                </label>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
            <div class="brands-area">
                <div class="toolbar">Brands</div>
                <div class="column-list">
                    <div ng-repeat="menuItem in menu" ng-if="menuItem.items">
                        <div ng-repeat="item in menuItem.items" class="{{ ( ($index+1) >= 1 && ($index+1) <= 15) && menuItem.name == 'Brands' ? '' : 'hidden'}}">
                            <div class="item-content">
                                <input type="checkbox" name="checkbox-{{item.name}}" />
                                <label for="checkbox-{{item.name}}">
                                    <div class="main-label">{{item.name}}</div>
                                </label>              
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="column-list">
                    <div ng-repeat="menuItem in menu" ng-if="menuItem.items">
                        <div ng-repeat="item in menuItem.items" class="{{ ( ($index+1) > 15 && ($index+1) <= 30) && menuItem.name == 'Brands' ? '' : 'hidden'}}">
                            <div class="item-content">
                                <input type="checkbox" name="checkbox-{{item.name}}" />
                                <label for="checkbox-{{item.name}}">
                                    <div class="main-label">{{item.name}}</div>
                                </label>                   
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="column-list">
                    <div ng-repeat="menuItem in menu" ng-if="menuItem.items">
                        <div ng-repeat="item in menuItem.items" class="{{ ( ($index+1) > 30 ) && menuItem.name == 'Brands' ? '' : 'hidden'}}">
                            <div class="item-content">
                                <input type="checkbox" name="checkbox-{{item.name}}" />
                                <label for="checkbox-{{item.name}}">
                                    <div class="main-label">{{item.name}}</div>
                                </label>                    
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </form>
        <div class="buttons-area">
            <div class="clear-preferences"><a ng-click="clearAllDialog()">Clear all</a></div>
            <div class="cancel-preferences"><a ng-click="closeMyDialog()">Cancel</a></div>
            <div class="save-preferences"><button class="btn" type="button" ng-click="closeMyDialog()">Save and close</button></div>
        </div>
    </div>
</div> 