<div class="announcement-container" ng-if="announcement.announcementUrl != undefined && announcement.announcementUrl !== null && announcement.announcementUrl !== ''">
    <div class="announcement-header">
        <h4>IMPORTANT FROM Global WIN@POS</h4>
    </div>
    <div class="announcement-box">
        <div class="announcement-img">
            <img ng-src="{{ (announcement.imageUrl == undefined || announcement.imageUrl === null || announcement.imageUrl === '') ? resourceBasePath + 'images/emptyperson.png' : (announcement.imageUrl | psParseUrl) }}" />
        </div>
        <div class="announcement-content">
            <div class="announcement-title">
                <span class="announcement-author"><a target="_blank" href="{{announcement.authorUrl}}" ps-html="announcement.authorName"></a></span> to <span class="announcement-group" ps-html="announcement.groupName"></span></div>
                <div class="announcement-description">
                    <span ps-collapse max-length="150" ps-collapse-text="{{ announcement.description }}"></span>
                </div>       
                <!--<div class="topics-row">
                    <span class="topics-title">Topics:</span>
                    <span ng-repeat="topic in announcement.topics" class="topic">{{topic}}</span>
                </div>-->
                <div class="links-row">
                    <!--<a href="#">Comment</a>
                    <span class="pointer">•</span>
                    <a href="#">Like</a>
                    <span class="pointer">•</span>-->
                    <span class="date">{{announcement.announceDate}}</span>
                </div>                 
        </div>
        <div class="clearfix"></div>
    </div>                          
</div>