<div class="search-input-container homepage">
	<form class="form-inline form-search form-search-home" role="form">
	     <div class="form-group">
	          <label class="sr-only" for="keyWord">Search</label>
	          <input type="text" id="keyWord" class="form-control" ng-model="keyWord">
	     </div>
	    <button ng-click="search(keyWord)" type="submit" class="btn btn-search"><span class="search-icon"></span></button>
	</form>
  
</div>

<!-- turned off, suspended
<div class="search-input-actions homepage">
    <div class="search-input-action">
        <a ng-click="clickToOpen()">Search settings</a> 
    </div>
</div>
-->
<div class="clearfix"></div>
<p>
    <small>
        <small>
        <u><b>Tip:</b></u> Use "or" to search for multiple Brands or Categories. e.g. Axe or Dove to see Assets from both Axe or Dove.<br>
        Use quote marks " " to search an exact phrase order, e.g. "3-sided", "full height".
        </small>
    </small>
</p>
<div ps-home-carousel ps-bind-to="homecarousel" carouselitems="carouselItems"></div>
<div ps-chatter-manager ps-entity-id="userGroupId"></div>