<nav>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref=".home">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="menuItem in menu">
                        <a ui-sref="{{menuItem['ui-sref']}}">{{menuItem.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>    
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div ui-view></div>
        </div>
        <div class="col-xs-3">
            Chatter
        </div>
    </div>
</div>




