<style>
    .new-indicator {
        position: absolute;
        right: -6px;
        bottom: -15px;
        width: 35px;
        height: 35px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .search-input-actions .search-input-action.link-btn {
        background-position: right !important;
        padding-right: 22px !important;
        margin-right: 8px !important;
        background-size: 18px !important;
        line-height: 20px !important;
    }
</style>
<div id="searchResults" infinite-scroll='search()' infinite-scroll-disabled='scrollDisabled == true' style="position: relative;">

<div class="search-input-actions" style="position: absolute; right: 0; text-align: right;" ng-if="searchType === 'ctaSearch'">
    <a ng-href="{{urls['CTA Reporting'].URL_Text__c}}" target="_blank"><img class="link-image" src="{{resourceBasePath}}images/links/CTA-Reporting.png" style="float: left" /></a>
    <a ng-href="{{urls['CTA Bible'].URL_Text__c}}" target="_blank"><img class="link-image" src="{{resourceBasePath}}images/links/CTA-Bible.png" style="float: left" /></a>
</div>
<div class="search-input-actions" style="position: absolute; right: 0; text-align: right;" ng-if="searchType === 'categorySearch'">
    <a ng-if="categoryUrlMap[userGroupId][0]" ng-href="{{categoryUrlMap[userGroupId][0]}}" target="_blank"><img class="link-image" src="{{getLinkImageSrc('1')}}" style="float: left" /></a>
    <a ng-if="categoryUrlMap[userGroupId][1]" ng-href="{{categoryUrlMap[userGroupId][1]}}" target="_blank"><img class="link-image" src="{{getLinkImageSrc('2')}}" style="float: left" /></a>
</div>

<h2 class="page-title">{{searchTitle}}</h2>
<div class="clearfix"></div>
<ul class="page-title-buttons search" ng-if="carousel != null">
    <li ng-if="carousel.isUserFollowRecord == false"><a href="javascript:void(0)" ng-click="follow(carousel.recordId)">Follow {{carousel.name}} <span class="unilever-caret follow"></span></a></li> 
    
    <li ng-if="carousel.isUserFollowRecord == true"><a href="javascript:void(0)" ng-click="unfollow(carousel.recordId)">Unfollow {{carousel.name}} <span class="unilever-caret unfollow"></span></a></li>         
</ul>
<div class="search-input-container">
    <form class="form-inline form-search" role="form">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Search</label>
            <input type="text" class="form-control" id="keyWord" placeholder="Search {{searchTitle}}" ng-model="keyWord">
        </div>
        <button type="submit" ng-click="searchTerm(keyWord)" class="btn btn-search"><span class="search-icon"></span></button>
    </form>
</div>
<div class="search-input-actions">
    <div class="search-input-action download-btn {{dialogSemaphore == false ? 'download-loading' : ''}}" ng-if="noResults != true"> 
        <a ng-click="getSearchResultListPdf()">Download search results as PDF</a> 
    </div>
</div>
<div class="clearfix"></div>
<p>
    <small>
        <small>
        <u><b>Tip:</b></u> Use "or" to search for multiple Brands or Categories. e.g. Axe or Dove to see Assets from both Axe or Dove.<br>
        Use quote marks " " to search an exact phrase order, e.g. "3-sided", "full height".
        </small>
    </small>
</p>
<div class="clearfix"></div>
<div ps-search-carousel="carousel" ng-if="carousel != null"></div>
<div class="clearfix"></div>

<div class="clearfix"></div>

<div class="filters-container">
    <div ng-repeat="filterItem in filters" class="filter">
        <div ps-filter filter="filterItem"></div>
    </div>

    <div class="clearfix"></div>
</div>
<div class="search-notice" ng-if="noResults == true">
    <h2>No results found. Please revise your search criteria and search again.</h2>
</div>
<div ps-chatter-manager ps-entity-id="userGroupId" ps-key-word="keyWord" ps-run-search="refreshChatter"></div>
<div class="elements">
    <div ng-repeat="assetItem in assetSearchResults" class="element">        
        <div class="element-images" style="position: relative;" ng-if="assetItem.assetGroupItem != undefined && assetItem.assetGroupItem != null">
            <a href="#/detail/{{assetItem.assetGroupItem.Id}}">

                <div ng-repeat="relatedFile in assetItem.relatedFiles" ng-if="(assetItem.relatedFiles != undefined && assetItem.relatedFiles != null) && $index < 4" class="image-box image-{{($index+1)}}">
                    <img ng-src="{{ (relatedFile == undefined || relatedFile === null) ? resourceBasePath + 'images/collection.png' : (relatedFile | psParseUrl) }}" alt="" class="img-responsive" />
                </div>                   
                <div ng-if="assetItem.relatedFiles == undefined || assetItem.relatedFiles == null">
                    <div class="image-box image-1">
                        <img src="{{resourceBasePath}}images/collection.png" alt="" class="img-responsive" />
                    </div>
                    <div class="image-box image-2">
                        <img src="{{resourceBasePath}}images/collection.png" alt="" class="img-responsive" />
                    </div>
                    <div class="image-box image-3">
                        <img src="{{resourceBasePath}}images/collection.png" alt="" class="img-responsive" />
                    </div>
                    <div class="image-box image-4">
                        <img src="{{resourceBasePath}}images/collection.png" alt="" class="img-responsive" />
                    </div>            
                </div>
            </a>

            <div ng-if="assetItem.assetGroupItem.New_Indicator__c" style="background-image: url({{resourceBasePath + 'images/new.png'}});" class="new-indicator"></div>
        </div>         

        <div class="element-images" ng-if="assetItem.assetItem != undefined && assetItem.assetItem != null">
            <a href="#/detail/{{assetItem.assetItem.Id}}">
                <div ng-repeat="relatedFile in assetItem.relatedFiles" ng-if="assetItem.relatedFiles != undefined && assetItem.relatedFiles != null" class="one-image-box">
                    <img ng-src="{{ (relatedFile == undefined || relatedFile === null) ? resourceBasePath + '/images/collection.png' : (relatedFile | psParseUrl) }}" alt="" class="img-responsive" ps-parse-url/>
                </div>
                <div ng-if="assetItem.relatedFiles == undefined || assetItem.relatedFiles === null">
                    <img src="{{resourceBasePath}}images/collection.png" alt="" class="img-responsive" />
                </div>
            </a>
        </div>

        <div class="element-caption">
            <span ps-html="assetItem.itemName"></span>
        </div> 
        
        <div class="clearfix"></div>
    </div>
    
    <div class="clearfix"></div>
</div>

<div ng-show='infiniteBusy == true' class="text-center loader"><img src="{{resourceBasePath}}images/loader.gif" alt="Loading data..."/></div>