.THIS.mainFrame{
padding:10px;
    background: white;
}
.THIS .buttonSize{
    width: 35px;
    height: 35px;
}
.THIS .shareSize{
   width: 0.85rem;
   height: 0.85rem;
}

.THIS .commentdetail{  
     background:#EEF1F6;
}

.THIS .commentPost{
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 20px;

}

.THIS hr{
    margin: 0rem;
    border-top: 1px solid #cfd7E6;
    padding: 0px;
   
}


.THIS .sectionText{
    background: #FFFFFF; 
    border:1px solid #D1D1D4;
    border-radius:5px;
    max-width: 400px;
    width: 75%;
}

/*applying style for the top back aroow bar Icon of the page*/ 
.THIS .topBackBarIcon{
    height:22px;
    width:22px; 
}


.THIS .fontStyle{
    color:#A7B8D1;
}

.THIS .tilePadding{
    padding-bottom: 15px;
    padding-top: 15px;
    color:#0070d2 ;
}
  
.THIS .tilePaddingTitle{
    padding-bottom: 0px;
}

.THIS .category > a{
text-decoration:none;
}
.THIS .spacing{
    margin:10px 0;
}
.THIS .shade-new{
    margin: auto -10px;    
}
.THIS .button-vote{
    margin-top: 10px;
}
.THIS .margin{
    margin-top:5px;
}
.THIS .para{
     margin-bottom: .05rem;
}
.THIS .listitem{
     padding: 10px 20px;    
}
.THIS.new-class{
    margin-left: 7px;
}
.THIS .new-hr{
        margin: 0 -10px;
}