/************** CSS HEADER INFORMATION******************************************************
	- File Name     : IPM_Financials
	- Description   : This file is used in the Financials page 
	- Client        : Unilever
	- Last Modified : 29-10-15
	- Author        : Cognizant Technology Solutions  
*******************************************************************************************/
/* header new styles */
    .ipmFunnelPanel {bottom: 4px;}
	.ipmProjectDetails .panel-title {line-height:2em!important;}  
	.uploadImg img {border-radius: 50% !important;max-width: 44px;} 
	.ipmProjectDetails .panel {background:transparent;}
	.ipmProjectDetails .uploadImg {overflow:hidden;padding:0!important;margin:0!important;}
	.finTabletr{border-left:2px #799d9d solid;}
	.ipmProjectDetails .panel-body .col-sm-3 {padding-left:3px!important;margin-top: 18px;}
	.pageHeadToolbar { border-bottom:1px solid #ddd; margin:0;}       
	.pageHeadToolbar h2.pageTitle {margin:10px 7px 10px 0!important;display:inline-block; font-size:1.7em;color:#253b78; font-weight:normal;padding-right: 10px;border-right: 1px solid #929292;}
	.pageHeadToolbar .SecFillProgress {display:inline-block; }
	.pageHeadToolbar .SecFillProgress .fillProgress {display:inline-block;color:#e98824;font-size:22px; font-weight:normal;}
	.pageHeadToolbar .SecFillProgress .fillProgress span {font-size:12px!important;}
	.pageHeadToolbar .SecFillProgress .fillProgressTxt {color:#364354!important;display:inline-block; font-size:12px;}
	.pageHeadToolbar .SecStatusUpdate {display:inline-block;margin:15px 0; padding-right:15px;border-right: 1px solid #929292;}        
	.pageHeadToolbar .SecCurrentStatus {display:inline-block; color:#364354; margin: 15px;text-align:right;}
	.pageHeadToolbar .status {color:#e98824;display:block;font-weight:bold;}
	.pageHeadToolbar .SecButtonSet {margin-top: 35px}
	.icoButton {cursor:pointer;}
	.finTitle{padding-left:15px;}
	.whiteSpace{display: block; margin-top: 14px;}
	.fincol1 {width:50px; text-align:left;}
	.fincol2 {width:180px; text-align:left;}
	.finspace{margin-left:5px;}
	.wid100P{width:100%;}
	.leftSideBar {margin-top:10px;}
	.leftSideBar h4 {color:#253b78; font-size:1.1em; font-weight:bold;}
	.leftSideBar ul.docFilter li {word-break:break-all;margin-left:0!important; display:block; }
	.leftSideBar ul.docFilter li > input[type=checkbox]{position:relative; margin-right:5px; top:2px;}
	.leftSideBar ul.docFilter h4 {display:block; background:#edeef0; color:#253b78; margin-bottom:0!important; border-bottom:1px solid #d7e0e0; border-top:1px solid #d7e0e0; padding:10px 7px;}
	.tempWrapper .expandTool {text-align:right;}
	.tempWrapper .expandTool span {display:inline-block; margin:5px; font-weight:bold; color:#0f81bb; cursor:pointer; }
	.contenWrapper { margin-top:11px;}
	.leftSideBar .filterTitle{background: #e0eac2;font-size:1.20em;}
	.projectContainer{margin-top:0 !important;}
	.pHead.filterSubTitle{padding: 10px 7px;color:#3b516d;font-size:1em;background: #f0f7df;border-bottom: 1px solid #c0d3bf;}
	.pHead a, .finRecord a{color:#3b516d;  vertical-align: middle;}
	.expico-square{margin-top:2px;}
	.finRecord{padding: 10px 7px;background-color:#f9faec !important;border-bottom: 1px solid #c0d3bf;}
	.projectContainer > .ipmAcrdnExpand{margin-bottom:0 !important;}
	.finLegends {margin-top:10px;color:#666;font-size:0.8em;float:left;}
	.filterSubTitle .expico-square{margin-right:6px !important;}
	
/* Generic Accordian Styles */
	.ipmAccordian,.ipmAccordian .aHead  {display:block;}
	.ipmAccordian > .ipmAcrdnExpand {border:1px solid #dce3e2; display:block; border-top:none!important; margin-bottom:10px;}        
	.ipmAccordian > .aHead {color: #253b78;font-size: 1.5em;font-weight: bold;display: block;background: #f7f7f7;border: 1px solid #dce3e2;margin-bottom: 2px;padding: 13px 10px 14px;}
	.ipmAccordian > .ipmAcrdnExpand > .aHead {color:#0f7fb8!important; font-size:1.2em; font-style:normal; font-weight:bold; display:block;border-bottom:1px solid #dce3e2; margin:0 20px; padding:12px 0;}
	.ipmAccordian > .ipmAcrdnExpand > .ipmAcrdnExpand > .aHead {font-size:1em;font-style:normal;font-weight:bold;color:#0f7fb8; display:block; border-bottom:1px solid #eee; padding: 12px 0 15px; margin:0 0 0 20px;}
	.ipmAccordian > .ipmAcrdnExpand > .ipmAcrdnExpand > .aHead:first-child {padding-top:2px;}
	.ipmAccordian .ipmAcrdnExpand .ipmAcrdnExpand {padding:10px 20px 0 45px;display:block;}
	.ipmAccordian .ipmAcrdnExpand .col-sm-3 {padding-right:0!important; position:relative;}
	.ipmAccordian .ipmAcrdnExpand .ipmAcrdnExpand .ipmAcrdnExpand {padding:10px 10px 0 45px;display:block;}
	.ipmAccordian .ipmAcrdnExpand {color:#797979;display:block;}
	.ipmAccordian > .aHead span.expico {width: 21px;height: 21px;line-height: 23px;background: #81bd42;font-size: 0.8em;}
	.ipmAccordian .ipmAcrdnExpand .aHead span.expico {width: 16px;height: 16px;line-height: 17px;background: #d4d4d4;font-size: 0.7em;}
	
	.ipmAccordian .ipmAcrdnExpand .aHead span.expico,.ipmAccordian > .aHead span.expico {display: inline-block;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;color: #fff; cursor:pointer;position: relative;margin-right: 5px; font-family: FontAwesome;text-align: center;font-weight: normal;}
	.ipmAccordian span.wrpHead {display: inline-block;padding: 5px 10px 5px 0;border-right: 1px solid #797979;}
	.ipmAccordian .Filled-in {border-left: 1px solid #797979; color:#e68627!important;}
	.ipmAccordian .Not.Started {border-left: 1px solid #797979; color:#797979!important;}
	.ipmAccordian .Excluded {color:#222!important; background:#ebebeb;  }
	.ipmAccordian .Excluded,.ipmAccordian .Not.Started ,.ipmAccordian .Filled-in{display: inline-block;padding: 0 8px;margin-left: 5px;font-size:13px!important; font-weight:normal!important; }
	.ipmAccordian span.lastupdate {display:block; margin: 6px 0 0 0; color:#d4d4d4!important; font-weight:normal!important; }        
	.ipmAccordian .acHead {padding-top:4px;}
	.ipmAccordian .lastUpdate {color:#c2c2c2; display:block; margin-top:10px;font-size:0.9em;}
	.messageBox .SecButtonSet {margin-top:0!important;margin-right:10px!important; position:relative; top:2px;}
	.messageBox .SecButtonSet .icoButton {width:16px!important;height:16px!important;top: -2px; }
	.messageBox .SecButtonSet a {display:block; float:left; border:1px solid #015ba7; cursor:default; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
	.messageBox .SecButtonSet span.msgTxt {position: relative; top: -2px; display:block; margin-left:25px;text-align:left;}
	.ipmAccordian .SecButtonSet { margin-top:-5px;}
	.ipmAccordian .SecButtonSet .icoButton {display:inline-block;width:30px; margin: 0 5px; height:30px;border:1px solid #1568b6;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
	.ipmProjectDetails .SecButtonSet { position:relative;}
	.ipmProjectDetails .SecButtonSet,.ipmAccordian .SecButtonSet{display:inline-block; text-align:right;}
	.StatusComment {background:#d9ecc6;border:1px solid #bdbdbd;margin-top:20px;margin-bottom:20px;}
	.StatusComment .panelTitle {font-size:1.2em; font-weight:bold;color: #364354; margin:0 20px 0; padding:15px 0; border-bottom:1px solid #aecaab;}
	.StatusComment .panelRow {margin: 10px 20px 0;border-bottom:1px solid #aecaab;}
	.StatusComment .innerHead {font-weight:bold; color:#333;margin-left:10px;}
	.StatusComment .updateStatus {color:#666;}
	.StatusComment .panelRow:last-child {border:none!important;}
	.StatusComment .marginbottom {margin-bottom:6px;}
	.StatusComment .txtRight{text-align:right;}   
	
/* ipmModal Styles */
	#ipmModal .modal-header{background: url(../images/pop_header.png) repeat-x !important;padding:17.5px 10px 17.5px 17.5px; border-bottom:1px #d7d7d7 solid;border-radius:3px;-webkit-border-radius:3px;}
	#ipmModal .modal-title{color:#253b78 !important;font-weight:bold;font-size:1em;}
	#ipmModal .modal-header button.close{border: 1px #007dbb solid;border-radius: 50%;padding: 3px 5px;color: #007dbb;width: 30px; background: #fff; margin-top:-8px;opacity: 1;}
	#ipmModal .modal-content{border-radius:3px;height:100%;}
	#ipmModal .modal-body{height:90%;}
	#ipmModal .modal-dialog{margin:15px auto;}
	.dropdown-menu{min-width:246px;}
		   
	.messageBox{color:#0f81bb;background:#dbefff;border:1px solid #007DBB;position:relative;border-radius:3px;margin-left:60px;padding:7px;}
	.closeMessage{color: #000;position: absolute;right: 6px;top:7px;cursor:pointer;}
    .rHead{color: #797979;font-size: 0.8em;font-weight: normal;}
	.greyline{color:#333;font-size:1em;border-top: 1px solid #aecaab;padding:0;margin-top:10px;}
    .greyline>div {padding-top:10px;}
    .commentPanel{margin-top:10px;padding-left:0;}
    .user{font-size:1em;font-weight:bold;color:#666;padding-right:10px;border-right:1px solid #252525;padding-top:3px;padding-bottom:3px;margin-right:10px;}
    .action-txt{font-size:1em;font-weight:bold;color:#585858;}
    .status-date{font-size:0.8em;font-weight:normal;color:#797979;}
    .pageContent {position:relative;margin-top:20px;}
    .pageContent .initFilter {background:#fff url(../images/ajax-loader.gif) no-repeat center 40px; width:100%; height:100%; padding: 20px; color:#000;  text-align:center; position:absolute; z-index:100; display:block; opacity:0.9; -moz-opacity:0.9; -webkit-opacity:0.9; filter:alpha(opacity=90); }
	.circular.ipmImage {border-radius: 500rem !important;}

    .heading3{text-transform:none!important;padding:10px;margin-top:10px;}
    .staticLabel2{font-size:1.1em; color:#999;margin-top:10px;margin-left:15px;}
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{border:1px #7fa29e solid;}
    tr.innertd td{padding-left:11px;font-weight:Bold;font-size:15px;color:#3b516d;}
    .ipmFinancetable thead th{height:40px;background-color:#dceefa;}
    .ipmFinancetable tr{height:35px;}
    .finproject{color:#3b516d;}
    .fintotal{color:#253b78;}
	.finproject,.fintotal{font-weight:Bold;font-size:1em;}
    .fintable td{font-size:0.95em;color:#3b516d;}
    .fintlegreenbg{background-color:#f3ffe7 !important;}
    .fintlegrybg{background-color:#f8f8f8;}
    .finRecord.selected, .filterTitle.selected, .filterSubTitle.selected{background-color:#f2f8fc !important;}
    .fininnertable td + td{font-weight:Bold;font-size:15px;color:#666;}
    .greenplus{font-weight:bold;font-size:15px;color:#81bf42 !important;} 
    .redminus{font-weight:bold;font-size:15px;color:#d01620 !important;} 
    .blockPos{position: relative;text-align: right;}
    /*.drpfield{padding:6px;border-radius:4px;}*/
	.drpfield{
		padding: 5px;
		font-size: 14px;
		border: 1px solid #ccc;
		height: 34px;
		box-sizing: border-box;
		appearance: none;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
    .table-bordered>thead>tr>th, .table-bordered>thead>tr>td {border-bottom-width: 0;}
    .fa-star-o:before{font-size:18px;}
    .leftsidemenu{font-weight:bold;font-size:16px;color:#3b516d;}
    .initAccordian {cursor:pointer;}
    .progresscode{border-left:3px solid #f1993e;}
    .submitcode{border-left:3px solid #81bf42;}
    .notstartedcode{border-left:3px solid #999;}
    .notstarted{color:#999;margin-right: 5px;}
    .progresstatus{color:#f1993e;margin-right: 5px;}
    .substatus{color:#81bf42;margin-right: 5px;}
    .keyCountryLegend{background: url(../images/flag-legend.svg) no-repeat 4% 55%;}
    .finLegends .keyCountryLegend{padding-left: 15px; background-position: 0;}
    .ipmfinHeading1{font-size:1em;color:#253b78;}
    .ipmfinHeading2{font-size:1.2em;color:#3b516d;}
	.ipmfinHeading1,.ipmfinHeading2{font-weight:bold;padding:10px 0;}
    .tab-panel{position: relative;/*bottom: 44px;*/}
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {color: #007dbb !important;font-size:1em !important;font-weight:bold;}
	.nav-tabs>li>a{color: #666 !important;font-size:1em !important;font-weight:bold;}
    .finwrapper{position: relative;}
          
/* Header css */
    
/* MISALIGNMENT CSS */
    td.misaligned{ border: solid 3px #e13728 !important;border-left: 3px solid #e13728 !important;}
    td.misaligned, td.misaligned a, td.misaligned a:hover{color: #e13728; text-decoration: none;}
    .ipmFinancialNavbar li>a{padding-top:15px !important;}
    .ipmFinancialNavbar li>a>span{text-transform: capitalize;}
    .navbar-default{background-color: transparent !important;}
    ul.finNavTab{margin-left:0;}
    .finDropdown{width: 174px;margin-right:0;}
    .finDropdown select,.finDropdown select>option{width:100%;}
    .ipmFinancialNavbar{padding:0;}
    .finArrow{width:25px;background-color: #e5f8ff;padding:5px 10px 5px 4px;color: #007dbb; font-size:28px;cursor: pointer;}
    .navbar-nav>li{margin-bottom: -4px;}
    .ipmFinancialNavbarDiv{border-bottom: 1px #7fa19e solid;margin-left:0;margin-right:0;}
    td.fintleblubg, td.finproject{text-align: left !important;}
    .ipmFinancetable td>input, .fintable td input{padding:5px; width:100%;}
    .ipmFinancetable thead th{border:1px #7fa19e solid !important;}
    .fintleblubg {background: #f2f8fc !important;}
    .ipmFinancetable > tbody > tr > td { border-right: none;width:40px;}
    .ipmFinancetable td.fintleblubg:first-child, .ipmFinancetable tr.fintlegreenbg >td:first-child{border-left:#99b4b1;}
    .ipmFinancetable .blueBorder{border-right:1px #007dbb solid !important;}
    td.y0BorderGay, tr.fintlegreenbg td:nth-child(4){border-right:2px #799d9d solid !important;}
    td.btmBleBorder,tr.btmBleBorder>td{border-bottom:1px #007dbb solid !important;}
    .fintable >tbody>tr>td.fintleblubg{border-left:none; border-right:none;}
    .fintable>tbody>tr>td:nth-child(2){color:#666;} 
    .table-bordered{border: 1px solid #799d9d;}
    .table>tbody>tr>td:first-child{text-align:left;}
    .finSumTbl>tbody>tr>td.blueBorder{border-left:1px #007dbb solid;}
    .finSumTbl>tbody>tr:nth-child(even){background:#fff;}
    .finSumTbl>tbody>tr:nth-child(odd){background:#f8f8f8;}
    td.y0BorderGay.misaligned{border-right:solid 2px #e13728 !important} 
    .finBtnDiv .ipmButton{margin-left:15px;} 
    .sdropDownDiv{margin: 15px;background: #f8f8f8;padding: 10px 15px;clear:both;top: 10px;position: relative;}
    .sdropDownDiv .requiredInput{margin-top:10px;}
	.pageHeadToolbar .SecButtonSet {margin: 10px 0 10px 10px!important;}
	.copyFBC {display: block;float: left;margin-right: 5px;}
	.countryListDiv{margin: 0 0 15px; background: #f8f8f8;clear:both;top: 10px;position: relative;}
	.countryListDiv .countryLabel {padding: 10px 15px;border-bottom:1px solid #d1d1d1;font-weight: bold;color: #374455;display:block;}
	.countryListDiv .countryCheckList{padding: 10px 15px;}
	.countryListDiv .countryCheckList input[type=checkbox]{width: 16px;height: 16px;} 
	.countryListDiv .countryCheckList label {margin-right: 15px;position: relative;top: -3px;font-weight: normal;color: #555;}
    .flag {background: url('../images/flag.svg') no-repeat;width: 20px;height: 20px;background-size: 68%;display: block;float: left;}
	.nav > li {margin-top: 0 !important;}
    tr.fintlegreenbg >td:nth-child(1),tr.fintlegreenbg >td:nth-child(2),tr.fintlegreenbg >td:nth-child(3){border-left:none;border-right:none;}
    
/* error styles */
    .finGreyBG{background: #E8E8E8;  color: #374454;  display: block;  padding: 10px;  text-align: center;  width: 640px;  margin: 0 auto;  border-radius: 4px;  font-size: 1.2em; margin-top: 20px;  margin-bottom: 20px;}
    .finErrMsg{text-align:center;color:#555;font-size: 1.2em;}
    .finErrMsg a{cursor:pointer;color:#005EB8;}
    .finErrMsg a:hover{text-decoration:none;}
    .panel{box-shadow:none;}
	
	.finFilter .filterTitle{background:#e0eac2 !important;}
	.tooltip > .tooltip-arrow{border-top-color: #FFEF47!important;}
	.tooltip.in{opacity:1 !important;}
	.tooltip > .tooltip-inner{
	   -webkit-box-shadow: 1px 4px 5px 2px rgba(0,0,0,0.15);
	   -moz-box-shadow: 1px 4px 5px 2px rgba(0,0,0,0.15);
		box-shadow: 1px 4px 5px 2px rgba(0,0,0,0.15);
		margin-left: 100px;
		font-weight: normal;
		background-color: #FFEF47;
		border-radius: 2px;
		text-align: left;
		width: 500px;
		color:#333;
	}
	.panel-group .panel{box-shadow:none;}
	.noMarginLeft {margin-left:0 !important;}
	.finTabHeaderExt {text-align:right; margin-top:20px;}
	.waitingSearchDiv {background-color: #fbfbfb; height: 100%;opacity:0.9;width:100%;}
	.waitingHolder{top: 12% !important; width: 91px !important;}
	.finTabletr {border-left: 2px #7FA29E solid !important;}
	.ipmFinancialNavbar .navbar-nav>li a{font-size:0.9em !important;}
	.currButton{margin-right: 10px;margin-bottom: 9px;}
	.col1Curr {width:600px; text-align:left;}
	.col2Curr {width:400px; text-align:left;}
	.col3Curr {width:400px; text-align:right;}
	.waitCurr{position: absolute;color: #6E6E6E;font-size: 14pt}
	.otlCurr{font-size:9pt; color:#6E6E6E}
	.selCur {margin-right:5px;}
	.finNavTab .tabOdd.active{top:8px !important;}
	.finNavTab .tabOdd{top:7px !important;}
	.finNavTab{height:47px !important;}
	.finNavTab .tabEven{top:7px !important;}
	.finNavTab .tabEven.active{top:8px !important;}
	.refreshFromLocal{margin-right:15px !important;}
	.cancelAction{margin-right:10px;}
	.finAlertBox{display: block;padding: 10px;border-radius: 4px;margin-top: 20px;margin-bottom: 20px;background: #FFF372;float:left;}
	.finAlertBox .col-sm-1{margin-top:10px;}
    .finalerttext {position: relative;left: -10px;font-weight: bold;color: #333; font-size: 18.666667px;}
	.finalerttext  p {margin-bottom:0px !important;}
    .alertimg { width: 30px; position: relative; bottom: 7px;height:auto;}
	.misAlignedTLD {background-repeat: no-repeat;text-indent: -2px;background-position: 10px;background-image: url('../images/alert_1b.png');color: #000;font-weight: normal;background-color: #FFFB42 !important;width: 100%;display: block;padding: 10px;float: left;margin-bottom: 10px;border-radius: 4px;padding-left: 43px;}
	.marginB10{margin-bottom:10px}
	.pull-right{float:right;}
	.pull-left{float:left;}
	.finPeriod{padding-left:5px;}
	
	/* New nav styles */
	.financialYearNavDiv{width: 100px; height:50px;}      
    .financialYearNavLeftDiv,.financialYearNavRightDiv{width:22px;color: #007dbb; font-size: 28px;} 
	.wid40P{width:40% !important;}
    .wid59P{width:59.6% !important;}
	td.fincol1 select {font-size: 12px;}
	
	.marginT10P{margin-top:10px !important;}
    .marginT5P{margin-top:5px !important;}
    td.col2Curr{width:300px;}
    td.col3Curr{width:500px;}