/************** CSS HEADER INFORMATION******************************************************
	- File Name     : IPM_Coreparameter_BET
	- Description   : This file is used for BET styles in Coreparameters 
	- Client        : Unilever
	- Last Modified : 29-10-15
	- Author        : Cognizant Technology Solutions  
*******************************************************************************************/
/* ===GLOBAL STYLES=== */
.paracont
{
  float:left; 
  padding:10px; 
  width:100% 
}
.paracont p, fullWidth
{  
   width:100%;
}
.floatR
{
   float:right;
}
.noBetMsg{float:left;width:100%;}
.toolkitContainer .searchBox{margin-top:10px;}
.paddingB15 { padding-bottom:15px}
.floatL
{
   float:left;
}
.paracont div a:first-child
{
   margin-right:10px;
}
.inlineB
{
   display:inline-block;
}
.marginT20
{
   margin-top:20px;
}
.marginT0
{
   margin-top:0;
}
.marginB15
{
   margin-bottom:15px;
}
.fontB
{ 
   font-weight: bold !important;
}
.searchmag
{
    position: absolute;
    left: 180px;
    height: 17px;
    width: 17px;
	top:15px;
	cursor:pointer;
}
.padL0
{
   padding-left:0;
}
.searchBoxx
{
    border: #ccc solid 1px;
    height: 27px;
    border-radius: 2px;
    padding: 0 8px;
    font-size: 12px;
    width: 200px;
}

.ipmTable tr.active1 {
    background-color: #E5F2F8 !important;   
}
.ipmTable .active1 td
{
     border-bottom:1px solid #007DBB;
    border-top:1px solid #007DBB;	
}

.radioGridTable
{
   margin: 0; 
   padding: 0; 
   border-collapse: collapse; 
   width: 101%; 
   max-height: 254px; 
   overflow: auto; 
   margin-bottom:20px;
}