/* header new styles */

.ipmFunnelPanel {
    bottom: 4px;
}
.pull-right{float:right;}
/** radio custom styles **/

.ml25 label:hover{
background:#e5f8ff;
}
.ml25 .selected+label {
    border: 2px solid #007DBD;
}
.SecButtonSet.delete{margin-top:0px !important;margin-right:10px !important;margin-bottom:0px !important;}
.ml25 .selected+label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #007DBD;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    border: 1px solid #007DBD;
    border-radius: 40px;
}
.width4 {
    width: 19%;
}
.headingBorder {
    padding-left: 12px;
}
.pagemessageBox {
    color: #0f81bb;
    background: #dbefff;
    margin-top: -20px;
    border: 1px solid #007DBB;
    position: relative;
    border-radius: 3px;
    padding: 8px;
}
.smallinfo {
    width: 20px !important;
    height: 20px !important;
    float: left;
    margin: 5px 5px !important;
    border: 2px solid #1568b6 !important;
}
.listmsgTxt {
    line-height: 30px;
    color: #3b516d;
    font-weight: normal;
}
.pagemessageBoxDiv .SecButtonSet {
    text-align: left !important;
}
.mSpacing {
    margin: 10px 0px;
}
.textRight {
    text-align: right;
}
.indicationTxt {
    color: #666;
    font-size: 1.003em;
    font-style: italic;
    margin-top: 0px;
}
.noitalic {
    font-style: normal !important;
}
.pagemessageBoxDiv>label {
    width: 100%;
}
/*Table*/

.ipmTable.table-bordered {
    table-layout: fixed;
    border-bottom: 1px solid #7fa19e;
    border-top: 1px solid #ddd !important;
    margin-bottom: 10px;
}
.ipmTable .dropdown-menu {
    margin-top: -8px !important;
    z-index: 9 !important;
}
.ipmTable .open .dropdown-toggle a {
    margin: -7px -2px;
}
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 10px 0px;
}
.fa {
    cursor: pointer;
}
.filterIcon {
    padding-top: 2px;
    cursor: pointer;
    display: inline-block;
    width: 15px;
    margin: -6px 0px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.filterActions a {
    cursor: pointer;
}
.phaseFilter .dropdown-menu {
    border: 1px solid #252525;
    z-index: 0;
    min-width: 190px;
    border-radius: 4px 0px 4px 4px;
    background: #f9f9f9;
    margin-top: 0px;
    margin-right: -3px;
}
.ipmTable .open .dropdown-toggle {
    background: #f9f9f9;
    padding: 7px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    bottom: -1px;
    z-index: 10;
    left: 3px;
}
.phaseFilter .dropdown-menu>li {
    padding: 10px 0px 36px 10px !important;
    border-bottom: 1px solid #ddd;
}
.ipmTable .open .dropdown-toggle {
    background: #f9f9f9;
    padding: 7px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    bottom: -1px;
    z-index: 10;
    left: 3px;
}
.ipmTable .dropdown-menu .ipmCheckbox label {
    top: 4px;
}
li .ipmButtonGroup {
    margin-top: 4px;
}
.sortIcon {
    font-size: 1.2em;
    margin-left: 8px;
    cursor: pointer;
}
.deleteTask {
    display: none;
}
.deleteTask div {
    padding: 20px;
}
#ipmTableDiv .SecButtonSet .icoButton {
    display: inline-block;
    width: 30px;
    margin: 0px 5px;
    height: 30px;
    border: 1px solid #1568b6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.dropdown-toggle {
    padding: 7px;
    position: relative;
    left: 2px;
}
.toggleContainer {
    border: 1px solid #1568b6;
    border-radius: 20px;
    margin-top: 0px !important;
}
.toggleContainer .icoButton {
    border: 0px;
    margin: 0px;
}
.incHeight {
    height: 17px;
}
.noPadleft .icoButton {
    margin: -9px -1px;
    border: 0px;
}
.noPadright {
    padding-right: 0px !important;
}
.table>thead>tr>th:first-child {
    padding-left: 4px !important;
}
.keep-open {
    height: 18px;
    width: 25px;
}
.accrdionTd {
    border: 0px;
    text-align: left !important;
}
.tableAccrdion {
    padding: 15px 0px;
}
.noPadleft {
    padding-left: 0px !important;
}
.ipmAccordion .projectContainer .pHead > span.expico {
    display: inline-block;
    cursor: pointer;
    font-family: FontAwesome;
    width: 21px;
    height: 21px;
    text-align: center;
    font-weight: normal;
    line-height: 23px;
    background: #81bd42;
    position: relative;
    margin-right: 5px;
    font-size: 0.8em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #fff;
}
.todoSubhead {
    color: #1797C0;
    font-weight: bold;
    border-right: 1px solid #A7A7A7;
    padding: 0px 10px;
    margin-right: 10px;
}
.myListTable {
    margin-bottom: 5px;
}
.projectContainer .pHead {
    padding-bottom: 15px;
    border-bottom: 4px solid #E6E534 !important;
    padding-top: 15px;
}
.ipmAcrdnExpand .ipmTable td.serialNum {
    width: 6%;
    padding: 6px;
    text-align: left;
    font-size: 1.2em;
}
.ipmAcrdnExpand .ipmTable td.serialNum>div {
    margin-right: 10px;
}
.showallbutton {
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    color: #007DBB;
    border-right: 1px solid #ddd;
    padding: 5px 10px;
}
.table>tbody>tr.paginationRow:last-child {
    background: #fff;
}
.table>tbody > tr.paginationRow > td.paginationCol input.btnDisabled,
.table>tbody > tr.paginationRow > td.paginationCol input.btn {
    background: none !important;
    border: none !important;
}
.paginationLink {
    margin-left: 3px !important;
    margin-right: 3px !important;
}
td.colCompleted {
    width: 8%;
}
.searchBox input {
    width: 100%;
    border: 1px solid #858585;
    border-radius: 4px;
    height: 30px;
    padding-left: 5px;
}
.srchImage {
    cursor: pointer;
    width: 18px;
    position: relative;
    right: 7px;
    top: -23px;
    float: right;
}
ul.project > li:first-child {
    padding: 10px 10px 11px 10px !important
}
h3.pageTitle {
    margin-top: 0px !important;
    color: #253b78 !important;
    text-transform: none;
    font-size: 1.7em;
    font-weight: normal;
}
.pageHeadToolbar {
    border-bottom: 1px #7fa19e solid;
    padding: 0px 0px 5px;
}
.panel-group {
    margin-bottom: 4px !important;
}
.rollouttable {
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
}
.rollouttable th {
    font-weight: normal !important;
    color: #666 !important;
}
span.expico {
    display: inline-block;
    cursor: pointer;
    font-family: FontAwesome;
    width: 21px;
    height: 21px;
    text-align: center;
    font-weight: normal;
    line-height: 23px;
    background: #81bd42;
    position: relative;
    margin-right: 5px;
    font-size: 0.8em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #fff;
}
.rollsubhead {
    padding: 0 10px;
}
.editsec {
    display: inline-block;
    position: relative;
    left: 54px;
    top: 9px;
}
.statetext {
    margin-bottom: 10px;
    padding: 3px 10px 3px 0 !important;
    display: inline-block;
    border-right: 1px #7fa19e solid;
}
.fa-star:before {
    color: #81bd42;
}
.ipmAcrdnExpand {
    margin-top: 10px;
}
.noBackground {
    background: #ffffff !important;
}
.secrow td {
    border-top: 0px !important;
    border-bottom: 1px solid #ddd !important;
}
.greyborleft {
    border-left: 1px solid #ddd !important;
}
.greyborright {
    border-right: 1px solid #ddd !important;
}
.greyColr {
    background: #f8f8f8;
}
.panel {
    background-color: none !important;
}
.regpos {
    position: relative;
    bottom: 5px;
}
.drpfield {
    padding: 6px;
    border-radius: 4px;
}
.searchBox {
    width: 28%;float: left;
}
.rollRegInfo{
	float: left;
	width: 69%;
    
	border: 1px solid #B0D2E6;
    padding: 10px;
    color: #007DBB;
    border-radius: 4px;
    text-indent: 30px;
    background: url(../images/info_icon.png) no-repeat 12px 10px #E5F8FF;
}
.mb20 {
    margin-bottom: 20px;
}
.pb20 {
    padding-bottom: 36px;
}
.mt20 {
    margin-top: 10px;
}
.pt20 {
    padding-top: 20px;
}
.dateInputBox {
    width: 105% !important;
    height: 30px !important;
}
.date-icon {
    position: relative;
    top: -21px;
    left: 92px;
}
.right-column {
    position: relative;
    top: 120px;
}
.rollsubhead {
    padding: 0 10px;
}
.inline {
    display: inline-block;
}
.countrytext {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.inline-text {
    position: relative;
    bottom: 6px;
}
.bottonsec {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    float: right;
}
.ortext {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.greytext {
    color: #666;
}
.addrolloutsec {
    background-color: #f8f8f8;
}
#editsection {
    display: none;
}
.dblock {
    display: block;
}
.rounded {
    border-radius: 50%;
    margin-right: 5px;
}
.table>thead>tr>th>div {
    border-right: 0px !important;
}
.table>tbody>tr>td {
    padding: 10px 10px !important;
}
.fa-star:before {
    margin-left: 5px;
}
.w200 {
    width: 200px;
}
.countrytxt {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.mr10 {
    margin-right: 10px;
}
.ml30 {
    margin-left: 30px;
}
.pl30 {
    padding-left: 30px;
}
.countrytable {
    text-align: left !important;
}
.searchBox input {
    width: 224px !important;
}
.table-bordered>thead>tr>th {
    border-bottom-width: 1px !important;
}
a.icoButton.delete {
    background-size: 48%;
}
.icoButton-delete {
    width: 25px !important;
    height: 23px !important;
}
.searchBox label {
    float: left;
}
.editsectn {
    text-align: right;
    margin-right: 13px;
}
#editblock tr td {
    border-top: 0px;
}
table #editblock {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.17);
    border: 1px solid #2262A0;
}
.fa-chevron-right {
    color: #A2A697;
}
ul.messageFilter {
    padding: 0!important;
    margin: 0px 0 0!important;
    list-style: none;
    height: 365px;
    overflow: auto;
}
ul.messageFilter li {
    margin-left: 0!important;
    display: block;
    color: #555555;
    border-top: 1px dotted #bec3af;
    cursor: pointer;
}
ul.messageFilter li:hover,
ul.messageFilter li.isSelected {
    background: #B4D096;
    color: #ffffff !important;
}
ul.messageFilter li:hover .fa-chevron-right,
ul.messageFilter li.isSelected .fa-chevron-right {
    color: #fff;
}
ul.messageFilter li span {
    float: right;
}
ul.messageFilter li a {
    color: #555;
    padding: 12px;
    display: block;
}
ul.messageFilter li.isSelected a {
    color: #fff !important;
}
ul.messageFilter li a:hover {
    color: #fff !important;
    display: block;
}
.subheader {
    font-size: 17px;
    font-weight: bold;
    color: #253b78;
    margin-left: 10px;
    padding-bottom: 10px;
}
.searchBox {
    margin: 20px 0px;
}
.srchImage {
    height: 20px;
    cursor: pointer;
    width: 18px;
    position: relative;
    left: -26px !important;
    top: -1px;
    float: none !important;
}
.width30 {
    width: 30% !important;
}
ul.mcoFilter {
    padding: 0!important;
    margin: 0px 0 0!important;
    list-style: none;
    height: 365px;
    overflow: auto;
}
ul.mcoFilter li {
    margin-left: 0!important;
    display: block;
    color: #555555;
    border-top: 1px dotted #9da7aa;
    cursor: pointer;
}
ul.mcoFilter li:hover,
ul.mcoFilter li.isSelected {
    background: #90CCDF;
    color: #ffffff !important;
}
ul.mcoFilter li:hover .fa-chevron-right,
ul.mcoFilter li.isSelected .fa-chevron-right {
    color: #fff;
}
ul.mcoFilter li span {
    float: right;
}
ul.mcoFilter li a {
    color: #555;
    padding: 12px;
    display: block;
}
ul.mcoFilter li.isSelected a {
    color: #fff !important;
}
ul.mcoFilter li a:hover {
    color: #fff !important;
    display: block;
}
.mb20 {
    margin-bottom: 20px;
}
ul.countryFilter {
    padding: 0!important;
    margin-left: 10px;
    list-style: none;
    height: 365px;
    overflow: auto;
}
ul.countryFilter li {
    margin-left: 0!important;
    display: block;
    color: #555555;
    border-top: 1px dotted #acacac;
    padding: 12px;
}
ul.countryFilter li span {
    float: right;
}
ul.countryFilter li {
    color: #555;
}
.left13 {
    left: -13px;
}
.left51 {
    left: 51px;
    margin-left: 7px;
}
.btext {
    color: #0084C7;
    font-size: 12px;
    font-weight: bold;
    width: 170px;
}
.ipmCheckbox label {
    top: 2px;
}
.innertext {
    font-size: 12px;
    margin-right: 6px;
    margin-top: 2px;
}
ul.countryFilter li:first-child {
    border-top: 1px solid #c3c3c3;
    background: #ebebeb;
}
.projectRadioButton input[type=radio] {
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.projectRadioButton label {
    position: relative;
    margin-right: 66px;
    text-indent: 30px;
    font-weight: normal;
    color: #555555;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: visible;
    white-space: nowrap;
    background: #fff;
}
.projectRadioButton label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #007DBD;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    border: 1px solid #007DBD;
    border-radius: 40px;
}
.table>thead>tr>th {
    padding: 0px 5px;
    vertical-align: middle;
    border-top: 1px solid #7fa19e !important;
    border-bottom: 1px dotted #2e2e2e;
}
.mr20 {
    margin-right: 20px;
}
.clusterbg {
    background-size: 100% 100% !important;
    padding-top: 32px;
    padding-bottom: 32px;
}
.mcobg {
    background-size: 100% 100% !important;
    padding-top: 32px;
    padding-bottom: 32px;
}
.countrybg {
    background-size: 100% 100% !important;
    padding-top: 32px;
    padding-bottom: 32px;
}
.pl40 {
    padding-left: 40px !important;
}
.pr40 {
    padding-right: 40px !important;
}
.ml10 {
    margin-left: 10px;
}
.ml25 {
    margin-left: 25px;
}
;
.ml25 input[type=radio] {
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.ml25 label {
    position: relative;
    margin-right: 66px;
    text-indent: 30px;
    font-weight: normal;
    color: #555555;
    float: left;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: visible;
    white-space: nowrap;
}
.ml25 input[type=radio]:checked + label {
    border: 2px solid #007DBD;
}
.ml25 label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #007DBD;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    border: 1px solid #007DBD;
    border-radius: 40px;
}
.ml25 input[type=radio]:checked + label:after {
    opacity: 1;
}
.ml25 input[type=radio]:disabled + label {
    border: 1px solid #DDD;
    background: #EEE;
}
.ml25 input[type=radio]:disabled + label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #DDD;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    border: 1px solid #DDD;
    border-radius: 40px;
}
a.noDecoration,
a.noDecoration:hover {
    text-decoration: none;
}
.regionaltable thead tr th {
    background-color: #ebebeb;
    border-top: 1px solid #c3c3c3 !important;
    border-bottom: 1px dotted #acacac !important;
}
.regionaltable thead tr td {
    border-top: 1px dotted #acacac !important;
}
/* error styles */

.finGreyBG {
    background: #E8E8E8;
    color: #374454;
    display: block;
    padding: 10px;
    text-align: center;
    width: 640px;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.placeholder {
    color: #aaa !important;
}
.delTaskGatebtn{margin-right:15px;}