.ipmCheckbox {width: 20px;position: relative;padding:0 10px 0 0;}
.ipmCheckbox label {z-index:10;cursor: pointer;position: absolute;width: 16px;height: 16px;top:0;border-radius: 4px;border: 1px #a8a8a8 solid;background:#fff;}
.ipmCheckbox label:hover{background:#e5f8ff;}
.ipmCheckbox label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 3px;
	left: 2px;
	border: 2px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.ipmCheckbox input[type=checkbox] {visibility: hidden;width:0;height:0;}
.ipmCheckbox input[type=checkbox]:checked + label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	filter: alpha(opacity=100);	opacity: 1;}
.ipmCheckbox label.selected{border-color:#007dbb;background:#fff;}
.ipmCheckbox label.selected:hover{background:#e5f8ff;}
.ipmCheckbox input[type=checkbox]:checked + label:hover{background:#e5f8ff;}
.ipmCheckbox label.selected:after{border-color:#007dbb;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	filter: alpha(opacity=100);	opacity: 1;}
.ipmCheckboxDiv .checkboxLabel2{font-weight:normal;color:#666;font-size:1em;padding-right: 4px ;padding-top: 3px;padding-left: 4px ;}
.ipmCheckboxDiv .checkboxLabel{font-weight:normal;color:#666;font-size:1em;padding-right: 8px ;padding-top: 3px;padding-left: 8px ;}
input[disabled], select:disabled[disabled]{background: #f7f7f7;border: 1px #cdcdcd solid;}
.ipmCheckbox label.disabled:after{border-color: #94a0a1 ;color: #94a0a1 ;}
.ipmCheckbox label.disabled{background:#f7f7f7 ; border-color:#cdcdcd ;}

.ipmCheckbox input[type=checkbox]:checked + label{border-color:#007dbb;background:#fff;}
.ipmCheckbox input[type=checkbox]:checked + label:after{border-color: #007dbb;}
