.ipmFunnelPanel {
    bottom: 4px;
}
.tabEven.dropdown a {
    margin-top: 8px;
}
.navbar-nav li:last-child a {
    position: relative;
}
.width4 {
    width: 19%;
}
.headingBorder {
    padding-left: 12px;
}
.pagemessageBox {
    color: #0f81bb;
    background: #dbefff;
    margin-top: -20px;
    border: 1px solid #007DBB;
    position: relative;
    border-radius: 3px;
    padding: 8px;
}
.subheader {
    font-size: 17px;
    font-weight: bold;
    color: #0085C9;
    margin-left: 10px;
}
.ipmNavMenuDiv {
    position: relative;
    bottom: -7px;
}
.mr20 {
    margin-right: 20px;
}
.clusterbg {
    background-size: 100% 100%;
    padding: 32px;
}
.mcobg {
    background-size: 100% 100%;
    padding: 32px;
}
div.countriesList li:first-child {
    background: none !important;
}
a.noDecoration,
a.noDecoration:hover {
    text-decoration: none;
}
.ipmPageHeaderDiv {
    margin-bottom: 15px !important;
}
.context {
    color: #666;
    font-size: 12px;
}
.mt20 {
    margin-top: 20px;
}
hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid #b9bdae !important;
}
mb15 {
    margin-bottom: 15px;
}
.ipmButton {
    cursor: pointer !important;
    display: inline-block !important;
    min-height: 1em !important;
    outline: none !important;
    border: none !important;
    background: #fff !important;
    border: 1px solid #8ab3da !important;
    color: #0f81bb!important;
    padding: 0.625em !important;
    padding-bottom: 0.55em\9!important;
    font-size: 1em !important;
    line-height: 1 !important;
    font-family: 'Arial'!important;
    font-weight: bold !important;
    font-style: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    min-width: 62px !important;
}
.pageTitle {
    font-size: 1em!important;
}