div.message.infoM3,
div.message.warningM3,
div.message.errorM3 {
	margin:0!important;
}

div.message.infoM3 {
	background-color: #F6FFEC !important;
	border: solid 1px #759B5E !important;
	margin-bottom: 20px;
}

.errorM3 .msgIcon, .errorMedium{
display:none;
}
 .infoM3 .messageText{color:#52813D;}
 .infoM3 .msgIcon, .infoMedium{display:none;}

div.message.warningM3 {
	background-color: #FFEBEC !important;
	border: solid 1px #E9C3BA !important;
}

div.message.errorM3 {
	background-color: #FFEBEC !important;
	border: solid 1px #F3BEB6 !important;
}

.message.warningM3 .messageText{color:#C74537;}

.ipmForm .message.errorM3 {
	background-color:transparent!important;
	border: solid 1px transparent !important;	
}

.warningM3 .msgIcon, .warningMedium{background-image:url('../images/red_i_icon.png') !important;  width: 20px !important;  height: 20px !important;  margin-top: 8px;}

.ipmForm .message.errorM3 .messageText {
	color:#f00!important;
	margin-left:-6px!important;
}

.ipmForm .message.errorM3 img.msgIcon, .ipmForm .message.errorM3 h4 {
	display:none;
}