	.mainPagehead .pageTitle{font-size:1em ;}
	.width4{width:19%;}
	.ipmPageHeader .headingBorder{padding-left:12px;}
	.pagemessageBox{color:#0f81bb;background:#dbefff;margin-top: -20px;border:1px solid #007DBB;position:relative;border-radius:3px;padding:8px;}
	.smallinfo{width:20px ;height:20px ;float:left;margin:5px 5px ;border:2px solid #1568b6 ;}
	.listmsgTxt{line-height:30px;color: #3b516d;font-weight:normal;float: left; display: block;}
	.pagemessageBoxDiv .SecButtonSet{text-align:left ;}
	.mSpacing{margin:10px 0;} 
	.textRight{text-align:right;}
	.indicationTxt{color:#666; font-size:1.003em;margin-top:0;font-style:italic;}
	.noitalic{font-style: normal ;}
	.pagemessageBoxDiv>label{width:100%;}
	.pull-right{float:right;}

/*Table*/
	.table-bordered .ipmCheckbox label {z-index: 0;}
	td.colSectionName{width: 9%;}
	td.dueDateCol{  width: 11%;}
	td.colTaskName{width: 9%;}
	td.collistPhase{width: 10%;}
	td.catCol{width: 13%;}
	td.colProname{width:15%;}
	td.colBrand{white-space: nowrap;text-overflow: ellipsis; width: 19%;overflow: hidden;}
	.toDoContainer{float:left;display:block;width:100%;}
	.ipmTable.table-bordered{table-layout: fixed;border-bottom:1px solid #7fa19e;border-top:1px solid #7fa19e ; margin-bottom:10px;}
	.ipmTable .ipmDropDown .dropdown-menu{margin-top:-8px ;z-index:9 ;}
	.ipmTable .open .dropdown-toggle a{margin:-7px -2px;}
	.table-bordered.table>thead>tr>td, .table-bordered.table.table>tbody>tr>td, .table-bordered.table.table>tfoot>tr>td{padding:10px 0;color:#364354 ;font-size: 12px ;}
	.filterIcon{padding-top:2px;cursor:pointer;display:inline-block;width:15px;margin: -6px 0; height:30px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
	.filterActions a,.fa,.sortIcon{cursor:pointer;}
    .phaseFilter .dropdown-menu{border:1px solid #252525;z-index:0;min-width: 190px;border-radius:4px 0 4px 4px;background:#f9f9f9;margin-top: 0;margin-right: -3px;}        
    .ipmTable  .open .dropdown-toggle{background: #f9f9f9;padding: 7px;border-top: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000;border-bottom: 0;border-radius: 4px 4px 0 0;position: relative;bottom: -1px;z-index: 10;left: 3px;}
    .phaseFilter .dropdown-menu>li{padding:10px 0 36px 10px ;border-bottom: 1px solid #ddd;}
    .ipmTable .dropdown-menu .ipmCheckbox label{top:1px;}
    li .ipmButtonGroup{margin-top: 4px;}
    .sortIcon{font-size: 1.2em;margin-left: 8px;}
    .deleteTask{display:none;}
    .deleteTask div{padding:20px;}
    .ipmTableDiv .SecButtonSet .icoButton {display:inline-block;width:30px; margin: 0 5px; height:30px;border:1px solid #1568b6;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
    .dropdown-toggle {padding: 7px;position: relative;top: -7px;left: 2px;}
    .toggleContainer{border: 1px solid #1568b6;border-radius: 20px;margin-top:0 ;}
    .toggleContainer .icoButton{border:0;margin: 0;}
    .incHeight{height: 17px;}
    .noPadleft .icoButton{margin: -9px -1px;border:0;}
    .noPadright{padding-right:0 ;} 
    .table>thead>tr>th:first-child {padding-left: 4px ;}  
    .keep-open {height: 18px;width: 25px;} 
    .accrdionTd{border:0;text-align:left ;}
    .tableAccrdion{padding:5px 0;}
    .myListTable>thead>tr>th{border-bottom:1px solid #007DBB ;}
    .ipmAccordion .projectContainer .pHead > span.expico {display: inline-block; cursor:pointer; font-family: FontAwesome;width: 21px;height: 21px;text-align: center;font-weight: normal;line-height: 23px;background: #81bd42;position: relative;margin-right: 5px;font-size: 0.8em;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;color: #fff;}
    .todoSubhead{color: #1797C0;font-weight: bold;font-size: 18px;border-right: 1px solid #A7A7A7;padding: 0 10px;margin-right: 10px;}
    .todoCount{font-size: 14px;color: #333;}
    .myListTable{margin-bottom: 5px;}
    .projectContainer .pHead{padding-bottom:15px;border-bottom: 4px solid #e6e533 ;padding-top: 15px;}
    .ipmAcrdnExpand .ipmTable td.serialNum{width: 6%;padding: 6px;text-align: left;font-size: 1.2em;}
    .ipmAcrdnExpand .ipmTable td.serialNum>div{margin-right: 10px;}
    .showallbutton{font-family:Arial;font-size:1em;font-weight:bold;color:#007DBB;border-right:1px solid #ddd;padding:5px 10px;}
    .table>tbody>tr.paginationRow:last-child{background: #fff;}
    .table>tbody > tr.paginationRow > td.paginationCol input.btnDisabled, .table>tbody > tr.paginationRow > td.paginationCol input.btn{background: none ; border:none ;}
    .paginationLink{margin-left:3px ;margin-right:3px ;}
    td.colCompleted{width:8%;}
    .searchBox input{width:100%;border:1px solid #333;border-radius: 4px;height: 30px;padding-left: 5px;padding-right: 45px;}
    .srchImage{cursor:pointer;width: 18px;position: relative;right: 7px;top: -23px;float: right;}
    ul.project > li:first-child{padding:10px 10px 10px 10px }
    .ipmPageHeaderDiv{margin-bottom:15px ;}
    .mylistTitle{text-transform: capitalize;}
    .mylistTitle:hover{text-decoration:none;}
	.mylistTitle,.mylistTitle:hover{color:#1797C0;font-size:12px;}
    .ipmTable.paginationTable{border-bottom: 1px solid #9ab4b1 ;margin-top: -10px;}
    .paginationTable td.paginationCol{border-top: none ;}
    .listProname{color:#0A85AC;font-size: 1.2em;display: block;float: left;line-height: 30px;}
    .catCol img{width:15px; height:15px;}
	.catCol .catIco{width:30px; height:30px;}
	.pgFetch {color:#4AA02C;font-weight:bold;}
	
	.zeroCountContainer{color:#384454;padding:20px;text-align:center;background:#E8E8E8;width:400px;margin:0 auto;  margin-top: 20px;  margin-bottom: 50px;}
	.taskCheck input[type=checkbox]:checked + label{border-color: #007dbb;}
    .taskCheck input[type=checkbox]:checked + label:after{border-color: #007dbb;}
	.scroll{width:100%;}
	.projectFilter ul{width:215px;}
	.ipmDropDown .dropdown-menu .scroll>li {  padding: 10px 0 36px 10px ;  border-bottom: 1px solid #ddd;  margin: 0;}
	.noindent{margin: 0;  padding: 0;list-style: none;}
	.noindent li{  padding: 10px 0 10px 10px ;float:left;width:100%;  border-bottom: 1px solid #ddd;  margin: 0;}
	.brandPosColumn{display: block;width: 141px;overflow: hidden;text-overflow: ellipsis;font-size: 12px;color: #364354;}
	.ipmDropDown .dropdown-menu>li {float:left;padding: 10px 10px 10px 10px ;}
	.staticLabel{word-break: break-all;}
	.fltrbrdrRight{border-right:1px solid #252525;}
	.table-bordered .taskCheck label{top:-6px ;}
	input[type=text]::-ms-clear {display: none; width:0; height:0;}
	.mandatorycolor{color: #CF1721;}