.upImg .modal-body{padding:0;}
.customerSelect{padding: 5px 5px;background:#fff;border: 1px solid #ddd;}
.selectBackground{padding:10px 15px;background:#f5f5f5;border-bottom:1px solid #9AB4B1;}
.listContainer{border:1px solid #636363; margin-bottom:15px;}
.noPadleft{padding-left:0px ;}
.noPadright{padding-right:0px ;}
.channelText{line-height:28px;}
.customerSelect:after{display: block;font-family: FontAwesome;content: "\f107";font-size: 20px;position: absolute;top: 3px;right: 0px;margin-right: 25px;width: 20px;height: 20px;text-align: center;background: #fff;color: #000;}
.keep-open1{height: 18px;width: 25px;position: relative;left: 45px;cursor: pointer;}
.dropdown-toggle1{padding: 0px;position: relative;top: -11px;left: 2px;}
.dropdown-toggle a{margin:-7px -2px;}
.dropdown-menu.channelList{border:1px solid #c9c9c9 ;background:#fff ;left: 0px ;top: 41px;}
.channelList .ipmDropbuttons,.channelList .ipmDropreset{font-weight:bold;cursor:pointer;}
.channelList:before{left: 8%;top: -8px;position: absolute;border-top: 1px #c9c9c9 solid;border-right: 1px #c9c9c9 solid;background: #fff;content: " ";height: 15px;width: 15px;-ms-transform:rotate(-45deg);transform: rotate(-45deg);}
.customerstaticLabel{font-weight:normal;color:#666;font-size:1em;padding-right: 8px ;padding-top: 0px;padding-left: 8px ;}
/*.ipmDropDown .dropdown-menu .scroll>li {padding: 10px 0px 36px 10px ;border-bottom: 1px solid #ddd;margin: 0px;}  */
.scroll{max-height:300px;overflow:auto;}
/*Info Box*/
.infobox{padding-top: 15px;padding-right: 15px; padding-bottom:15px;text-align: center;margin-top: 15px;}
.infobox .SecButtonSet {display:block ; text-align:center ;margin-top: 10px ;}
.infobox .ipmCheckbox {left: 42%;}
.infotext{margin-top:10px;margin-bottom:10px;text-align:left;}
.chinfoContainer{margin-top:10px;}
.customerChannelList{cursor:pointer;}

/*channel container */
.channelContainer{border:1px solid #636363; margin-bottom:15px; }
.channelType{padding-right:10px;color:#364354;font-size:1.2em;font-weight:bold;}
.priorityNumber{color:#555E6B;font-weight: normal;border-left:1px solid #BDBDBD;padding-left: 10px;line-height: 28px;display:block;float:left;}
.typeBorderbottom{border-bottom:1px solid #ddd;padding:10px 15px;margin-bottom:10px;margin-left: 15px;width: 95% ;margin-right: 15px;}
.channelContainer  .uploadImage {width: 60px; height: 50px;}
.channelContainer .uploadImage img{max-width:100%; height:100%;}
.frstImage{margin-right:20px;}
.commentBox{margin-bottom:10px;}
.commentBox textarea{width:100%;border-radius: 2px;border: 1px solid #ddd;}
.channelText{display:block;float:left;padding-right: 15px;}
.channelOptions{color:#364354;font-size:1.2em;font-weight:bold;display: block;margin-top: 10px;margin-bottom: 10px;text-align: left ;padding-left: 15px;}
.custImageContainer{margin-bottom:20px;margin-top: 20px;}
.noMtop{margin-top:0px ;}
.greyArrow{cursor:pointer;display: inline-block;width: 23px;height: 23px;margin-left: 4px;margin-top: -5px;position: relative;top: 6px;}
.ccChannelList li .ipmCheckbox label{top:0px ;}
.channelContainer:first-child{border-top:0px;}
.fontBold{font-weight:bold;}
.channelContainersmall .uploadImage {
		width: 120px;
		height: 120px;
		border: #eee solid 1px;
		border-radius: 2px;
	}
	
	.commentBoxsmall textarea {
		height: 120px;
	}
	
	.custImageContainerMbt {
		margin-bottom: 12px;
		margin-top: 12px;
   }
	
	div.marginRL {
		padding-left: 15px;
	}
	
	div.marginRL img {
		width: 118px;
		height: 118px;
	}
	
	.custImageContainerMbt div:last-child {
		padding-left: 0px;
	}
	
	.custImageContainerMbt div.secImage:first-child {
		margin-left: 15px;
	}
	
	.channelContainersmall .uploadImage img {
		max-width: 100%;
		height: 100%;
	}
	.imgPointer{cursor:pointer;}
	.imgupdatelink {
		list-style-type: none;
		margin-top: 3px;
		padding: 0px;
	}
	
	.imgupdatelink li {
		margin: 0px;
		float: left;
		padding: 0px 11px;
	}
	
	.imgupdatelink li:first-child {
		border-right: #ccc solid 1px;
	}
	
	.updateDeletimg {
		width: 118px;
		border: #eee solid 1px;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		solid 1px; 
		min-height: 25px;
		position: absolute;
		bottom: 0px;
		text-align: center;
		background-color: #fff;
		opacity: 0.8;
		cursor: default;
		display: none;
	}
	
	.imgupdatelink li a {
		font-size: 11px;
		font-weight: bold;
		display: block;
		padding: 2px 0px;
		height: 18px;
		cursor: pointer;
	}
	
	.imgloader1 {
		width: 118px;
		border: #eee solid 1px;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		min-height: 25px;
		position: absolute;
		bottom: 0px;
		text-align: center;
		background-color: #fff;
		opacity: 0.8;
		cursor: default;
		display: none;
	}
	
	.imgloader1 a {
		font-size: 11px;
		font-weight: bold;
		display: block;
		margin: 0 auto;
		width: 75%;
		padding: 5px 0px;
		color: #017DBB;
		cursor:pointer;
	}
	.frstImagesmall > img, 
	.secImagesmall > img {
		width:118px;
		height:118px;
	}
	
textarea::-webkit-input-placeholder {
   color: #B5B5B5;
   font-style:italic;
}

textarea:-ms-input-placeholder {  
   color: #B5B5B5;  
   font-style:italic;
}
blockquote.imgupdatelink{
border-left:0px ;
}