/* Header Styles */
    .gradientbg{height:130px;}
	.prosetupTop{margin-top:20px;}
    .progress-bar{margin-top: 15px;}
    .noBorderright{border-right:0 !important;}
    .bosscard {background-color:#f79c3f !important;background-position: 12px 9px !important;}
    .panel{box-shadow:none;}
/* upload Image */
    .uploadImage {cursor:pointer;}
    .uploadImage img,.custUploadImage{max-width:100%;}
	.uploadImage .sfdc_richtext img{max-height:160px;}
/* page title bar styles */
    .H30{height:30px;}
    .pageHeadToolbar { border-bottom:1px solid #ddd; margin:0 15px; }
	.pageHeadToolbar span.pageTitle,.pageHeadToolbar .SecFillProgress,.pageHeadToolbar .SecFillProgress .fillProgress,.pageHeadToolbar .SecFillProgress .fillProgressTxt,.pageHeadToolbar .SecStatusUpdate,.pageHeadToolbar .SecCurrentStatus,.skipButton,.expandTool span {display:inline-block;}
    .pageHeadToolbar span.pageTitle {margin:13px 7px 13px 0!important;text-transform:uppercase;font-size:1.7em;color:#253b78; padding-right: 10px;border-right: 1px solid #929292;}
    .pageHeadToolbar .SecFillProgress {border-right: 1px solid #929292;padding-right: 10px;padding-top: 3px;padding-bottom: 3px;}
    .pageHeadToolbar .SecFillProgress .fillProgress {color:#e98824;font-size:1.8em !important; font-weight:normal;}
    .pageHeadToolbar .SecFillProgress .fillProgressTxt {color:#364354!important; font-size:12px;}
    .pageHeadToolbar .SecStatusUpdate {margin:15px 0; padding-right:15px;border-right: 1px solid #929292;}        
    .pageHeadToolbar .SecCurrentStatus {color:#364354; margin: 12px 15px 10px 15px;text-align:right;}
    
    .icoButton {cursor:pointer;}
    .skipButton{margin-left:4px;position:relative;bottom:4px;}
    .mandatorycolor{color:#CF1721;}
	.icoButton.question{bottom:8px;}
	.hiddenBossname{display:none;}
     
/* content styles */
    .pageHeadToolbar .SecButtonSet{margin: 17px 10px 10px 10px;}
    .orangebg{background:#F79C3E !important;border:1px solid #E46C0A !important;color:#fff !important;}
    .orangebg:hover{background: #e38a2d !important;border:1px solid #E46C0A !important;}
    .SecStatusUpdate a:link{text-decoration:none;}
    .custBossPadding{padding:3px 0;}
    .ipmButton:link{text-decoration:none;}
    .expandAll{padding-right:10px;border-right:1px solid #252525;}
    .collapseAll{padding-left:10px;}
    .bosscardtitleContainer{padding-left:15px;}
    .bosscardStatusContainer{width:50%;}
    .noPadleft{padding-left:0 !important;}
    .noPadright{padding-right:0 !important;}
    .bosscardMtop{margin-top:20px;}
    .bsFieldLabel{color:#565656;font-weight:bold;}
    .bcFielddesc{color:#666;display:block;margin-bottom:10px;font-size: 0.9em;}
    .subSectionLabel{display:block;color:#565656;margin:10px 0;}
    .inputField{margin-bottom:10px;}
    .inputField input,.inputField select{width: 100%;height: 30px !important;border-radius: 3px;border: 1px #a8a8a8 solid;color:#565656;display:block;}
    .fieldnote{margin-bottom: 20px;color:#555;padding-top:10px;font-style:italic;font-size: 0.85em;display:block;}
    .bosscardmright{margin-right:15px;}
    .expandTool span {font-weight:bold; color:#0f81bb; cursor:pointer; }
    .bcInstruction{font-weight:bold;color:#3B4F6A;}
    .txtAlignright,.expandTool {text-align:right;}
    .uploadImage img{max-width:100%;width:100%;}
    .buttonMarginRight{margin-right:15px;}
	.bcAuto{display:block;color:#555;}
	.autoContainer{border:1px solid #ccc;border-radius:4px;max-height:150px;overflow:auto;}
/* bosscard name error message */
    .ErrMsg{color:#333;border:1px solid #E1D22F;padding:10px 10px 10px 40px;margin-top: 10px;display: block;border-radius: 4px;}

/* accordion styles */
    .bcsinglecontainer{margin-bottom: 5px;}
    .ipmAccordion{margin:10px 0;padding: 10px 0;}
    .ipmAccordion .bcsinglecontainer .pHead > span.expico {display: inline-block; cursor:pointer; font-family: FontAwesome;width: 23px;height: 23px;text-align: center;font-weight: normal;line-height: 23px;background: #81bd42;position: relative;margin-right: 5px;font-size: 0.8em;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;color: #fff;}
    .ipmAccordion .bcsinglecontainer > .ipmAcrdnExpand {display:block;padding: 10px 15px;margin-bottom:10px;}        
    .bcsinglecontainer > .pHead{color: #253b78;font-size: 1.5em;font-weight: bold;display: block;background: #f7f7f7;border: 1px solid #dce3e2;padding: 13px 10px 14px;}
    .bcsinglecontainer > .ipmAcrdnExpand{border: 1px solid #dce3e2;display: block;border-top: none!important;margin-bottom: 10px;}
     
/* Modal styles */
    .skipDesc{display: block;padding: 15px 0;}
    .skipButtoncontainer{margin:15px 15px;}
    .fleft{float:left;}
    #ipmModalSkipBossConfirm .modal-dialog{margin-top:15%;}
     
/* confirmation styles */
    div.message.infoM3{background-color:#F6FFEC !important;position:absolute;border-radius: 4px;z-index: 10;width:220px;top:4.5%;left:38%;padding:0 !important;border:solid 1px #55823D !important;}
    .message .messageText{color:#558038 !important;position:relative;bottom:4px;}
    .infoM3 .msgIcon, .infoMedium{display:none;}
	/*.infoM3 .messageText::before{content:url('../images/success_icon.png');position:absolute; left: 10px;top: 5px;}*/
     
/* Radio button styles */
	.bosscardSelectradioButton input[type=radio]{visibility: hidden;width: 0;height: 0;}
	.bosscardSelectradioButton label{position:relative;cursor:pointer;width:22px;height:22px;border:1px solid #ccc;border-radius:20px;}
	.bosscardSelectradioButton label:after{opacity: 0;content: '';position: absolute;width: 6px;height: 6px;background: #007DBD;top: 6px;left: 6px;border: 1px solid #007DBD;border-radius: 40px;}
	.bosscardSelectradioButton input[type=radio]:checked + label:after{opacity:1;}
	.bosscardSelectradioButton input[type=radio]:checked + label{border:2px solid #007DBD;}
	.bosscardSelectradioButton input[type=radio]:checked + label + .bosscardStatusLabel{color:#E98923;}
	.bosscardSelectradioButton label.selected{border:2px solid #007dbb;}
	.bosscardSelectradioButton{width: 23%;margin-right: 5px;margin-top: 0;float: left;border: 1px solid #D3D3D3;padding: 20px;text-align: center;}
	.bosscardStatusLabel{display:block;font-size: 0.9em;color: #565656;}
	.incWidth{width:25%;}
	.bosscardradioButton{margin-bottom:10px;margin-top:20px;}
	.customFloatedMsg {position:fixed; z-index:1999; top:5%; left:42%;}
	.ipmSelect {font-weight:normal;width:100%;position:relative;z-index:1;}       
	.ipmSelect .proInit {text-align: center; position:absolute; z-index:100; top:0; left:0; width:100%; height:100%; background-position:0 0!important;filter:alpha(opacity=90);opacity:0.9;-webkit-opacity:0.9;-moz-opacity:0.9;}
	.fieldErrmsg{color: #d74c3b;  width: 100%;  display: block;  padding: 10px;  background: #ffebec;  border-radius: 3px;  margin-top: 15px;position:relative;}
    .fieldErrmsg:after{left: 33px;  top: -5px;  position: absolute;  border-top: 1px #ffebec solid;  border-right: 1px #ffebec solid;  background: #ffebec;  content: " ";  height: 15px;  width: 15px;  -ms-transform: rotate(-45deg);  transform: rotate(-45deg);}
    .proInit {text-align: center; position:absolute; z-index:100; top:0; width:99%; height:100%; background:#fff url(../images/ajax-loader.gif) no-repeat center 5% !important;opacity:0.7;}
	
	.pageHeadToolbar .status,.pageHeadToolbar .greyFont,.pageHeadToolbar .completed,.pageHeadToolbar .stopped{display:block;font-weight:bold;}
   .pageHeadToolbar .greyFont{color:#555;}
   .pageHeadToolbar .status{color:#e98824;}
   .pageHeadToolbar .completed{color:#4a6c11;}
   .pageHeadToolbar .stopped{color:#e50101;}
   
   .approvContainer{margin-bottom: 15px;  }
   .circular{border-radius: 500rem;}
   .apprName{display:block;float:left;margin-left:10px;margin-top: 5px;color: #3B506F; font-weight: bold;border-right: 1px solid #F0F0F0;padding-right: 10px;}
   .clrBoth{clear:both;display: block;}
   .apprImageContainer{  width: 30px;  height: 30px;}
   .apprImage{max-width:100%;width:100%;}
   .apprRemoveLink,.selectAppr{display:block;}
   .selectAppr,.apprRemoveLink{cursor:pointer;font-weight:bold;color:#0f81bb;}
   .apprSelectContainer{margin-bottom:15px;width: 100%;}
   .editApprover{margin-left: 10px;}
   .removeApprText{display: block;  margin: 20px;}
   .selectAppr{display: block;  margin-bottom: 25px; width: 110px;margin-top: 5px;}
   .imgHoverContainer{position: absolute;  width: 100%;  height: 84%;  bottom: 24px;display:none;}
   .imgHbuttonContainer{position: absolute;text-align: center;background:#fff;opacity:0.8;height: 30px;bottom:0;width:99%;border-top:1px solid #E7E7E7;border-bottom:1px solid #A8A8A8;border-right:1px solid #A8A8A8;border-left:1px solid #A8A8A8;}
   .imgUpdateButton{border-right:1px solid #827C80;padding-right: 15px;  margin-right: 0 !important;}
   .imgDelButton{padding-left: 15px;  margin-left: 0 !important;cursor:pointer;}
   .imgDelButton:hover{text-decoration:underline;}
   .imgUpdateButton,.imgDelButton{color:#017DBB;margin:0 8px;font-weight:bold;position: relative;  top: 5px;width: 29%;}
   .upImageContainer{border:1px solid #A8A8A8;border-radius:4px;}
   
   .operationlRadiobtn label{margin-right:190px;}
   
   .toolTipMsg {
	  clear: both;
	  padding: 20px;
	  background: #fafafa;
	  border: 1px #c9c9c9 solid;
	  border-radius: 2px;
	  color: #364354;
	  font-size: 0.82em;
	  position: relative;
	  margin-bottom:10px;
	}
	
	.radioTltip1::before,.radioTltip2::before,.radioTltip3::before {
	  content: " ";
	  position: absolute;
	  border-top: 1px #c9c9c9 solid;
	  border-right: 1px #c9c9c9 solid;
	  background: #fafafa;
	  height: 15px;
	  width: 15px;
	  transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -webkit--transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	}
	.toolTipMsg{display:none;}
	.radioTltip1::before{	top: -8px;left: 5px;}
	.radioTltip2::before{	top: -8px;left: 214px;}
	.radioTltip3::before{	top: -8px;left: 427px;}
	
	.modal-header .ui-button-text{line-height: 1!important;font-size:21px !important;padding:0 !important;} 
	
	.errorM3 .messageTable .messageText h4,.errorM3 .messageTable .messageText{color:#C73E36 !important;font-weight:normal !important;}
    .errorM3 .messageText::before{content:url('../images/red_i_icon.png');position:absolute; left: -34px;}
    .errorM3 .messageTable .messageText{margin-left:40px !important;}
	
/************TLD Picker**************/

	.ui-quarterpicker { position: absolute;display: block;padding: 1px 3px;}
    .ui-widget-content {background:#f5f5f5!important;border:1px solid #e3e3e3!important;box-shadow: 1px 1px 2px #e3e3e3;-webkit-box-shadow: 1px 1px 2px #e3e3e3;-moz-box-shadow: 1px 1px 2px #e3e3e3;margin-top: 1px;}
    .ui-state-default {background:#fff!important;border:1px solid #007db8!important;color:#3383bb!important;}
    .ui-state-active {background:#007db8!important;border:1px solid #007db8!important;color:#ffffff!important;}
    .ui-corner-left, .ui-corner-right {border-radius:initial!important; -moz-border-radius:initial!important; border-radius:initial!important;}
    .ui-quarterpicker-header {margin-bottom: 5px;text-align: center;}
    .ui-quarterpicker-top {margin: inherit;padding: inherit;}
    .ui-quarterpicker-trigger {padding-left: 5px;}
    .ui-quarterpicker select {width:100%;margin:2px 0;padding: 3px;color:#565656!important; font-size:14px;}
    .ui-buttonset .ui-button {margin: 3px 0!important;}
    .ui-button .ui-button-text {line-height: 2;font-family:Arial;font-size:14px;padding:0 7px;}    
	
	.quarterForward{width: 200px !important;padding-left: 10px;}
	.bossFilled{font-size:12px !important;}
	.selectContainer{display: inline-block;height:25px;}