	.scoreonecss{left:33.3333333333333% !important;}
	.scorethreecss{left:66.6666666666667% !important;}
	.scorehundred{left:100% !important;}
	.scorezero{left:0 !important;}
	.questone{left:20% !important;}
	.questtwo{left:40% !important;}
	.questthree{left:60% !important;}
	.questfourone{left:80% !important;}
	.marginTop{margin-top:20px;}
	.inputField{margin-bottom:15px;}
	.inputField input, .inputField select{width:100%;height:30px;border-radius: 3px; border: 1px #a8a8a8 solid;}
	.input-group-addon{padding: 0;margin-top: -3px;width: 1px;background:none; border:none;color: #007dbb;font-size: 1.3em;}
	.middlePanel{background:#f9f9f9; border-top:1px #d7e1e0 solid; border-bottom:1px #d7e1e0 solid;margin-bottom: 10px;padding-top: 5px;}
	.fieldFont{font-size:0.8em;} 
	.fieldLabel{padding-top:10px; padding-bottom:10px; font-weight:bold;}
	.modal-backdrop.in {opacity: 0.7;}
	.date input{height:30px;border-radius: 4px;border: 1px #ddd solid;width:41%;}
	.input-group .input-group-addon {position: absolute;top: 53px;left: 36%;} 
	.input-group.date{padding:20px 0;}
	.input-group.date label{display:block;}
	div[class^="col-xs-"]{padding:5px 10px;} 
	.changeStatusPage textarea,.input-group.date{width:100%;}
	.changeStatusPage {padding-bottom:10px;}
	.riskheading{margin-bottom:10px;display:block;}
	.addQuestion,.fieldFont{color:#555;}
	.addQuestion .inputField > select{width:50%;margin-top: 10px;}
	.questTitle{margin-bottom:10px !important;display:block;}
	.posslidercss{color:#e98824 !important;font-weight:bold;}
	.slider1parent{color:#555 !important;}
	.sliderparent{color:#222 !important;}
	.sliderparent,.slider1parent,.addQuestion .inputField > select{font-weight:normal;}
	.marginTB10{margin:10px 0px;}
	
/*ipmButton Styles */
	
	.ipmButton.green{background:#81bf42 !important;}
	.ipmButton.green:hover{background:#56843b !important;}
	#changeStatus .ipmButtonGroup{padding-bottom: 4%;padding-right: 6px;} 
	.SecButtonSet .icoButton {display:inline-block;width:30px; margin: 0 5px; height:30px;border:1px solid #1568b6;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
	.ipmButtonGroup{margin-bottom:15px;  margin-right: 15px;}
	
/*slider styles*/
	.sliderStat,.sliderStat1  {margin-bottom:20px;display:block;}
	.legendSld {position:relative; top:20px;}
	.legendSld label {float:left; cursor:pointer; position:relative; font-size:0.8em;font-weight:normal;}
	.legendSld:after {content:""; display:block; clear:both; visibility:hidden;}
	.legendSld label[for=s0] {text-align:left;left:0; width:16.6666666666667%;}
	.legendSld label[for=s1],.legendSld label[for=s2] {text-align:center; width:33.3333333333333%;}
	.legendSld label[for=s3] {text-align:right;right:0; width:16.6666666666667%;}
	.legendSld label[for=s4] {text-align:left;left:0; width:10%;}
	.legendSld label[for=s5],.legendSld label[for=s6],.legendSld label[for=s7],.legendSld label[for=s8]  {text-align:center; width:20%;}
	.legendSld label[for=s9] {text-align:right;right:0; width:10%;}
	.legendSld label:before {content:"";display:block;position:absolute;left:49.5%; top:-25px; border:1px solid #252525; background:#fff; width:5px; height:16px; border-radius:5px; -webkit-border-radius:5px; -webkit-border-radius:5px;}
	.legendSld label[for=s3]:before, .legendSld label[for=s9]:before {left:100%!important;}
	.legendSld label[for=s0]:before, .legendSld label[for=s4]:before {left:0!important;}    
	.slider3 .legendSld label[for=s2]:before {display:none!important;}
	.sliderDiv{margin-top:20px;} 
	.sliderDiv:after {display:block; clear:both: content:" "; visibility:hidden;}   
	#changeStatus{margin:20px 0 0 0;padding:0 15px;}       
	.infoMsg{padding:10px;font-size:0.82em;background:#e5f8ff;border:1px #1568b6 solid;color:#007dbb; border-radius:2px;}       
	.toolTipMsg{background:#fafafa;border:1px #c9c9c9 solid; border-radius:2px;color:#364354;font-size:0.82em;position:relative;}          
	.toolTipMsg::before { left: 5%;top: -8px; position: absolute; border-top: 1px #c9c9c9 solid;border-right: 1px #c9c9c9 solid;background: #fafafa;content: " ";height: 15px;width: 15px;transform: rotate(-45deg);-moz-transform: rotate(-45deg);-webkit--transform: rotate(-45deg);-ms-transform: rotate(-45deg); }
	.toolTipMsg label {font-weight:normal;}
	.ui-slider-handle {border-radius:50%!important;-moz-border-radius:50%!important;-webkit-border-radius:50%!important;background:#EDEDED !important;border:1px solid #8F8F8F !important;}
	.ui-slider-horizontal {height:0.4em!important; border:none!important;background:#DCDCDC !important;width:90%!important; margin:0 auto;}
	.ui-slider-horizontal .ui-slider-handle {top:-0.6em!important;}
	.ui-slider .ui-slider-handle {width:1.6em!important; height:1.6em!important;}

	.messageBox .SecButtonSet {margin-top:0!important; position:relative; top:2px;}
	.messageBox .SecButtonSet .icoButton {width:16px!important;height:16px!important;top: -3px; }
	.messageBox .SecButtonSet a {display:block; float:left; border:1px solid #015ba7; cursor:default; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
	.messageBox .SecButtonSet span.msgTxt {position: relative; top: -2px; display:block; margin-left:25px;}

/* Box styling */
	.fa{cursor:pointer;}
	.addLink{padding-right:10px !important;float:left; text-align:right; color:#007DBB; font-size:0.7em; cursor:pointer;}
	.addLinkText{margin-left:1px;font-size: 1.4em;font-weight: bold;}
	.riskheading{font-size:1em; font-weight:bold;}
	.blue{color:#253b78 !important;}
	.questionBox{border:1px solid #ddd;padding:10px;margin:10px 0;}
	.modal-body{padding:0 !important;}
	.questionnaire{margin:10px 15px;}
	.noPadleft{padding-left:0 !important;}
	.noPadright{padding-right:0 !important;}
	.questions{margin-bottom:40px;color:#253b78;}
	.sliderStat,.sliderStat1{margin-bottom:50px;}
	.marginTop{margin-top:20px;}
	
	.proceedButton > a {width:100%;}
	.tooltip > .tooltip-inner {-webkit-box-shadow: 1px 4px 5px 2px rgba(0,0,0,0.15);-moz-box-shadow: 1px 4px 5px 2px rgba(0,0,0,0.15);box-shadow: 1px 4px 5px 2px rgba(0,0,0,0.15);font-weight:normal;background-color: #00b1a5;border-radius:2px;text-align:left;width:500px;}
	.tooltip > .tooltip-arrow {border-top-color:#00b1a5!important;}
	.tooltip.bottom .tooltip-arrow {border-bottom-color:#00b1a5!important;}
	#showQues {display:none;}
	.delButton{width: 25px !important;display: block;height: 25px;border: 1px solid;border-radius: 50px;padding: 15px;}        
/* add question part */
	.inputField input, .inputField select{width: 100%;height: 30px;border-radius: 3px;border: 1px #a8a8a8 solid;}
	.mBottom{margin-bottom:10px;}
	.commentArea textarea{width:100%;}
	.riskMheading{margin-bottom:10px;}
	.mb20 {margin-bottom:20px!important;}
	span.custMtop{margin-top: 10px; display: block;}
	.questContainer{border-bottom:1px solid #BBBBBB;float:left;width:100%;padding:10px;}
	.questContainer:last-child{border:0;}
	.delRight{margin-right:10px;}
	.delRight{cursor:pointer;}
	.buttonMarginRight{margin-right:15px;}
	.questions .fa-circle{font-size: 10px;  color: #cfcfce; margin-right: 5px;}
	.buttonmarRightTen{margin-right:10px;}
	.scoreDB {display:none;}
	.ipmQuestTextarea {margin-top: 10px;width:51%;}
	.proceedButton .ipmButton{margin-bottom:15px;}
	.ipmButtonGroup .ipmButton{margin-bottom:15px;}