/* ipmModal Styles revamp*/
.htmlDetailElementTable img {width:100%; max-width:100%;}
.bcsinglecontainer .htmlDetailElementTable img{width:inherit;}
.modal-header{background:url(../images/pop_header.png) repeat-x !important;padding:17.5px 15px; border-bottom:1px #d7d7d7 solid;border-top-left-radius: 5px;border-top-right-radius:5px;}
.modal-title{color:#333333 !important;font-weight:bold;font-size:1.3em;}
.modal-header button.close{background:#fff;border: 1px #007dbb solid;border-radius: 50%;padding: 3px 5px;color: #007dbb; margin-top:-5px;opacity: 1 !important;width:30px;}
.modal-content{border-radius:4px;height:100%;width:100%;float:left;}
.modal-body{height:88%;padding:0 !important;}
.modal-dialog{margin:15px auto;}
.modal-backdrop.in{opacity: 0.7 !important;}
#ipmDeleteModal .modal-dialog{height:auto;width:40%;margin-top:15%;}
#ipmDeleteModal .ipmButtonGroup{margin-top:10px;margin-bottom:15px;}
#ipmDeleteModal .ipmButtonGroup .ipmButton.green{color:white !important;border: 1px #406b14 solid;}
#ipmDeleteModal .confirmMsg{font-size:1em;color:#555555;padding:15px;}
.modal-body body {font-size:14px!important;}