/* Project Details Pop up */
	.ui-autocomplete {max-height: 200px;overflow: auto;}
  
    /* Content styles */
		.newBrandField{word-break:break-all;}
		.uploadImages{width: 525px;height: 220px;margin-top: 10% !important;}
		.buttonmarRight{margin-right:15px;}
		.editProjectTop{margin-top:20px;}
		.uploadImage img {max-width: 100%;width:100%;height:auto !important;}
		.noPadleft{padding-left:0 !important;}
		.noPadright{padding-right:0 !important;}
		.bosscardMtop{margin-top:20px;}
		.bsFieldLabel,.bsFieldLabel label{color:#565656;font-weight:bold;}
		.mandatorycolor{color:#CF1721;}		
		.descTop{margin-top:20px;}
		.contractContainer {margin-top:20px;}
		.proMarginbottom{margin-bottom:20px;}
		.pull-right{float:right;}
		.col-sm-12.yellowBox.noPadleft {margin-top: 20px;}
		.hiddenBrand{display:none;}
		#charCountRemainingText{display:inline-block;margin-bottom:20px;}
		.inputField input,.inputField textarea,.inputField select{width: 100%;border-radius: 3px;border: 1px #a8a8a8 solid;color:#565656;}
		.proNameBox{height: 30px !important;}
		.inputField textarea{height: 70px;}
		.inputField select{height: 30px !important;}
		.fieldnote{margin-bottom: 20px;color:#555;padding-top:10px;font-style:italic;font-size: 0.85em;display:block;}
		.bosscardmright{margin-right:10px;}
		.expandTool span {display:inline-block; font-weight:bold; color:#0f81bb; cursor:pointer; }
		.bcInstruction{font-weight:bold;color:#3B4F6A;}
		.txtAlignright,.expandTool ,.txtRight{text-align:right;}
		.periodDetails{display:block;font-weight:bold;color:#344454;float:right;position: relative;bottom: 32px;left: 20px;}
		.characterlimit{display: block;text-align: right;}
		.custMarginbottom {margin-bottom: 20px;}
		.dateInput {white-space: nowrap;}
		.uploadImage {cursor: pointer;}
		.allNumbers{color:#666;}
		.legendDesc{color:#656565;} 
		.panel{box-shadow:none;}
		.ipmButton:link{text-decoration:none;}
		.proSetupButton{margin-right:15px;}
		.imageBorder{padding:0 !important;border-radius:4px;}
		.proNameContainer .SecButtonSet .icoButton{
			top: 3px;
			width: 16px;
			height: 16px;
		}
		.bcAuto{display:block;color:#555;}
		.autoContainer{border:1px solid #ccc;border-radius:4px;height:150px;overflow:auto;}
        
	/* Project details radio buttons */
        .projectraLabel{padding-left:0;color: #565656;position: relative;bottom: 3px;}
        #charCountRemaining{font-weight:bold;}
        
	/* checkbox styles */
        .ipmCheckbox{width:100%;}
        .ipmCheckbox label{top:1px !important;left:10px;}
        .yellowBox{margin-top: 10px;background: #FFF582;padding: 8px;border-radius: 3px;}
        .fastTrackcheck{margin-left: 5px !important;width: 30px;height: 17px;}
        
	/* Error message styles */
		.ErrMsg,.TldErrMsg,.projDescErrMsg,.categoryErrMsg,.brandErrMsg{position:relative;color:#d74c3b;display:block;padding: 10px;background: #ffebec;border-radius: 3px;margin-top: 15px;}
		.ErrMsg:before,.TldErrMsg:before,.projDescErrMsg:before,.categoryErrMsg:before,.brandErrMsg:before{position: absolute;border-top: 1px #ffebec solid;border-right: 1px #ffebec solid;background: #ffebec;content: " ";height: 15px;width: 15px;-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
        .ErrMsg{width:55%;}
        .ErrMsg:before,.TldErrMsg:before,.projDescErrMsg:before,.categoryErrMsg:before,.brandErrMsg:before{left: 10%;top: -8px;}
        .TldErrMsg,.categoryErrMsg,.brandErrMsg{width:100%;}
        .projDescErrMsg{width:55%;}
          
    /* custom tooltip styles */
        .radioTooltip1,.radioTooltip2,.radioTooltip3{display:none;}
        .toolTipMsg{clear:both;padding:20px;background:#fafafa;border:1px #c9c9c9 solid; border-radius:2px;color:#364354;font-size:0.82em;position:relative;} 
		.radioTooltip1::before ,.radioTooltip2::before,.radioTooltip3::before{ top: -8px; content:" "; position: absolute; border-top: 1px #c9c9c9 solid;border-right: 1px #c9c9c9 solid;background: #fafafa;height: 15px;width: 15px;transform: rotate(-45deg);-moz-transform: rotate(-45deg);-webkit--transform: rotate(-45deg);-ms-transform: rotate(-45deg);}
        .radioTooltip1.gateKModel::before {left: 4px;}
        .radioTooltip2.gateKModel::before {left: 90px;}
        .radioTooltip3::before { left: 90px;}
 
    /* select styles */ 
		.ipmSelect,.ipmSelect.tlp{font-weight:normal;position:relative;z-index:1;}
		.ipmSelect{width:100%;margin-bottom: 0;}
        .ipmSelect.tlp{width:50%;}
        .ipmSelect:after{display: block;font-family: FontAwesome;content: "\f107";font-size: 1.4em;position: absolute;top: 3px;right: 4px;top: 1px\9;right: 1px\9;z-index: -1;width: 20px;height: 20px;text-align: center;background: #fff;color: #000;}
        .dateInput .dateFormat{visibility:hidden; display:none;}
        .tldBox{width:42% !important;padding-right: 30px;height:30px !important;}
        .tldQ{margin-left:10px;}
        .readProname{display:block;}
        .modal-dialog {margin-left:auto!important;margin-right:auto!important;}
		.fastTrackBox,.whiteSpaceBox{	display: block;	float: left;	margin-right: 20px;}
		.whiteSpaceBox{	  border-left: 1px solid #AAA56D;	}
		.lblBlock { display: block;}
		.editProTop{margin-top:15px;padding-left:0 !important;padding-right:0 !important;}
		
		.oprtnRadiobtn table td:first-child label {margin-right: 175px !important;}
		.oprtnRadiobtn label {margin-right: 110px;}
		.disable input[type=radio] + label {border: 1px solid #cdcdcd !important;background: #f7f7f7;}
		.disable input[type=radio]:checked + label:after {background: #b1b1b1 !important;border: 1px solid #b1b1b1 !important;}
		input[type=text]::-ms-clear {display: none; width:0; height:0;}
		.editDspBlock{display:block;}
		
		.ipmDropDownSelect { padding: 5px 5px;background: #fff;border: 1px solid #ddd;}
	.ipmDropDownSelect:after {
    display: block;
    font-family: FontAwesome;
    content: "\f107";
    font-size: 14px;
    position: absolute;
    top: 6px;
    right: 0;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #fff;
    color: #000;
}
.brandposListContainer{margin-bottom:20px;}
.ipmDropDown .dropdown-menu {
    border: 1px solid #252525;
    z-index: 1000;
    min-width: 190px;
    border-radius: 4px 0 4px 4px;
    background: #f9f9f9;
    margin-top: 0;
    margin-right: -3px;
}
.ipmDropDown .brandposList ul {
    padding: 0;
    list-style: none;
    z-index: 1000;
    min-width: 190px;
    border-radius: 4px 0 4px 4px;
    background: #fff;
	margin-bottom:0 !important;
}
.ipmDropDown .brandposList ul>li {
    padding: 10px 0 36px 10px !important;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.brandPosLabel {
    display: block;
    float: left;
    margin-left: 7px;
}
.filterActionscc {
    border-top: 1px solid #ddd;
}
.ipmButtonGroup .ipmDropbuttonscc, .ipmButtonGroup .ipmDropcompletebuttons {
    border-right: 1px solid #252525;
}
.ipmButtonGroup .ipmDropbuttonscc, .ipmButtonGroup .ipmDropresetcc {
    text-align: center;
    padding: 5px 21px;
    width: 100%;
    display: inline-block;
    margin: 5px 0;
}
.brandposList a {
    color: #007dbb!important;
    font-weight: bold;
    cursor: pointer;
}
.ipmDropDownList:before {
    left: 8%;
    top: -8px;
    position: absolute;
    border-top: 1px #c9c9c9 solid;
    border-right: 1px #c9c9c9 solid;
    background: #fff;
    content: " ";
    height: 15px;
    width: 15px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ipmDropDownList {
    border: 1px solid #c9c9c9 !important;
    background: #fff !important;
    left: 1px !important;
    top: 41px !important;
}
.brandposList .ipmCheckbox{width:35px !important;}

.cccmiList{height: 250px;overflow: auto;}
.brandposList{margin-bottom:20px;}
.oprtnRadiobtn{width:100%;float:left;}
.cmiR1{ width: 190px;}
.cmiR3{ width: 200px;}
.container-fluid {
    position:relative;
}
.container-fluid .proInit {
    text-align: center;
    position:absolute;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height:150%;
    background:#fff url(../images/ajax-loader.gif) no-repeat 50% 20%!important;filter:alpha(opacity=90);opacity:0.9;-webkit-opacity:0.9;-moz-opacity:0.9;
}
.oprtnToolTipMsg{margin-bottom:20px;}
.infoMarTop {margin-top: 6px;}
.SecButtonSet {display: inline-block;text-align: right;margin-top: 0;position: relative;}
.SecButtonSet .icoButton {display: inline-block;width: 30px; margin: 0 5px;cursor: pointer;height: 30px;border: 1px solid #1568b6;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;}
.memContainer .SecButtonSet .icoButton, .proNameContainer .SecButtonSet .icoButton {top: 3px; width: 16px;height: 16px;}
.ui-tooltip {
	-webkit-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15)!important;
    -moz-box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15)!important;
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.15)!important;
    font-weight: normal!important;
    background-color: #01B1A6 !important;
    border-radius: 2px!important;
    border: none!important;
    text-align: left!important;
	color:#fff!important;
	padding:3px 7px!important;
	opacity:0.9;
	width:200px;
}
.ui-tooltip-content {
    position: relative;
    padding: 0;    
	font-size:12px!important;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -10px;
    left: 44%;
    border-color: #01B1A6 transparent!important;
    border-width: 0 10px 10px;
}
/* Upload Image Hover */
	.imgHoverContainer{position: absolute;  width: 100%;  height: 84%;  bottom: 22px;display:none;}
   .imgHbuttonContainer{position: absolute;text-align: center;background:#fff;opacity:0.8;height: 30px;bottom:0;width:98%;border-top:1px solid #E7E7E7;border-bottom:1px solid #A8A8A8;border-right:1px solid #A8A8A8;border-left:1px solid #A8A8A8;}
   .imgUpdateButton{border-right:1px solid #827C80;padding-right: 15px;  margin-right: 0 !important;}
   .imgDelButton{padding-left: 15px;  margin-left: 0 !important;cursor:pointer;}
   .imgDelButton:hover{text-decoration:underline;}
   .imgUpdateButton,.imgDelButton{color:#017DBB;margin:0 8px;font-weight:bold;position: relative;  top: 5px;width: 29%;}
   .upImageContainer{border:1px solid #A8A8A8;border-radius:4px;}	
   .removeApprText {display: block;margin: 15px;}
   .buttonMarginRight{margin-right:15px;}
