/************** CSS HEADER INFORMATION******************************************************
	- File Name     : IPM_MilstonesAndTasks
	- Description   : This file is used in the Task List page 
	- Client        : Unilever
	- Last Modified : 29-10-15
	- Author        : Cognizant Technology Solutions  
*******************************************************************************************/

/* ===GLOBAL STYLES=== */
	 html,
     body {
         overflow-y: auto!important;
     }
     .ipmFunnelPanel {
         bottom: 4px;
     }
     .navbar-nav li:last-child a {
         /*bottom: 7px;*/
         
         position: relative;
     }
	 .toDoborder{border-right:0 !important;}
     .nav {
         position: relative;
     }
     .htmlDetailElementTable img {
         width: 100%;
         max-width: 100%;
     }
	 .completeFilterReset{font-size:16px;}
     .heading2 {
         font-size: 1.840em;
     }
	 .misalignchck{margin-left:4px;margin-top:15px;}
     .heading3 {
         font-size: 1.338em;
         font-weight: bold;
     }
     .ipmHeading {
         border-bottom: 1px #7fa19e solid;
         padding: 0 0 5px;
         text-transform: none;
     }
     .blue {
         color: #253b78 !important;
     }
     .ipmPanelHeading {
         padding: 3px 10px 3px 0 !important;
         text-transform: none;
     }
	 .nobrdrMstone{border-right:0 !important;}
     .gray {
         color: #555555;
     }
     .ipmMileRow {
         padding-left: 0 !important;
         margin: 10px 0 0 !important;
     }
     .ipmTaskRow {
         padding-left: 0 !important;
         margin: 20px 0 0 !important;
     }
     .statisticsBox {
         padding: 1px;
         text-align: center;
         color: white;
         border-radius: 3px;
         width: 23px;
         height: 23px;
         border: 1px #ddd solid;
         font-size: 1em;
         font-weight: bold;
     }
     .statisticsBox.green {
         background: #81bf42;
     }
     .statisticsBox.gray {
         background: #e4e3e3;
         color: #666666;
     }
     .staticLabel2 {
         float: left;
         word-break: break-word;
         white-space: normal;
         font-weight: normal;
         color: #666666;
         font-size: 1em;
         padding-right: 4px !important;
         padding-top: 0;
         padding-left: 4px !important;
     }
     .staticLabel {
         float: left;
         word-break: break-word;
         white-space: normal;
         font-weight: normal;
         color: #666;
         font-size: 16px;
         padding-right: 8px !important;
         padding-top: 3px;
         padding-left: 8px !important;
     }
     .ipmStatistics {
         padding: 4px 10px;
         border-right: 1px #252525 solid;
		 border-left: 1px #252525 solid;
     }
     .ipmStatistics.last {
         border-right: none;
		 border-left: 0 !important;
     }
     div[class^="col-xs"] {
         padding-left: 10px;
         padding-right: 10px;
     }
     .width1 {
         width: 7%;
     }
     .width2 {
         width: 12%;
     }
     .width3 {
         width: 10%;
     }
     .addLink {
         padding-right: 10px !important;
         float: left;
         text-align: right;
         color: #007DBB;
         font-size: 0.7em;
         cursor: pointer;
     }
     .addLinkText {
         margin-left: 1px;
         font-size: 1.4em;
         font-weight: bold;
     }
     input[disabled] {
         background-color: #f7f7f7;
         border: 1px #cdcdcd solid;
     }
     .toggleContainer a {
         vertical-align: middle;
     }
     .toggleContainer {
         position: relative;
         /*left: 20px;*/
         
         padding-left: 0 !important;
         padding-right: 0 !important;
         text-align: center !important;
     }
     .toggleContainer>div {
         padding-left: 0 !important;
         padding-right: 0 !important;
     }
     .toggleContainer>.selectedView {
         background: transparent;
         background-color: #81bf42 !important;
         border-top-right-radius: 15px;
         border-bottom-right-radius: 15px;
     }
     .toggleContainer>.selectedView1 {
         background: transparent;
         background-color: #81bf42 !important;
         border-top-left-radius: 15px;
         border-bottom-left-radius: 15px;
     }
     .SecButtonSet .icoButton {
         display: inline-block;
         width: 30px;
         margin: 0 5px;
         cursor: pointer;
         height: 30px;
         border: 1px solid #1568b6;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
     }
     .SecButtonSet {
         display: inline-block;
         text-align: right;
         margin-top: 0;
     }
     .noteimg .icoButton {
         display: inline-block;
         width: 15px;
         cursor: text;
         margin: -9px 6px -9px 0;
         height: 30px;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
     }
     .noteimg {
         display: inline-block;
     }
     .padTop {
         padding-top: 4px;
     }
     .gateMilstone {
         border-bottom: 1px solid #ddd;
         margin: 0;
         padding-bottom: 20px;
     }
     .showallbutton {
         font-family: Arial;
         font-size: 1em;
         font-weight: bold;
         color: #007DBB;
         border-right: 1px solid #ddd;
         padding: 7px 10px;
     }
     .mstone {
         font-style: italic;
         color: #666;
     }
     .completeHeader {
         width: 16%;
     }
     .iconHeader {
         width: 10%;
     }
     .taskListTable thead th:first-child {
         width: 160px !important;
     }
     .colCompleted,
     .colPhase,
     .colAssignee {
         height: 17px;
     }
     #ipmTimeLine {
         margin-bottom: 20px;
     }
     .filterIcon {
         padding-top: 2px;
         cursor: pointer;
         display: inline-block;
         width: 15px;
         margin: -6px 0;
         height: 30px;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
     }
     .mstoneTasks .icoButton {
         margin: 0 2px;
     }
     .duedateHeader {
         width: 11%;
     }
     .taskphaseHeader {
         width: 130px !important;
     }
     #addMilestone {
         margin-top: 5px;
         padding-right: 0 !important;
         float: right;
         border-left: 1px grey solid;
         width: 54%;
         height: 24px;
         line-height: 24px;
     }
     .ipmTable.table-bordered {
         border-bottom: 1px solid #7fa19e;
         border-top: 1px solid #ddd !important;
     }
     .taskListTable.table-bordered {
         table-layout: fixed;
         border-bottom: 1px solid #7fa19e;
         border-top: 1px solid #ddd !important;
     }
     .ipmTaskRow .rounded {
         border-radius: 50%;
         margin-right: 10px;
         float: left;
     }
     .colRed {
         color: red !important;
     }
     .colBlack {
         color: #000 !important;
     }
     .assignedCheckboxes .taskTop {
         margin-top: 0;
         position: absolute !important;
         top: 2px !important;

     }
     .noPadleft {
         padding-left: 0 !important;
     }
     .table>thead>tr>th:first-child {
         padding-left: 4px !important;
     }
     .table>thead>tr>th:last-child {
         width: 11%;
     }
     .table>thead>tr>td:last-child,
     .table>tbody>tr>td:last-child {
         text-align: right;
     }
     .ipmDropDown .dropdown-toggle {
         padding: 7px;
         position: relative;
         top: -7px;
         left: 2px;
     }
     .keep-open {
         height: 18px;
         width: 25px;
     }
     .ipmTable .dropdown-menu {
         margin-top: -8px !important;
         z-index: 18 !important;
     }
     .ipmTable .open .dropdown-toggle a {
         margin: -7px -2px;
     }
     .fa {
         cursor: pointer;
     }
     .filterActions a {
         cursor: pointer;
     }
     .phaseFilter .dropdown-menu {
         border: 1px solid #252525;
         z-index: 0;
         min-width: 190px;
         border-radius: 4px 0 4px 4px;
         background: #f9f9f9;
         margin-top: 0;
         margin-right: -3px;
     }
     .ipmTable .open .dropdown-toggle {
         background: #f9f9f9;
         padding: 7px;
         border-top: 1px solid #000;
         border-left: 1px solid #000;
         border-right: 1px solid #000;
         border-bottom: 0;
         border-radius: 4px 4px 0 0;
         position: relative;
         bottom: -1px;
         z-index: 10;
         left: 3px;
     }
     .phaseFilter .dropdown-menu>li {
         width: 100%;
         float: left;
         padding: 10px 0 10px 10px !important;
         border-bottom: 1px solid #ddd;
     }
     .userFilter .dropdown-menu>li {
         width: 100%;
         float: left;
         padding: 10px 0 10px 10px !important;
         border-bottom: 1px solid #ddd;
     }
     .ipmTable .open .dropdown-toggle {
         background: #f9f9f9;
         padding: 7px;
         border-top: 1px solid #000;
         border-left: 1px solid #000;
         border-right: 1px solid #000;
         border-bottom: 0;
         border-radius: 4px 4px 0 0;
         position: relative;
         bottom: -1px;
         z-index: 21;
         left: 3px;
     }
     .ipmTable .dropdown-menu .ipmCheckbox label {
         top: 4px !important;
     }
     li .ipmButtonGroup {
         margin-top: 4px;
     }
     .sortIcon {
         font-size: 1.2em;
         margin-left: 8px;
         cursor: pointer;
     }
     .deleteTask {
         display: none;
     }
     .deleteTask div {
         padding: 20px;
     }
     #ipmTableDiv .SecButtonSet .icoButton {
         display: inline-block;
         width: 30px;
         margin: 0 5px;
         height: 30px;
         border: 1px solid #1568b6;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
     }
     .toggleContainer {
         border: 1px solid #1568b6;
         border-radius: 20px;
         margin-top: 0 !important;
     }
     .toggleContainer .icoButton {
         border: 0;
         margin: 0;
     }
     .noPadleft .icoButton {
         border: 0;
     }
     .noPadleft .icoButton {
         margin: -9px -1px;
     }
     .noPadright {
         padding-right: 0 !important;
     }
     .timeLineView {
         display: none;
     }
     .dateInput .dateInputBox {
         width: 66%;
     }
     .input-group-addon {
         padding: 0;
         margin-top: -3px;
         width: 1px;
         background: none;
         border: none;
         color: #007dbb;
         font-size: 1.3em;
         left: 66%;
         top: 43px;
         position: absolute;
     }
     .modal-body html {
         height: height: 100%;
         overflow-y: hidden;
     }
     .errorMsg:before {
         left: 3%;
         top: 63px;
         position: absolute;
         border-top: 1px #ffebec solid;
         border-right: 1px #ffebec solid;
         background: #ffebec;
         content: " ";
         height: 15px;
         width: 15px;
         -ms-transform: rotate(-45deg);
         transform: rotate(-45deg);
     }
     .ipmPanelCount {
         padding-left: 8px;
         border-left: 1px #252525 solid;
         font-weight: normal;
     }
     .mandatorycolor {
         color: #CF1721;
     }
     .alertBox {
         padding: 15px 0;
         margin-bottom: 0;
         margin-top: 20px;
     }
     .pagemessageBoxDiv {
         margin-top: 30px !important;
     }
     #milestoneList table th:last-child {
         text-align: right!important;
     }
     .ipmTaskRow table th:last-child {
         text-align: right!important;
     }
     #ipmTableDiv .SecButtonSet {
         display: inline-block;
         text-align: right;
         margin-top: 7px;
     }
     .nav {
         margin-left: 20px;
     }
     .addmilelink {
            width: 24%;
     }
     .ipmCheckbox {
         width: 20px;
     }
     span.assigneeName span {
         float: left;
         width: 65%;
     }
     .modal-dialog {
         margin-left: auto!important;
         margin-right: auto!important;
     }
     .dateInput .dateInputBox {
         width: 66%;
     }
     .input-group-addon {
         padding: 0;
         margin-top: -3px;
         width: 1px;
         background: none;
         border: none;
         color: #007dbb;
         font-size: 1.3em;
         left: 66%;
         top: 43px;
         position: absolute;
     }
     .askManageTodos .raLabelTodo {
         color: #666;
         margin-left: 24px;
         margin-top: -6px;
         display: inline-block;
     }
     /* IPM Lite & Full toggle styles */
     
     .transBox {         
         padding: 10px 0;
         border-radius: 3px;
     }
	 .transBox .ipmRadioButton {
		 width:128px;
		 margin-top: 15px;
	 }
	 .transBox .radioTooltipipmLite::before {
		top: -8px;
		left: 8px;
		content: " ";
		position: absolute;
		border-top: 1px #c9c9c9 solid;
		border-right: 1px #c9c9c9 solid;
		background: #fafafa;
		height: 15px;
		width: 15px;
		transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-webkit--transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
	}	
	.transBox .radioTooltipipmFull::before {
			top: -8px;
			left: 160px;
			content: " ";
			position: absolute;
			border-top: 1px #c9c9c9 solid;
			border-right: 1px #c9c9c9 solid;
			background: #fafafa;
			height: 15px;
			width: 15px;
			transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-webkit--transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
	 }

	  .transBox .ipmRadioButton label {
		 margin-right: 10px;
	 }
     .mStonequest {
         padding-left: 20px;
         color: #565455;
         display: block;
     }
     .mstonebWidth {
         width: 100px;
         margin-left: 25px;
         margin-top: 10px;
         float: left;
         margin-right: 0 !important;
         margin-bottom: 10px;
     }
     .mstonebWidth label {
         background: #fff;
         margin-right: 0;
     }
     .radioTooltipipmFull,
     .radioTooltipipmLite {
         margin-left: 20px;
         margin-right: 20px;
         margin-bottom: 10px;
         font-size: 1em;
         padding: 15px;
     }
     .radioTooltip1,
     .radioTooltip2,
     .radioTooltip3,
     .radioTooltipipmFull,
     .radioTooltipipmLite {
         display: none;
     }
     .transBox .toolTipMsg {
         clear: both;
         padding: 20px;
         background: #fafafa;
         border: 1px #c9c9c9 solid;
         border-radius: 2px;
         color: #364354;
         font-size: 1em;
         position: relative;
     }
	 .transBox  .radioTooltipipmFull, 
	 .transBox  .radioTooltipipmLite {
		margin-right: 0;
	 }
	 
	 .ipmTable .ipmCheckbox label{
	 top:-6px !important;
	 }
	 .toDoLink{margin-top:22px;}
	 .Todosalign{
        margin-top: 22px;
		margin-right: 10px;
     }
	.outputPannelalign{
        float:left;
        padding-bottom: 10px;
     }
	 .toDoMarginTop{margin-top:5px !important;}
	.addLink.toDoLink{border-left:1px solid #D6D6D6;padding-left: 10px;}
	 
	.toDoInfo{border:1px solid #B0D2E6;padding:10px;color:#007DBB;border-radius:4px;text-indent: 30px;background:url(../images/info_icon.png) no-repeat 12px 10px #E5F8FF;}
	.mstonePagination{color:#333;display:block;margin:0 10px;}
    .mstoneArrows{margin:0 10px;font-weight: bold;text-decoration:none;}
    .mstoneArrows:hover{text-decoration:none;}
	.mstoneActive,.mstoneActive:hover{color:#333 !important;background:none !important;border:0 !important;}
	.mstoneNotActive,.mstoneNotActive:hover{color:#AEAEAE !important;background:none !important;border:0 !important;}
	.buttonmarRight{margin-right:15px;}
	.mstoneInfo{width: 100%;margin-bottom:15px;margin-top:15px;padding:20px;color:#007EBB;border-radius:4px;background:url("../images/info_icon.png") no-repeat 1% 45% #E5F8FF;}
	.mstoneInfoTxt{display:block;margin-left:20px;}
	.fltrbrdrRight{border-right: 1px solid #252525;}
	.proLoader,.transBox {position:relative;} 
   	.proLoader .proInit {text-align: center; position:absolute; z-index:100; top:0; left:0; opacity:0.9; -moz-opacity:0.9; -webkit-opacity:0.9; filter:alpha(opacity=90); width:100%; height:100%; background:#fff url(../images/ajax-loader.gif) no-repeat 50% 50%!important;}
	#sortDueDate1, #sortDueDate {float:right!important;font-size: 1.2em; margin-left: 8px; cursor: pointer;}
	.transBox .proInit {text-align: center; position:absolute; z-index:100; top:0; left:0; opacity:0.9; -moz-opacity:0.9; -webkit-opacity:0.9; filter:alpha(opacity=90); width:100%; height:100%; background:#fff url(../images/ajax-loader.gif) no-repeat 50% 50%!important;}
	