	.pbBody{margin-left:1% !important;width:98% !important;margin-top:2% !important;}
    #addedMembers{margin-top:50px;}
    label{font-size:13px;font-weight:normal;}
    .addButton{margin: 0 10px 10px 15px !important;}
    /*#TeamAssignmentCategories .bPageBlock{border-bottom:0px !important;}*/
    .x-panel-body{border:none !important;}
    .addMember .panel-body label{text-transform:uppercase;}
    .bPageBlock{border:0 !important;background:none !important;} 
    .buttonmarRight{margin-right:15px;} 
    .convertLowercase{text-transform:none;}
	.noPadleft{padding-left:0 !important;}
    .noPadright{padding-right:0 !important;} 
    .clear_input_div a:hover {text-decoration:none;}
	.pull-right{float:right;}
	.teamMemberList{overflow:auto;height:210px;}
/* add member styles */
	.categorySearch{margin-bottom:20px;margin-top:10px;width: 250px;} 
	.categoryTitle{font-weight:bold;color:#3B516D;display:block;margin-bottom:20px !important;}
	.greyContainer{width:100%;float: left;}
	.greybg{background:#F9F9F9;border-top:1px solid #D7E1E0;border-bottom:1px solid #D7E1E0;width: 100%;overflow:auto;}  
	.srchImage{cursor: pointer;width: 18px;position: relative;right: 7px;bottom: 24px;height: 18px;float:right;z-index:999;}
	.categorySearch input,.categorySearchGlobal input{width: 100%;padding-right: 48px;border: 1px solid #333;border-radius: 4px;height: 30px;padding-left: 5px;}
	.table{background:#fff;border: 1px solid #7fa19e !important;border-radius: 3px;}
	.rounded{border-radius:50%;width: 100%;}
	.txtRight,.addButtonContainer{text-align:right;}
  
	.editList{overflow:auto;width: 100% !important;height: 275px;}
	.teamMemberName{color:#3B506F;display:block;font-weight:bold;float:left;margin-right: 5px;}
	.teamMembermail{color:#015FB7 !important;margin-right: 5px;}
	.memberDetails{color:#676767;margin-right: 5px;}
	.addButtonContainer{margin:15px 0;}
	.addButtonContainer .ipmButton{margin-right:15px;color: #0f81bb;}
	
/* checkbox styles */
	
	.ipmCheckbox input[type=checkbox]:checked + label{border:2px solid #007DBD;}
	.ipmCheckbox input[type=checkbox]:checked + label:after{border-color: #007DBD;}
	
/* Radio button styles */
	.ipmRadioButton{margin-top:3px !important;margin-right:10px !important;}
	.editList label{margin-right:0;}
	.categoryLabel{font-weight:bold;font-size: 0.9em;color: #555;display:block;margin-bottom:10px;float: left;line-height: 36px;}
	.incWidth{width:25%;}
	.categoryButtons{margin-bottom:10px;float:left;  width: 40%;} 
	.extrapadding{padding: 8px 30px;}
	.cust-overlay{text-align: center;position:absolute;opacity:0.8; z-index:9999; width:690px; height:470px;background:#fff url(../images/ajax-loader.gif) no-repeat 250px 70px!important;display:none;}
	.radioContainer{width:100%;display:block;}
	.ipmFromAction  {margin:8px 0 20px; margin-right:6%;}
	.pgbtPre2 {overflow:auto;width:770px;height:250px;}
	.editList .ipmTable{margin-bottom:0;}
	input[type=text]::-webkit-input-placeholder {color: #666;}
	input[type=text]:-ms-input-placeholder {color: #666;}
	input[type=text]::-ms-clear {display: none; width:0; height:0;}
	.proInit {
    text-align: center;
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 5px;
    width: 99%;
	opacity: 0.9;
    height: 98%;
    background:#fff url('../images/ajax-loader.gif') no-repeat center 14%!important;
}
a.icoButton.question{margin-top:5px !important;}