.THIS .campaignIdeaTitle{
    margin-left: 1px;
    /* color: #001b33; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  /*  -webkit-line-clamp: 1;*/
    width: 215px;
}