.cOV_MyKPIs {
  font-family: Unilever;
  background-color: #ffffff;
  padding: 15px; }
  .cOV_MyKPIs.row.cOV_ReportKPIs {
    margin: 0 -50px; }
  .cOV_MyKPIs .readOnly {
    cursor: default; }
  .cOV_MyKPIs .clickable:not(.readOnly) {
    cursor: pointer; }
  .cOV_MyKPIs .readonly.clickable {
    cursor: pointer; }
  .cOV_MyKPIs .myKPIs {
    overflow: hidden;
    white-space: nowrap; }
  .cOV_MyKPIs .myKpisControls {
    margin: 10px 0;
    background-color: #ffffff; }
    .cOV_MyKPIs .myKpisControls .myKpisControlsManage {
      float: right;
      margin-right: 10px; }
      .cOV_MyKPIs .myKpisControls .myKpisControlsManage .s1icon {
        font-size: 34px;
        width: 34px;
        height: 34px;
        vertical-align: baseline; }
      .cOV_MyKPIs .myKpisControls .myKpisControlsManage > span {
        color: #007DBB;
        line-height: 34px;
        vertical-align: text-bottom; }
    .cOV_MyKPIs .myKpisControls .myKpisControlsTitle {
      margin-left: 15px;
      font-weight: bold;
      float: left;
      color: #284973;
      font-size: 18px; }
      .cOV_MyKPIs .myKpisControls .myKpisControlsTitle span:first-of-type {
        margin-right: 5px; }
  .cOV_MyKPIs .myKpisKpiList {
    background-color: #F2F2F2;
    padding-bottom: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }