.THIS .tabUi{
    background: white;
}
.THIS .tabUi li{
    width: 46%;
    margin: 0 auto;
    text-align: center;
}
.THIS .tabUi li a{
 font-size:12px;
}
.THIS .body-content{
    padding: 20px;
    background: white;
}

.THIS .event-banner{
    height:200px;
    margin-bottom: 8px;
}
.THIS .profile-parent{
    margin-top: -17px;
}