.THIS .recent_inv {
    line-height: 1.25;
    letter-spacing: .0625em;
    color: #4F6A92;
    margin-left: 2.5%;
    margin-top: -15px;
}
.THIS .err_search_user :first-child {
    margin-left: 0;
}
.THIS .search_icon_big{
    width: 1rem !important;
    height: 1.5rem !important;
    margin-top: -0.7rem !important;
}
.THIS .clear_btn{
    margin-top: 10px;
    background-color: #2e91cf;
    color: white;
    border: none;
    margin-left: 2.5%;
}
.THIS .recent_item_list span {
    line-height: 3;
}
.THIS .error-msg{
    color:red;
    font-size:1rem;
}

.THIS .recent_item_list{
    padding-left: 0px;
    width: 94%;
    margin: 0 auto;
}
.THIS .recent_item_list :first-child a span {
    margin-left: 0;
}
.THIS .invt_lst{
    background-color: lightgray;
    padding: 3px;
    margin-left: 10px;
}

.THIS .to_so_placeholder::-webkit-input-placeholder { font-size:1rem;}
.THIS .message_margin_left{
    margin-left: 10px;   
}
.THIS .slds-form-element__control{
    padding: 8px 0px;  
}
.THIS .slds-form-element{
    width: 95%;
    margin: 0 auto;
}