.THIS .recent_inv {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: .0625em;
  color: #a7b8d1;
  margin-left: 2.5%;
  margin-top: -15px;
}

.THIS .clear_btn{
  margin-top: 10px;
  background-color: #2e91cf;
  color: white;
  border: none;
  margin-left: 2.5%;
}

.THIS .error-msg{
    color:red;
    font-size:1rem;
}

.THIS .invt_lst{
  background-color: lightgray;
  padding: 3px;
  margin-left: 10px;
  margin-bottom:5px;
}