.THIS .regular_font{
    font-weight: 100;
    font-size: 1.2rem;
    padding-bottom: 20px;
    padding-top: 1rem;
    color: #4f6a92;
    margin-left: 15px;
    width: 100%;
    text-transform: uppercase;
}
.THIS .list_name{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1;
    margin-left: 15px;
    margin-top: -20px;
    color: black;
    padding-top: 18px;
}
.THIS .list_name_msg{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2;
    margin-left: 15px;
    color: black;
    padding-top: 14px;
}
.THIS .divider {
  height: 1px;
  width: 100%;
  display: block;
  margin-left: 0px;
  overflow: hidden;
  background-color: #e5e5e5;
}