.THIS .padding-pending{
    padding: 13px;    
    padding-top: 0px;
}
.THIS .pending{
    width: 50%;
    text-align: center;
    font-weight:bold;
}
.THIS .closed{
    width: 50%;
    text-align: center;
    color:grey;
}
.THIS .ProjectInformationSection{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
.THIS .ProjectFinanceSection{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
.THIS .FinancialBenifitSection{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
.THIS .KeyIndicatorSection{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}    
.THIS .textHighlight{
    color: #0070d2;
    font-size: 1rem;
}
.THIS .textLineItem{
    font-size: 0.9rem;
    color: #16325c;
    float: right;
    margin-top: -23px;
}
.THIS .clarity-header{
    clear: both;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 7px;
}
.THIS .preparedby{
    margin-top: 7px;
}
.THIS .currency{
    margin-top: 7px;
}
.THIS hr{
    margin: 0.5rem 0;
    border-top: 1px solid #A7B8D1;
}
.THIS table>tr>td{
    padding-top:5px;	
    width:25%;
}
.THIS .arrow-right{
    float: right;
    width: 6%;
    margin-top: -22px;
}
.THIS .ApprovalHistorySection{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 26px;
}
.THIS .DetailHeading{
    font-size: 0.9rem;
    color: #4F6A92;
    width: 50%;
    vertical-align: bottom;
}
.THIS .DetailData{
    padding-top: 0px;
    padding-bottom: 8px;
    width: 50%;
    vertical-align: top;
    min-width: 29px;
}
.THIS a#tab-default-3__item, .THIS a#tab-default-2__item {
    background-color: #FFFFFF;
    line-height: 3;
    letter-spacing: 0em;
}
.THIS .tab-default-2__item{
    border-bottom:2px solid #0C8EFF;
}
.THIS .sectionTitle{
    font-size: 1.029rem;
    cursor: pointer;
}
.THIS .fieldAlign{
    float: right;
    margin-top: -46px;
}
.THIS .fieldValueAlign{
    margin-top: -30px;
    margin-left: 50%;
}
.THIS .AribaRoleSection{
    text-align: center;
    margin-top: -20px;
    margin-left: 40px;
}
.THIS .ApproverActionSection{
    text-align: right;
}
.THIS .loading{
    position: absolute;
    top: 49%;
    left: 60%;
    font-size: 1rem;
    color: #00396B;
    font-weight: bold;
}
.THIS .DetailSectionTable{
	height: auto;
    margin-bottom: -7px;
}
.THIS .Apphist{
    margin-top: 15px;
}
.THIS .up{
    width:17px;
    position: absolute;
    right: 24px;
    margin-top: -22px;
}
.THIS .lineItemDetail{
    width:150px;
}
.THIS .preparedBy-currency{
    text-align: center;
}
.THIS .fieldValueRichTextFormate {
    white-space: pre-line;
}
@media screen and (min-width: 1200px){
.THIS .content {
    margin-bottom: 100px;
}
}