.THIS .nav-pills li {
    float: left;
    background-color:#fff;
}
.THIS .nav-pills>li>a {
    border-radius: 0;
    text-align: center;
}
.THIS .activity-sec{
    padding: 13px 21px;
    background: #ef7ead;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 80px;
    margin:16px 0 0;
}
.THIS.slds .slds-text-heading--label {
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: .0625em;
    color: #54698d;
}
.THIS .tilteTheme{
    font-weight: bold;
    line-height: 2.25;
    margin-left: 5%;
}
.THIS li.active_class{
    text-align: center;
    width: 50%;
    padding-top: 1.2rem;
    color: #337ab7;
    height: 5rem;
    font-weight: bold;
    border:1px #2E91CF solid;
    font-size:1.4rem;
}
.THIS li.inactive_class{
    text-align: center;
    width: 50%;
    padding-top: 1.2rem;
    color: white;
    background:#337ab7;
    height: 5rem;
    font-weight: bold;
    font-size:1.4rem;
}
.THIS .back_image{
    width:2rem;
    height:2rem;
    margin-top: 60px;
}
.THIS .outer_sec{
    /*padding-top:2px;*/
    height:100%;
    display:none;
    
}
.THIS .forceStyle .uiScroller .scroller.actionBarPlugin {
    padding-bottom: 3.75rem;
    background-color: black;
}
.THIS .container{
    Width:95%;
    margin:0 auto;
    width: 95%;
    margin: 0 auto;
}
.THIS .menu_ul{
    background-color: white;
    font-size: 1.03rem;
}
.THIS .menu_li{
    width: 50%;
    text-align: center; 
}
.THIS .spinner-location{
    position: fixed;
    top: 16rem;
    left: 40%;
    Z-index:1000;
}
.THIS .uiImage{width:4rem;
    content: url("/resource/Lightning_designing_style/assets/images/spinners/slds_spinner_brand.gif");
}
.THIS .spinner-img{display:none;}
.THIS .menu{
    width: 50%;
    text-align: center;
}
.THIS .slick-slider {
    margin-top: -15px;
}