.THIS button.slick-prev, 
.THIS button.slick-next {
    display: none;
}

.THIS .bootstrap-sf1 .uiButton--default .label {
    font-size: 100%;
    color:#00003B; 
}
.THIS.main {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
    height:100%;
}
.THIS .min-sec{
    
    margin:0 auto;
}
.THIS .section.cEverydayAction_Activity_Detail {
    padding: 0 24px;
}
.THIS .nav-pills>li>a {
    border-radius: 0;
}

.THIS .nav-pills>li>a {
    border-radius: 0;
    text-align: center;
}
.THIS .activity-sec{
    padding: 2px 23px;
}
.THIS.slds .slds-text-heading--label {
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: .0625em;
    color: #54698d;
}
.THIS .tilteTheme{
  font-size: 14px;
  font-weight: bold;
  font-family: inherit;
}
.THIS li.active_class{
    box-sizing: border-box;
    border-radius: 0;
    text-align: center;
    width: 50%;
    position: relative;
    display: block;
   padding-top: 1.2rem;
   	color: #337ab7;
    text-decoration: none;
    height: 5rem;
 	font-size: 1.5rem;
  	font-weight: bold;
    border:1px #2E91CF solid;
    
}
.THIS li.inactive_class{
    box-sizing: border-box;
    border-radius: 0;
    text-align: center;
    width: 50%;
    position: relative;
    display: block;
   padding-top: 1.2rem;
    color: white;
    text-decoration: none;
   	background:#337ab7;
    height: 5rem;
 	font-size: 1.5rem;
  	font-weight: bold;
    
}
.THIS .back_image{
    width:2rem;
    height:2rem;
    margin-top: 60px;
}