.THIS .sectiona_a{
    padding: 1.2rem 0.9rem 2rem .9rem;
}
.THIS .head_c-1{
            float:left;
            width:50%;
            color:#033A69;
}
.THIS .head_d-1{
    width: 5.59rem;
    color: #033a69;
    position: absolute;
    right: 0;
}
.THIS .back-button{
    width: 5%;
    margin-left: 18px;
    margin-top: 10px;
    margin-right: 35px;
}
.THIS .Right_cevro{
    float: right;
    width: 24px;
    position: absolute;
    top: 40%;
    right: 5px;
    color: #A7B8D1;
    font-size: 31px;
}