.THIS .sectiona_a{
            padding: 1.5rem 1.5rem 0 1.5rem;
}
.THIS .head_c-1{
            float:left;
            width:60%;
            color:#033A69;
}
.THIS .head_d-1{
            float:left;
            width:40%;
            color:#033A69;
}
.THIS .back-button{
    width: 5%;
    margin-left: 18px;
    margin-top: 10px;
}