.THIS {
    
}

/*Filter option page header bar left align the content*/
.THIS .leftAlign {
    padding: 10px;   
}

.THIS li.active_class {
    box-sizing: border-box;
    border-radius: 0;
    text-align: center;
    width: 50%;
    position: relative;
    display: block;
    padding-top: 0.7rem;
    color: #337ab7;
    text-decoration: none;
    height: 2.8rem;
    font-weight: 600;
    border: 1px #2e91cf solid;
}
.THIS li.inactive_class {
    box-sizing: border-box;
    border-radius: 0;
    text-align: center;
    width: 50%;
    position: relative;
    display: block;
    padding-top: 0.7rem;
    color: white;
    text-decoration: none;
    background: #1767a7;
    height: 2.8rem;
    font-size: 1rem;
}

.THIS div.fileinputs {
	position: relative;
}

.THIS div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.THIS input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}
.THIS.container {
    padding-bottom: 10px;
    max-width: 1200px;
    margin: 0 auto;   
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
}
.THIS .competitor-content{
    position: relative;
    padding: 15px 15px 15px 15px;
    border-top: 2px solid #cfd7e6;
}

.THIS .slds-form-element {
    margin-bottom: .75rem;
}

.THIS .competitor-submit-btn{
    text-align: center;
	padding: 15px;
}

.THIS .competitor-submit-btn .slds-button{
    width: 100%;
}

.THIS .insert-img-file{
    border: 1px solid #d1d1d4;
    border-radius: 3px;
}

.THIS .insert-img-file .slds-col{
   text-align: center; 
}
/* CSS to identify mobile or desktop view */

/* Portrait */
@media only screen and (max-device-width: 480px) {
	.THIS .desktop-view {display:none}
}

@media only screen and (max-device-width: 1024px){
	.THIS .desktop-view {display:none}
}

@media only screen and (min-device-width: 1025px) {
	.THIS .mobile-view {display:none; border:none;}
}

/*.THIS .form-element-cust .slds-select_container:after {
    	border-top: none;
    }

.THIS .slds-select_container:before {
        border-bottom: none;
        top: 0;
    }*/

.THIS .desktop-view .img-clo-div{
        border-right: 1px solid #e6e6e6;
}

.THIS .img-icons{
    background: url(/resource/Lightning_designing_style/assets/icons/utility/image_60.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 55px;
    position: relative;
    left: 40%;
}

.THIS .img-input-file{
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    opacity: 0;
    cursor: pointer;
    width: 25px;
}
.THIS .header-color{
        	color: #2A94D6;
        }
.THIS .btn-container{
        	position: fixed;
    		z-index: 1000;
        	padding: 8px 8px 8px 15px;
            width: 100%;
        	background: #FFF;
        }

.THIS.business-princpls {
    position: relative;
    padding-top: 38px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.42857143;
    background: #f0f0f0;
}
.THIS .slds{
    height: 100%;
    overflow-y: auto;
}
.THIS body {
  font-family: Arial,sans-serif;
}
.THIS .container {background:#f0f0f0; position:relative}
.THIS .needMarginBottom{margin-bottom:50px}
.THIS  .needbottom{
margin-bottom:50px;
}
.THIS .needMargin{margin-top:50px}
.THIS .col-xs-12.topSection {margin:0; padding:0 0 13px}
.THIS .topSection {border: 1px solid #d1d1d4}
.THIS .topSection p {font-size:16px; color:#d1d1d4}
.THIS .titleOne {font-size:22px; color:#344A5F; font-weight:bold /*background:url(../images/down.svg)no-repeat right top*/}
.THIS .caption h3 {font-size:18px; color:#344A5F; font-family: Arial,sans-serif; font-weight:bold;}
.THIS .caption p {font-size:16px; color:#8C8C90}
.THIS .userInfo {border:1px solid #e8e8e8; border-width:1px 0; padding:5px 0; float:left; margin:5px 0 15px}
.THIS .name {font-size:16px; color:#2A94D6; font-weight:bold}
.THIS .subText {font-size:14px; color:#D1D1D4;}
.THIS .noGutter {padding-left:3px; padding-right:3px}

.THIS .businessPrinciples h3{color:#2A94D6; font-size:18px}
.THIS .businessPrinciples p {font-size:16px}
.THIS .down_arrow{width:20px;height:21px;margin-left: 10px;  margin-top: 4px;  background-size: contain;}
.THIS .like_img{width:10px;height:10px;display:inline-block}
.THIS .likeBlue_img{width:10px;height:10px;display:inline-block}
.THIS .business-principle-link{
                cursor:pointer;
    color:blue;
    text-decoration:none;
}
.THIS .business-principle-link:hover{
                cursor:pointer;
    color:blue;
    text-decoration:underline;
}

          
.THIS 	.titleOne {font-size:17px}/* 15 sept */
.THIS .caption h3, .THIS .userInfo .name {font-size:13px;}/* 15 sept */
.THIS .caption p {font-size:12px;}
.THIS .userInfo .subText{font-size:11px;}
.THIS .titleOne {
    font-size: 15px;
}
.THIS .hide-form{
    display: none;
}

.THIS .agree-submit-btn{
	text-align: center;  
    color: #4bb371;
}

.THIS .agree-submit-btn img{
	width: 50px;
    height: 50px;   
}
.THIS .red-color{
    color: red;
}
.THIS .green-color{
    color: green;
}
.THIS .text-align{
    text-align: center;
}

.THIS .slds-modal__header{
    border-bottom: none;
    padding: 0.5rem 1rem;
}

.THIS .slds-p-around--medium {
    padding: 0.5rem;
}