.cOV_KpiTile.kpiRoot {
  position: relative;
  display: block;
  float: left;
  margin: 15px 0 0 15px;
  box-sizing: border-box;
  vertical-align: top;
  border: 1px solid #ccc;
  border-radius: 9px;
  overflow: auto;
  box-shadow: 0 0 8px 2px rgba(102, 102, 102, 0.25);
  width: 200px; }
  .cOV_KpiTile.kpiRoot.lrg {
    width: 400px; }
  .cOV_KpiTile.kpiRoot .kpiRootManage {
    position: absolute;
    top: 2px;
    right: 8px;
    font-size: 18px;
    color: #e6e6e6; }
    .cOV_KpiTile.kpiRoot .kpiRootManage.active {
      color: #007dbb; }
    .cOV_KpiTile.kpiRoot .kpiRootManage.readOnly {
      display: none; }
  .cOV_KpiTile.kpiRoot .kpiRootPanel {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 10px 10px 0; }
  .cOV_KpiTile.kpiRoot .kpiRootName {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    height: 60px;
    overflow: hidden;
    line-height: 53px;
    margin-top: 10px; }
    .cOV_KpiTile.kpiRoot .kpiRootName .kpiRootNameInner {
      color: #007dbb;
      display: inline-block;
      vertical-align: middle;
      line-height: 27px;
      font-weight: bold;
      font-size: 24px; }
  .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper {
    padding-bottom: 10px;
    padding-top: 5px; }
    .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues {
      display: inline-block;
      width: 100%;
      vertical-align: middle; }
      .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue {
        background-color: white;
        font-size: 30px;
        height: 30px;
        line-height: 1;
        color: #666666;
        text-align: center;
        font-weight: bold;
        width: calc( 100% + 20px);
        margin: 0 -10px;
        white-space: nowrap; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue > span[class^=arrow] {
          font-size: 16px;
          vertical-align: middle;
          margin-top: -8px; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue > span.currentPrefix {
          font-size: 70%; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue > span.currentSuffix {
          font-size: 70%; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue > span.currentSuffix.percent {
          font-size: 100%; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue.numberCentered .arrowUp, .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue.numberCentered .arrowDown, .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue.numberCentered .arrowFlat {
          margin-right: -21px; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue .arrowUp, .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue .arrowDown, .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue .arrowFlat {
          display: none;
          margin-left: 5px; }
          .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue .arrowUp.good, .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue .arrowDown.good, .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue .arrowFlat.good {
            color: #78BE20; }
          .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue .arrowUp.bad, .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue .arrowDown.bad, .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue .arrowFlat.bad {
            color: #BF0D3E; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue.UP .arrowUp {
          display: inline-block; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue.DOWN .arrowDown {
          display: inline-block; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootCurrentValue.NO.CHANGE .arrowFlat {
          color: #e37325;
          display: inline-block; }
      .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootPreviousValue {
        color: #b2b2b2;
        text-align: center;
        width: 100%;
        line-height: 1;
        font-size: 20px;
        margin-top: 5px;
        height: 20px; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootPreviousValue > span.previousPrefix {
          font-size: 70%; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootPreviousValue > span.previousSuffix {
          font-size: 70%; }
        .cOV_KpiTile.kpiRoot .kpiRootValuesWrapper .kpiRootValues .kpiRootPreviousValue > span.previousSuffix.percent {
          font-size: 100%; }
  .cOV_KpiTile.kpiRoot .kpiRootTimeField {
    font-size: 15px;
    color: #666666;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px; }
  .cOV_KpiTile.kpiRoot .kpiRootDetails {
    margin: 0 -10px;
    background-color: #007dbb;
    color: #ffffff;
    min-height: 100px;
    padding: 10px 20px 15px 25px;
    position: relative; }
    .cOV_KpiTile.kpiRoot .kpiRootDetails .expandButton {
      color: #80bddb;
      font-size: 15px;
      display: inline-block;
      background-color: transparent;
      position: absolute;
      bottom: 15px;
      right: 20px;
      line-height: 25px;
      cursor: pointer; }
    .cOV_KpiTile.kpiRoot .kpiRootDetails .kpiDimentions {
      text-align: left; }
      .cOV_KpiTile.kpiRoot .kpiRootDetails .kpiDimentions ul {
        margin-bottom: 0;
        max-height: 75px;
        padding-left: 0;
        list-style: none;
        overflow: hidden; }
        .cOV_KpiTile.kpiRoot .kpiRootDetails .kpiDimentions ul li {
          line-height: 25px;
          font-size: 15px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: normal; }
        .cOV_KpiTile.kpiRoot .kpiRootDetails .kpiDimentions ul.hasLessThanThree li {
          white-space: normal; }
        .cOV_KpiTile.kpiRoot .kpiRootDetails .kpiDimentions ul.expanded {
          max-height: inherit; }
          .cOV_KpiTile.kpiRoot .kpiRootDetails .kpiDimentions ul.expanded li {
            white-space: normal; }
        .cOV_KpiTile.kpiRoot .kpiRootDetails .kpiDimentions ul.expanded.hasExpandButton li:last-child {
          padding-right: 50px; }
        .cOV_KpiTile.kpiRoot .kpiRootDetails .kpiDimentions ul.hasExpandButton:not(.expanded) li:nth-child(3) {
          padding-right: 50px; }
  .cOV_KpiTile.kpiRoot .kpiManagePopup {
    position: absolute;
    top: 30px;
    right: 2px;
    z-index: 10000;
    padding: 5px 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-shadow: 0 0 8px 2px rgba(102, 102, 102, 0.25); }
    .cOV_KpiTile.kpiRoot .kpiManagePopup .pointer {
      position: absolute;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      top: -7px;
      right: 7px; }
      .cOV_KpiTile.kpiRoot .kpiManagePopup .pointer:before {
        content: " ";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #ffffff;
        top: 2px;
        right: -5px;
        position: absolute;
        z-index: 1; }
    .cOV_KpiTile.kpiRoot .kpiManagePopup ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .cOV_KpiTile.kpiRoot .kpiManagePopup ul li {
        font-size: 18px;
        color: #007dbb;
        padding-bottom: 5px;
        padding-top: 3px; }
        .cOV_KpiTile.kpiRoot .kpiManagePopup ul li:first-child {
          border-bottom: 1px solid #ccc; }
        .cOV_KpiTile.kpiRoot .kpiManagePopup ul li span {
          margin-left: 10px; }
        .cOV_KpiTile.kpiRoot .kpiManagePopup ul li:last-child i {
          font-size: 18px;
          vertical-align: -8%; }