/*Chatter share form text style*/
.THIS .sectionText{
    background: #FFFFFF; 
    border:1px solid #D1D1D4;
    border-radius:5px;
    max-width: 400px;
    width: 100%;
}
/*Chatter share form spacing*/
.THIS .sectionStyle{
    padding-top:20px;
}
/*Auto complete text box text style*/
.THIS .autoCompleteText{
    background: #FFFFFF; 
    border:1px solid #D1D1D4;
    border-radius:5px;
    width: 80%;
    margin-right: 5px;
}
/*Auto complete section display style*/
.THIS .autoCompleteDivDisplay{
    max-width: 400px;
    width: 100%;
    display: block;
}
/*Auto complete section hide style*/
.THIS .autoCompleteDivHide{
    display: none;
}
/*Chatter share form section style*/
.THIS .chatterSection{
    padding:20px;
}
/*Chatter share form apply button style*/
.THIS .applyButton{
    padding: 5px 20px;
    background: #2A94D6;
    color:#FFFFFF;
    border-radius: 5px;
}